exec_162646.json
[
  {
    "version": 1,
    "startData": "1",
    "resultData": "2",
    "executionData": "3"
  },
  {},
  {
    "runData": "4",
    "lastNodeExecuted": "5"
  },
  {
    "contextData": "6",
    "nodeExecutionStack": "7",
    "metadata": "8",
    "waitingExecution": "9",
    "waitingExecutionSource": "10",
    "runtimeData": "11"
  },
  {
    "Webhook WhatsApp": "12",
    "Extract Metadata WA1": "13",
    "Pre-Filter Unified1": "14",
    "Dedup Hash1": "15",
    "DeepSeek Chat Model1": "16",
    "IA Extract1": "17",
    "Parse JSON1": "18",
    "Final Guard1": "19",
    "Quality Score": "20",
    "Message Router": "21",
    "Telegram Fanout": "22",
    "Post Backend": "23",
    "Dynamic Routing Engine": "24",
    "Global Alert Waiter": "25",
    "Dynamic WhatsApp Alert": "26",
    "Link Extractor": "27"
  },
  "Link Extractor",
  {},
  [],
  {
    "DeepSeek Chat Model1": "28"
  },
  {},
  {},
  {
    "version": 1,
    "establishedAt": 1782219985900,
    "source": "29",
    "redaction": "30",
    "triggerNode": "31"
  },
  [
    "32"
  ],
  [
    "33"
  ],
  [
    "34"
  ],
  [
    "35"
  ],
  [
    "36"
  ],
  [
    "37"
  ],
  [
    "38"
  ],
  [
    "39"
  ],
  [
    "40"
  ],
  [
    "41"
  ],
  [
    "42"
  ],
  [
    "43"
  ],
  [
    "44"
  ],
  [
    "45"
  ],
  [
    "46"
  ],
  [
    "47"
  ],
  [
    "48"
  ],
  "webhook",
  {
    "version": 1,
    "policy": "49"
  },
  {
    "name": "50",
    "type": "51"
  },
  {
    "startTime": 1782219985902,
    "executionIndex": 0,
    "source": "52",
    "hints": "53",
    "executionTime": 1,
    "executionStatus": "54",
    "data": "55"
  },
  {
    "startTime": 1782219985903,
    "executionIndex": 1,
    "source": "56",
    "hints": "57",
    "executionTime": 23,
    "executionStatus": "54",
    "data": "58"
  },
  {
    "startTime": 1782219985928,
    "executionIndex": 2,
    "source": "59",
    "hints": "60",
    "executionTime": 44,
    "executionStatus": "54",
    "data": "61"
  },
  {
    "startTime": 1782219985974,
    "executionIndex": 3,
    "source": "62",
    "hints": "63",
    "executionTime": 51,
    "executionStatus": "54",
    "data": "64"
  },
  {
    "startTime": 1782219986042,
    "executionTime": 7785,
    "executionIndex": 5,
    "executionStatus": "54",
    "source": "65",
    "data": "66",
    "inputOverride": "67",
    "metadata": "68"
  },
  {
    "startTime": 1782219986025,
    "executionIndex": 4,
    "source": "69",
    "hints": "70",
    "executionTime": 7803,
    "executionStatus": "54",
    "data": "71"
  },
  {
    "startTime": 1782219993829,
    "executionIndex": 6,
    "source": "72",
    "hints": "73",
    "executionTime": 41,
    "executionStatus": "54",
    "data": "74"
  },
  {
    "startTime": 1782219993871,
    "executionIndex": 7,
    "source": "75",
    "hints": "76",
    "executionTime": 2,
    "executionStatus": "54",
    "data": "77"
  },
  {
    "startTime": 1782219993873,
    "executionIndex": 8,
    "source": "78",
    "hints": "79",
    "executionTime": 39,
    "executionStatus": "54",
    "data": "80"
  },
  {
    "startTime": 1782219993912,
    "executionIndex": 9,
    "source": "81",
    "hints": "82",
    "executionTime": 37,
    "executionStatus": "54",
    "data": "83"
  },
  {
    "startTime": 1782219993950,
    "executionIndex": 10,
    "source": "84",
    "hints": "85",
    "executionTime": 2113,
    "executionStatus": "54",
    "data": "86"
  },
  {
    "startTime": 1782219996064,
    "executionIndex": 11,
    "source": "87",
    "hints": "88",
    "executionTime": 215,
    "executionStatus": "54",
    "data": "89"
  },
  {
    "startTime": 1782219996279,
    "executionIndex": 12,
    "source": "90",
    "hints": "91",
    "executionTime": 55,
    "executionStatus": "54",
    "data": "92"
  },
  {
    "startTime": 1782219996334,
    "executionIndex": 13,
    "source": "93",
    "hints": "94",
    "executionTime": 2010,
    "executionStatus": "54",
    "data": "95"
  },
  {
    "startTime": 1782219998344,
    "executionIndex": 14,
    "source": "96",
    "hints": "97",
    "executionTime": 1875,
    "executionStatus": "54",
    "data": "98"
  },
  {
    "startTime": 1782220000219,
    "executionIndex": 15,
    "source": "99",
    "hints": "100",
    "executionTime": 29,
    "executionStatus": "54",
    "data": "101"
  },
  {
    "subRun": "102"
  },
  "none",
  "Webhook WhatsApp",
  "n8n-nodes-base.webhook",
  [],
  [],
  "success",
  {
    "main": "103"
  },
  [
    "104"
  ],
  [],
  {
    "main": "105"
  },
  [
    "106"
  ],
  [],
  {
    "main": "107"
  },
  [
    "108"
  ],
  [],
  {
    "main": "109"
  },
  [
    "110"
  ],
  {
    "ai_languageModel": "111"
  },
  {
    "ai_languageModel": "112"
  },
  {
    "subRun": "102"
  },
  [
    "113"
  ],
  [],
  {
    "main": "114"
  },
  [
    "115"
  ],
  [],
  {
    "main": "116"
  },
  [
    "117"
  ],
  [],
  {
    "main": "118"
  },
  [
    "119"
  ],
  [],
  {
    "main": "120"
  },
  [
    "121"
  ],
  [],
  {
    "main": "122"
  },
  [
    "123"
  ],
  [],
  {
    "main": "124"
  },
  [
    "125"
  ],
  [],
  {
    "main": "126"
  },
  [
    "127"
  ],
  [],
  {
    "main": "128"
  },
  [
    "129"
  ],
  [],
  {
    "main": "130"
  },
  [
    "131"
  ],
  [],
  {
    "main": "132"
  },
  [
    "133"
  ],
  [],
  {
    "main": "134"
  },
  [
    "135"
  ],
  [
    "136"
  ],
  {
    "previousNode": "50",
    "previousNodeOutput": 0,
    "previousNodeRun": 0
  },
  [
    "137"
  ],
  {
    "previousNode": "138",
    "previousNodeOutput": 0,
    "previousNodeRun": 0
  },
  [
    "139"
  ],
  {
    "previousNode": "140",
    "previousNodeOutput": 0,
    "previousNodeRun": 0
  },
  [
    "141"
  ],
  {
    "previousNode": "142",
    "previousNodeRun": 0
  },
  [
    "143"
  ],
  [
    "144"
  ],
  {
    "previousNode": "145",
    "previousNodeOutput": 0,
    "previousNodeRun": 0
  },
  [
    "146"
  ],
  {
    "previousNode": "142",
    "previousNodeOutput": 0,
    "previousNodeRun": 0
  },
  [
    "147"
  ],
  {
    "previousNode": "148",
    "previousNodeOutput": 0,
    "previousNodeRun": 0
  },
  [
    "149",
    "150"
  ],
  {
    "previousNode": "151",
    "previousNodeOutput": 0,
    "previousNodeRun": 0
  },
  [
    "152"
  ],
  {
    "previousNode": "153",
    "previousNodeOutput": 0,
    "previousNodeRun": 0
  },
  [
    "154"
  ],
  {
    "previousNode": "155",
    "previousNodeOutput": 0,
    "previousNodeRun": 0
  },
  [
    "156"
  ],
  {
    "previousNode": "153",
    "previousNodeOutput": 0,
    "previousNodeRun": 0
  },
  [
    "157"
  ],
  {
    "previousNode": "153",
    "previousNodeOutput": 0,
    "previousNodeRun": 0
  },
  [
    "158"
  ],
  {
    "previousNode": "159",
    "previousNodeOutput": 0,
    "previousNodeRun": 0
  },
  [
    "160"
  ],
  {
    "previousNode": "161",
    "previousNodeOutput": 0,
    "previousNodeRun": 0
  },
  [
    "162"
  ],
  {
    "previousNode": "140",
    "previousNodeOutput": 0,
    "previousNodeRun": 0
  },
  [
    "163"
  ],
  {
    "node": "164",
    "runIndex": 0
  },
  [
    "165"
  ],
  [
    "166"
  ],
  "Extract Metadata WA1",
  [
    "167"
  ],
  "Pre-Filter Unified1",
  [
    "168"
  ],
  "IA Extract1",
  [
    "169"
  ],
  [
    "170"
  ],
  "Dedup Hash1",
  [
    "171"
  ],
  [
    "172"
  ],
  "Parse JSON1",
  [
    "173"
  ],
  [],
  "Final Guard1",
  [
    "174"
  ],
  "Quality Score",
  [
    "175",
    "176",
    "177",
    "178",
    "179"
  ],
  "Message Router",
  [
    "180",
    "181",
    "182",
    "183",
    "184"
  ],
  [
    "185"
  ],
  [
    "186"
  ],
  "Dynamic Routing Engine",
  [
    "187"
  ],
  "Global Alert Waiter",
  [
    "188"
  ],
  [],
  "DeepSeek Chat Model1",
  {
    "json": "189",
    "pairedItem": "190"
  },
  {
    "json": "191",
    "pairedItem": "192"
  },
  {
    "json": "193",
    "pairedItem": "194"
  },
  {
    "json": "195",
    "pairedItem": "196"
  },
  {
    "json": "197"
  },
  {
    "json": "198"
  },
  {
    "json": "199",
    "pairedItem": "200"
  },
  {
    "json": "201",
    "pairedItem": "202"
  },
  {
    "json": "201",
    "pairedItem": "203"
  },
  {
    "json": "204",
    "pairedItem": "205"
  },
  {
    "json": "206",
    "pairedItem": "207"
  },
  {
    "json": "208",
    "pairedItem": "209"
  },
  {
    "json": "210",
    "pairedItem": "211"
  },
  {
    "json": "212",
    "pairedItem": "213"
  },
  {
    "json": "214",
    "pairedItem": "215"
  },
  {
    "json": "216",
    "pairedItem": "217"
  },
  {
    "json": "218",
    "pairedItem": "219"
  },
  {
    "json": "220",
    "pairedItem": "221"
  },
  {
    "json": "222",
    "pairedItem": "223"
  },
  {
    "json": "224",
    "pairedItem": "225"
  },
  {
    "json": "226",
    "pairedItem": "227"
  },
  {
    "json": "228",
    "pairedItem": "229"
  },
  {
    "json": "228",
    "pairedItem": "230"
  },
  {
    "json": "231",
    "pairedItem": "232"
  },
  {
    "headers": "233",
    "params": "234",
    "query": "235",
    "body": "236",
    "webhookUrl": "237",
    "executionMode": "238"
  },
  {
    "item": 0
  },
  {
    "platform": "239",
    "from": "240",
    "sender": "240",
    "chatId": "241",
    "body": "242",
    "text": "243",
    "type": "244",
    "key": "245",
    "pushName": "246",
    "timestamp": 1782219985,
    "source": "247",
    "sender_contact": "240",
    "final_contact": "240",
    "source_chat_id": "241",
    "texto_limpio": "243",
    "looksValuable": true
  },
  {
    "item": 0
  },
  {
    "platform": "239",
    "from": "240",
    "sender": "240",
    "chatId": "241",
    "body": "248",
    "text": "243",
    "type": "244",
    "key": "249",
    "pushName": "246",
    "timestamp": 1782219985,
    "source": "247",
    "sender_contact": "240",
    "final_contact": "240",
    "source_chat_id": "241",
    "texto_limpio": "243",
    "looksValuable": true,
    "reject_reason": null
  },
  {
    "item": 0
  },
  {
    "platform": "239",
    "from": "240",
    "sender": "240",
    "chatId": "241",
    "body": "250",
    "text": "243",
    "type": "244",
    "key": "251",
    "pushName": "246",
    "timestamp": 1782219985,
    "source": "247",
    "sender_contact": "240",
    "final_contact": "240",
    "source_chat_id": "241",
    "texto_limpio": "243",
    "looksValuable": true,
    "reject_reason": null
  },
  {
    "item": 0
  },
  {
    "response": "252",
    "tokenUsage": "253"
  },
  {
    "messages": "254",
    "estimatedTokens": 650,
    "options": "255"
  },
  {
    "text": "256"
  },
  {
    "item": 0
  },
  {
    "platform": "239",
    "contact": "257",
    "texto_limpio": "243",
    "source_chat_id": "241",
    "city": "258",
    "budget": "259",
    "category": "260",
    "text_es": "261",
    "title_es": "262",
    "text_en": "263",
    "title_en": "264",
    "text_ru": "265",
    "title_ru": "266",
    "text_pt": "267",
    "title_pt": "268",
    "trash": false
  },
  {
    "item": 0
  },
  {
    "item": 0
  },
  {
    "platform": "239",
    "contact": "257",
    "texto_limpio": "243",
    "source_chat_id": "241",
    "city": "258",
    "budget": "259",
    "category": "260",
    "text_es": "261",
    "title_es": "262",
    "text_en": "263",
    "title_en": "264",
    "text_ru": "265",
    "title_ru": "266",
    "text_pt": "267",
    "title_pt": "268",
    "trash": false,
    "final_score": 45
  },
  {
    "item": 0
  },
  {
    "platform": "239",
    "contact": "257",
    "texto_limpio": "243",
    "source_chat_id": "241",
    "city": "258",
    "budget": "259",
    "category": "260",
    "text_es": "261",
    "title_es": "262",
    "text_en": "263",
    "title_en": "264",
    "text_ru": "265",
    "title_ru": "266",
    "text_pt": "267",
    "title_pt": "268",
    "trash": false,
    "final_score": 45,
    "route_lang": "269",
    "tg_chat": "270",
    "tg_text": "271",
    "wa_chat": "272"
  },
  {
    "item": 0
  },
  {
    "platform": "239",
    "contact": "257",
    "texto_limpio": "243",
    "source_chat_id": "241",
    "city": "258",
    "budget": "259",
    "category": "260",
    "text_es": "261",
    "title_es": "262",
    "text_en": "263",
    "title_en": "264",
    "text_ru": "265",
    "title_ru": "266",
    "text_pt": "267",
    "title_pt": "268",
    "trash": false,
    "final_score": 45,
    "route_lang": "273",
    "tg_chat": "274",
    "tg_text": "275",
    "wa_chat": "276"
  },
  {
    "item": 0
  },
  {
    "platform": "239",
    "contact": "257",
    "texto_limpio": "243",
    "source_chat_id": "241",
    "city": "258",
    "budget": "259",
    "category": "260",
    "text_es": "261",
    "title_es": "262",
    "text_en": "263",
    "title_en": "264",
    "text_ru": "265",
    "title_ru": "266",
    "text_pt": "267",
    "title_pt": "268",
    "trash": false,
    "final_score": 45,
    "route_lang": "277",
    "tg_chat": "278",
    "tg_text": "279",
    "wa_chat": "280"
  },
  {
    "item": 0
  },
  {
    "platform": "239",
    "contact": "257",
    "texto_limpio": "243",
    "source_chat_id": "241",
    "city": "258",
    "budget": "259",
    "category": "260",
    "text_es": "261",
    "title_es": "262",
    "text_en": "263",
    "title_en": "264",
    "text_ru": "265",
    "title_ru": "266",
    "text_pt": "267",
    "title_pt": "268",
    "trash": false,
    "final_score": 45,
    "route_lang": "281",
    "tg_chat": "282",
    "tg_text": "279"
  },
  {
    "item": 0
  },
  {
    "platform": "239",
    "contact": "257",
    "texto_limpio": "243",
    "source_chat_id": "241",
    "city": "258",
    "budget": "259",
    "category": "260",
    "text_es": "261",
    "title_es": "262",
    "text_en": "263",
    "title_en": "264",
    "text_ru": "265",
    "title_ru": "266",
    "text_pt": "267",
    "title_pt": "268",
    "trash": false,
    "final_score": 45,
    "route_lang": "283",
    "tg_chat": "284",
    "tg_text": "285",
    "wa_chat": "286"
  },
  {
    "item": 0
  },
  {
    "ok": true,
    "result": "287"
  },
  {
    "item": 0
  },
  {
    "ok": true,
    "result": "288"
  },
  {
    "item": 1
  },
  {
    "ok": true,
    "result": "289"
  },
  {
    "item": 2
  },
  {
    "ok": true,
    "result": "290"
  },
  {
    "item": 3
  },
  {
    "ok": true,
    "result": "291"
  },
  {
    "item": 4
  },
  {
    "success": false,
    "reason": "292"
  },
  {
    "item": 0
  },
  {
    "platform": "239",
    "contact": "257",
    "texto_limpio": "243",
    "source_chat_id": "241",
    "city": "258",
    "budget": "259",
    "category": "260",
    "text_es": "261",
    "title_es": "262",
    "text_en": "263",
    "title_en": "264",
    "text_ru": "265",
    "title_ru": "266",
    "text_pt": "267",
    "title_pt": "268",
    "trash": false,
    "target_wa": "272",
    "city_label": "293"
  },
  {
    "item": 0
  },
  {
    "item": 0
  },
  {
    "error": "294"
  },
  {
    "item": 0
  },
  {
    "accept": "295",
    "content-type": "296",
    "user-agent": "297",
    "content-length": "298",
    "accept-encoding": "299",
    "host": "300",
    "connection": "301"
  },
  {},
  {},
  {
    "platform": "302",
    "from": "240",
    "sender": "240",
    "chatId": "241",
    "body": "303",
    "text": "243",
    "type": "244",
    "key": "304",
    "pushName": "246",
    "timestamp": 1782219985,
    "source": "247"
  },
  "http://178.156.186.149/n8n/webhook/1fd718d6-49f8-43dc-a881-ff7ecf7b94ef",
  "production",
  "WhatsApp",
  "4915213779001",
  "120363410344492412@g.us",
  {
    "text": "243"
  },
  "\u2728 Alemania te espera \u2728\n\nBuscamos chicas entre 19 y 29 a\u00f1os, con buena presencia e interesadas en vivir una experiencia laboral en Europa este verano.\n\n\ud83d\udcb0 Buenos ingresos.\n\ud83c\udde9\ud83c\uddea Diferentes ciudades de Alemania.\n\ud83e\udd1d Acompa\u00f1amiento durante todo el proceso.\n\nPara m\u00e1s informaci\u00f3n, escr\u00edbeme por interno. \ud83d\udce9",
  "text",
  {
    "remoteJid": "241",
    "fromMe": false
  },
  "Ziana",
  "whapi_cloud",
  {
    "text": "243"
  },
  {
    "remoteJid": "241",
    "fromMe": false
  },
  {
    "text": "243"
  },
  {
    "remoteJid": "241",
    "fromMe": false
  },
  {
    "generations": "305"
  },
  {
    "completionTokens": 689,
    "promptTokens": 710,
    "totalTokens": 1399
  },
  [
    "306"
  ],
  {
    "openai_api_key": "307",
    "model": "308",
    "max_retries": 2,
    "configuration": "309",
    "model_kwargs": "310"
  },
  "{\n  \"city\": \"Alemania\",\n  \"budget\": \"Buenos ingresos\",\n  \"category\": \"plaza\",\n  \"detected_lang\": \"ES\",\n  \"title_es\": \"Oferta de trabajo para modelos en Alemania\",\n  \"text_es\": \"Buscamos chicas entre 19 y 29 a\u00f1os, con buena presencia e interesadas en vivir una experiencia laboral en Europa este verano. Buenos ingresos, diferentes ciudades de Alemania, acompa\u00f1amiento durante todo el proceso. Para m\u00e1s informaci\u00f3n, escr\u00edbeme por interno.\",\n  \"title_en\": \"Job offer for models in Germany\",\n  \"text_en\": \"We are looking for girls between 19 and 29, with good presence and interested in a work experience in Europe this summer. Good income, different cities in Germany, support throughout the process. For more information, write me privately.\",\n  \"title_ru\": \"\u041f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u0435 \u0440\u0430\u0431\u043e\u0442\u044b \u0434\u043b\u044f \u043c\u043e\u0434\u0435\u043b\u0435\u0439 \u0432 \u0413\u0435\u0440\u043c\u0430\u043d\u0438\u0438\",\n  \"text_ru\": \"\u041c\u044b \u0438\u0449\u0435\u043c \u0434\u0435\u0432\u0443\u0448\u0435\u043a \u043e\u0442 19 \u0434\u043e 29 \u043b\u0435\u0442 \u0441 \u0445\u043e\u0440\u043e\u0448\u0435\u0439 \u0432\u043d\u0435\u0448\u043d\u043e\u0441\u0442\u044c\u044e, \u0437\u0430\u0438\u043d\u0442\u0435\u0440\u0435\u0441\u043e\u0432\u0430\u043d\u043d\u044b\u0445 \u0432 \u0440\u0430\u0431\u043e\u0447\u0435\u043c \u043e\u043f\u044b\u0442\u0435 \u0432 \u0415\u0432\u0440\u043e\u043f\u0435 \u044d\u0442\u0438\u043c \u043b\u0435\u0442\u043e\u043c. \u0425\u043e\u0440\u043e\u0448\u0438\u0439 \u0434\u043e\u0445\u043e\u0434, \u0440\u0430\u0437\u043d\u044b\u0435 \u0433\u043e\u0440\u043e\u0434\u0430 \u0413\u0435\u0440\u043c\u0430\u043d\u0438\u0438, \u0441\u043e\u043f\u0440\u043e\u0432\u043e\u0436\u0434\u0435\u043d\u0438\u0435 \u043d\u0430 \u043f\u0440\u043e\u0442\u044f\u0436\u0435\u043d\u0438\u0438 \u0432\u0441\u0435\u0433\u043e \u043f\u0440\u043e\u0446\u0435\u0441\u0441\u0430. \u0414\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0434\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u043e\u0439 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043f\u0438\u0448\u0438\u0442\u0435 \u0432 \u043b\u0438\u0447\u043d\u044b\u0435 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f.\",\n  \"title_pt\": \"Oferta de trabalho para modelos na Alemanha\",\n  \"text_pt\": \"Procuramos meninas entre 19 e 29 anos, com boa apar\u00eancia e interessadas em uma experi\u00eancia de trabalho na Europa neste ver\u00e3o. Bons rendimentos, diferentes cidades da Alemanha, acompanhamento durante todo o processo. Para mais informa\u00e7\u00f5es, escreva-me no privado.\",\n  \"trash\": false\n}",
  "+4915213779001",
  "Alemania",
  "Buenos ingresos",
  "plaza",
  "Buscamos chicas entre 19 y 29 a\u00f1os, con buena presencia e interesadas en vivir una experiencia laboral en Europa este verano. Buenos ingresos, diferentes ciudades de Alemania, acompa\u00f1amiento durante todo el proceso. Para m\u00e1s informaci\u00f3n, escr\u00edbeme por interno.",
  "Oferta de trabajo para modelos en Alemania",
  "We are looking for girls between 19 and 29, with good presence and interested in a work experience in Europe this summer. Good income, different cities in Germany, support throughout the process. For more information, write me privately.",
  "Job offer for models in Germany",
  "\u041c\u044b \u0438\u0449\u0435\u043c \u0434\u0435\u0432\u0443\u0448\u0435\u043a \u043e\u0442 19 \u0434\u043e 29 \u043b\u0435\u0442 \u0441 \u0445\u043e\u0440\u043e\u0448\u0435\u0439 \u0432\u043d\u0435\u0448\u043d\u043e\u0441\u0442\u044c\u044e, \u0437\u0430\u0438\u043d\u0442\u0435\u0440\u0435\u0441\u043e\u0432\u0430\u043d\u043d\u044b\u0445 \u0432 \u0440\u0430\u0431\u043e\u0447\u0435\u043c \u043e\u043f\u044b\u0442\u0435 \u0432 \u0415\u0432\u0440\u043e\u043f\u0435 \u044d\u0442\u0438\u043c \u043b\u0435\u0442\u043e\u043c. \u0425\u043e\u0440\u043e\u0448\u0438\u0439 \u0434\u043e\u0445\u043e\u0434, \u0440\u0430\u0437\u043d\u044b\u0435 \u0433\u043e\u0440\u043e\u0434\u0430 \u0413\u0435\u0440\u043c\u0430\u043d\u0438\u0438, \u0441\u043e\u043f\u0440\u043e\u0432\u043e\u0436\u0434\u0435\u043d\u0438\u0435 \u043d\u0430 \u043f\u0440\u043e\u0442\u044f\u0436\u0435\u043d\u0438\u0438 \u0432\u0441\u0435\u0433\u043e \u043f\u0440\u043e\u0446\u0435\u0441\u0441\u0430. \u0414\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0434\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u043e\u0439 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043f\u0438\u0448\u0438\u0442\u0435 \u0432 \u043b\u0438\u0447\u043d\u044b\u0435 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f.",
  "\u041f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u0435 \u0440\u0430\u0431\u043e\u0442\u044b \u0434\u043b\u044f \u043c\u043e\u0434\u0435\u043b\u0435\u0439 \u0432 \u0413\u0435\u0440\u043c\u0430\u043d\u0438\u0438",
  "Procuramos meninas entre 19 e 29 anos, com boa apar\u00eancia e interessadas em uma experi\u00eancia de trabalho na Europa neste ver\u00e3o. Bons rendimentos, diferentes cidades da Alemanha, acompanhamento durante todo o processo. Para mais informa\u00e7\u00f5es, escreva-me no privado.",
  "Oferta de trabalho para modelos na Alemanha",
  "ES",
  "-5283488138",
  "<b>Oferta de trabajo para modelos en Alemania</b>\n\ud83c\udff7\ufe0f <b>Plazas</b>\n\ud83d\udccd <b>Alemania</b>\n\ud83d\udcb0 <b>Buenos ingresos</b>\n\nBuscamos chicas entre 19 y 29 a\u00f1os, con buena presencia e interesadas en vivir una experiencia laboral en Europa este verano. Buenos ingresos, diferentes ciudades de Alemania, acompa\u00f1amiento durante todo el proceso. Para m\u00e1s informaci\u00f3n, escr\u00edbeme por interno.\n\n\ud83d\udc64 <b>Remitente:</b> +4915213779001\n\ud83d\udd0c <b>Fuente:</b> WhatsApp",
  "120363425790792660@g.us",
  "EN",
  "-1003757267210",
  "<b>Job offer for models in Germany</b>\n\ud83c\udff7\ufe0f <b>Plazas</b>\n\ud83d\udccd <b>Alemania</b>\n\ud83d\udcb0 <b>Buenos ingresos</b>\n\nWe are looking for girls between 19 and 29, with good presence and interested in a work experience in Europe this summer. Good income, different cities in Germany, support throughout the process. For more information, write me privately.\n\n\ud83d\udc64 <b>Sender:</b> +4915213779001\n\ud83d\udd0c <b>Fuente:</b> WhatsApp",
  "120363408216646972@g.us",
  "RU",
  "-1003920309636",
  "<b>\u041f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u0435 \u0440\u0430\u0431\u043e\u0442\u044b \u0434\u043b\u044f \u043c\u043e\u0434\u0435\u043b\u0435\u0439 \u0432 \u0413\u0435\u0440\u043c\u0430\u043d\u0438\u0438</b>\n\ud83c\udff7\ufe0f <b>Plazas</b>\n\ud83d\udccd <b>Alemania</b>\n\ud83d\udcb0 <b>Buenos ingresos</b>\n\n\u041c\u044b \u0438\u0449\u0435\u043c \u0434\u0435\u0432\u0443\u0448\u0435\u043a \u043e\u0442 19 \u0434\u043e 29 \u043b\u0435\u0442 \u0441 \u0445\u043e\u0440\u043e\u0448\u0435\u0439 \u0432\u043d\u0435\u0448\u043d\u043e\u0441\u0442\u044c\u044e, \u0437\u0430\u0438\u043d\u0442\u0435\u0440\u0435\u0441\u043e\u0432\u0430\u043d\u043d\u044b\u0445 \u0432 \u0440\u0430\u0431\u043e\u0447\u0435\u043c \u043e\u043f\u044b\u0442\u0435 \u0432 \u0415\u0432\u0440\u043e\u043f\u0435 \u044d\u0442\u0438\u043c \u043b\u0435\u0442\u043e\u043c. \u0425\u043e\u0440\u043e\u0448\u0438\u0439 \u0434\u043e\u0445\u043e\u0434, \u0440\u0430\u0437\u043d\u044b\u0435 \u0433\u043e\u0440\u043e\u0434\u0430 \u0413\u0435\u0440\u043c\u0430\u043d\u0438\u0438, \u0441\u043e\u043f\u0440\u043e\u0432\u043e\u0436\u0434\u0435\u043d\u0438\u0435 \u043d\u0430 \u043f\u0440\u043e\u0442\u044f\u0436\u0435\u043d\u0438\u0438 \u0432\u0441\u0435\u0433\u043e \u043f\u0440\u043e\u0446\u0435\u0441\u0441\u0430. \u0414\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0434\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u043e\u0439 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043f\u0438\u0448\u0438\u0442\u0435 \u0432 \u043b\u0438\u0447\u043d\u044b\u0435 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f.\n\n\ud83d\udc64 <b>\u041e\u0442\u043f\u0440\u0430\u0432\u0438\u0442\u0435\u043b\u044c:</b> +4915213779001\n\ud83d\udd0c <b>Fuente:</b> WhatsApp",
  "120363408298375271@g.us",
  "RU_CHANNEL",
  "-1003934906353",
  "PT",
  "-1003727383883",
  "<b>Oferta de trabalho para modelos na Alemanha</b>\n\ud83c\udff7\ufe0f <b>Plazas</b>\n\ud83d\udccd <b>Alemania</b>\n\ud83d\udcb0 <b>Buenos ingresos</b>\n\nProcuramos meninas entre 19 e 29 anos, com boa apar\u00eancia e interessadas em uma experi\u00eancia de trabalho na Europa neste ver\u00e3o. Bons rendimentos, diferentes cidades da Alemanha, acompanhamento durante todo o processo. Para mais informa\u00e7\u00f5es, escreva-me no privado.\n\n\ud83d\udc64 <b>Remetente:</b> +4915213779001\n\ud83d\udd0c <b>Fuente:</b> WhatsApp",
  "120363426262586004@g.us",
  {
    "message_id": 37961,
    "from": "311",
    "chat": "312",
    "date": 1782219994,
    "text": "313",
    "entities": "314"
  },
  {
    "message_id": 19857,
    "from": "315",
    "chat": "316",
    "date": 1782219994,
    "text": "317",
    "entities": "318"
  },
  {
    "message_id": 20537,
    "from": "319",
    "chat": "320",
    "date": 1782219995,
    "text": "321",
    "entities": "322"
  },
  {
    "message_id": 9301,
    "sender_chat": "323",
    "chat": "324",
    "date": 1782219995,
    "text": "321",
    "entities": "325"
  },
  {
    "message_id": 19854,
    "from": "326",
    "chat": "327",
    "date": 1782219995,
    "text": "328",
    "entities": "329"
  },
  "semantic_duplicate_blocked",
  "ALEMANIA",
  {
    "message": "330",
    "name": "331",
    "stack": "332",
    "code": "333",
    "status": 500
  },
  "application/json, text/plain, */*",
  "application/json",
  "axios/1.17.0",
  "929",
  "gzip, compress, deflate, br",
  "178.156.186.149:5678",
  "keep-alive",
  "whatsApp",
  {
    "text": "243"
  },
  {
    "remoteJid": "241",
    "fromMe": false
  },
  [
    "334"
  ],
  "Human: ### WORLDMODELS QUALITY ENGINE v5.2 (ULTRA PRECISION) ###\nTEXT: \"\u2728 Alemania te espera \u2728\n\nBuscamos chicas entre 19 y 29 a\u00f1os, con buena presencia e interesadas en vivir una experiencia laboral en Europa este verano.\n\n\ud83d\udcb0 Buenos ingresos.\n\ud83c\udde9\ud83c\uddea Diferentes ciudades de Alemania.\n\ud83e\udd1d Acompa\u00f1amiento durante todo el proceso.\n\nPara m\u00e1s informaci\u00f3n, escr\u00edbeme por interno. \ud83d\udce9\"\n\nCLASSIFICATION RULES:\n\n1. EVENTO (Client Requests / Immediate Leads) - HIGH PRIORITY:\n   - DIRECT REQUESTS: \"Busco chica para ahora\", \"Disponible en Madrid?\", \"Outcall 1h\", \"Dinner tonight\".\n   - REAL TIME: Messages mentioning \"Ahora\", \"Hoy\", \"Esta noche\", \"ASAP\", or specific times.\n   - TOURS & CASTINGS: \"Casting para marca\", \"Haciendo tour en Ibiza\".\n   - CONTEXT: A client or agency looking for someone for something SPECIFIC and immediate.\n\n2. PLAZA (Job Offers / Vacancies):\n   - FIXED POSITIONS: \"Buscamos chica fija para club\", \"Plaza libre en agencia\", \"Hiring for season\".\n   - AGENCY CASTINGS: \"Buscando caras nuevas\", \"Env\u00eden disponibilidad para mayo\".\n   - ACCOMMODATION: \"Habitaci\u00f3n para modelos\", \"Piso disponible para trabajar\".\n   - CONTEXT: An agency or organizer offering stable work, vacancies, or housing.\n\n3. TRASH (Discard):\n   - INDIVIDUAL SELF-PROMOTION: \"Hola soy Maria, disponible en Madrid\", \"Soy modelo, contratadme\". (Only if the model is offering HERSELF).\n   - CASUAL CHAT: Greetings, questions without an offer, or maintenance messages.\n   - SPAM: Crypto, random links, unrelated ads.\n\nCRITICAL: \n- If an AGENCY or CLUB asks \"Who is available?\", \"Seeking models\", or posts a job offer (even for the future), it is a PLAZA or EVENTO, NOT trash.\n- If a CLIENT asks to meet, it is an EVENTO, NOT trash.\n- If the city is NOT mentioned but the text mentions a club name (like Mansour, Lio, Pacha), try to infer the city or output \"Ibiza\" if it's a known Ibiza spot.\n\nOUTPUT JSON:\n{\n  \"city\": \"City Name (e.g. Ibiza, Madrid, Miami, Paris)\",\n  \"budget\": \"Value\",\n  \"category\": \"plaza|evento|trash\",\n  \"detected_lang\": \"ES|EN|RU|PT\",\n  \"title_es\": \"Short descriptive title\",\n  \"text_es\": \"Clean and translated text\",\n  \"title_en\": \"Short descriptive title in English\",\n  \"text_en\": \"Clean and translated text in English\",\n  \"title_ru\": \"Short descriptive title in Russian\",\n  \"text_ru\": \"Clean and translated text in Russian\",\n  \"title_pt\": \"Short descriptive title in Portuguese\",\n  \"text_pt\": \"Clean and translated text in Portuguese\",\n  \"trash\": false\n}",
  {
    "lc": 1,
    "type": "335",
    "id": "336"
  },
  "deepseek-v4-flash",
  {
    "baseURL": "337",
    "fetchOptions": "338"
  },
  {},
  {
    "id": 8566658948,
    "is_bot": true,
    "first_name": "339",
    "username": "340"
  },
  {
    "id": -5283488138,
    "title": "341",
    "type": "342",
    "all_members_are_administrators": false,
    "accepted_gift_types": "343"
  },
  "Oferta de trabajo para modelos en Alemania\n\ud83c\udff7\ufe0f Plazas\n\ud83d\udccd Alemania\n\ud83d\udcb0 Buenos ingresos\n\nBuscamos chicas entre 19 y 29 a\u00f1os, con buena presencia e interesadas en vivir una experiencia laboral en Europa este verano. Buenos ingresos, diferentes ciudades de Alemania, acompa\u00f1amiento durante todo el proceso. Para m\u00e1s informaci\u00f3n, escr\u00edbeme por interno.\n\n\ud83d\udc64 Remitente: +4915213779001\n\ud83d\udd0c Fuente: WhatsApp",
  [
    "344",
    "345",
    "346",
    "347",
    "348",
    "349",
    "350"
  ],
  {
    "id": 8566658948,
    "is_bot": true,
    "first_name": "339",
    "username": "340"
  },
  {
    "id": -1003757267210,
    "title": "351",
    "type": "352"
  },
  "Job offer for models in Germany\n\ud83c\udff7\ufe0f Plazas\n\ud83d\udccd Alemania\n\ud83d\udcb0 Buenos ingresos\n\nWe are looking for girls between 19 and 29, with good presence and interested in a work experience in Europe this summer. Good income, different cities in Germany, support throughout the process. For more information, write me privately.\n\n\ud83d\udc64 Sender: +4915213779001\n\ud83d\udd0c Fuente: WhatsApp",
  [
    "353",
    "354",
    "355",
    "356",
    "357",
    "358",
    "359"
  ],
  {
    "id": 8566658948,
    "is_bot": true,
    "first_name": "339",
    "username": "340"
  },
  {
    "id": -1003920309636,
    "title": "360",
    "type": "352"
  },
  "\u041f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u0435 \u0440\u0430\u0431\u043e\u0442\u044b \u0434\u043b\u044f \u043c\u043e\u0434\u0435\u043b\u0435\u0439 \u0432 \u0413\u0435\u0440\u043c\u0430\u043d\u0438\u0438\n\ud83c\udff7\ufe0f Plazas\n\ud83d\udccd Alemania\n\ud83d\udcb0 Buenos ingresos\n\n\u041c\u044b \u0438\u0449\u0435\u043c \u0434\u0435\u0432\u0443\u0448\u0435\u043a \u043e\u0442 19 \u0434\u043e 29 \u043b\u0435\u0442 \u0441 \u0445\u043e\u0440\u043e\u0448\u0435\u0439 \u0432\u043d\u0435\u0448\u043d\u043e\u0441\u0442\u044c\u044e, \u0437\u0430\u0438\u043d\u0442\u0435\u0440\u0435\u0441\u043e\u0432\u0430\u043d\u043d\u044b\u0445 \u0432 \u0440\u0430\u0431\u043e\u0447\u0435\u043c \u043e\u043f\u044b\u0442\u0435 \u0432 \u0415\u0432\u0440\u043e\u043f\u0435 \u044d\u0442\u0438\u043c \u043b\u0435\u0442\u043e\u043c. \u0425\u043e\u0440\u043e\u0448\u0438\u0439 \u0434\u043e\u0445\u043e\u0434, \u0440\u0430\u0437\u043d\u044b\u0435 \u0433\u043e\u0440\u043e\u0434\u0430 \u0413\u0435\u0440\u043c\u0430\u043d\u0438\u0438, \u0441\u043e\u043f\u0440\u043e\u0432\u043e\u0436\u0434\u0435\u043d\u0438\u0435 \u043d\u0430 \u043f\u0440\u043e\u0442\u044f\u0436\u0435\u043d\u0438\u0438 \u0432\u0441\u0435\u0433\u043e \u043f\u0440\u043e\u0446\u0435\u0441\u0441\u0430. \u0414\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0434\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u043e\u0439 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043f\u0438\u0448\u0438\u0442\u0435 \u0432 \u043b\u0438\u0447\u043d\u044b\u0435 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f.\n\n\ud83d\udc64 \u041e\u0442\u043f\u0440\u0430\u0432\u0438\u0442\u0435\u043b\u044c: +4915213779001\n\ud83d\udd0c Fuente: WhatsApp",
  [
    "361",
    "362",
    "363",
    "364",
    "365",
    "366",
    "367"
  ],
  {
    "id": -1003934906353,
    "title": "368",
    "type": "369"
  },
  {
    "id": -1003934906353,
    "title": "368",
    "type": "369"
  },
  [
    "370",
    "371",
    "372",
    "373",
    "374",
    "375",
    "376"
  ],
  {
    "id": 8566658948,
    "is_bot": true,
    "first_name": "339",
    "username": "340"
  },
  {
    "id": -1003727383883,
    "title": "377",
    "type": "352"
  },
  "Oferta de trabalho para modelos na Alemanha\n\ud83c\udff7\ufe0f Plazas\n\ud83d\udccd Alemania\n\ud83d\udcb0 Buenos ingresos\n\nProcuramos meninas entre 19 e 29 anos, com boa apar\u00eancia e interessadas em uma experi\u00eancia de trabalho na Europa neste ver\u00e3o. Bons rendimentos, diferentes cidades da Alemanha, acompanhamento durante todo o processo. Para mais informa\u00e7\u00f5es, escreva-me no privado.\n\n\ud83d\udc64 Remetente: +4915213779001\n\ud83d\udd0c Fuente: WhatsApp",
  [
    "378",
    "379",
    "380",
    "381",
    "382",
    "383",
    "384"
  ],
  "500 - \"{\\\"error\\\":\\\"Failed to forward to Whapi (Juana)\\\"}\"",
  "AxiosError",
  "AxiosError: Request failed with status code 500\n    at settle (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/axios@1.13.5/node_modules/axios/lib/core/settle.js:19:12)\n    at RedirectableRequest.handleResponse (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/axios@1.13.5/node_modules/axios/lib/adapters/http.js:746:9)\n    at RedirectableRequest.emit (node:events:520:35)\n    at RedirectableRequest._processResponse (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/follow-redirects@1.15.11/node_modules/follow-redirects/index.js:409:10)\n    at ClientRequest.RedirectableRequest._onNativeResponse (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/follow-redirects@1.15.11/node_modules/follow-redirects/index.js:102:12)\n    at Object.onceWrapper (node:events:623:26)\n    at ClientRequest.emit (node:events:508:28)\n    at HTTPParser.parserOnIncomingClient (node:_http_client:780:27)\n    at HTTPParser.parserOnHeadersComplete (node:_http_common:125:17)\n    at Socket.socketOnData (node:_http_client:615:22)\n    at Axios.request (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/axios@1.13.5/node_modules/axios/lib/core/Axios.js:46:41)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at invokeAxios (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:303:10)\n    at proxyRequestToAxios (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:684:20)\n    at Object.request (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1841:4)",
  "ERR_BAD_RESPONSE",
  [
    "385"
  ],
  "secret",
  [
    "386"
  ],
  "https://api.deepseek.com",
  {
    "dispatcher": "387"
  },
  "Worldmldels",
  "Worldmodelssbot",
  "Worldmodels&Jobs",
  "group",
  {
    "unlimited_gifts": false,
    "limited_gifts": false,
    "unique_gifts": false,
    "premium_subscription": false,
    "gifts_from_channels": false
  },
  {
    "offset": 0,
    "length": 42,
    "type": "388"
  },
  {
    "offset": 47,
    "length": 6,
    "type": "388"
  },
  {
    "offset": 57,
    "length": 8,
    "type": "388"
  },
  {
    "offset": 69,
    "length": 15,
    "type": "388"
  },
  {
    "offset": 351,
    "length": 10,
    "type": "388"
  },
  {
    "offset": 362,
    "length": 14,
    "type": "389"
  },
  {
    "offset": 380,
    "length": 7,
    "type": "388"
  },
  "Worldmodels&Jobs EN",
  "supergroup",
  {
    "offset": 0,
    "length": 31,
    "type": "388"
  },
  {
    "offset": 36,
    "length": 6,
    "type": "388"
  },
  {
    "offset": 46,
    "length": 8,
    "type": "388"
  },
  {
    "offset": 58,
    "length": 15,
    "type": "388"
  },
  {
    "offset": 317,
    "length": 7,
    "type": "388"
  },
  {
    "offset": 325,
    "length": 14,
    "type": "389"
  },
  {
    "offset": 343,
    "length": 7,
    "type": "388"
  },
  "Worldmodels&Jobs RU",
  {
    "offset": 0,
    "length": 41,
    "type": "388"
  },
  {
    "offset": 46,
    "length": 6,
    "type": "388"
  },
  {
    "offset": 56,
    "length": 8,
    "type": "388"
  },
  {
    "offset": 68,
    "length": 15,
    "type": "388"
  },
  {
    "offset": 347,
    "length": 12,
    "type": "388"
  },
  {
    "offset": 360,
    "length": 14,
    "type": "389"
  },
  {
    "offset": 378,
    "length": 7,
    "type": "388"
  },
  "worldmodels jobs RU",
  "channel",
  {
    "offset": 0,
    "length": 41,
    "type": "388"
  },
  {
    "offset": 46,
    "length": 6,
    "type": "388"
  },
  {
    "offset": 56,
    "length": 8,
    "type": "388"
  },
  {
    "offset": 68,
    "length": 15,
    "type": "388"
  },
  {
    "offset": 347,
    "length": 12,
    "type": "388"
  },
  {
    "offset": 360,
    "length": 14,
    "type": "389"
  },
  {
    "offset": 378,
    "length": 7,
    "type": "388"
  },
  "Worldmodels&Jobs PT",
  {
    "offset": 0,
    "length": 43,
    "type": "388"
  },
  {
    "offset": 48,
    "length": 6,
    "type": "388"
  },
  {
    "offset": 58,
    "length": 8,
    "type": "388"
  },
  {
    "offset": 70,
    "length": 15,
    "type": "388"
  },
  {
    "offset": 353,
    "length": 10,
    "type": "388"
  },
  {
    "offset": 364,
    "length": 14,
    "type": "389"
  },
  {
    "offset": 382,
    "length": 7,
    "type": "388"
  },
  {
    "text": "256",
    "generationInfo": "390"
  },
  "OPENAI_API_KEY",
  {
    "_events": "391",
    "_eventsCount": 0
  },
  "bold",
  "phone_number",
  {
    "finish_reason": "392"
  },
  {},
  "stop"
]
