last_execution.json
[{"version":1,"startData":"1","resultData":"2","executionData":"3"},{},{"runData":"4","lastNodeExecuted":"5"},{"contextData":"6","nodeExecutionStack":"7","metadata":"8","waitingExecution":"9","waitingExecutionSource":"10","runtimeData":"11"},{"Webhook WhatsApp":"12","Extract Metadata WA1":"13","Pre-Filter Unified1":"14","Dedup Hash1":"15","Link Extractor":"16"},"Link Extractor",{},[],{},{},{},{"version":1,"establishedAt":1782219735935,"source":"17","redaction":"18","triggerNode":"19"},["20"],["21"],["22"],["23"],["24"],"webhook",{"version":1,"policy":"25"},{"name":"26","type":"27"},{"startTime":1782219735937,"executionIndex":0,"source":"28","hints":"29","executionTime":3,"executionStatus":"30","data":"31"},{"startTime":1782219735941,"executionIndex":1,"source":"32","hints":"33","executionTime":43,"executionStatus":"30","data":"34"},{"startTime":1782219735984,"executionIndex":2,"source":"35","hints":"36","executionTime":23,"executionStatus":"30","data":"37"},{"startTime":1782219736007,"executionIndex":3,"source":"38","hints":"39","executionTime":55,"executionStatus":"30","data":"40"},{"startTime":1782219736069,"executionIndex":4,"source":"41","hints":"42","executionTime":36,"executionStatus":"30","data":"43"},"none","Webhook WhatsApp","n8n-nodes-base.webhook",[],[],"success",{"main":"44"},["45"],[],{"main":"46"},["47"],[],{"main":"48"},["49"],[],{"main":"50"},["51"],[],{"main":"52"},["53"],{"previousNode":"26","previousNodeOutput":0,"previousNodeRun":0},["54"],{"previousNode":"55","previousNodeOutput":0,"previousNodeRun":0},["56"],{"previousNode":"57","previousNodeOutput":0,"previousNodeRun":0},["58"],{"previousNode":"57","previousNodeOutput":0,"previousNodeRun":0},["59"],["60"],["61"],"Extract Metadata WA1",["62"],"Pre-Filter Unified1",[],[],{"json":"63","pairedItem":"64"},{"json":"65","pairedItem":"66"},{"json":"67","pairedItem":"68"},{"headers":"69","params":"70","query":"71","body":"72","webhookUrl":"73","executionMode":"74"},{"item":0},{"platform":"75","from":"76","sender":"76","chatId":"77","body":"78","text":"79","type":"80","key":"81","pushName":"82","timestamp":1782219734,"source":"83","sender_contact":"76","final_contact":"76","source_chat_id":"77","texto_limpio":"84","looksValuable":true},{"item":0},{"platform":"75","from":"76","sender":"76","chatId":"77","body":"85","text":"79","type":"80","key":"86","pushName":"82","timestamp":1782219734,"source":"83","sender_contact":"76","final_contact":"76","source_chat_id":"77","texto_limpio":"84","looksValuable":true,"reject_reason":null},{"item":0},{"accept":"87","content-type":"88","user-agent":"89","content-length":"90","accept-encoding":"91","host":"92","connection":"93"},{},{},{"platform":"94","from":"76","sender":"76","chatId":"77","body":"95","text":"79","type":"80","key":"96","pushName":"82","timestamp":1782219734,"source":"83"},"http://178.156.186.149/n8n/webhook/1fd718d6-49f8-43dc-a881-ff7ecf7b94ef","production","WhatsApp","447586775083","120363407601347592@g.us",{"text":"79"},"","image",{"remoteJid":"77","fromMe":false},"katrin","whapi_cloud","[object Object]",{"text":"79"},{"remoteJid":"77","fromMe":false},"application/json, text/plain, */*","application/json","axios/1.17.0","275","gzip, compress, deflate, br","178.156.186.149:5678","keep-alive","whatsApp",{"text":"79"},{"remoteJid":"77","fromMe":false}]