main_workflow.json
{
  "name": "WorldModels Unified Pipeline v4 (Final PRO)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-wm-2024",
        "options": {}
      },
      "id": "c363dc91-ebda-4f47-8109-534c4836573f",
      "name": "Webhook Telegram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3072,
        -64
      ],
      "webhookId": "0636d1ec-a349-4eec-8e84-c913a1949e96"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1fd718d6-49f8-43dc-a881-ff7ecf7b94ef",
        "options": {}
      },
      "id": "6a17ff39-d1b9-4626-b655-5bb8febec493",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3072,
        480
      ],
      "webhookId": "307fea47-4b3a-4883-8af5-5a4a64b48b02"
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\nlet score = 0;\nscore += (item.positiveHits || 0) * 10;\nscore += (item.postPositiveHits || 0) * 15;\nif (item.contact) score += 30;\nif (item.category === 'plaza') score += 20;\nif (item.city && item.city !== 'Global') score += 15;\nif ((item.text_es || '').length > 300) score += 10;\nreturn { ...item, final_score: score };"
      },
      "id": "62cdcb53-d3f9-4b11-9fc7-fe1a4fb93b83",
      "name": "Quality Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -368,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nfunction escapeHTML(text) { return String(text||'').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'); }\nfunction formatContact(val) { \n  if (!val) return 'No disponible';\n  const str = String(val).trim();\n  if (/[a-zA-Z]/.test(str)) return str; // Keep usernames intact\n  const s = str.replace(/[^0-9]/g, ''); \n  return s.length >= 7 ? `+${s}` : str; \n}\n\nconst displayContact = formatContact(item.contact || item.final_contact);\nconst city = escapeHTML(item.city || 'Global');\nconst budget = escapeHTML(item.budget || 'Negociable');\nconst categoryStr = (item.category === 'plaza') ? 'Plazas' : 'Eventos';\n\n// Solo mantenemos el grupo español activado\nconst langs = [\n  { code: 'ES', tg: '-5283488138', wa: '120363425790792660@g.us', title: item.title_es, text: item.text_es, tag: 'Remitente' }\n];\n\nconst results = [];\nfor (const l of langs) {\n  const tgText = `<b>${escapeHTML(l.title)}</b>\\n🏷️ <b>${categoryStr}</b>\\n📍 <b>${city}</b>\\n💰 <b>${budget}</b>\\n\\n${escapeHTML(l.text)}\\n\\n👤 <b>${l.tag}:</b> ${displayContact}\\n🔌 <b>Fuente:</b> ${escapeHTML(item.platform)}`;\n  const waText = `*📢 ${l.title}*\\n📍 *${item.city}* | 💰 *${item.budget}*\\n\\n${l.text}\\n\\n👤 *${l.tag}:* ${displayContact}\\n🔌 *Fuente:* ${item.platform}`;\n  \n  results.push({\n    json: { ...item, route_lang: l.code, tg_chat: l.tg, tg_text: tgText, wa_chat: l.wa, wa_text: waText }\n  });\n}\nreturn results;"
      },
      "id": "172d9669-daab-47f8-b0bc-cddaa7643a49",
      "name": "Message Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -176,
        32
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_chat }}",
        "text": "={{ $json.tg_text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "6bf7ca07-c6be-4377-ac4a-bbea8758a739",
      "name": "Telegram Fanout",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        128,
        -128
      ],
      "webhookId": "4d9b2d40-0d10-4749-ab29-af510dfd7836",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.156.186.149:3001/api/juana/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer shJOb5wskQMTyfoF20GLqmJOclA5if5j"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"to\": $json.wa_chat, \"body\": $json.wa_text } }}",
        "options": {}
      },
      "id": "7673ef05-46cb-4f8f-9c8e-8d2d5e7cfeae",
      "name": "WhatsApp Fanout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        128,
        32
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.156.186.149:3001/api/leads",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  isGroup: true,\n  platform: $json.platform,\n  contact: $json.contact || $json.final_contact,\n  remoteJid: $json.platform === 'WhatsApp' ? $json.source_chat_id : ($json.source_chat_id + '@g.us'),\n  city: $json.city,\n  location: $json.city,\n  budget: $json.budget,\n  category: $json.category === 'evento' ? 'CAT_EVENTOS' : 'CAT_PLAZAS',\n  text_es: ($json.text_es || '').replace(/cocina/gi, 'area de servicio'),\n  title_es: $json.title_es,\n  text_en: $json.text_en,\n  title_en: $json.title_en,\n  text_ru: $json.text_ru,\n  title_ru: $json.title_ru,\n  text_pt: $json.text_pt,\n  title_pt: $json.title_pt\n} }}",
        "options": {}
      },
      "id": "1959ee32-e765-4fba-8f3f-9057cb5b8305",
      "name": "Post Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        128,
        176
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\nconst category = String(item.category || '').toLowerCase();\nconst city = String(item.city || '').toLowerCase();\n\nif (category === 'evento' && city.includes('madrid')) {\n  return { ...item, is_vip: true };\n}\n\nreturn []; // No pasa nada si no es VIP"
      },
      "id": "ffbb7b42-7dde-4960-a222-e3b70396d9f6",
      "name": "Filter VIP Madrid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -176,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.156.186.149:3001/api/juana/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer shJOb5wskQMTyfoF20GLqmJOclA5if5j"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"to\": \"34664266926@s.whatsapp.net\", \"body\": \"*📢 ALERTA VIP EVENTO MADRID*\\n📍 *Madrid* | 💰 *\" + $json.budget + \"*\\n\\n\" + $json.text_es + \"\\n\\n👤 *Contacto:* \" + ($json.contact || $json.final_contact) + \"\\n🔌 *Fuente:* \" + $json.platform } }}",
        "options": {}
      },
      "id": "fa064351-1bad-46fa-8c07-ebbb1c4f64ed",
      "name": "Send VIP Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        80,
        336
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nconst item = payload.body || payload;\nconst textBody = item.text || item.message?.text || '';\n\nfunction findUsername(obj) {\n  if (!obj || typeof obj !== 'object') return null;\n  if (obj.username && typeof obj.username === 'string' && /[a-zA-Z]/.test(obj.username)) return obj.username;\n  if (obj.from?.username && typeof obj.from.username === 'string' && /[a-zA-Z]/.test(obj.from.username)) return obj.from.username;\n  if (obj.message?.from?.username && typeof obj.message.from.username === 'string' && /[a-zA-Z]/.test(obj.message.from.username)) return obj.message.from.username;\n  return null;\n}\n\nlet sc = findUsername(item);\nif (sc) {\n  sc = sc.trim();\n  if (!sc.startsWith('@')) sc = '@' + sc;\n}\n\n// Rechazar directamente si no tiene un @username válido (los IDs son solo números y findUsername los descarta)\nconst isJunk = textBody.length < 20 || !sc;\n\nreturn {\n  ...item,\n  platform: 'telegram',\n  sender_contact: sc || 'No_Username',\n  final_contact: sc || 'No_Username',\n  from_name: item.pushName || item.first_name || item.message?.from?.first_name || '',\n  chat_name: '',\n  source_chat_id: item.chatId || item.message?.chat?.id || '',\n  is_group_source: true,\n  texto_limpio: textBody.trim(),\n  looksValuable: !isJunk,\n  message_type: 'text',\n  channel_id: ''\n};"
      },
      "id": "7cc8dc7a-bf2c-4b49-abdc-1c1642250ecf",
      "name": "Extract Metadata TG1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2720,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst body = item.body || item;\nconst msgs = body.messages || [];\nconst msg = msgs[0] || {};\nconst textBody = msg.text?.body || msg.caption || body.text || body.caption || '';\n\nfunction getPhone(val) {\n  if (!val) return null;\n  if (typeof val === 'object') val = val.id || val.phone || val.number || JSON.stringify(val);\n  let s = String(val);\n  if (s.includes('wa.me/')) s = s.split('wa.me/')[1].split('?')[0];\n  const digits = s.replace(/\\D/g, '');\n  return (digits.length >= 7 && digits.length <= 15) ? digits : null;\n}\n\nconst sc = getPhone(msg.from) || getPhone(msg.author) || getPhone(msg.participant) || getPhone(body.from) || getPhone(body.contact) || \"No disponible\";\nconst sourceChatId = msg.chat_id || body.chatId || body.from || null;\nconst isGroup = typeof sourceChatId === 'string' ? sourceChatId.endsWith('@g.us') : false;\n\n// Rechazar estrictamente si no es un grupo (es un mensaje privado a Juana)\nconst isJunk = textBody.length < 20 || /sticker|audio|voice|gif/i.test(msg.type || '') || !isGroup;\n\nreturn {\n  ...item,\n  platform: \"WhatsApp\",\n  sender_contact: sc,\n  final_contact: sc,\n  from_name: msg.from_name || '',\n  chat_name: msg.chat_name || '',\n  source_chat_id: sourceChatId,\n  is_group_source: isGroup,\n  texto_limpio: textBody.trim(),\n  looksValuable: !isJunk,\n  message_type: msg.type || 'text',\n  channel_id: body.channel_id || '',\n  private_message_rejected: !isGroup\n};"
      },
      "id": "6d6a69bf-978e-49ae-9d47-d7a4bf8a9be0",
      "name": "Extract Metadata WA1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2720,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nconst HARD_BLOCK = new Set([\n  \"crypto\", \"binance\", \"forex\", \"casino\", \"stake\", \"usdt\", \"bitcoin\", \"cripto\",\n  \"wallet\", \"metamask\", \"trading\", \"faucet\", \"investment\", \"investir\", \"invertir\",\n  \"ganar dinero\", \"ganancias extras\", \"income online\", \"work from home\",\n  \"dropshipping\", \"loan\", \"prestamo\", \"pr\u00e9stamo\", \"credit\", \"credito\", \"cr\u00e9dito\",\n  \"paypal\", \"skrill\", \"bank transfer\", \"western union\", \"click here\", \"dm now\",\n  \"amazon seller\", \"shopify\", \"ecommerce\", \"airdrop\", \"nft\", \"token\", \"broker\",\n  \"\u0438\u043d\u0434\u0438\", \"\u043a\u043e\u043d\u0442\u0435\u043d\u0442\", \"ko\u043d\u0442\u0435\u043d\u0442\", \"\u043f\u0440\u0435\u0434\u043e\u043f\u043b\u0430\u0442\u044b\", \"\u0431\u0435\u0437 \u043f\u0440\u0435\u0434\u043e\u043f\u043b\u0430\u0442\u044b\", \"\u043e\u043d\u043b\u0438\u0444\u0430\u043d\u0441\", \"onlyfans\", \n  \"\u0432\u0438\u0440\u0442\", \"\u043a\u0440\u0443\u0436\u043e\u0447\u043a\", \"\u0441\u0438\u0433\u043d\u044b\", \"\u0433\u043e\u0441\u043f\u043e\u0436\u0430\", \"\u0440\u0430\u0431\", \"\u0438\u043d\u0434\u0438\u0432\u0438\u0434\u0443\u0430\u043b\u043a\u0430\", \"\u0441\u0435\u043a\u0441 \u043f\u043e \u0442\u0435\u043b\u0435\u0444\u043e\u043d\u0443\",\n  \"medicamento\", \"medicamentos\", \"medicina\", \"farmacia\", \"pastillas\", \"viagra\",\n  \"receta\", \"prescription\", \"pills\", \"pharmacy\", \"botox\", \"esteroides\", \"suscripcion\", \"subscription\", \"\u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0430\", \"assinatura\"\n]);\n\nconst SOFT_BLOCK = new Set([\n  \"clases\", \"clase\", \"teacher\", \"professor\", \"university\", \"course\", \"curso\",\n  \"seguro\", \"insurance\", \"visa\", \"bank\", \"banco\", \"cuenta bancaria\", \"account\",\n  \"online\", \"virtual\", \"customer service\", \"call center\", \"marketing job\",\n  \"data entry\", \"assistant\", \"agente inmobiliario\", \"real estate\", \"cleaning job\"\n]);\n\nconst POSITIVE = new Set([\n  \"apartamento\", \"apartamentos\", \"apartment\", \"apartments\", \"flat\", \"room\", \"rooms\",\n  \"plaza\", \"plazas\", \"spot\", \"spots\", \"agency\", \"agencia\", \"club\", \"clubs\",\n  \"booking\", \"bookings\", \"tour\", \"tours\", \"city tour\", \"girls\", \"models\",\n  \"modelos\", \"independent\", \"independiente\", \"private apartment\", \"work opportunity\",\n  \"trabajo\", \"trabajar\", \"vacante\", \"vacantes\", \"available city\", \"available girls\",\n  \"madrid\", \"barcelona\", \"valencia\", \"ibiza\", \"malaga\", \"lisboa\", \"porto\",\n  \"berlin\", \"munich\", \"frankfurt\", \"amsterdam\", \"rotterdam\", \"zurich\",\n  \"geneva\", \"lausanne\", \"milan\", \"roma\", \"rome\", \"paris\", \"hamburg\", \"stuttgart\",\n  \"\u0434\u0435\u0432\u043e\u0447\u043a\u0438\", \"\u0434\u0435\u0432\u0443\u0448\u043a\u0438\", \"\u043c\u043e\u0440\u0435\", \"\u0435\u0432\u0440\u043e\u043f\u0443\", \"\u043c\u043e\u0434\u0435\u043b\u044c\", \"\u0432\u0441\u0442\u0440\u0435\u0447\u0438\", \"\u0432\u0441\u0442\u0440\u0435\u0447\", \"\u043a\u0430\u0441\u0442\u0438\u043d\u0433\", \n  \"\u044d\u0441\u043a\u043e\u0440\u0442\", \"\u0437\u0430\u0440\u0430\u0431\u043e\u0442\u043e\u043a\", \"\u0442\u0443\u0441\u043e\u0432\u043a\u0438\", \"\u0432\u044b\u0435\u0437\u0434\", \"\u0430\u043f\u0430\u0440\u0442\u0430\u043c\u0435\u043d\u0442\u044b\"\n]);\n\nconst BANNED_PREFIXES = [\n  \"57\", \"58\", \n  \"20\", \"21\", \"22\", \"23\", \"24\", \"25\", \"26\", \"27\", \"28\", \"29\",\n  \"92\", \"91\", \n  \"62\", \"63\"\n];\nconst BANNED_SENDERS = new Set([\n  \"351926822219\", \"351966967025\", \"351918673812\", \"351920755741\", \"351933204215\",\n  \"351927597878\", \"351927357525\", \"351911887986\", \"351963213706\", \"351929073877\",\n  \"351912131056\", \"351924938305\", \"5547936188098\", \"5511993439714\", \"5511910881933\", \n  \"5573991142402\", \"5545935056582\", \"556193888963\", \"5521986713221\", \"5521981174629\", \n  \"5511977482482\", \"554797204383\", \"555391459164\", \"5513996848506\", \"556281163551\", \n  \"5521983514307\", \"553497670505\", \"556293110529\", \"555194401739\", \"555189100041\", \n  \"555192072204\", \"5518996148613\", \"559281324293\", \"556291433112\", \"556298150720\", \n  \"5521995574624\", \"558589279166\", \"5521983827523\", \"447877354053\", \"447752825109\", \n  \"447857761695\", \"447518038911\", \"447308058219\", \"447723822600\", \"447448540579\", \n  \"447466297625\", \"447892873144\", \"447400757648\", \"447457422608\", \"447377623582\", \n  \"447487698165\", \"447946485621\", \"447766470330\", \"447878701129\", \"447451239098\", \n  \"447821951926\", \"447946304880\", \"447599476143\", \"447902286259\", \"447782314732\", \n  \"447448422578\", \"447411574134\", \"447877768537\", \"447922639195\", \"447728524014\", \n  \"447541742768\", \"447520622873\", \"34651303213\", \"34685647898\", \"34674141224\", \n  \"34711269334\", \"34624174047\", \"491744723429\", \"923220067913\", \"919672019746\", \n  \"353894106470\", \"16193545051\", \"13235002297\", \"33749730432\", \"79963624515\", \n  \"79362632269\", \"31620216067\", \"22999574171\", \"4915214453550\", \"306974107999\", \n  \"258850634194\", \"22957220770\", \"32487279353\", \"380937192123\", \"2348081002335\", \n  \"2349077283597\", \"447771335992\", \"573234883847\", \"447418634961\", \"351912982746\", \"33757822068\", \"447955813649\", \"5527999696247\", \"5511946130456\"\n]);\n\nfunction norm(v) { return String(v || \"\").toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\"); }\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const text = norm(data.texto_limpio || \"\");\n  const sender = String(data.final_contact || data.sender_contact || \"\").replace(/\\D/g, \"\").replace(/^0+/, \"\");\n\n  let rejectReason = null;\n  let spamScore = 0;\n\n  const hardHits = [...HARD_BLOCK].some(k => text.includes(k));\n  const softHits = [...SOFT_BLOCK].filter(k => text.includes(k)).length;\n  const positiveHits = [...POSITIVE].filter(k => text.includes(k)).length;\n\n  const links = (text.match(/https?:\\/\\/|wa\\.me\\/|t\\.me\\/|telegram/gi) || []).length;\n  const phones = (text.match(/\\+?\\d[\\d\\s\\-()]{6,}/g) || []).length;\n  const emojis = (text.match(/[\\p{Extended_Pictographic}]/gu) || []).length;\n  const tooShort = text.trim().length < 20;\n\n  if (BANNED_SENDERS.has(sender)) rejectReason = \"sender_banned\";\n  else if (sender && BANNED_PREFIXES.some(p => sender.startsWith(p))) rejectReason = \"prefix_banned\";\n  \n  if (!rejectReason) {\n    if (hardHits) spamScore += 100;\n    if (softHits >= 2) spamScore += 30;\n    if (links >= 5) spamScore += 30;\n    if (phones >= 4) spamScore += 30;\n    if (emojis >= 15) spamScore += 20;\n    if (tooShort) spamScore += 50; // Increased penalty for very short text\n    if (positiveHits === 0) spamScore += 50;\n    \n    if (spamScore >= 80) rejectReason = \"high_spam_score\";\n  }\n\n  const isValuable = data.looksValuable !== false && !rejectReason;\n  results.push({ json: { ...data, looksValuable: isValuable, reject_reason: rejectReason, spamScore, positiveHits } });\n}\nreturn results;"
      },
      "id": "7b7de3c7-386f-4942-8321-0efe63d680e4",
      "name": "Pre-Filter Unified1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2416,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nfor (const item of $input.all()) {\n  if (item.json.looksValuable === true) {\n    results.push(item);\n  }\n}\nreturn results;"
      },
      "id": "41a438c9-19f9-485f-b50b-b74c18eac817",
      "name": "Guard Filter1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2224,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst store = $getWorkflowStaticData('global');\nif (!store.history) store.history = [];\nif (!store.lastSenders) store.lastSenders = {};\n\nconst now = Date.now();\nconst TTL = 86400000;\nconst BURST_WINDOW = 30000; // 30 segundos\n\nstore.history = store.history.filter(h => now - h.time < TTL);\n\n// Simple fingerprint instead of crypto to avoid module restrictions\nfunction getFingerprint(text) {\n  return String(text || \"\").toLowerCase().replace(/[^a-z0-9]/g, \"\").substring(0, 120);\n}\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const sender = String(data.final_contact || data.sender_contact || \"\").replace(/\\D/g, \"\");\n  const fp = getFingerprint(data.texto_limpio);\n\n  let isDuplicate = false;\n\n  if (sender && store.lastSenders[sender] && (now - store.lastSenders[sender].time < BURST_WINDOW)) {\n    isDuplicate = true;\n  }\n  if (!isDuplicate) {\n    isDuplicate = store.history.some(h => h.fp === fp);\n  }\n\n  if (!isDuplicate) {\n    store.history.push({ time: now, sender, fp });\n    if (sender) store.lastSenders[sender] = { time: now };\n    results.push(item);\n  }\n}\nreturn results;"
      },
      "id": "bd2799b8-8c7c-4fb1-abbe-4a2fb1876575",
      "name": "Dedup Hash1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2016,
        704
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### WORLDMODELS MASTER EXTRACTION v21.15 ###\nTEXT: \"{{ $json.texto_limpio }}\"\n\nCRITICAL STEP - JUDGMENT:\nCategorize the text based on strict definitions:\n- \"plaza\": ONLY for Apartment Ads, Room offers, or fixed long-term vacancies (keywords: apartamento, habitacion, plaza, room, flat). \n- \"evento\": For specific meetings, bookings, tours, or immediate availability (keywords: meeting, cita, encuentro, disponible 1h, booking, tour, hoy). Default if it's a valid lead but NOT a physical room/spot offer.\n- \"trash\": Spam, personal chats, ONLY emojis, greetings, questions asking for managers/contacts, medical products. Set \"category\": \"trash\" and \"trash\": true.\n\nIF VALID, PROCEED WITH:\n1. TITLE: Catchy and short (max 5 words).\n2. FULL TEXT LANGUAGES: MANDATORY. Provide the FULL original meaning in 'text_es', 'text_en', 'text_ru', 'text_pt'.\n3. CITY: Precise identification.\n4. CATEGORY: plaza | evento | trash.\n5. ECHO METADATA: You MUST include these exact strings back in your JSON:\n   \"platform\": \"{{ $json.platform }}\"\n   \"contact\": \"{{ $json.final_contact }}\"\n   \"source_chat_id\": \"{{ $json.source_chat_id }}\"\n\nJSON SCHEMA:\n{\n  \"city\": \"City\",\n  \"budget\": \"Value\",\n  \"category\": \"plaza|evento|trash\",\n  \"title_es\": \"...\", \"text_es\": \"...\",\n  \"title_en\": \"...\", \"text_en\": \"...\",\n  \"title_ru\": \"...\", \"text_ru\": \"...\",\n  \"title_pt\": \"...\", \"text_pt\": \"...\",\n  \"platform\": \"...\",\n  \"contact\": \"...\",\n  \"source_chat_id\": \"...\",\n  \"trash\": boolean\n}"
      },
      "id": "c21a2687-ec90-46cb-a198-dc51d7d382b0",
      "name": "IA Extract1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -1824,
        704
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9d444f87-a68c-4423-8366-0da1a3b17f09",
      "name": "DeepSeek Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -1824,
        896
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "2",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const input = $input.first().json;\n  \n  let rawText = input.text || input.output || input.result || input.response?.text || input.response || input.data?.text || input.data?.content || input.output?.content || input.content || input.choices?.[0]?.message?.content || \"\";\n\n  if (!rawText && typeof input === 'object') {\n    const deepSearch = JSON.stringify(input);\n    const match = deepSearch.match(/\"content\":\"([^\"]+)\"/);\n    if (match) rawText = match[1];\n  }\n\n  let cleaned = rawText.replace(/```json/g, '').replace(/```/g, '').trim();\n  let jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) jsonMatch[0] = jsonMatch[0].replace(/\\n/g, ' ').replace(/\\r/g, ' ');\n\n  let jsonStr = jsonMatch ? jsonMatch[0] : \"\";\n  let parsed = {};\n  if (!jsonStr) return [{ json: { trash: true, category: 'trash', debug_raw: rawText } }];\n  \n  try { parsed = JSON.parse(jsonStr); }\n  catch (ex) { return [{ json: { trash: true, category: 'trash' } }]; }\n\n  function cleanContact(value, platform) {\n    if (!value || value === \"Unknown\") return null;\n    if (typeof value === 'object') value = value.id || value.phone || value.number || JSON.stringify(value);\n    const str = String(value).trim();\n\n    if (platform === 'telegram') {\n      // REGLA ESTRICTA: Debe empezar con @ y tener letras. NO IDs.\n      if (str.startsWith('@') && /[a-zA-Z]/.test(str)) return str;\n      if (/[a-zA-Z]/.test(str) && !/t\\.me|http/.test(str)) return '@' + str.replace(/^@/, '');\n      return null; // Rechazamos si es solo un ID o no tiene formato de username\n    }\n\n    if (/[a-zA-Z]/.test(str)) return str; // Para otros, mantenemos si tiene letras\n    const digits = str.replace(/[^0-9]/g, '');\n    return digits.length >= 7 ? `+${digits}` : str;\n  }\n\n  let normalizedContact = cleanContact(parsed.contact, parsed.platform || input.platform);\n  \n  // Si es Telegram y no pudimos normalizar un username @, lo marcamos como basura\n  const isTgNoUser = (parsed.platform === 'telegram' || input.platform === 'telegram') && (!normalizedContact || !normalizedContact.startsWith('@'));\n  const isTrash = parsed.category === 'trash' || parsed.trash === true || isTgNoUser;\n\n  return [{ json: { ...parsed, contact: normalizedContact, final_contact: normalizedContact, trash: isTrash } }];\n} catch(e) { return [{json:{ trash:true, category:'trash', debug_error: e.message }}]; }"
      },
      "id": "1036341d-802e-46fa-9261-1f5c0cbe7a29",
      "name": "Parse JSON1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1568,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\nconst text = String(item.text_es || \"\").toLowerCase();\nconst city = String(item.city || \"\").trim().toLowerCase();\nconst category = String(item.category || \"\").trim().toLowerCase();\n\nconst POSITIVE = [\"apartamento\", \"plaza\", \"agency\", \"agencia\", \"club\", \"booking\", \"tour\", \"models\", \"vacante\", \"hotel\", \"cita\", \"meeting\", \"\u0432\u0441\u0442\u0440\u0435\u0447\u0430\", \"chica\", \"girl\", \"\u0434\u0435\u0432\u0443\u0448\u043a\u0430\"];\nconst NEGATIVE = [\"crypto\", \"forex\", \"casino\", \"bank\", \"loan\", \"call center\"];\n\nconst positiveHits = POSITIVE.filter(k => text.includes(k)).length;\nconst negativeHits = NEGATIVE.filter(k => text.includes(k)).length;\nconst hasGoodCity = !!city && ![\"global\", \"unknown\", \"desconocida\", \"desconocido\"].includes(city);\n\nlet reject = false, reason = null;\n\nif (category === \"trash\") { reject = true; reason = \"ai_trash\"; }\nelse if (negativeHits >= 1 && positiveHits === 0) { reject = true; reason = \"negative_signal\"; }\nelse if (!hasGoodCity && text.length < 150) { reject = true; reason = \"weak_lead\"; }\nelse if (!hasGoodCity && positiveHits === 0 && (item.positiveHits || 0) === 0) { reject = true; reason = \"no_signal\"; } // Si tiene ciudad válida, lo dejamos pasar aunque no tenga keywords\n\nreturn { ...item, category: category, looksValuableFinal: !reject, reject_reason_final: reason, postPositiveHits: positiveHits };"
      },
      "id": "c9bd98fa-d7ea-4993-b26d-f33f85233323",
      "name": "Post-Filter1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1376,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "const store = $getWorkflowStaticData('global');\n\nif (!store.users) store.users = {};\nif (!store.banned) store.banned = {};\n\nconst results = [];\nconst now = Date.now();\n\n// Configuración del sistema de Auto-Ban\nconst BAN_TIME = 24 * 60 * 60 * 1000; // 24 horas\nconst MIN_MSGS = 5; // Mínimo de mensajes para evaluar ban\nconst MAX_BAD_RATIO = 0.7; // Si el 70% o más de sus mensajes son basura (trash), se banea\nconst WHITELIST = new Set([\"346xxxxxxx\", \"admin_id\"]);\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const sender = String(data.final_contact || data.sender_contact || \"unknown\");\n\n  // Si está en whitelist, pasa siempre sin contar\n  if (WHITELIST.has(sender)) {\n    results.push(item);\n    continue;\n  }\n\n  // Si no existe, inicializar usuario\n  if (!store.users[sender]) {\n    store.users[sender] = {\n      good: 0,\n      bad: 0,\n      total: 0\n    };\n  }\n\n  // Revisar si ya está baneado\n  if (store.banned[sender]) {\n    const ban = store.banned[sender];\n    if (now < ban.until) {\n      data.looksValuableFinal = false; // Forzamos el bloqueo\n      data.reject_reason_final = \"user_auto_banned\";\n      results.push(item);\n      continue;\n    } else {\n      // El ban expiró, le damos otra oportunidad\n      delete store.banned[sender];\n      store.users[sender] = { good: 0, bad: 0, total: 0 };\n    }\n  }\n\n  const user = store.users[sender];\n  \n  // Decay memory (Olvido progresivo - Mejora aplicada)\n  user.good *= 0.95;\n  user.bad *= 0.95;\n  user.total = user.good + user.bad;\n  user.total += 1;\n\n  // Evaluar si este mensaje actual es basura o bueno\n  if (data.looksValuableFinal === false || data.trash === true) {\n    user.bad += 1;\n  } else {\n    user.good += 1;\n  }\n\n  // Evaluar Ban si supera el umbral de mensajes enviados\n  if (user.total >= MIN_MSGS) {\n    const ratio = user.bad / user.total;\n    if (ratio >= MAX_BAD_RATIO) {\n      store.banned[sender] = {\n        until: now + BAN_TIME,\n        reason: \"high_spam_ratio\",\n        stats: { ...user }\n      };\n      // Marcamos el mensaje actual para que no pase\n      data.looksValuableFinal = false;\n      data.reject_reason_final = \"user_just_banned\";\n    }\n  }\n\n  results.push(item);\n}\n\nreturn results;"
      },
      "id": "fc9de03e-fe0a-4f46-b7fb-455c48580983",
      "name": "Abuse Guard (Auto-Ban)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1168,
        704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.looksValuableFinal }}",
              "value2": true
            }
          ]
        }
      },
      "id": "1e56811b-91d4-4c4e-98e4-0843d0b95e36",
      "name": "Final Guard1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -976,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\nconst category = String(item.category || '').toLowerCase();\nconst city = String(item.city || '').toLowerCase();\n\nif (category === 'evento' && city.includes('paris')) {\n  return { ...item, is_vip_paris: true };\n}\n\nreturn [];"
      },
      "id": "a1b2c3d4-e5f6-4a5b-bc6d-7e8f90a1b2c3",
      "name": "Filter VIP Paris",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -176,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.156.186.149:3001/api/juana/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer shJOb5wskQMTyfoF20GLqmJOclA5if5j"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"to\": \"33744156314@s.whatsapp.net\", \"body\": \"*📣 ALERTA PARIS EVENTO*\\n📍 *Paris* | 💰 *\" + $json.budget + \"*\\n\\n\" + $json.text_es + \"\\n\\n👤 *Contacto:* \" + ($json.contact || $json.final_contact) + \"\\n🔌 *Fuente:* \" + $json.platform } }}",
        "options": {}
      },
      "id": "f1e2d3c4-b5a6-4f7e-8d9c-0b1a2c3d4e5f",
      "name": "Send Paris Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        80,
        480
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d5e",
      "name": "Delay Madrid",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -48,
        336
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "c1d2e3f4-a5b6-4c7d-8e9f-0a1b2c3d4e5f",
      "name": "Delay Paris",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -48,
        480
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Telegram": {
      "main": [
        [
          {
            "node": "Extract Metadata TG1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Extract Metadata WA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Score": {
      "main": [
        [
          {
            "node": "Message Router",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post Backend",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter VIP Madrid",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter VIP Paris",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter VIP Madrid": {
      "main": [
        [
          {
            "node": "Delay Madrid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay Madrid": {
      "main": [
        [
          {
            "node": "Send VIP Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter VIP Paris": {
      "main": [
        [
          {
            "node": "Delay Paris",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay Paris": {
      "main": [
        [
          {
            "node": "Send Paris Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send VIP Alert": {
      "main": [
        []
      ]
    },
    "Send Paris Alert": {
      "main": [
        []
      ]
    },
    "Message Router": {
      "main": [
        [
          {
            "node": "Telegram Fanout",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp Fanout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Metadata TG1": {
      "main": [
        [
          {
            "node": "Pre-Filter Unified1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Metadata WA1": {
      "main": [
        [
          {
            "node": "Pre-Filter Unified1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-Filter Unified1": {
      "main": [
        [
          {
            "node": "Guard Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard Filter1": {
      "main": [
        [
          {
            "node": "Dedup Hash1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Hash1": {
      "main": [
        [
          {
            "node": "IA Extract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Extract1": {
      "main": [
        [
          {
            "node": "Parse JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "IA Extract1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON1": {
      "main": [
        [
          {
            "node": "Post-Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post-Filter1": {
      "main": [
        [
          {
            "node": "Abuse Guard (Auto-Ban)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abuse Guard (Auto-Ban)1": {
      "main": [
        [
          {
            "node": "Final Guard1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Guard1": {
      "main": [
        [
          {
            "node": "Quality Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "029c8cde-6610-4067-abea-76d2301a3024",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "076f774a55a5ee35adb97b88c4f2827a760bc82be4a432b2b5434d7c166e8234"
  },
  "id": "8iui7IUM3EZFDbUC",
  "tags": []
}
