n8n_v32_ULTIMATE_COMPLETE.json
{
  "name": "03/04 ULTIMATE PRO-POLYGLOT v21.11 (24H CLONE GUARD)",
  "nodes": [
    { "parameters": { "httpMethod": "POST", "path": "webhook-test/1fd718d6-49f8-43dc-a881-ff7ecf7b94ef", "responseMode": "lastNode" }, "id": "25036769-086d-4a72-88db-4fc20a16d30e", "name": "Webhook WhatsApp1", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [ 336, 592 ] },
    { "parameters": { "jsCode": "const item = $input.first().json; const body = item.body || item; const inner = body.body || {}; \nlet rawParts = [body.text, body.caption, inner.text, inner.body, body.text?.body, body.text?.text].filter(t => typeof t === 'string' && t.trim().length > 0).map(p => p.trim());\n// Aggressive Dedup (Remove substrings)\nrawParts.sort((a, b) => b.length - a.length);\nlet uniqueParts = [];\nfor (const p of rawParts) {\n  if (!uniqueParts.some(up => up.includes(p))) uniqueParts.push(p);\n}\nlet uniqueText = uniqueParts.join('\\n\\n');\nconst isJunk = uniqueText.length < 70 || /sticker|audio|voice|gif/i.test(uniqueText);\nreturn { ...item, platform: \"WhatsApp\", sender_contact: body.from || \"Unknown\", texto_limpio: uniqueText, looksValuable: !isJunk };" }, "id": "9e21e71b-2b21-4805-a214-56bef94244c0", "name": "Extract Metadata1", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [ -112, 400 ] },
    { "parameters": { "conditions": { "boolean": [{ "value1": "={{ $json.looksValuable }}", "value2": true }] } }, "id": "a03ce5cd-e689-4f3d-a647-03d77c6991c7", "name": "Hallucination Guard", "type": "n8n-nodes-base.filter", "typeVersion": 2, "position": [ 112, 240 ] },
    { "parameters": { "jsCode": "const store = $getWorkflowStaticData('global'); \nif (!store.history) store.history = {}; \nconst now = Date.now();\nconst key = String($json.texto_limpio || '').toLowerCase().replace(/[^a-z0-9]/gi,'');\n\nif (key.length < 15) return [];\n\n// 24H Logic: Check if seen in last 24h\nif (store.history[key] && (now - store.history[key] < 86400000)) {\n  return [];\n}\n\n// Prune old entries to save memory\nfor (const k in store.history) {\n  if (now - store.history[k] > 86400000) delete store.history[k];\n}\n\nstore.history[key] = now;\nreturn items;" }, "id": "79fcc8c4-7be3-464f-b1ab-2f8bfe40e474", "name": "Check Clone1", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [ 336, 240 ] },
    { "parameters": { "jsCode": "return items.map(i => ({ json: { ...i.json, balanced_at: new Date().toISOString() } }));" }, "id": "563c7c35-0b95-4e29-83d0-987a4e3c2f3d", "name": "Balancer Universal1", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [ 784, 240 ] },
    { "parameters": { "conditions": { "number": [{ "value1": "={{ $json.texto_limpio.length }}", "operation": "largerEqual", "value2": 70 }] } }, "id": "e5d206cf-ff9f-485a-a88b-d9a1434cb4ec", "name": "Filtro Calidad Lead", "type": "n8n-nodes-base.filter", "typeVersion": 2, "position": [ 992, 240 ] },
    { "parameters": { "promptType": "define", "text": "=### WORLDMODELS FORCE EXTRACTION v21.12 ###\nTEXT: \"{{ $json.texto_limpio }}\"\n\nCRITICAL INSTRUCTIONS:\n1. 4 LANGUAGES MANDATORY: You MUST provide 'title' and 'text' in ES, EN, RU, and PT. If the original text is only in one language, TRANSLATE IT TO THE OTHER THREE.\n2. FULL ANNOUNCEMENT: DO NOT summarize. The 'text_xx' fields must contain the ENTIRE announcement translated.\n3. CONTACT: Extract any phone, @username, or URL. If NOT found, set as null.\n4. CATEGORY: Strictly classify as: plaza | evento | escorts.\n\nJSON SCHEMA:\n{\n  \"city\": \"City Name\",\n  \"budget\": \"Price or 'Negociable'\",\n  \"category\": \"plaza/evento/escorts\",\n  \"title_es\": \"Título corto\", \"text_es\": \"ANUNCIO COMPLETO ES\", \n  \"title_en\": \"Short Title\", \"text_en\": \"FULL ANNOUNCEMENT EN\",\n  \"title_ru\": \"Краткое название\", \"text_ru\": \"ПОЛНОЕ ОБЪЯВЛЕНИЕ RU\",\n  \"title_pt\": \"Título corto\", \"text_pt\": \"ANÚNCIO COMPLETO PT\",\n  \"contact\": \"Contact Info or null\", \"trash\": false\n}", "options": {} }, "id": "97141787-9979-493f-b016-60e350292009", "name": "Vertex IA Extraer", "type": "@n8n/n8n-nodes-langchain.chainLlm", "typeVersion": 1.4, "position": [ 1200, 240 ] },
    { "parameters": { "projectId": "worldmodels-jobs", "modelName": "gemini-2.5-flash", "options": { "region": "us-central1", "temperature": 0, "safetySettings": [ { "category": "HARM_CATEGORY_HARASSMENT", "threshold": "BLOCK_NONE" }, { "category": "HARM_CATEGORY_HATE_SPEECH", "threshold": "BLOCK_NONE" }, { "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT", "threshold": "BLOCK_NONE" }, { "category": "HARM_CATEGORY_DANGEROUS_CONTENT", "threshold": "BLOCK_NONE" } ] } }, "id": "ec2cd72c-4929-41b8-93f2-32f5e843f58f", "name": "Google Vertex AI Chat Model", "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex", "typeVersion": 1, "position": [ 1200, 448 ], "credentials": { "googleApi": { "id": "V7pwWrGvozR1eZB8" } } },
    { "parameters": { "jsCode": "try {\n  let aiText = $input.first().json.text || \"\";\n  let jsonStr = aiText.trim().replace(/```json|```/g, '').trim();\n  let original = {};\n  try { original = $(\"Balancer Universal1\").first().json; } catch(e) { original = $(\"Balancer Universal\").first().json; }\n  \n  let parsed = {};\n  if (!jsonStr.startsWith('{')) {\n    let text = original.texto_limpio || \"\";\n    parsed = { trash: false, category: 'evento', city: 'Global', budget: 'Negociable', title_es: 'Lead', text_es: text, text_en: text, text_ru: text, text_pt: text, contact: original.sender_contact };\n  } else {\n    parsed = JSON.parse(jsonStr);\n  }\n  return [{ json: { ...original, ...parsed, contact: (parsed.contact || original.sender_contact || 'Unknown'), trash: false } }];\n} catch(e) {\n  return [{json:{trash:true, category: 'trash'}}];\n}" }, "id": "358b388d-4c94-41e8-945e-ab49486293e1", "name": "Parse1", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [ 1408, 240 ] },
    { "parameters": { "conditions": { "boolean": [{ "value1": "={{ $json.trash }}", "value2": false }] } }, "id": "3cfdeca2-f414-46f5-b611-35c59c6d09a4", "name": "Filter Source1", "type": "n8n-nodes-base.filter", "typeVersion": 2, "position": [ 1616, 240 ] },
    { "parameters": { "dataType": "string", "value1": "={{ $json.category }}", "rules": { "rules": [{ "value2": "plaza" }, { "value2": "evento", "output": 1 }, { "value2": "escorts", "output": 2 }, { "value2": "trash", "output": 3 }] } }, "id": "005ff969-5f7a-4122-a85b-c4bc2f24808d", "name": "Switch1", "type": "n8n-nodes-base.switch", "typeVersion": 1, "position": [ 1824, 240 ] },
    { "parameters": { "method": "POST", "url": "https://ssrworldmodelsjobs-bgr45y36sq-uc.a.run.app/api/leads", "sendBody": true, "bodyParameters": { "parameters": [ { "name": "city", "value": "={{ $json.city }}" }, { "name": "location", "value": "={{ $json.city }}" }, { "name": "budget", "value": "={{ $json.budget }}" }, { "name": "category", "value": "={{ $json.category === 'plaza' ? 'CAT_PLAZAS' : ($json.category === 'evento' ? 'CAT_EVENTOS' : 'CAT_ESCORTS') }}" }, { "name": "contact", "value": "={{ $json.contact }}" }, { "name": "platform", "value": "={{ $json.platform }}" }, { "name": "text_es", "value": "={{ $json.text_es }}" }, { "name": "title_es", "value": "={{ $json.title_es }}" }, { "name": "text_en", "value": "={{ $json.text_en }}" }, { "name": "title_en", "value": "={{ $json.title_en }}" }, { "name": "text_ru", "value": "={{ $json.text_ru }}" }, { "name": "title_ru", "value": "={{ $json.title_ru }}" }, { "name": "text_pt", "value": "={{ $json.text_pt }}" }, { "name": "title_pt", "value": "={{ $json.title_pt }}" } ] } }, "id": "ae8ad478-e75e-4faa-aab4-5fc9b15ce0f1", "name": "Post API1", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [ 2096, 160 ], "credentials": { "httpHeaderAuth": { "id": "C6j5jY2OWBIE469n" } } },
    { "parameters": { "chatId": "-1003788619075", "text": "=🌟 Lead ({{ $json.category }}): {{ $json.title_es }}\n📍 {{ $json.city }}\n💰 {{ $json.budget }}" }, "id": "7022b63b-ecc7-4097-bd42-33ab713fcc70", "name": "Telegram News1", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [ 2096, 336 ], "credentials": { "telegramApi": { "id": "TC7QChVOx72xT6Kf" } } },
    { "parameters": { "chatId": "-1002315750269", "text": "=🗑️ Descartes: {{ $json.title_es }}" }, "id": "ef28639e-2dc7-4b71-bfe0-55c91ec6735e", "name": "Telegram Descartes1", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [ 2096, 512 ], "credentials": { "telegramApi": { "id": "TC7QChVOx72xT6Kf" } } },
    { "parameters": { "updates": ["message"] }, "id": "72957106-9280-496a-8671-55c3c06fb469", "name": "Telegram Trigger1", "type": "n8n-nodes-base.telegramTrigger", "typeVersion": 1, "position": [ -336, -80 ], "credentials": { "telegramApi": { "id": "TC7QChVOx72xT6Kf" } } },
    { "parameters": { "jsCode": "const item = $input.first().json; const msg = item.message || {};\nlet rawParts = [msg.text, msg.caption].filter(t => typeof t === 'string' && t.trim().length > 0).map(p => p.trim());\n// Aggressive Dedup (Remove substrings)\nrawParts.sort((a, b) => b.length - a.length);\nlet uniqueParts = [];\nfor (const p of rawParts) {\n  if (!uniqueParts.some(up => up.includes(p))) uniqueParts.push(p);\n}\nlet uniqueText = uniqueParts.join('\\n\\n');\nconst isJunk = uniqueText.length < 70 || /sticker|audio|voice|gif/i.test(uniqueText);\nreturn { ...item, platform: \"Telegram\", sender_contact: msg.from?.id, texto_limpio: uniqueText, looksValuable: !isJunk };" }, "id": "cdb9df05-f71c-4c10-b308-b1d9bfc13be1", "name": "Extract Metadata", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [ -112, -80 ] },
    { "parameters": { "conditions": { "boolean": [{ "value1": "={{ $json.looksValuable }}", "value2": true }] } }, "id": "52697843-c045-42f8-958b-01ea5cb89269", "name": "Hallucination Guard1", "type": "n8n-nodes-base.filter", "typeVersion": 2, "position": [ 112, -240 ] },
    { "parameters": { "jsCode": "const store = $getWorkflowStaticData('global'); \nif (!store.history) store.history = {}; \nconst now = Date.now();\nconst key = String($json.texto_limpio || '').toLowerCase().replace(/[^a-z0-9]/gi,'');\n\nif (key.length < 15) return [];\n\nif (store.history[key] && (now - store.history[key] < 86400000)) {\n  return [];\n}\n\nfor (const k in store.history) {\n  if (now - store.history[k] > 86400000) delete store.history[k];\n}\n\nstore.history[key] = now;\nreturn items;" }, "id": "40203f4f-42e1-450f-a3d1-37d40f8f1704", "name": "Check Clone", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [ 336, -240 ] },
    { "parameters": { "jsCode": "return items.map(i => ({ json: { ...i.json, balanced_at: new Date().toISOString() } }));" }, "id": "ed7d885a-8e2b-47e2-a633-851ad5aa33a6", "name": "Balancer Universal", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [ 784, -240 ] },
    { "parameters": { "conditions": { "number": [{ "value1": "={{ $json.texto_limpio.length }}", "operation": "largerEqual", "value2": 70 }] } }, "id": "314ebbc3-d6fe-4f7f-a602-990a4282c0b6", "name": "Filtro Calidad Lead 2", "type": "n8n-nodes-base.filter", "typeVersion": 2, "position": [ 992, -240 ] }
  ],
  "connections": {
    "Webhook WhatsApp1": { "main": [[ { "node": "Extract Metadata1", "type": "main", "index": 0 } ]] },
    "Extract Metadata1": { "main": [[ { "node": "Hallucination Guard", "type": "main", "index": 0 } ]] },
    "Hallucination Guard": { "main": [[ { "node": "Check Clone1", "type": "main", "index": 0 } ]] },
    "Check Clone1": { "main": [[ { "node": "Balancer Universal1", "type": "main", "index": 0 } ]] },
    "Balancer Universal1": { "main": [[ { "node": "Filtro Calidad Lead", "type": "main", "index": 0 } ]] },
    "Filtro Calidad Lead": { "main": [[ { "node": "Vertex IA Extraer", "type": "main", "index": 0 } ]] },
    "Telegram Trigger1": { "main": [[ { "node": "Extract Metadata", "type": "main", "index": 0 } ]] },
    "Extract Metadata": { "main": [[ { "node": "Hallucination Guard1", "type": "main", "index": 0 } ]] },
    "Hallucination Guard1": { "main": [[ { "node": "Check Clone", "type": "main", "index": 0 } ]] },
    "Check Clone": { "main": [[ { "node": "Balancer Universal", "type": "main", "index": 0 } ]] },
    "Balancer Universal": { "main": [[ { "node": "Filtro Calidad Lead 2", "type": "main", "index": 0 } ]] },
    "Filtro Calidad Lead 2": { "main": [[ { "node": "Vertex IA Extraer", "type": "main", "index": 0 } ]] },
    "Vertex IA Extraer": { "main": [[ { "node": "Parse1", "type": "main", "index": 0 } ]] },
    "Google Vertex AI Chat Model": { "ai_languageModel": [[ { "node": "Vertex IA Extraer", "type": "ai_languageModel", "index": 0 } ]] },
    "Parse1": { "main": [[ { "node": "Filter Source1", "type": "main", "index": 0 } ]] },
    "Filter Source1": { "main": [[ { "node": "Switch1", "type": "main", "index": 0 } ]] },
    "Switch1": { "main": [
      [ { "node": "Post API1", "type": "main", "index": 0 }, { "node": "Telegram News1", "type": "main", "index": 0 } ],
      [ { "node": "Post API1", "type": "main", "index": 0 }, { "node": "Telegram News1", "type": "main", "index": 0 } ],
      [ { "node": "Post API1", "type": "main", "index": 0 }, { "node": "Telegram News1", "type": "main", "index": 0 } ],
      [ { "node": "Telegram Descartes1", "type": "main", "index": 0 } ]
    ] }
  },
  "active": false,
  "id": "QZGeNoSmHysmLNRF"
}