n8n_v31_HARDENED.json
{
  "name": "WorldModels_V31_HARDENED",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1fd718d6-49f8-43dc-a881-ff7ecf7b94ef",
        "responseMode": "lastNode"
      },
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "extracted_text",
              "value": "={{ $json.body?.text || $json.text || $json.message?.text || $json.message || '' }}"
            }
          ]
        }
      },
      "name": "Extract Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        250,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const store = $getWorkflowStaticData('global');\nif (!store.seen) store.seen = {};\nconst now = Date.now();\nconst ttl = 15 * 60 * 1000;\nfor (const k in store.seen) {\n  if (now - store.seen[k] > ttl) delete store.seen[k];\n}\nconst raw = String($json.extracted_text || '').toLowerCase().trim().replace(/\\s+/g, ' ').replace(/[^a-z0-9\\u00C0-\\u024F\\u0400-\\u04FF\\s@+.-]/gi, '');\nif (!raw) return [];\nlet hash = 0;\nfor (let i = 0; i < raw.length; i++) {\n  hash = ((hash << 5) - hash) + raw.charCodeAt(i);\n  hash |= 0;\n}\nconst key = String(hash);\nif (store.seen[key]) return [];\nstore.seen[key] = now;\nreturn items;"
      },
      "name": "Check Clone (no IF)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.extracted_text || '').toLowerCase().trim();\nconst normalized = text.replace(/\\s+/g, ' ').replace(/[^a-z0-9\\u00C0-\\u024F\\u0400-\\u04FF\\s@+.-]/gi, '');\nconst mustPassKeywords = ['plaza', 'habitacion', 'vacante', 'alojamiento', 'alquiler', 'spot', 'room', 'vacancy', 'accommodation', 'rent', 'vaga', 'quarto', 'alojamento', 'aluguel', 'место', 'комната', 'вакансия', 'жилье', 'аренда'];\nconst contextKeywords = ['chica', 'modelo', 'mujer', 'cliente', 'presencia', 'vip', 'hotel', 'cena', 'viaje', 'acuerdo', 'cita', 'budget', 'profesional', 'joven', 'natural', 'tatuaje', 'girl', 'model', 'woman', 'client', 'presence', 'vip', 'hotel', 'dinner', 'travel', 'deal', 'date', 'budget', 'professional', 'young', 'natural', 'tattoo', 'garota', 'modelo', 'mulher', 'cliente', 'presença', 'vip', 'hotel', 'jantar', 'viagem', 'acordo', 'encontro', 'budget', 'profissional', 'jovem', 'natural', 'tatuagem', 'девушка', 'модель', 'женщина', 'клиент', 'внешность', 'vip', 'отель', 'ужин', 'поездка', 'сделка', 'встреча', 'бюджет', 'профессионал', 'молодая', 'натуральная', 'тату'];\nconst hasCore = mustPassKeywords.some(k => normalized.includes(k));\nconst hasContext = contextKeywords.some(k => normalized.includes(k));\nif (hasCore && hasContext) return [{ ...$json, looksValuable: true, prefilter_score: 999, bypass: true }];\nlet score = 0;\nif (normalized.length >= 12) score++;\nif (normalized.length >= 25) score++;\nif (mustPassKeywords.some(s => normalized.includes(s))) score += 3;\nif (/\\d/.test(normalized)) score++;\nif (/@|\\+?\\d{6,}/.test(normalized)) score += 2;\nreturn [{ ...$json, looksValuable: score >= 3, prefilter_score: score, bypass: false }];"
      },
      "name": "Prefilter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valuable",
              "leftValue": "={{ String($json.looksValuable === true) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "name": "IF Valuable",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.DEEPSEEK_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"### ROLE: WORLDMODELS ELITE EXTRACTOR ###\\nTu tarea es extraer datos de leads de trabajo para modelos/plazas.\\n\\n### REGLAS CRÍTICAS:\\n1. NUNCA inventes datos.\\n2. Si no hay contacto real (telefono, @Telegram, link), pon contact: \\\"\\\".\\n3. Si no hay ciudad/pais claro, pon city: \\\"\\\" y country: \\\"\\\".\\n4. Los titulos deben ser descriptivos (ej: 'Modelo para viaje VIP a Londres').\\n5. NUNCA uses \\\"Plaza\\\", \\\"Info\\\", \\\"Sin contacto\\\" o \\\"Global\\\" como valores.\\n6. Si los datos son insuficientes, pon trash: true.\\n\\nJSON SCHEMA: { \\\"trash\\\": false, \\\"category\\\": \\\"plaza|evento\\\", \\\"city\\\" : \\\"\\\", \\\"country\\\": \\\"\\\", \\\"budget\\\": \\\"\\\", \\\"contact\\\": \\\"\\\", \\\"title_es\\\": \\\"\\\", \\\"body_es\\\": \\\"\\\", \\\"title_en\\\": \\\"\\\", \\\"body_en\\\": \\\"\\\", \\\"title_ru\\\": \\\"\\\", \\\"body_ru\\\": \\\"\\\", \\\"title_pt\\\": \\\"\\\", \\\"body_pt\\\": \\\"\\\" }\"\n    },\n    { \"role\": \"user\", \"content\": $json.extracted_text }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.1\n} }}"
      },
      "name": "AI Brain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1050,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "let content;\ntry { content = JSON.parse($input.first().json.choices?.[0]?.message?.content || '{}'); } \ncatch (e) { return [{ ...$input.first().json, trash: true, parse_error: true }]; }\n\nconst normalizedContact = (content.contact || '').toLowerCase();\nconst isJunkContact = !normalizedContact || normalizedContact.includes('sin ') || normalizedContact.includes('no hay') || normalizedContact.length < 5;\nconst isJunkTitle = (content.title_es || '').toLowerCase().length < 5 || (content.title_es || '').includes('Plaza');\n\nif (content.trash === false && (isJunkContact || isJunkTitle || (!content.city && !content.country))) {\n  content.trash = true;\n  content.quality_fail = true;\n}\nreturn [{ ...$input.first().json, ...content }];"
      },
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1250,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid",
              "leftValue": "={{ String($json.trash !== true) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "name": "Valid",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1450,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://worldmodels-jobs.web.app/api/posts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"titulo\": $json.title_es,\n  \"descripcion\": $json.body_es,\n  \"categoria\": $json.category === 'plaza' ? 'CAT_PLAZAS' : 'CAT_EVENTOS',\n  \"ubicacion\": $json.city || $json.country || 'Global',\n  \"presupuesto\": $json.budget || 'Open',\n  \"contacto\": $json.contact,\n  \"fuente\": \"WhatsApp\",\n  \"translations\": {\n    \"es\": { \"titulo\": $json.title_es, \"descripcion\": $json.body_es },\n    \"en\": { \"titulo\": $json.title_en, \"descripcion\": $json.body_en },\n    \"ru\": { \"titulo\": $json.title_ru, \"descripcion\": $json.body_ru },\n    \"pt\": { \"titulo\": $json.title_pt, \"descripcion\": $json.body_pt }\n  }\n} }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "WORLDMODELS_N8N_2026"
            }
          ]
        }
      },
      "name": "Post API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1650,
        400
      ]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Check Clone (no IF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Clone (no IF)": {
      "main": [
        [
          {
            "node": "Prefilter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prefilter": {
      "main": [
        [
          {
            "node": "IF Valuable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valuable": {
      "main": [
        [
          {
            "node": "AI Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Brain": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid": {
      "main": [
        [
          {
            "node": "Post API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 60
  }
}