n8n_v19_BUILDER_MODE.json
{
  "name": "WorldModels_V19_BUILDER_MODE_FINAL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1fd718d6-49f8-43dc-a881-ff7ecf7b94ef",
        "responseMode": "lastNode"
      },
      "name": "Webhook Inbound WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 0, 300 ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "worldmodels-platinum-v5",
        "responseMode": "lastNode"
      },
      "name": "Webhook Inbound Telegram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 0, 500 ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "extracted_text", "value": "={{ $json.body && $json.body.text ? $json.body.text : ($json.text ? $json.text : ($json.message ? ($json.message.text ? $json.message.text : $json.message) : 'Sin texto')) }}" },
            { "name": "source", "value": "={{ $json.body && $json.body.text ? 'WhatsApp' : 'Telegram' }}" }
          ]
        },
        "options": {}
      },
      "name": "Bulletproof Text Extractor",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [ 250, 400 ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "78204646-7788-4664-9669-762204646778",
              "leftValue": "={{ ($json.extracted_text || '').toLowerCase() }}",
              "rightValue": "viaje|cena|servicio|extra|budget|cita|modelo|hotel|plaza|libre|disponible|trabajo|oferta|alojamiento|busco|ofrezco|zurich|travel|dinner|service|client|appointment|model|vacancy|free|available|room|girl|job|offer|accommodation|looking|путешествие|ужин|сервис|бюджет|сделка|клиент|встреча|модель|отель|место|свободно|девушка|работа|предложение|viagem|jantar|serviço|acordo|cliente|encontro|vaga|livre|quarto|garota|trabalho",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Diamond Quality Shield",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [ 550, 400 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParametersUi": {
          "parameter": [
            { "name": "model", "value": "deepseek-chat" },
            { "name": "messages", "value": "={{ [\n  { role: 'system', content: '### ROLE: WORLDMODELS ELITE INTELLIGENCE V7 ###\\nAnaliza si el mensaje es una PLAZA o EVENTO real. Si no tiene contacto/localización o es spam, responde: {\\\"trash\\\": true}. Si es real, extrae metadatos y traduce a ES, EN, RU, PT-BR. Responde EXCLUSIVAMENTE en JSON.' },\n  { role: 'user', content: $json[\"extracted_text\"] }\n] }}" },
            { "name": "response_format", "value": "={{ { type: 'json_object' } }}" },
            { "name": "temperature", "value": "={{0.1}}" }
          ]
        },
        "options": {
          "timeout": 15000,
          "sendQueryParameters": false
        }
      },
      "name": "Elite AI Intelligence Brain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 850, 300 ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "parsed_content", "value": "={{ $json.choices[0].message.content }}" }
          ]
        },
        "options": {}
      },
      "name": "Capture AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [ 1150, 300 ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "12345678-1234-1234-1234-123456789012",
              "leftValue": "={{ $json.parsed_content }}",
              "rightValue": "trash",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Is Reality Trash?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [ 1450, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://worldmodels-jobs.web.app/api/posts",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParametersUi": {
          "parameter": [
            { "name": "data", "value": "={{ $json.parsed_content }}" }
          ]
        },
        "options": {
          "sendQueryParameters": false
        }
      },
      "name": "Post to Elite Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 1750, 400 ]
    },
    {
      "parameters": {},
      "name": "Stop Shielded",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [ 850, 600 ]
    }
  ],
  "connections": {
    "Webhook Inbound WhatsApp": { "main": [[{ "node": "Bulletproof Text Extractor", "type": "main", "index": 0 }]] },
    "Webhook Inbound Telegram": { "main": [[{ "node": "Bulletproof Text Extractor", "type": "main", "index": 0 }]] },
    "Bulletproof Text Extractor": { "main": [[{ "node": "Diamond Quality Shield", "type": "main", "index": 0 }]] },
    "Diamond Quality Shield": { "main": [[{ "node": "Elite AI Intelligence Brain", "type": "main", "index": 0 }], [{ "node": "Stop Shielded", "type": "main", "index": 0 }]] },
    "Elite AI Intelligence Brain": { "main": [[{ "node": "Capture AI Response", "type": "main", "index": 0 }]] },
    "Capture AI Response": { "main": [[{ "node": "Is Reality Trash?", "type": "main", "index": 0 }]] },
    "Is Reality Trash?": { "main": [[{ "node": "Post to Elite Dashboard", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 60
  }
}
