n8n_euromodel_workflow.json
{
  "name": "Euromodel_Master_System",
  "nodes": [
    {
      "parameters": {
        "path": "euromodel/inbound",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const data = getWorkflowStaticData('global');\nif (!data.ids) data.ids = {};\nconst mid = $json.message && $json.message.message_id ? $json.message.message_id : '';\nconst rid = $json.request_id || '';\nconst key = mid || rid;\nlet duplicate = false;\nif (key) {\n  if (data.ids[key]) duplicate = true;\n  else data.ids[key] = Date.now();\n}\nconst limit = 1000;\nconst keys = Object.keys(data.ids);\nif (keys.length > limit) {\n  keys.sort((a,b)=>data.ids[a]-data.ids[b]);\n  for (let i=0;i<keys.length-limit;i++) delete data.ids[keys[i]];\n}\nreturn [{ json: { ...$json, _duplicate: duplicate } }];"
      },
      "id": "2",
      "name": "Dedup",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"_duplicate\"]}}"
            }
          ]
        }
      },
      "id": "3",
      "name": "IF Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseData": "json",
        "response": "={{ {\"ok\": false, \"reason\": \"duplicate\"} }}"
      },
      "id": "4",
      "name": "Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        950,
        220
      ]
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseData": "json",
        "response": "={{$json}}"
      },
      "id": "5",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        950,
        380
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup": {
      "main": [
        [
          {
            "node": "IF Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Duplicate": {
      "main": [
        [
          {
            "node": "Respond Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "UTC"
  }
}
