n8n_v5_ULTIMATE_Fusion.json
{
  "name": "WorldModels_V5_ULTIMATE_Fusion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elite/inbound",
        "responseMode": "lastNode"
      },
      "name": "Webhook Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 0, 300 ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "extracted_text", "value": "={{ $json.message ? ($json.message.text ? $json.message.text : $json.message) : ($json.body && $json.body.text ? $json.body.text : ($json.text ? $json.text : 'Sin texto')) }}" }
          ]
        },
        "options": {}
      },
      "name": "Bulletproof Extractor",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [ 250, 300 ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !['bot', 'http', 'https', 'link', 't.me'].some(word => ($json.extracted_text || '').toLowerCase().includes(word)) && ([ 'viaje', 'cena', 'servicio', 'extra', 'budget', 'cita', 'modelo', 'hotel', 'plaza', 'libre', 'disponible', 'trabajo', 'oferta', 'alojamiento', 'busco', 'ofrezco', 'zurich', 'travel', 'dinner', 'service', 'client', 'appointment', 'model', 'vacancy', 'free', 'available', 'room', 'girl', 'job', 'offer', 'accommodation', 'looking', 'путешествие', 'ужин', 'сервис', 'бюджет', 'сделка', 'клиент', 'встреча', 'модель', 'отель', 'место', 'свободно', 'девушка', 'работа', 'предложение', 'viagem', 'jantar', 'serviço', 'acordo', 'cliente', 'encontro', 'vaga', 'livre', 'quarto', 'garota', 'trabalho' ].some(word => ($json.extracted_text || '').toLowerCase().includes(word)) || (($json.extracted_text || '').length > 35 && /\\d/.test($json.extracted_text))) }}",
              "operation": "true"
            }
          ]
        }
      },
      "name": "Filtro Diamante",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [ 500, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"### ROLE: WORLDMODELS ELITE INTELLIGENCE V7 ###\\nAnaliza si el mensaje es una PLAZA o EVENTO real. Si no tiene contacto/localización o es spam, responde: {\\\"trash\\\": true}. Si es real, extrae metadatos y traduce a ES, EN, RU, PT-BR. Responde EXCLUSIVAMENTE en JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.extracted_text }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.1\n}",
        "options": {
          "timeout": 10000,
          "sendQueryParameters": false
        }
      },
      "name": "DeepSeek V7 Brain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 750, 200 ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "parsed_content", "value": "={{ $json.choices[0].message.content }}" }
          ]
        },
        "options": {}
      },
      "name": "Capture AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [ 1000, 200 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://worldmodels-jobs.web.app/api/posts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.parsed_content }}",
        "options": {
          "sendQueryParameters": false
        }
      },
      "name": "Post to Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 1250, 200 ]
    },
    {
      "parameters": {},
      "name": "Stop Shielded",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [ 500, 500 ]
    }
  ],
  "connections": {
    "Webhook Inbound": { "main": [[{ "node": "Bulletproof Extractor", "type": "main", "index": 0 }]] },
    "Bulletproof Extractor": { "main": [[{ "node": "Filtro Diamante", "type": "main", "index": 0 }]] },
    "Filtro Diamante": { "main": [[{ "node": "DeepSeek V7 Brain", "type": "main", "index": 0 }], [{ "node": "Stop Shielded", "type": "main", "index": 0 }]] },
    "DeepSeek V7 Brain": { "main": [[{ "node": "Capture AI Response", "type": "main", "index": 0 }]] },
    "Capture AI Response": { "main": [[{ "node": "Post to Dashboard", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 60
  }
}
