n8n_v27_OFF_TELEGRAM.json
{
  "name": "WorldModels_V27_OFF_TELEGRAM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1fd718d6-49f8-43dc-a881-ff7ecf7b94ef",
        "responseMode": "lastNode"
      },
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "extracted_text",
              "value": "={{ $json.body?.text || $json.text || $json.message?.text || $json.message || '' }}"
            }
          ]
        }
      },
      "name": "Extract Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        250,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const store = $getWorkflowStaticData('global');\n\nif (!store.seen) store.seen = {};\n\nconst now = Date.now();\nconst ttl = 15 * 60 * 1000; // 15 min\n\nfor (const k in store.seen) {\n  if (now - store.seen[k] > ttl) delete store.seen[k];\n}\n\nconst raw = String($json.extracted_text || '')\n  .toLowerCase()\n  .trim()\n  .replace(/\\s+/g, ' ')\n  .replace(/[^a-z0-9\\u00C0-\\u024F\\u0400-\\u04FF\\s@+.-]/gi, '');\n\nif (!raw) return []; // skip empty\n\nlet hash = 0;\nfor (let i = 0; i < raw.length; i++) {\n  hash = ((hash << 5) - hash) + raw.charCodeAt(i);\n  hash |= 0;\n}\n\nconst key = String(hash);\n\nif (store.seen[key]) {\n  return []; // 🔥 STOP HERE if duplicate\n}\n\nstore.seen[key] = now;\n\nreturn items; // ✅ Only return items if not duplicate"
      },
      "name": "Check Clone (no IF)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.extracted_text || '').toLowerCase().trim();\n\nconst normalized = text\n  .replace(/\\s+/g, ' ')\n  .replace(/[^a-z0-9\\u00C0-\\u024F\\u0400-\\u04FF\\s@+.-]/gi, '');\n\n// 🌍 KEYWORDS MULTIIDIOMA (ES / EN / RU / PT-BR)\nconst mustPassKeywords = [\n  'plaza', 'habitacion', 'vacante', 'alojamiento', 'alquiler', // ES\n  'spot', 'room', 'vacancy', 'accommodation', 'rent', // EN\n  'vaga', 'quarto', 'alojamento', 'aluguel', // PT-BR\n  'место', 'комната', 'вакансия', 'жилье', 'аренда' // RU\n];\n\nconst contextKeywords = [\n  'chica', 'modelo', 'mujer', 'cliente', 'presencia', 'vip', 'hotel', 'cena', 'viaje', 'acuerdo', 'cita', 'budget', 'profesional', 'joven', 'natural', 'tatuaje', // ES\n  'girl', 'model', 'woman', 'client', 'presence', 'vip', 'hotel', 'dinner', 'travel', 'deal', 'date', 'budget', 'professional', 'young', 'natural', 'tattoo', // EN\n  'garota', 'modelo', 'mulher', 'cliente', 'presença', 'vip', 'hotel', 'jantar', 'viagem', 'acordo', 'encontro', 'budget', 'profissional', 'jovem', 'natural', 'tatuagem', // PT-BR\n  'девушка', 'модель', 'женщина', 'клиент', 'внешность', 'vip', 'отель', 'ужин', 'поездка', 'сделка', 'встреча', 'бюджет', 'профессионал', 'молодая', 'натуральная', 'тату' // RU\n];\n\nconst hasCore = mustPassKeywords.some(k => normalized.includes(k));\nconst hasContext = contextKeywords.some(k => normalized.includes(k));\n\n// 🚀 BYPASS TOTAL\nif (hasCore && hasContext) {\n  return [{\n    ...$json,\n    looksValuable: true,\n    prefilter_score: 999,\n    bypass: true\n  }];\n}\n\n// ⚙️ SCORE ESTANDAR (si no hay bypass)\nlet score = 0;\nif (normalized.length >= 12) score++;\nif (normalized.length >= 25) score++;\nif (mustPassKeywords.some(s => normalized.includes(s))) score += 3;\nif (/\\d/.test(normalized)) score++;\nif (/@|\\+?\\d{6,}/.test(normalized)) score += 2;\n\nconst looksValuable = score >= 3;\n\nreturn [{ ...$json, looksValuable, prefilter_score: score, bypass: false }];"
      },
      "name": "Prefilter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "abc-123-valuable",
              "leftValue": "={{ String($json.looksValuable === true) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "IF Valuable",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.DEEPSEEK_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"### ROLE: WORLDMODELS PREMIUM INTELLIGENCE ###\\n\\nREGLAS GENERALES:\\n- Analiza SOLO el texto para identificar leads de negocio (plazas/eventos)\\n- NO inventes informacion\\n\\n### FILTRO DE CALIDAD EXTREMO (OBLIGATORIO):\\nMarca 'trash': true si falta CUALQUIERA de estos:\\n1. CONTACTO: Numero, Link, Telegram, etc.\\n2. LUGAR: Ciudad o Pais especifico.\\n\\n### SALIDA MULTILINGÜE (ES, EN, RU, PT):\\nPara cada idioma genera:\\n- title: Titulo profesional corto y llamativo\\n- body: Cuerpo ampliado, limpio y detallado basado en el original.\\n\\n### CATEGORIAS:\\ncategory: plaza | evento\\ntype: ofrezco_plaza | busco_plaza | evento\\n\\n### ESTRUCTURA JSON:\\n{\\n  \\\"trash\\\": false,\\n  \\\"category\\\": \\\"\\\",\\n  \\\"type\\\": \\\"\\\",\\n  \\\"subtype\\\": \\\"\\\",\\n  \\\"continent\\\": \\\"\\\",\\n  \\\"country\\\": \\\"\\\",\\n  \\\"city\\\": \\\"\\\",\\n  \\\"budget\\\": \\\"\\\",\\n  \\\"contact\\\": \\\"\\\",\\n  \\\"title_es\\\": \\\"\\\", \\\"body_es\\\": \\\"\\\",\\n  \\\"title_en\\\": \\\"\\\", \\\"body_en\\\": \\\"\\\",\\n  \\\"title_ru\\\": \\\"\\\", \\\"body_ru\\\": \\\"\\\",\\n  \\\"title_pt\\\": \\\"\\\", \\\"body_pt\\\": \\\"\\\"\\n}\\n\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": $json.extracted_text\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.1\n} }}",
        "options": {
          "timeout": 8000,
          "retryOnFail": true,
          "maxRetries": 2
        }
      },
      "name": "AI Brain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1050,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "let content;\ntry {\n  content = JSON.parse($input.first().json.choices?.[0]?.message?.content || '{}');\n} catch (e) {\n  return [{\n    ...$input.first().json,\n    trash: true,\n    parse_error: true\n  }];\n}\n// Strict: Check if contact or city/country is missing if not already marked as trash\nif (content.trash === false) {\n  if (!content.contact || (!content.city && !content.country)) {\n    content.trash = true;\n    content.quality_fail = true;\n  }\n}\nreturn [{\n  ...$input.first().json,\n  ...content\n}];"
      },
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1250,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "abc-123-valid",
              "leftValue": "={{ String($json.trash !== true) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Valid",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1450,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://worldmodels-jobs.web.app/api/posts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"data\": $json } }}",
        "options": {
          "sendQueryParameters": false
        }
      },
      "name": "Post API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1650,
        400
      ]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Check Clone (no IF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Clone (no IF)": {
      "main": [
        [
          {
            "node": "Prefilter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prefilter": {
      "main": [
        [
          {
            "node": "IF Valuable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valuable": {
      "main": [
        [
          {
            "node": "AI Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Brain": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid": {
      "main": [
        [
          {
            "node": "Post API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 60
  }
}