n8n_euromodel_workflow_v2_fixed.json
{
  "active": true,
  "name": "Euromodel_Master_System_V3_Refined",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "euromodel/inbound",
        "responseMode": "lastNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 100, 300 ]
    },
    {
      "parameters": {
        "functionCode": "const req = String($json.request_id || '').replace(/'/g, \"''\");\nconst mid = String(($json.message && $json.message.message_id) || '').replace(/'/g, \"''\");\nconst wa = String(($json.sender && $json.sender.wa_id) || '').replace(/'/g, \"''\");\nconst ts = String($json.timestamp || new Date().toISOString()).replace(/'/g, \"''\");\nreturn [{ json: { ...$json, sanitized: { request_id: req, message_id: mid, wa_id: wa, timestamp: ts } } }];"
      },
      "name": "Prepare Values",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [ 300, 300 ]
    },
    {
      "parameters": {
        "operation": "runQuery",
        "query": "=SELECT 1 FROM processed_messages WHERE message_id = '{{$json.sanitized.message_id}}' OR request_id = '{{$json.sanitized.request_id}}' LIMIT 1;"
      },
      "name": "SQLite Select Existing",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [ 500, 300 ]
    },
    {
      "parameters": {
        "functionCode": "const exists = $items().length > 0;\nreturn [{ json: { exists } }];"
      },
      "name": "Exists Normalize",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [ 700, 300 ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.exists}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [ 900, 300 ]
    },
    {
      "parameters": {
        "operation": "runQuery",
        "query": "=INSERT INTO processed_messages (request_id, message_id, wa_id, created_at)\nVALUES ('{{$node[\"Prepare Values\"].json.sanitized.request_id}}', '{{$node[\"Prepare Values\"].json.sanitized.message_id}}', '{{$node[\"Prepare Values\"].json.sanitized.wa_id}}', '{{$node[\"Prepare Values\"].json.sanitized.timestamp}}');"
      },
      "name": "SQLite Insert",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [ 1100, 380 ]
    },
    {
      "parameters": {
        "conditions": {
          "all": [
            {
              "value1": "={{$node[\"Prepare Values\"].json.message.text.length}}",
              "operation": "larger",
              "value2": 49
            },
            {
              "value1": "={{/\\d/.test($node[\"Prepare Values\"].json.message.text)}}",
              "operation": "true"
            },
            {
              "value1": "={{['cambio','gratis','paja'].some(w => $node[\"Prepare Values\"].json.message.text.toLowerCase().includes(w))}}",
              "operation": "false"
            }
          ]
        }
      },
      "name": "Validate Schema",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [ 1300, 380 ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Prepare Values\"].json.message.type}}",
        "rules": {
          "rules": [
            { "value2": "text", "output": 0 },
            { "value2": "image", "output": 1 },
            { "value2": "audio", "output": 2 }
          ]
        }
      },
      "name": "Router Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [ 1500, 380 ]
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseData": "json",
        "response": "={{$json}}"
      },
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 1700, 380 ]
    },
    {
      "parameters": {
        "options": {},
        "responseBody": "={\n  \"ok\": false,\n  \"reason\": \"invalid_content_or_schema\"\n}"
      },
      "name": "Respond Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 1500, 500 ]
    },
    {
      "parameters": {
        "options": {},
        "responseBody": "={\n  \"ok\": false,\n  \"reason\": \"duplicate\"\n}"
      },
      "name": "Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 1100, 220 ]
    },
    {
      "parameters": {
        "functionCode": "const text = $node[\"Prepare Values\"].json.message.text.toLowerCase(); const kws = ['precio','disponible','catálogo', 'legal', 'condiciones', 'términos', 'privacidad']; const ai_allowed = kws.some(k => text.includes(k)); return [{ json: { ai_allowed } }];"
      },
      "name": "Keywords Match",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [ 1700, 220 ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.ai_allowed}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF AI Allowed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [ 1900, 220 ]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "jsonParameters": true,
        "options": {},
        "queryParametersUi": {
          "parameter": [
            { "name": "key", "value": "={{$env.GOOGLE_GEMINI_API_KEY}}" }
          ]
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "contents",
              "value": "={{[{role:'user',parts:[{text:`Clasifica el siguiente texto según estas reglas y responde SOLO con ALLOW o BLOCK. Reglas: (1) Texto puro, (2) >=50 caracteres, (3) contiene al menos una cifra, (4) NO contiene: cambio, gratis, paja. Texto: ${$node[\"Prepare Values\"].json.message.text}`}]}]}}"
            },
            { "name": "generationConfig", "value": "={{{temperature:0}}}" }
          ]
        }
      },
      "name": "Gemini Moderation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [ 2100, 180 ]
    },
    {
      "parameters": {
        "functionCode": "const out = ($json.candidates?.[0]?.content?.parts?.[0]?.text || '').trim().toUpperCase(); const gemini_allowed = out === 'ALLOW'; return [{ json: { gemini_allowed } }];"
      },
      "name": "Gemini Parse",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [ 2300, 180 ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "={{$json.gemini_allowed}}", "value2": true }
          ]
        }
      },
      "name": "IF Gemini Allowed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [ 2500, 180 ]
    },
    {
      "parameters": {
        "functionCode": "const text = $node[\"Prepare Values\"].json.message.text; const wa = $node[\"Prepare Values\"].json.sender.wa_id; const prompt = `Usuario (${wa}): ${text}`; return [{ json: { prompt } }];"
      },
      "name": "Build Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [ 2100, 220 ]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "options": { "responseFormat": "json" },
        "jsonParameters": true,
        "headers": [
          { "name": "Authorization", "value": "=Bearer {{$env.OPENAI_API_KEY}}" },
          { "name": "Content-Type", "value": "application/json" }
        ],
        "bodyParametersUi": {
          "parameter": [
            { "name": "model", "value": "gpt-4o-mini" },
            { "name": "messages", "value": "={{[{role:'system',content:'Eres Euromodel. Responde breve, útil y en español.'},{role:'user',content:$json.prompt}]}}" }
          ]
        }
      },
      "name": "AI Chat Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [ 2300, 220 ]
    },
    {
      "parameters": {
        "functionCode": "let content = ''; try { content = $json.choices?.[0]?.message?.content || $json.data?.choices?.[0]?.message?.content || ''; } catch(e) { content = ''; } return [{ json: { ai_text: content } }];"
      },
      "name": "Extract AI Text",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [ 2500, 220 ]
    },
    {
      "parameters": {
        "url": "http://178.156.186.149/send-message/",
        "jsonParameters": true,
        "bodyParametersUi": {
          "parameter": [
            { "name": "wa_id", "value": "={{$node[\"Prepare Values\"].json.sender.wa_id}}" },
            { "name": "text", "value": "={{$json.ai_text}}" }
          ]
        }
      },
      "name": "Send To Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [ 2700, 220 ]
    },
    {
      "parameters": {
        "url": "https://worldmodels-jobs.web.app/jobs-api/api/ads",
        "jsonParameters": true,
        "bodyParametersUi": {
          "parameter": [
            { "name": "title", "value": "={{$node[\"Prepare Values\"].json.sender.push_name || 'Anuncio'}}" },
            { "name": "description", "value": "={{$node[\"Prepare Values\"].json.message.text}}" },
            { "name": "price", "value": "={{null}}" },
            { "name": "location", "value": "={{$node[\"Prepare Values\"].json.sender.push_name}}" },
            { "name": "date", "value": "={{$node[\"Prepare Values\"].json.timestamp}}" }
          ]
        }
      },
      "name": "Post Firebase Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [ 2500, 100 ]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare Values", "type": "main", "index": 0 }]] },
    "Prepare Values": { "main": [[{ "node": "SQLite Select Existing", "type": "main", "index": 0 }]] },
    "SQLite Select Existing": { "main": [[{ "node": "Exists Normalize", "type": "main", "index": 0 }]] },
    "Exists Normalize": { "main": [[{ "node": "IF Duplicate", "type": "main", "index": 0 }]] },
    "IF Duplicate": { "main": [[{ "node": "Respond Duplicate", "type": "main", "index": 0 }], [{ "node": "SQLite Insert", "type": "main", "index": 0 }]] },
    "SQLite Insert": { "main": [[{ "node": "Validate Schema", "type": "main", "index": 0 }]] },
    "Validate Schema": { "main": [[{ "node": "Router Type", "type": "main", "index": 0 }], [{ "node": "Respond Invalid", "type": "main", "index": 0 }]] },
    "Router Type": { "main": [[{ "node": "Keywords Match", "type": "main", "index": 0 }]] },
    "Keywords Match": { "main": [[{ "node": "IF AI Allowed", "type": "main", "index": 0 }]] },
    "IF AI Allowed": { "main": [[{ "node": "Gemini Moderation", "type": "main", "index": 0 }]] },
    "Gemini Moderation": { "main": [[{ "node": "Gemini Parse", "type": "main", "index": 0 }]] },
    "Gemini Parse": { "main": [[{ "node": "IF Gemini Allowed", "type": "main", "index": 0 }]] },
    "IF Gemini Allowed": { "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }], [{ "node": "Respond Invalid", "type": "main", "index": 0 }]] },
    "Build Prompt": { "main": [[{ "node": "AI Chat Request", "type": "main", "index": 0 }]] },
    "AI Chat Request": { "main": [[{ "node": "Extract AI Text", "type": "main", "index": 0 }]] },
    "Extract AI Text": { "main": [[{ "node": "Send To Bot", "type": "main", "index": 0 }], [{ "node": "Post Firebase Ads", "type": "main", "index": 0 }]] },
    "Send To Bot": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  }
}
