platinum_v5_pro_full.json
[
  {
    "id": "platinum-v5-tiguere-pro",
    "name": "WorldModelsJobs - PLATINUM V5 (PRO Full)",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "worldmodels-platinum-v5",
          "options": {}
        },
        "id": "webhook-node",
        "name": "Webhook Inbound",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [ -200, 240 ],
        "webhookId": "worldmodels-platinum-v5"
      },
      {
        "parameters": {
          "values": {
            "string": [
              { "name": "text", "value": "={{ $json.body.text || $json.text }}" },
              { "name": "sender", "value": "={{ $json.body.sender || $json.sender }}" },
              { "name": "message_id", "value": "={{ $json.body.message_id || $json.update_id || Math.random().toString(36).substring(7) }}" }
            ]
          }
        },
        "id": "lapiz-node",
        "name": "Prepare Data (L谩piz)",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [ 50, 240 ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ ($json.text || '').toLowerCase() }}",
                "operation": "regex",
                "value2": "(necesito|busco|presupuesto|cotizacion|precio|contacto|servicio|trabajo|viaje|modelo|vip|extra|top|cena|imagen|reunion|hotel|need|search|budget|quotation|price|contact|service|job|trip|travel|model|dinner|image|meeting|薪褍卸薪|懈褖褍|斜褟写卸械褌|泻芯褌懈褉芯胁泻邪|褑械薪邪|泻芯薪褌邪泻褌|褍褋谢褍ga|褉邪斜芯褌邪|锌褍褌械褕械褋褌胁懈械|屑芯写械谢褜|褝泻褋褌褉邪|褌芯锌|褍卸懈薪|懈蟹芯斜褉邪卸械薪懈械|胁褋褌褉械褔邪|芯褌械谢褜)"
              }
            ]
          }
        },
        "id": "matabasura-node",
        "name": "Keyword Filter (Mata Basura)",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [ 300, 240 ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.deepseek.com/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              { "name": "Authorization", "value": "Bearer sk-8ac552c338d4451bba606c73880cb343" }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { model: 'deepseek-chat', messages: [ { role: 'system', content: 'Eres el motor de inteligencia de WorldModels Jobs. Tu funci贸n es transformar mensajes brutos de Telegram/WhatsApp en datos estructurados de alta calidad.\\n\\nTAREAS CR脥TICAS:\\n1. RAZONAMIENTO FORZADO: Analiza sem谩nticamente el mensaje antes de decidir.\\n2. CATEGORIZACI脫N ESTRICTA (REGLA DE ORO):\\n   - Si menciona precio, ciudad o duraci贸n (temporada/fijo) -> DEBE SER CAT_PLAZAS o CAT_EVENTOS.\\n   - CAT_PLAZAS: Trabajo fijo, staff, permanencia.\\n   - CAT_EVENTOS: Castings, cenas, viajes, eventos de un d铆a.\\n   - CAT_AGENCY: B煤squedas de agencias.\\n   - CAT_MODELOS: Perfiles de chicas.\\n   - CAT_VARIOS: Solo si es ruido absoluto sin datos de tiempo/lugar/rol.\\n3. TRADUCCI脫N VIP (4 IDIOMAS): es, en, ru, pt (Brasil). Genera t铆tulos potentes.\\n\\nJSON 脷NICAMENTE:\\n{\\n  \"razonamiento\": \"...\",\\n  \"categoria\": \"CAT_XXXX\",\\n  \"ubicacion\": \"...\",\\n  \"contacto\": \"...\",\\n  \"translations\": {\\n    \"es\": {\"titulo\": \"\", \"descripcion\": \"\"},\\n    \"en\": {\"titulo\": \"\", \"descripcion\": \"\"},\\n    \"ru\": {\"titulo\": \"\", \"descripcion\": \"\"},\\n    \"pt\": {\"titulo\": \"\", \"descripcion\": \"\"}\\n  }\\n}' }, { role: 'user', content: $json.text } ], temperature: 0.1, response_format: { type: 'json_object' } } }}",
          "options": {}
        },
        "id": "ai-node",
        "name": "AI_Node (Cerebro)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [ 550, 240 ]
      },
      {
        "parameters": {
          "jsCode": "const ai = $node[\"AI_Node (Cerebro)\"].json;\nconst prepData = $node[\"Prepare Data (L谩piz)\"].json;\nconst rawContent = ai.choices?.[0]?.message?.content || \"{}\";\nlet parsed = {};\ntry {\n  parsed = JSON.parse(rawContent.replace(/```json|```/g, '').trim());\n} catch (e) {\n  parsed = { categoria: \"CAT_VARIOS\", translations: { es: { titulo: \"Error AI\", descripcion: \"Parse failure\" } } };\n}\n\nconst validCats = [\"CAT_PLAZAS\", \"CAT_EVENTOS\", \"CAT_AGENCY\", \"CAT_MODELOS\", \"CAT_VARIOS\"];\nlet finalCat = parsed.categoria;\nconst rawText = (prepData.text || \"\").toLowerCase();\n\nif (!validCats.includes(finalCat)) {\n    if (rawText.includes(\"fija\") || rawText.includes(\"staff\") || rawText.includes(\"club\")) {\n        finalCat = \"CAT_PLAZAS\";\n    } else {\n        finalCat = \"CAT_VARIOS\";\n    }\n}\n\nconst external_id = prepData.message_id || Math.abs(rawText.split('').reduce((a,b)=>{a=((a<<5)-a)+b.charCodeAt(0);return a&a},0)).toString();\n\nreturn {\n  categoria: finalCat,\n  translations: parsed.translations,\n  ubicacion: parsed.ubicacion || \"Global\",\n  contacto: parsed.contacto || \"Ver en Telegram\",\n  activa: true,\n  timestamp: new Date().toISOString(),\n  platform: \"TELEGRAM\",\n  external_id: external_id.toString()\n};"
        },
        "id": "prep-node",
        "name": "Prepare Premium JSON",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [ 800, 240 ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.categoria }}",
                "operation": "notEqual",
                "value2": "CAT_VARIOS"
              }
            ]
          }
        },
        "id": "if-node",
        "name": "If Valid (Solo Calidad)",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [ 1050, 240 ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://europe-west1-worldmodels-jobs.cloudfunctions.net/api/ads",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              { "name": "x-api-key", "value": "WORLDMODELS_N8N_2026" }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {}
        },
        "id": "dashboard-node",
        "name": "Post to WorldModels Dashboard",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [ 1300, 240 ]
      }
    ],
    "connections": {
      "Webhook Inbound": { "main": [ [ { "node": "Prepare Data (L谩piz)", "type": "main", "index": 0 } ] ] },
      "Prepare Data (L谩piz)": { "main": [ [ { "node": "Keyword Filter (Mata Basura)", "type": "main", "index": 0 } ] ] },
      "Keyword Filter (Mata Basura)": { "main": [ [ { "node": "AI_Node (Cerebro)", "type": "main", "index": 0 } ] ] },
      "AI_Node (Cerebro)": { "main": [ [ { "node": "Prepare Premium JSON", "type": "main", "index": 0 } ] ] },
      "Prepare Premium JSON": { "main": [ [ { "node": "If Valid (Solo Calidad)", "type": "main", "index": 0 } ] ] },
      "If Valid (Solo Calidad)": { "main": [ [ { "node": "Post to WorldModels Dashboard", "type": "main", "index": 0 } ] ] }
    },
    "active": true,
    "settings": {},
    "staticData": null,
    "meta": null,
    "pinData": null
  }
]
