platinum_n8n_workflow_v4.json
{
  "name": "WorldModels_Premium_Sync_V4",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "euromodel/inbound",
        "responseMode": "lastNode"
      },
      "name": "Webhook Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 100, 300 ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (let item of items) {\n  const rawData = item.json;\n  \n  // Estructura Premium para el Dashboard\n  item.json.categoria = (rawData.categoria || \"CAT_VARIOS\").startsWith('CAT_') ? rawData.categoria : ('CAT_' + (rawData.categoria || 'VARIOS').toUpperCase());\n  item.json.plataforma = \"TELEGRAM\";\n  item.json.ubicacion = rawData.ubicacion || \"Madrid, ES\";\n  item.json.translations = {\n    \"es\": { \n        \"titulo\": rawData.titulo_es || rawData.title || \"Casting de Imagen\", \n        \"descripcion\": rawData.desc_es || rawData.description || \"\" \n    },\n    \"en\": { \n        \"titulo\": rawData.titulo_en || \"Premium Casting\", \n        \"descripcion\": rawData.desc_en || \"Check details in the link below.\" \n    },\n    \"ru\": { \n        \"titulo\": rawData.titulo_ru || \"Премиум Кастинг\", \n        \"descripcion\": rawData.desc_ru || \"Подробности по ссылке ниже.\" \n    },\n    \"pt\": { \n        \"titulo\": rawData.titulo_pt || \"Casting Premium\", \n        \"descripcion\": rawData.desc_pt || \"Confira os detalhes no link abaixo.\" \n    }\n  };\n}\n\nreturn items;"
      },
      "name": "Prepare Premium JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 500, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://europe-west1-worldmodels-jobs.cloudfunctions.net/api/ads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "WORLDMODELS_N8N_2026" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"categoria\": \"{{$json.categoria}}\",\n  \"plataforma\": \"{{$json.plataforma}}\",\n  \"ubicacion\": \"{{$json.ubicacion}}\",\n  \"translations\": {{$json.translations}}\n}",
        "options": {}
      },
      "name": "Post to WorldModels Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 800, 300 ]
    }
  ],
  "connections": {
    "Webhook Inbound": { "main": [[{ "node": "Prepare Premium JSON", "type": "main", "index": 0 }]] },
    "Prepare Premium JSON": { "main": [[{ "node": "Post to WorldModels Dashboard", "type": "main", "index": 0 }]] }
  }
}
