worldmodels_n8n_v3_abuse_guard.json
{
  "name": "WorldModels Unified Pipeline v3 (with Abuse Guard)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-wm-2024",
        "options": {}
      },
      "id": "webhook-tg",
      "name": "Webhook Telegram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-3000, 400]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1fd718d6-49f8-43dc-a881-ff7ecf7b94ef",
        "options": {}
      },
      "id": "webhook-wa",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-3000, 600],
      "webhookId": "307fea47-4b3a-4883-8af5-5a4a64b48b02"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nconst item = payload.body || payload;\nconst textBody = item.text || '';\nconst isJunk = textBody.length < 20;\nconst sc = item.from || item.sender_contact || item.contact || 'No disponible';\nconst sourceChatId = item.chatId || '';\nreturn {\n  ...item,\n  platform: 'telegram',\n  sender_contact: sc,\n  final_contact: sc,\n  from_name: item.pushName || '',\n  chat_name: '',\n  source_chat_id: sourceChatId,\n  is_group_source: true,\n  texto_limpio: textBody.trim(),\n  looksValuable: !isJunk,\n  message_type: 'text',\n  channel_id: ''\n};"
      },
      "id": "extract-tg",
      "name": "Extract Metadata TG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [-2800, 400]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst body = item.body || item;\nconst msgs = body.messages || [];\nconst msg = msgs[0] || {};\nconst textBody = msg.text?.body || msg.caption || body.text || body.caption || '';\nconst isJunk = textBody.length < 20 || /sticker|audio|voice|gif/i.test(msg.type || '');\n\nfunction getPhone(val) {\n  if (!val) return null;\n  if (typeof val === 'object') val = val.id || val.phone || val.number || JSON.stringify(val);\n  let s = String(val);\n  if (s.includes('wa.me/')) s = s.split('wa.me/')[1].split('?')[0];\n  const digits = s.replace(/\\D/g, '');\n  return (digits.length >= 7 && digits.length <= 15) ? digits : null;\n}\n\nconst sc = getPhone(msg.from) || getPhone(msg.author) || getPhone(msg.participant) || getPhone(body.from) || getPhone(body.contact) || \"No disponible\";\nconst sourceChatId = msg.chat_id || body.chatId || body.from || null;\nconst isGroup = typeof sourceChatId === 'string' ? sourceChatId.endsWith('@g.us') : false;\n\nreturn {\n  ...item,\n  platform: \"WhatsApp\",\n  sender_contact: sc,\n  final_contact: sc,\n  from_name: msg.from_name || '',\n  chat_name: msg.chat_name || '',\n  source_chat_id: sourceChatId,\n  is_group_source: isGroup,\n  texto_limpio: textBody.trim(),\n  looksValuable: !isJunk,\n  message_type: msg.type || 'text',\n  channel_id: body.channel_id || ''\n};"
      },
      "id": "extract-wa",
      "name": "Extract Metadata WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [-2800, 600]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nconst HARD_BLOCK = new Set([\n  \"crypto\", \"binance\", \"forex\", \"casino\", \"stake\", \"usdt\", \"bitcoin\", \"cripto\",\n  \"wallet\", \"metamask\", \"trading\", \"faucet\", \"investment\", \"investir\", \"invertir\",\n  \"ganar dinero\", \"ganancias extras\", \"income online\", \"work from home\",\n  \"dropshipping\", \"loan\", \"prestamo\", \"préstamo\", \"credit\", \"credito\", \"crédito\",\n  \"paypal\", \"skrill\", \"bank transfer\", \"western union\", \"click here\", \"dm now\",\n  \"amazon seller\", \"shopify\", \"ecommerce\", \"airdrop\", \"nft\", \"token\", \"broker\",\n  \"инди\", \"контент\", \"koнтент\", \"предоплаты\", \"без предоплаты\", \"онлифанс\", \"onlyfans\", \n  \"вирт\", \"кружочк\", \"сигны\", \"госпожа\", \"раб\", \"индивидуалка\", \"секс по телефону\"\n]);\n\nconst SOFT_BLOCK = new Set([\n  \"clases\", \"clase\", \"teacher\", \"professor\", \"university\", \"course\", \"curso\",\n  \"seguro\", \"insurance\", \"visa\", \"bank\", \"banco\", \"cuenta bancaria\", \"account\",\n  \"online\", \"virtual\", \"customer service\", \"call center\", \"marketing job\",\n  \"data entry\", \"assistant\", \"agente inmobiliario\", \"real estate\", \"cleaning job\"\n]);\n\nconst POSITIVE = new Set([\n  \"apartamento\", \"apartamentos\", \"apartment\", \"apartments\", \"flat\", \"room\", \"rooms\",\n  \"plaza\", \"plazas\", \"spot\", \"spots\", \"agency\", \"agencia\", \"club\", \"clubs\",\n  \"booking\", \"bookings\", \"tour\", \"tours\", \"city tour\", \"girls\", \"models\",\n  \"modelos\", \"independent\", \"independiente\", \"private apartment\", \"work opportunity\",\n  \"trabajo\", \"trabajar\", \"vacante\", \"vacantes\", \"available city\", \"available girls\",\n  \"эскорт\", \"заработок\", \"тусовки\", \"выезд\", \"апартаменты\", \"vuelo\", \"vuelos\", \"avion\", \"hotel\", \"cita\", \"meeting\"\n]);\n\nconst BANNED_PREFIXES = [\n  \"57\", \"58\", \n  \"20\", \"21\", \"22\", \"23\", \"24\", \"25\", \"26\", \"27\", \"28\", \"29\",\n  \"92\", \"91\", \n  \"62\", \"63\"\n];\nconst BANNED_SENDERS = new Set([\n  \"351926822219\", \"351966967025\", \"351918673812\", \"351920755741\", \"351933204215\",\n  \"351927597878\", \"351927357525\", \"351911887986\", \"351963213706\", \"351929073877\",\n  \"351912131056\", \"351924938305\", \"5547936188098\", \"5511993439714\", \"5511910881933\", \n  \"5573991142402\", \"5545935056582\", \"556193888963\", \"5521986713221\", \"5521981174629\", \n  \"5511977482482\", \"554797204383\", \"555391459164\", \"5513996848506\", \"556281163551\", \n  \"5521983514307\", \"553497670505\", \"556293110529\", \"555194401739\", \"555189100041\", \n  \"555192072204\", \"5518996148613\", \"559281324293\", \"556291433112\", \"556298150720\", \n  \"5521995574624\", \"558589279166\", \"5521983827523\", \"447877354053\", \"447752825109\", \n  \"447857761695\", \"447518038911\", \"447308058219\", \"447723822600\", \"447448540579\", \n  \"447466297625\", \"447892873144\", \"447400757648\", \"447457422608\", \"447377623582\", \n  \"447487698165\", \"447946485621\", \"447766470330\", \"447878701129\", \"447451239098\", \n  \"447821951926\", \"447946304880\", \"447599476143\", \"447902286259\", \"447782314732\", \n  \"447448422578\", \"447411574134\", \"447877768537\", \"447922639195\", \"447728524014\", \n  \"447541742768\", \"447520622873\", \"34651303213\", \"34685647898\", \"34674141224\", \n  \"34711269334\", \"34624174047\", \"491744723429\", \"923220067913\", \"919672019746\", \n  \"353894106470\", \"16193545051\", \"13235002297\", \"33749730432\", \"79963624515\", \n  \"79362632269\", \"31620216067\", \"22999574171\", \"4915214453550\", \"306974107999\", \n  \"258850634194\", \"22957220770\", \"32487279353\", \"380937192123\", \"2348081002335\", \n  \"2349077283597\", \"447771335992\", \"573234883847\", \"447418634961\", \"351912982746\", \"33757822068\", \"447955813649\", \"5527999696247\"\n]);\n\nfunction norm(v) { return String(v || \"\").toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\"); }\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const text = norm(data.texto_limpio || \"\");\n  const sender = String(data.final_contact || data.sender_contact || \"\").replace(/\\D/g, \"\").replace(/^0+/, \"\");\n\n  let rejectReason = null;\n  let spamScore = 0;\n\n  const hardHits = [...HARD_BLOCK].some(k => text.includes(k));\n  const softHits = [...SOFT_BLOCK].filter(k => text.includes(k)).length;\n  let positiveHits = [...POSITIVE].filter(k => text.includes(k)).length;\n\n  // New Heuristic: Detect money and time (Universal signals)\n  const hasMoney = /[€$£]|usd|eur|gbp|\\d+\\s?k/i.test(text);\n  const hasTime = /tonight|overnight|today|tomorrow|hour|hora|lunes|martes|miercoles|jueves|viernes|sabado|domingo/i.test(text);\n  \n  if (hasMoney) positiveHits += 2;\n  if (hasTime) positiveHits += 1;\n\n  const links = (text.match(/https?:\\/\\/|wa\\.me\\/|t\\.me\\/|telegram/gi) || []).length;\n  const phones = (text.match(/\\+?\\d[\\d\\s\\-()]{6,}/g) || []).length;\n  const emojis = (text.match(/[\\p{Extended_Pictographic}]/gu) || []).length;\n  const tooShort = text.trim().length < 20;\n\n  if (BANNED_SENDERS.has(sender)) rejectReason = \"sender_banned\";\n  else if (sender && BANNED_PREFIXES.some(p => sender.startsWith(p))) rejectReason = \"prefix_banned\";\n  \n  if (!rejectReason) {\n    if (hardHits) spamScore += 100;\n    if (softHits >= 2) spamScore += 30;\n    if (links >= 5) spamScore += 30;\n    if (phones >= 4) spamScore += 30;\n    if (emojis >= 15) spamScore += 20;\n    if (tooShort) spamScore += 20;\n    if (positiveHits === 0) spamScore += 50;\n    \n    if (spamScore >= 80) rejectReason = \"high_spam_score\";\n  }\n\n  const isValuable = data.looksValuable !== false && !rejectReason;\n  results.push({ json: { ...data, looksValuable: isValuable, reject_reason: rejectReason, spamScore, positiveHits } });\n}\nreturn results;"
      },
      "id": "pre-ia-reject",
      "name": "Pre-Filter Unified",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [-2500, 500]
    },
    {
      "parameters": {
        "conditions": { "boolean": [{ "value1": "={{ $json.looksValuable }}", "value2": true }] }
      },
      "id": "guard-1",
      "name": "Guard Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [-2300, 500]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst results = [];\nconst store = $getWorkflowStaticData('global');\nif (!store.history) store.history = [];\nif (!store.lastSenders) store.lastSenders = {};\n\nconst now = Date.now();\nconst TTL = 86400000;\nconst BURST_WINDOW = 120000;\n\nstore.history = store.history.filter(h => now - h.time < TTL);\n\nfunction getHash(text) {\n  return crypto.createHash('md5').update(String(text || \"\").toLowerCase().trim()).digest('hex');\n}\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const sender = String(data.final_contact || data.sender_contact || \"\").replace(/\\D/g, \"\");\n  const fp = getHash(data.texto_limpio);\n\n  let isDuplicate = false;\n\n  if (sender && store.lastSenders[sender] && (now - store.lastSenders[sender].time < BURST_WINDOW)) {\n    isDuplicate = true;\n  }\n  if (!isDuplicate) {\n    isDuplicate = store.history.some(h => h.fp === fp);\n  }\n\n  if (!isDuplicate) {\n    store.history.push({ time: now, sender, fp });\n    if (sender) store.lastSenders[sender] = { time: now };\n    results.push(item);\n  }\n}\nreturn results;"
      },
      "id": "dedup",
      "name": "Dedup Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [-2100, 500]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### WORLDMODELS EXTRACTOR v22 ###\nTEXT: \"{{ $json.texto_limpio }}\"\n\n1. CATEGORY: \n- \"plaza\": Agency ADS, Model Tours, Work opportunities.\n- \"evento\": Parties, bookings.\n- \"trash\": Spam, personal chats, INDIVIDUAL ESCORTS PROMOTING THEMSELVES.\n\nIF VALID:\n2. TITLE: max 5 words.\n3. TRANSLATIONS: Translate full text to Spanish, English, Russian, Portuguese.\n4. CITY: Precise city.\n\nJSON SCHEMA:\n{\n  \"city\": \"City\",\n  \"budget\": \"Value\",\n  \"category\": \"plaza|evento|trash\",\n  \"title_es\": \"...\", \"text_es\": \"...\",\n  \"title_en\": \"...\", \"text_en\": \"...\",\n  \"title_ru\": \"...\", \"text_ru\": \"...\",\n  \"title_pt\": \"...\", \"text_pt\": \"...\",\n  \"contact\": \"Phone\",\n  \"trash\": boolean\n}"
      },
      "id": "ai-extractor",
      "name": "IA Extract",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [-1900, 500]
    },
    {
      "parameters": { "options": {} },
      "id": "ai-model",
      "name": "DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [-1900, 700],
      "credentials": { "deepSeekApi": { "id": "WoSvFWDtEwmPK8Qw", "name": "DeepSeek account" } }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const input = $input.first().json;\n  const meta = $(\"Dedup Hash\").first().json;\n  \n  let rawText = input.text || input.output || input.result || input.response?.text || input.response || input.data?.text || input.data?.content || input.output?.content || input.content || input.choices?.[0]?.message?.content || \"\";\n\n  if (!rawText && typeof input === 'object') {\n    const deepSearch = JSON.stringify(input);\n    const match = deepSearch.match(/\"content\":\"([^\"]+)\"/);\n    if (match) rawText = match[1];\n  }\n\n  let cleaned = rawText.replace(/```json/g, '').replace(/```/g, '').trim();\n  let jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) jsonMatch[0] = jsonMatch[0].replace(/\\n/g, ' ').replace(/\\r/g, ' ');\n\n  let jsonStr = jsonMatch ? jsonMatch[0] : \"\";\n  let parsed = {};\n  if (!jsonStr) return [{ json: { ...meta, trash: true, category: 'trash', debug_raw: rawText } }];\n  \n  try { parsed = JSON.parse(jsonStr); }\n  catch (ex) { return [{ json: { ...meta, trash: true, category: 'trash' } }]; }\n\n  function cleanContact(value) {\n    if (!value || value === \"Unknown\") return null;\n    if (typeof value === 'object') value = value.id || value.phone || value.number || JSON.stringify(value);\n    const digits = String(value).replace(/[^0-9]/g, '');\n    return digits.length >= 7 ? `+${digits}` : null;\n  }\n\n  const originalClean = cleanContact(meta.final_contact) || cleanContact(meta.sender_contact);\n  let normalizedContact = originalClean || null;\n  if (!normalizedContact && parsed.contact && parsed.contact !== 'Phone') normalizedContact = cleanContact(parsed.contact);\n  \n  const isTrash = parsed.category === 'trash' || parsed.trash === true;\n  return [{ json: { ...meta, ...parsed, contact: normalizedContact, final_contact: normalizedContact || meta.final_contact, trash: isTrash } }];\n} catch(e) { return [{json:{ trash:true, category:'trash', debug_error: e.message }}]; }"
      },
      "id": "parse",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [-1650, 500]
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\nconst text = String(item.text_es || \"\").toLowerCase();\nconst city = String(item.city || \"\").trim().toLowerCase();\nconst category = String(item.category || \"\").trim().toLowerCase();\n\nconst POSITIVE = [\"apartamento\", \"plaza\", \"agency\", \"agencia\", \"club\", \"booking\", \"tour\", \"models\", \"vacante\", \"malta\", \"london\", \"dubai\"];\nconst NEGATIVE = [\"crypto\", \"forex\", \"casino\", \"bank\", \"loan\", \"call center\"];\n\nconst positiveHits = POSITIVE.filter(k => text.includes(k)).length;\nconst negativeHits = NEGATIVE.filter(k => text.includes(k)).length;\nconst hasGoodCity = !!city && city !== \"global\" && city !== \"unknown\";\n\nlet reject = false, reason = null;\n\nif (category === \"trash\") { reject = true; reason = \"ai_trash\"; }\nelse if (negativeHits >= 1 && positiveHits === 0) { reject = true; reason = \"negative_signal\"; }\nelse if (!hasGoodCity && text.length < 150) { reject = true; reason = \"weak_lead\"; }\n\nreturn { ...item, looksValuableFinal: !reject, reject_reason_final: reason, postPositiveHits: positiveHits };"
      },
      "id": "post-filter",
      "name": "Post-Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [-1450, 500]
    },
    {
      "parameters": {
        "jsCode": "const store = $getWorkflowStaticData('global');\n\nif (!store.users) store.users = {};\nif (!store.banned) store.banned = {};\n\nconst results = [];\nconst now = Date.now();\n\n// Configuración del sistema de Auto-Ban\nconst BAN_TIME = 24 * 60 * 60 * 1000; // 24 horas\nconst MIN_MSGS = 5; // Mínimo de mensajes para evaluar ban\nconst MAX_BAD_RATIO = 0.7; // Si el 70% o más de sus mensajes son basura (trash), se banea\nconst WHITELIST = new Set([\"346xxxxxxx\", \"admin_id\"]);\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const sender = String(data.final_contact || data.sender_contact || \"unknown\");\n\n  // Si está en whitelist, pasa siempre sin contar\n  if (WHITELIST.has(sender)) {\n    results.push(item);\n    continue;\n  }\n\n  // Si no existe, inicializar usuario\n  if (!store.users[sender]) {\n    store.users[sender] = {\n      good: 0,\n      bad: 0,\n      total: 0\n    };\n  }\n\n  // Revisar si ya está baneado\n  if (store.banned[sender]) {\n    const ban = store.banned[sender];\n    if (now < ban.until) {\n      data.looksValuableFinal = false; // Forzamos el bloqueo\n      data.reject_reason_final = \"user_auto_banned\";\n      results.push(item);\n      continue;\n    } else {\n      // El ban expiró, le damos otra oportunidad\n      delete store.banned[sender];\n      store.users[sender] = { good: 0, bad: 0, total: 0 };\n    }\n  }\n\n  const user = store.users[sender];\n  user.total += 1;\n\n  // Evaluar si este mensaje actual es basura o bueno (según el nodo anterior)\n  if (data.looksValuableFinal === false || data.trash === true) {\n    user.bad += 1;\n  } else {\n    user.good += 1;\n  }\n\n  // Evaluar Ban si supera el umbral de mensajes enviados\n  if (user.total >= MIN_MSGS) {\n    const ratio = user.bad / user.total;\n    if (ratio >= MAX_BAD_RATIO) {\n      store.banned[sender] = {\n        until: now + BAN_TIME,\n        reason: \"high_spam_ratio\",\n        stats: { ...user }\n      };\n      // Marcamos el mensaje actual para que no pase\n      data.looksValuableFinal = false;\n      data.reject_reason_final = \"user_just_banned\";\n    }\n  }\n\n  results.push(item);\n}\n\nreturn results;"
      },
      "id": "abuse-guard",
      "name": "Abuse Guard (Auto-Ban)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [-1250, 500]
    },
    {
      "parameters": {
        "conditions": { "boolean": [{ "value1": "={{ $json.looksValuableFinal }}", "value2": true }] }
      },
      "id": "final-guard",
      "name": "Final Guard",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [-1050, 500]
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\nlet score = 0;\nscore += (item.positiveHits || 0) * 10;\nscore += (item.postPositiveHits || 0) * 15;\nif (item.contact) score += 30;\nif (item.category === 'plaza') score += 20;\nif (item.city && item.city !== 'Global') score += 15;\nif ((item.text_es || '').length > 300) score += 10;\nreturn { ...item, final_score: score };"
      },
      "id": "quality-score",
      "name": "Quality Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [-850, 500]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nfunction escapeHTML(text) { return String(text||'').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'); }\nfunction formatContact(val) { const s = String(val||'').replace(/[^0-9]/g, ''); return s.length>=7?`+${s}`:'No disponible'; }\n\nconst displayContact = formatContact(item.contact || item.final_contact);\nconst city = escapeHTML(item.city || 'Global');\nconst budget = escapeHTML(item.budget || 'Negociable');\nconst categoryStr = (item.category === 'plaza') ? 'Plazas' : 'Eventos';\n\nconst langs = [\n  { code: 'ES', tg: '-5283488138', wa: '120363425790792660@g.us', title: item.title_es, text: item.text_es, tag: 'Remitente' },\n  { code: 'EN', tg: '-1003757267210', wa: '120363408216646972@g.us', title: item.title_en, text: item.text_en, tag: 'Sender' },\n  { code: 'RU', tg: '-1003920309636', wa: '120363408298375271@g.us', title: item.title_ru, text: item.text_ru, tag: 'Отправитель' },\n  { code: 'PT', tg: '-1003727383883', wa: '120363426262586004@g.us', title: item.title_pt, text: item.text_pt, tag: 'Remetente' }\n];\n\nconst results = [];\nfor (const l of langs) {\n  const tgText = `<b>${escapeHTML(l.title)}</b>\\n🏷️ <b>${categoryStr}</b>\\n📍 <b>${city}</b>\\n💰 <b>${budget}</b>\\n\\n${escapeHTML(l.text)}\\n\\n👤 <b>${l.tag}:</b> ${displayContact}\\n🔌 <b>Fuente:</b> ${escapeHTML(item.platform)}`;\n  const waText = `*📢 ${l.title}*\\n📍 *${item.city}* | 💰 *${item.budget}*\\n\\n${l.text}\\n\\n👤 *${l.tag}:* ${displayContact}\\n🔌 *Fuente:* ${item.platform}`;\n  \n  results.push({\n    json: { ...item, route_lang: l.code, tg_chat: l.tg, tg_text: tgText, wa_chat: l.wa, wa_text: waText }\n  });\n}\nreturn results;"
      },
      "id": "router",
      "name": "Message Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [-650, 500]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_chat }}",
        "text": "={{ $json.tg_text }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-tg",
      "name": "Telegram Fanout",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [-350, 350],
      "credentials": { "telegramApi": { "id": "TC7QChVOx72xT6Kf", "name": "Telegram account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.156.186.149:3001/api/juana/send",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer shJOb5wskQMTyfoF20GLqmJOclA5if5j" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"to\": $json.wa_chat, \"body\": $json.wa_text } }}",
        "options": {}
      },
      "id": "send-wa",
      "name": "WhatsApp Fanout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-350, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.156.186.149:3001/api/leads",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  isGroup: true,\n  platform: $json.platform,\n  contact: $json.contact || $json.final_contact,\n  remoteJid: $json.platform === 'WhatsApp' ? $json.source_chat_id : ($json.source_chat_id + '@g.us'),\n  city: $json.city,\n  location: $json.city,\n  budget: $json.budget,\n  category: $json.category === 'evento' ? 'CAT_EVENTOS' : 'CAT_PLAZAS',\n  text_es: ($json.text_es || '').replace(/cocina/gi, 'area de servicio'),\n  title_es: $json.title_es,\n  text_en: $json.text_en,\n  title_en: $json.title_en,\n  text_ru: $json.text_ru,\n  title_ru: $json.title_ru,\n  text_pt: $json.text_pt,\n  title_pt: $json.title_pt\n} }}",
        "options": {}
      },
      "id": "post-backend",
      "name": "Post Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-350, 650],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook Telegram": { "main": [[{ "node": "Extract Metadata TG", "type": "main", "index": 0 }]] },
    "Webhook WhatsApp": { "main": [[{ "node": "Extract Metadata WA", "type": "main", "index": 0 }]] },
    "Extract Metadata TG": { "main": [[{ "node": "Pre-Filter Unified", "type": "main", "index": 0 }]] },
    "Extract Metadata WA": { "main": [[{ "node": "Pre-Filter Unified", "type": "main", "index": 0 }]] },
    "Pre-Filter Unified": { "main": [[{ "node": "Guard Filter", "type": "main", "index": 0 }]] },
    "Guard Filter": { "main": [[{ "node": "Dedup Hash", "type": "main", "index": 0 }]] },
    "Dedup Hash": { "main": [[{ "node": "IA Extract", "type": "main", "index": 0 }]] },
    "IA Extract": { "main": [[{ "node": "Parse JSON", "type": "main", "index": 0 }]] },
    "DeepSeek Chat Model": { "ai_languageModel": [[{ "node": "IA Extract", "type": "ai_languageModel", "index": 0 }]] },
    "Parse JSON": { "main": [[{ "node": "Post-Filter", "type": "main", "index": 0 }]] },
    "Post-Filter": { "main": [[{ "node": "Abuse Guard (Auto-Ban)", "type": "main", "index": 0 }]] },
    "Abuse Guard (Auto-Ban)": { "main": [[{ "node": "Final Guard", "type": "main", "index": 0 }]] },
    "Final Guard": { "main": [[{ "node": "Quality Score", "type": "main", "index": 0 }]] },
    "Quality Score": { "main": [[{ "node": "Message Router", "type": "main", "index": 0 }]] },
    "Message Router": {
      "main": [
        [
          { "node": "Telegram Fanout", "type": "main", "index": 0 },
          { "node": "WhatsApp Fanout", "type": "main", "index": 0 },
          { "node": "Post Backend", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
