n8n/lead_validator_workflow.json
{
  "name": "WorldModelsJobs - Lead Validator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "worldmodelsjobs-lead",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "worldmodelsjobs-lead"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst text = body.message || body.text || body.msg || body.content || body.lead || JSON.stringify(body);\nconst cleanText = String(text).replace(/\\s+/g, ' ').trim();\nconst digits = (cleanText.match(/\\d/g) || []).length;\nreturn [{\n  json: {\n    raw: body,\n    message: cleanText,\n    length: cleanText.length,\n    digits,\n    createdAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "2",
      "name": "Normalizar entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a1",
              "leftValue": "={{ $json.length }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "a2",
              "leftValue": "={{ $json.digits }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "3",
      "name": "Filtro: +50 chars y poco ruido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer TU_DEEPSEEK_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"temperature\": 0,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un validador y extractor de leads para WorldModels&Jobs. Devuelve EXCLUSIVAMENTE JSON válido, sin markdown, sin texto adicional. Formato exacto: {\\\"valid\\\":true,\\\"name\\\":null,\\\"phone\\\":null,\\\"email\\\":null,\\\"country\\\":null,\\\"message\\\":null,\\\"summary\\\":null,\\\"reason\\\":null,\\\"language\\\":\\\"other\\\"}. Reglas: valid=true solo si el mensaje tiene sentido, al menos 50 caracteres útiles, intención real de contacto/trabajo/modelo/casting/colaboración/consulta y además contiene al menos uno entre nombre, teléfono o email. valid=false si es spam, incoherente, solo números/símbolos, fake o sin intención clara. Si no encuentras un campo devuelve null. Limpia el teléfono dejando solo dígitos y opcional prefijo +. No inventes datos.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message }}\"\n    }\n  ]\n}"
      },
      "id": "4",
      "name": "DeepSeek Validar Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "let content = $json.choices?.[0]?.message?.content || '';\ncontent = String(content).trim();\n\ntry {\n  const parsed = JSON.parse(content);\n  return [{ json: parsed }];\n} catch (e) {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try {\n      const parsed = JSON.parse(match[0]);\n      return [{ json: parsed }];\n    } catch (e2) {}\n  }\n  return [{\n    json: {\n      valid: false,\n      name: null,\n      phone: null,\n      email: null,\n      country: null,\n      message: null,\n      summary: 'invalid output',\n      reason: 'DeepSeek no devolvió JSON válido',\n      language: 'other'\n    }\n  }];\n}"
      },
      "id": "5",
      "name": "Parsear respuesta IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b1",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "6",
      "name": "Filtro: válido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1460,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://TU-PROYECTO.firebaseio.com/leads.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": {{ JSON.stringify($json.name) }},\n  \"phone\": {{ JSON.stringify($json.phone) }},\n  \"email\": {{ JSON.stringify($json.email) }},\n  \"country\": {{ JSON.stringify($json.country) }},\n  \"message\": {{ JSON.stringify($json.message) }},\n  \"summary\": {{ JSON.stringify($json.summary) }},\n  \"reason\": {{ JSON.stringify($json.reason) }},\n  \"language\": {{ JSON.stringify($json.language) }},\n  \"valid\": {{ $json.valid }},\n  \"createdAt\": {{ JSON.stringify(new Date().toISOString()) }}\n}"
      },
      "id": "7",
      "name": "Guardar en Firebase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"saved\": true,\n  \"lead\": $json\n}"
      },
      "id": "8",
      "name": "Respuesta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1940,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": false,\n  \"saved\": false,\n  \"reason\": \"Lead no válido o mensaje insuficiente\"\n}"
      },
      "id": "9",
      "name": "Respuesta rechazo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        980,
        420
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalizar entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar entrada": {
      "main": [
        [
          {
            "node": "Filtro: +50 chars y poco ruido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro: +50 chars y poco ruido": {
      "main": [
        [
          {
            "node": "DeepSeek Validar Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Validar Lead": {
      "main": [
        [
          {
            "node": "Parsear respuesta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear respuesta IA": {
      "main": [
        [
          {
            "node": "Filtro: válido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro: válido": {
      "main": [
        [
          {
            "node": "Guardar en Firebase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Firebase": {
      "main": [
        [
          {
            "node": "Respuesta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "worldmodelsjobs-lead-validator",
  "tags": []
}