legacy_scripts/A0QpoDzX559wzRXQ_utf8.json
{"nodes": [{"parameters": {"httpMethod": "POST", "path": "telegram-wm-2024", "options": {}}, "id": "ad3f4da0-5dc2-4c8e-be0a-ed76292c6b12", "name": "Webhook Telegram", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [-3200, 160], "webhookId": "0636d1ec-a349-4eec-8e84-c913a1949e96"}, {"parameters": {"httpMethod": "POST", "path": "1fd718d6-49f8-43dc-a881-ff7ecf7b94ef", "options": {}}, "id": "a129cf17-ceef-4b56-92c0-43248fb6a4eb", "name": "Webhook WhatsApp", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [-3200, 608], "webhookId": "307fea47-4b3a-4883-8af5-5a4a64b48b02"}, {"parameters": {"jsCode": "const item = $json;\n\n// Solo bloqueamos si es TRASH absoluto o si ya fue rechazado por Guard\nif (item.category === 'trash' || item.trash === true) return [];\n\nlet score = 0;\n// Scoring din\u00e1mico para el feed\nif (item.category === 'evento') score += 50;\nif (item.category === 'plaza') score += 20;\nif (item.city && item.city !== 'Global') score += 15;\nif ((item.text_es || '').length > 200) score += 10;\n\nreturn [{ json: { ...item, final_score: score } }];"}, "id": "fd8dc94d-b581-46e9-80b5-7900c7ce3a40", "name": "Quality Score", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [-496, 160]}, {"parameters": {"jsCode": "const item = $input.first()?.json || {};\nfunction escapeHTML(text) { return String(text||'').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'); }\n\nconst langs = [\n  { code: 'ES', tg: '-5283488138', title: item.title_es || 'Nuevo Lead', text: item.text_es || item.texto_limpio, tag: 'Remitente' }\n];\n\nconst results = [];\nfor (const l of langs) {\n  function formatOutputContact(val, mode) {\n    if (!val || val === 'Desconocido' || val === 'No disponible') return 'No disponible';\n    if (String(val).startsWith('tg_id_')) {\n      const id = val.replace('tg_id_', '');\n      return mode === 'html' ? `<a href=\"tg://user?id=${id}\">Chat Directo</a>` : `ID: ${id}`;\n    }\n    if (/[a-zA-Z]/.test(val) && !/\\d/.test(val)) {\n       const user = String(val).replace('@', '');\n       return mode === 'html' ? `<a href=\"https://t.me/${user}\">@${user}</a>` : `@${user}`;\n    }\n    const s = String(val).replace(/[^0-9]/g, '');\n    return s.length >= 7 ? `+${s}` : val;\n  }\n\n  const tgContact = formatOutputContact(item.contact || item.final_contact, 'html');\n\n  const categoryStr = (item.category === 'plaza') ? 'Plazas' : 'Eventos';\n\n  const tgText = `<b>${escapeHTML(l.title)}</b>\\n\ud83c\udff7\ufe0f <b>${categoryStr}</b>\\n\ud83d\udccd <b>${escapeHTML(item.city || 'Desconocida')}</b>\\n\ud83d\udcb0 <b>${escapeHTML(item.budget || 'Negociable')}</b>\\n\\n${escapeHTML(l.text || 'Sin texto')}\\n\\n\ud83d\udc64 <b>${l.tag}:</b> ${tgContact}\\n\ud83d\udd0c <b>Fuente:</b> ${escapeHTML(item.platform || 'WhatsApp')}`;\n  \n  results.push({\n    json: { ...item, route_lang: l.code, tg_chat: l.tg, tg_text: tgText }\n  });\n}\nreturn results;"}, "id": "a7dccef0-23ad-4271-9f5e-0e78a3304fb0", "name": "Message Router", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [-304, 160]}, {"parameters": {"chatId": "={{ $json.tg_chat }}", "text": "={{ $json.tg_text }}", "additionalFields": {"parse_mode": "HTML"}}, "id": "d032af63-5890-482e-bfd6-24699aa8c80d", "name": "Telegram Fanout", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [0, 0], "webhookId": "d8d68b16-0b29-41c1-8f44-550a3c8a2254", "credentials": {"telegramApi": {"id": "wNTTBS9Bhu4RrC6o", "name": "Telegram account"}}}, {"parameters": {"method": "POST", "url": "http://178.156.186.149:3001/api/juana/send", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer shJOb5wskQMTyfoF20GLqmJOclA5if5j"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ { \"to\": $json.wa_chat, \"body\": $json.wa_text || $json.tg_text } }}", "options": {}}, "id": "3831a836-c9f5-4c05-ac41-2480f21332a2", "name": "WhatsApp Fanout", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [0, 160], "continueOnFail": true}, {"parameters": {"method": "POST", "url": "http://178.156.186.149:3001/api/leads", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ {\n  \"isGroup\": true,\n  \"platform\": $json.platform,\n  \"contact\": $json.contact,\n  \"source_chat_id\": $json.source_chat_id,\n  \"city\": $json.city,\n  \"location\": $json.city,\n  \"budget\": $json.budget,\n  \"category\": $json.category,\n  \"text_es\": $json.text_es,\n  \"title_es\": $json.title_es\n} }}", "options": {}}, "id": "84fbc714-3a7d-4df5-8851-91f11300dd5a", "name": "Post Backend", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [0, 320], "continueOnFail": true}, {"parameters": {"jsCode": "// DYNAMIC ROUTING ENGINE v6.0 (WORLDWIDE COMPATIBLE)\nlet leadData = {};\ntry { leadData = $node[\"Parse JSON1\"].json; } catch(e) { return []; }\nconst category = String(leadData.category || 'evento').toLowerCase();\nconst cityDetected = String(leadData.city || 'global').toLowerCase();\nconst text = String(leadData.text_es || '').toLowerCase();\n\nconst routingTable = {\n  \"madrid\": {\n    keywords: [\"madrid\", \"barajas\", \"serrano\", \"pozuelo\"],\n    targets: [\n      { to: \"34664266926@s.whatsapp.net\", label: \"MADRID\" },\n      { to: \"34603346859@s.whatsapp.net\", label: \"MADRID\" }\n    ]\n  },\n  \"ibiza\": {\n    keywords: [\"ibiza\", \"eivissa\", \"mansour\", \"pacha\", \"lio\", \"ushuaia\", \"sant antoni\"],\n    targets: [\n      { to: \"34662058447@s.whatsapp.net\", label: \"IBIZA\" },\n      { to: \"34642107796@s.whatsapp.net\", label: \"IBIZA\" }\n    ]\n  },\n  \"london\": {\n    keywords: [\"london\", \"londres\", \"mayfair\", \"soho\", \"chelsea\"],\n    targets: [\n      { to: \"120363425790792660@g.us\", label: \"LONDON\" }\n    ]\n  },\n  \"miami\": {\n    keywords: [\"miami\", \"south beach\", \"brickell\", \"miami beach\"],\n    targets: [\n      { to: \"17862812324@s.whatsapp.net\", label: \"MIAMI\" },\n      { to: \"525532110621@s.whatsapp.net\", label: \"MIAMI\" }\n    ]\n  },\n  \"paris\": {\n    keywords: [\"paris\", \"francia\", \"france\", \"champs\"],\n    targets: [\n      { to: \"33744156314@s.whatsapp.net\", label: \"PARIS\" }\n    ]\n  },\n  \"monaco\": {\n    keywords: [\"monaco\", \"viena\", \"vienna\", \"monte carlo\"],\n    targets: [\n      { to: \"120363425790792660@g.us\", label: \"GLOBAL\" }\n    ]\n  }\n};\n\nlet matchedTargets = [];\n\n// 1. PRIORITY: Explicit City Match (from IA detection)\nif (routingTable[cityDetected]) {\n    matchedTargets = [...routingTable[cityDetected].targets];\n}\n\n// 2. SECONDARY: Keyword Match\nif (matchedTargets.length === 0) {\n    for (const [key, config] of Object.entries(routingTable)) {\n        if (config.keywords.some(kw => text.includes(kw))) {\n             matchedTargets = [...matchedTargets, ...config.targets];\n        }\n    }\n}\n\n// 3. FALLBACK: Global feed (WORLDWIDE - Any city that reaches here)\nif (matchedTargets.length === 0 && (category === 'evento' || category === 'plaza')) {\n  matchedTargets.push({ to: \"120363425790792660@g.us\", label: (cityDetected !== 'global' ? cityDetected.toUpperCase() : 'GLOBAL') });\n}\n\n// Ensure unique targets\nconst uniqueTargets = Array.from(new Set(matchedTargets.map(t => t.to)))\n  .map(to => matchedTargets.find(t => t.to === to));\n\nif (uniqueTargets.length === 0) return [];\n\nreturn uniqueTargets.map(t => ({\n  json: { \n    ...leadData, \n    target_wa: t.to, \n    city_label: t.label \n  }\n}));"}, "id": "4948e649-2714-4179-af3e-7f9f6241900b", "name": "Dynamic Routing Engine", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [-304, 480]}, {"parameters": {"amount": 2}, "id": "0699e23c-501f-4ec9-a085-df3f95a945d0", "name": "Global Alert Waiter", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [-112, 480], "webhookId": "7346090a-61ac-4f37-b4b1-e3bd8cca24c9"}, {"parameters": {"method": "POST", "url": "http://178.156.186.149:3001/api/juana/send", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer shJOb5wskQMTyfoF20GLqmJOclA5if5j"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ { \"to\": $json.target_wa, \"body\": \"*\ud83d\udce2 \" + ($json.title_es || \"Nuevo Lead\") + \"*\\n\ud83d\udccd *\" + ($json.city || \"Desconocida\") + \"* | \ud83d\udcb0 *\" + ($json.budget || \"Negociable\") + \"*\\n\\n\" + ($json.text_es || \"Sin descripci\u00f3n\") + \"\\n\\n\ud83d\udc64 *Remitente:* \" + ($json.contact || \"Desconocido\") + \"\\n\ud83d\udd0c *Fuente:* \" + ($json.platform || \"WhatsApp\") } }}", "options": {}}, "id": "c9036d44-4bab-4727-adfd-f28b73febb40", "name": "Dynamic WhatsApp Alert", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [80, 480], "continueOnFail": true}, {"parameters": {"jsCode": "const input = $input.first().json;\nconst item = input.message || input.body || input;\nconst textBody = item.text || item.caption || item.message?.text || '';\n\nfunction findContact(obj) {\n  if (!obj || typeof obj !== 'object') return null;\n  const contact = obj.contact || obj.sender_contact || obj.from || obj.sender?.wa_id || '';\n  if (typeof contact === 'string') {\n    if (contact.includes('t.me/')) return contact.split('t.me/')[1];\n    if (contact.startsWith('tg_id_')) return contact;\n    if (contact.startsWith('@')) return contact;\n    if (/^\\d{7,15}$/.test(contact)) return 'tg_id_' + contact;\n  }\n  return null;\n}\n\nlet sc = findContact(item) || findContact(input);\nif (sc && !sc.startsWith('tg_id_')) {\n  sc = sc.trim();\n  if (!sc.startsWith('@')) sc = '@' + sc;\n}\n\nconst sourceChatId = item.chatId || item.chat?.id || input.source_chat_id || '';\n\nreturn [{ json: {\n  ...item,\n  platform: 'Telegram',\n  sender_contact: sc || 'No_Username',\n  final_contact: sc || 'No_Username',\n  source_chat_id: sourceChatId,\n  texto_limpio: textBody.trim(),\n  looksValuable: textBody.length > 5\n}}];"}, "id": "b9101450-7975-4a31-861e-34d255f06d9a", "name": "Extract Metadata TG1", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [-2848, 736]}, {"parameters": {"jsCode": "const input = $input.first().json;\nconst item = input.message || (input.messages && input.messages[0]) || input.body || input;\n\n// Extraer el texto de forma robusta (mirando caption para fotos)\nfunction getText(obj) {\n    if (!obj) return '';\n    if (typeof obj === 'string') return obj;\n    // Prioridades: 1. Caption (fotos), 2. text.body (whapi), 3. text (general)\n    let t = obj.caption || (obj.text && (obj.text.body || obj.text)) || obj.body || '';\n    if (typeof t === 'object') {\n        t = t.body || t.text || JSON.stringify(t);\n    }\n    return String(t);\n}\n\nconst textBody = getText(item) || getText(input);\n\nfunction getPhone(val) {\n  if (!val) return null;\n  let s = '';\n  if (typeof val === 'object') {\n    s = String(val.id || val.author || val.from || val.phone || val.number || val.wa_id || val.remoteJid || '');\n  } else {\n    s = String(val);\n  }\n  if (s.includes('@g.us') || s.includes('-')) return null;\n  const digits = s.replace(/\\D/g, '');\n  return (digits.length >= 7 && digits.length <= 15) ? digits : null;\n}\n\nconst sc = getPhone(item.author) || getPhone(item.from) || getPhone(item.sender) || getPhone(input.sender?.wa_id) || getPhone(input.contact) || \"No disponible\";\nconst sourceChatId = item.chat_id || item.chatId || input.source_chat_id || null;\n\nreturn [{ json: {\n  ...item,\n  platform: \"WhatsApp\",\n  sender_contact: sc,\n  final_contact: sc,\n  source_chat_id: sourceChatId,\n  texto_limpio: textBody.trim(),\n  looksValuable: textBody.trim().length > 5\n}}];"}, "id": "40d6fc1b-abca-45cb-8d1b-73dca44a6340", "name": "Extract Metadata WA1", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [-2848, 928]}, {"parameters": {"jsCode": "const results = [];\nconst HARD_BLOCK = new Set([\"crypto\", \"binance\", \"casino\", \"usdt\", \"bitcoin\", \"wallet\", \"trading\", \"ganar dinero\", \"\u0438\u043d\u0434\u0438\", \"\u043a\u043e\u043d\u0442\u0435\u043d\u0442\", \"onlyfans\", \"\u0432\u0438\u0440\u0442\", \"sugar baby\", \"sugar daddy\", \"anal\", \"masaje erotico\", \"ingles\", \"english\"]);\nconst BANNED_PREFIXES = [\"58\", \"57\", \"92\", \"91\", \"62\"];\n\nfunction norm(v) { return String(v || \"\").toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\"); }\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const text = norm(data.texto_limpio);\n  const sender = String(data.final_contact).replace(/\\D/g, \"\");\n\n  let rejectReason = null;\n  if (BANNED_PREFIXES.some(p => sender.startsWith(p))) rejectReason = \"prefix_banned\";\n  else if (HARD_BLOCK.has(text)) rejectReason = \"hard_block_match\";\n\n  results.push({ json: { ...data, looksValuable: !rejectReason, reject_reason: rejectReason } });\n}\nreturn results;"}, "id": "10301e4a-86a0-4881-8c88-af30387385f2", "name": "Pre-Filter Unified1", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [-2544, 832]}, {"parameters": {"jsCode": "const results = [];\nconst store = $getWorkflowStaticData('global');\nif (!store.history) store.history = [];\n\nconst now = Date.now();\nconst TTL = 86400000;\nstore.history = store.history.filter(h => now - h.time < TTL);\n\nfor (const item of $input.all()) {\n  const fp = String(item.json.texto_limpio).substring(0, 100);\n  if (!store.history.some(h => h.fp === fp)) {\n    store.history.push({ time: now, fp });\n    results.push(item);\n  }\n}\nreturn results;"}, "id": "ee6c6546-b028-4442-b89a-a41f830bd326", "name": "Dedup Hash1", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [-2144, 832]}, {"parameters": {"promptType": "define", "text": "=### WORLDMODELS QUALITY ENGINE v5.2 (ULTRA PRECISION) ###\nTEXT: \"{{ $json.texto_limpio }}\"\n\nCLASSIFICATION RULES:\n\n1. EVENTO (Client Requests / Immediate Leads) - HIGH PRIORITY:\n   - DIRECT REQUESTS: \"Busco chica para ahora\", \"Disponible en Madrid?\", \"Outcall 1h\", \"Dinner tonight\".\n   - REAL TIME: Messages mentioning \"Ahora\", \"Hoy\", \"Esta noche\", \"ASAP\", or specific times.\n   - TOURS & CASTINGS: \"Casting para marca\", \"Haciendo tour en Ibiza\".\n   - CONTEXT: A client or agency looking for someone for something SPECIFIC and immediate.\n\n2. PLAZA (Job Offers / Vacancies):\n   - FIXED POSITIONS: \"Buscamos chica fija para club\", \"Plaza libre en agencia\", \"Hiring for season\".\n   - AGENCY CASTINGS: \"Buscando caras nuevas\", \"Env\u00eden disponibilidad para mayo\".\n   - ACCOMMODATION: \"Habitaci\u00f3n para modelos\", \"Piso disponible para trabajar\".\n   - CONTEXT: An agency or organizer offering stable work, vacancies, or housing.\n\n3. TRASH (Discard):\n   - INDIVIDUAL SELF-PROMOTION: \"Hola soy Maria, disponible en Madrid\", \"Soy modelo, contratadme\". (Only if the model is offering HERSELF).\n   - CASUAL CHAT: Greetings, questions without an offer, or maintenance messages.\n   - SPAM: Crypto, random links, unrelated ads.\n\nCRITICAL: \n- If an AGENCY or CLUB asks \"Who is available?\", \"Seeking models\", or posts a job offer (even for the future), it is a PLAZA or EVENTO, NOT trash.\n- If a CLIENT asks to meet, it is an EVENTO, NOT trash.\n- If the city is NOT mentioned but the text mentions a club name (like Mansour, Lio, Pacha), try to infer the city or output \"Ibiza\" if it's a known Ibiza spot.\n\nOUTPUT JSON:\n{\n  \"city\": \"City Name (e.g. Ibiza, Madrid, Miami, Paris)\",\n  \"budget\": \"Value\",\n  \"category\": \"plaza|evento|trash\",\n  \"detected_lang\": \"ES|EN|RU|PT\",\n  \"title_es\": \"Short descriptive title\",\n  \"text_es\": \"Clean and translated text\",\n  \"trash\": false\n}"}, "id": "4eee9fad-92ea-4b99-aa5f-e0b2e8629efb", "name": "IA Extract1", "type": "@n8n/n8n-nodes-langchain.chainLlm", "typeVersion": 1.4, "position": [-1952, 832]}, {"parameters": {"model": "deepseek-v4-flash", "options": {}}, "id": "44be219a-52ac-4710-94e1-9b7a8be95eb1", "name": "DeepSeek Chat Model1", "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek", "typeVersion": 1, "position": [-1952, 1024], "credentials": {"deepSeekApi": {"id": "B7kPB7i2l2oQh9UM", "name": "DeepSeek account"}}}, {"parameters": {"jsCode": "// PARSE JSON v5.8 (METADATA PRESERVE)\nconst input = $json;\nconst rawText = input.output || input.text || \"\";\nconst cleanText = rawText.replace(/```json|```/g, '').trim();\n\n// RECUPERAR METADATA PERDIDA (prioridad absoluta a los nodos de extracci\u00f3n)\nlet metadataWA = {};\ntry { metadataWA = $node[\"Extract Metadata WA1\"].json || {}; } catch (e) {}\nlet metadataTG = {};\ntry { metadataTG = $node[\"Extract Metadata TG1\"].json || {}; } catch (e) {}\n\nconst platform = metadataWA.platform || metadataTG.platform || input.platform || \"WhatsApp\";\nlet contact = metadataWA.final_contact || metadataTG.final_contact || input.sender_contact || input.final_contact || \"Desconocido\";\n\n// Si el contacto es un ID de grupo, lo marcamos como Desconocido\nif (String(contact).includes('@g.us') || String(contact).length > 20) { contact = \"Desconocido\"; } else if (/^\\d{7,15}$/.test(String(contact))) { contact = '+' + contact; } \n\nlet parsed = {};\ntry {\n  if (cleanText) parsed = JSON.parse(cleanText);\n} catch (e) {\n  const catMatch = cleanText.match(/\"category\"\\s*:\\s*\"(.*?)\"/i);\n  if (catMatch) parsed.category = catMatch[1];\n}\n\nconst lowerRaw = (input.texto_limpio || metadataWA.texto_limpio || metadataTG.texto_limpio || \"\").toLowerCase();\nconst isJobish = lowerRaw.includes(\"busco\") || lowerRaw.includes(\"disponible\") || lowerRaw.length > 20;\n\nconst finalData = {\n  platform,\n  contact,\n  source_chat_id: metadataWA.source_chat_id || metadataTG.source_chat_id || input.source_chat_id || \"0\",\n  city: parsed.city || \"Global\",\n  budget: parsed.budget || \"Negociable\",\n  category: (parsed.category || (isJobish ? \"evento\" : \"trash\")).toLowerCase(),\n  text_es: parsed.text_es || input.texto_limpio || lowerRaw || \"Sin descripci\u00f3n\",\n  title_es: parsed.title_es || (lowerRaw ? lowerRaw.substring(0, 40) : \"Nuevo Lead\"),\n  trash: parsed.trash === true || (parsed.category === 'trash' && !isJobish) || false\n};\n\nconst highValueKeywords = [\"mansour\", \"ibiza\", \"lio\", \"pacha\", \"monaco\", \"viena\", \"dubai\", \"manila\"];\nif (highValueKeywords.some(kw => lowerRaw.includes(kw))) {\n  finalData.trash = false;\n  if (finalData.category === 'trash') finalData.category = \"evento\";\n}\n\nreturn [{ json: finalData }];"}, "id": "fa17aaee-afcd-4593-a1b8-bc2c36718f3e", "name": "Parse JSON1", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [-1696, 832]}, {"parameters": {"conditions": {"string": [{"value1": "={{ $json.category }}", "operation": "notEqual", "value2": "trash"}]}}, "id": "ac08c30e-8743-4319-9f0c-e9abe45e52d9", "name": "Final Guard1", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [-1104, 832]}, {"parameters": {"jsCode": "const rawData = JSON.stringify($json);\nconst results = [];\n// Regex muy amplio para pillar chat.whatsapp.com y wa.me (con o sin /invite/)\nconst linkRegex = /(?:https?:\\/\\/)?(?:chat\\.whatsapp\\.com|wa\\.me)\\/(?:invite\\/)?[a-zA-Z0-9_-]{10,50}/g;\nconst matches = rawData.match(linkRegex);\n\nif (matches) {\n  // Eliminamos duplicados en el mismo mensaje\n  const uniqueMatches = [...new Set(matches)];\n  \n  for (let match of uniqueMatches) {\n    // Normalizar a https://chat.whatsapp.com/...\n    if (!match.startsWith(\"http\")) {\n      match = \"https://\" + match;\n    }\n    // Si es wa.me, lo dejamos pasar tal cual o lo marcamos\n    \n    results.push({ \n      json: { \n        link: match, \n        platform: $json.platform || \"Unknown\", \n        source: $json.source_chat_id || \"Direct\"\n      } \n    });\n  }\n}\nreturn results;"}, "id": "9eed26ca-89cb-43f2-bd32-7b44a355cd95", "name": "Link Extractor", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [-2496, 1104]}, {"parameters": {"chatId": "-1003900864818", "text": "=\ud83d\udd17 *Nuevo Grupo Detectado*\nEnlace: {{ $json.link }}\nPlataforma: {{ $json.platform }}\nFuente: {{ $json.source }}", "additionalFields": {"parse_mode": "Markdown"}}, "id": "0220c806-b05b-430b-b1fe-f4eb66cbb758", "name": "Telegram Link Alert", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [-2304, 1104], "webhookId": "0de194dd-7569-453e-a685-57b13de90441", "credentials": {"telegramApi": {"id": "wNTTBS9Bhu4RrC6o", "name": "Telegram account"}}}], "connections": {"Webhook Telegram": {"main": [[{"node": "Extract Metadata TG1", "type": "main", "index": 0}]]}, "Webhook WhatsApp": {"main": [[{"node": "Extract Metadata WA1", "type": "main", "index": 0}]]}, "Extract Metadata TG1": {"main": [[{"node": "Pre-Filter Unified1", "type": "main", "index": 0}, {"node": "Link Extractor", "type": "main", "index": 0}]]}, "Extract Metadata WA1": {"main": [[{"node": "Pre-Filter Unified1", "type": "main", "index": 0}, {"node": "Link Extractor", "type": "main", "index": 0}]]}, "Pre-Filter Unified1": {"main": [[{"node": "Dedup Hash1", "type": "main", "index": 0}]]}, "Dedup Hash1": {"main": [[{"node": "IA Extract1", "type": "main", "index": 0}]]}, "IA Extract1": {"main": [[{"node": "Parse JSON1", "type": "main", "index": 0}]]}, "DeepSeek Chat Model1": {"ai_languageModel": [[{"node": "IA Extract1", "type": "ai_languageModel", "index": 0}]]}, "Parse JSON1": {"main": [[{"node": "Final Guard1", "type": "main", "index": 0}]]}, "Final Guard1": {"main": [[{"node": "Quality Score", "type": "main", "index": 0}]]}, "Quality Score": {"main": [[{"node": "Message Router", "type": "main", "index": 0}, {"node": "Post Backend", "type": "main", "index": 0}, {"node": "Dynamic Routing Engine", "type": "main", "index": 0}]]}, "Message Router": {"main": [[{"node": "Telegram Fanout", "type": "main", "index": 0}, {"node": "WhatsApp Fanout", "type": "main", "index": 0}]]}, "Dynamic Routing Engine": {"main": [[{"node": "Global Alert Waiter", "type": "main", "index": 0}]]}, "Global Alert Waiter": {"main": [[{"node": "Dynamic WhatsApp Alert", "type": "main", "index": 0}]]}, "Link Extractor": {"main": [[{"node": "Telegram Link Alert", "type": "main", "index": 0}]]}}}
