legacy_scripts/patched_latest.json
{
  "updatedAt": "2026-06-05T21:32:31.139Z",
  "createdAt": "2026-06-02T09:34:19.668Z",
  "id": "A0QpoDzX559wzRXQ",
  "name": "WorldModels Enterprise Engine v5 (Fixed & Global)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-wm-2024",
        "options": {}
      },
      "id": "ad3f4da0-5dc2-4c8e-be0a-ed76292c6b12",
      "name": "Webhook Telegram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3200,
        160
      ],
      "webhookId": "0636d1ec-a349-4eec-8e84-c913a1949e96"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1fd718d6-49f8-43dc-a881-ff7ecf7b94ef",
        "options": {}
      },
      "id": "a129cf17-ceef-4b56-92c0-43248fb6a4eb",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3200,
        608
      ],
      "webhookId": "307fea47-4b3a-4883-8af5-5a4a64b48b02"
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\n\n// Solo bloqueamos si es TRASH absoluto o si ya fue rechazado por Guard\nif (item.category === 'trash' || item.trash === true) return [];\n\nlet score = 0;\n// Scoring dinámico para el feed\nif (item.category === 'evento') score += 50;\nif (item.category === 'plaza') score += 20;\nif (item.city && item.city !== 'Global') score += 15;\nif ((item.text_es || '').length > 200) score += 10;\n\nreturn [{ json: { ...item, final_score: score } }];"
      },
      "id": "fd8dc94d-b581-46e9-80b5-7900c7ce3a40",
      "name": "Quality Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -496,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first()?.json || {};\nfunction escapeHTML(text) { return String(text||'').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'); }\n\nconst langs = [\n  { code: 'ES', tg: '-5283488138', wa: '120363425790792660@g.us', title: item.title_es || 'Nuevo Lead', text: item.text_es || item.texto_limpio, tag: 'Remitente' },\n  { code: 'EN', tg: '-1003757267210', wa: '120363408216646972@g.us', title: item.title_en || item.title_es || 'New Lead', text: item.text_en || item.text_es || item.texto_limpio, tag: 'Sender' },\n  { code: 'RU', tg: '-1003920309636', wa: '120363408298375271@g.us', title: item.title_ru || item.title_es || 'Новый Лид', text: item.text_ru || item.text_es || item.texto_limpio, tag: 'Отправитель' },\n  { code: 'PT', tg: '-1003727383883', wa: '120363426262586004@g.us', title: item.title_pt || item.title_es || 'Novo Lead', text: item.text_pt || item.text_es || item.texto_limpio, tag: 'Remetente' }\n];\n\n// --- INJECTED: COSTA AZUL CLIENT (PORTUGUESE) ---\nfunction normalize(str) { return str.normalize(\"NFD\").replace(/[̀-ͯ]/g, \"\"); }\nconst cityRaw = normalize(String(item.city || 'Global').toLowerCase());\nconst textRaw = normalize(String(item.text_es || '').toLowerCase());\nconst monacoRegex = /\\b(monaco|cannes|niza|nice|monte carlo|côte d'azur)\\b/i;\nif (monacoRegex.test(cityRaw) || monacoRegex.test(textRaw)) {\n  // Envía a la clienta (Telegram)\n  langs.push({ code: 'PT_CLIENT', tg: '5479166354', wa: '5511953600828@s.whatsapp.net', title: item.title_pt || item.title_es || 'Novo Lead', text: item.text_pt || item.text_es || item.texto_limpio, tag: 'Remetente' });\n  // Envía a la clienta 2 (Telegram y WhatsApp)\n  langs.push({ code: 'PT_CLIENT_2', tg: '8799609531', wa: '33672474796@s.whatsapp.net', title: item.title_pt || item.title_es || 'Novo Lead', text: item.text_pt || item.text_es || item.texto_limpio, tag: 'Remetente' });\n  // Envía al grupo de referencias\n    // Cliente 3 (Nuevo Telegram)\n  langs.push({ code: 'PT_CLIENT_3', tg: '8653719069', title: item.title_pt || item.title_es || 'Novo Lead', text: item.text_pt || item.text_es || item.texto_limpio, tag: 'Remetente' });\n  langs.push({ code: 'PT_GROUP', tg: '-1003918368381', title: item.title_pt || item.title_es || 'Novo Lead', text: item.text_pt || item.text_es || item.texto_limpio, tag: 'Remetente' });\n}\n// -----------------------------------\n\nconst results = [];\nfor (const l of langs) {\n  function formatOutputContact(val, mode) {\n    if (!val || val === 'Desconocido' || val === 'No disponible') return 'No disponible';\n    if (String(val).startsWith('tg_id_')) {\n      const id = val.replace('tg_id_', '');\n      return mode === 'html' ? `<a href=\"tg://user?id=${id}\">Chat Directo</a>` : `ID: ${id}`;\n    }\n    if (/[a-zA-Z]/.test(val) && !/\\d/.test(val)) {\n       const user = String(val).replace('@', '');\n       return mode === 'html' ? `<a href=\"https://t.me/${user}\">@${user}</a>` : `@${user}`;\n    }\n    const s = String(val).replace(/[^0-9]/g, '');\n    return s.length >= 7 ? `+${s}` : val;\n  }\n\n  const tgContact = formatOutputContact(item.contact || item.final_contact, 'html');\n  const waContact = formatOutputContact(item.contact || item.final_contact, 'text');\n\n  const isPt = l.code.startsWith('PT');\n  const categoryStr = (item.category === 'plaza') ? (isPt ? 'Vagas' : 'Plazas') : 'Eventos';\n  const unkCity = isPt ? 'Desconhecida' : 'Desconocida';\n  const unkBudget = isPt ? 'Negociável' : 'Negociable';\n  const noText = isPt ? 'Sem descrição' : 'Sin texto';\n  const sourceLabel = isPt ? 'Fonte' : 'Fuente';\n\n  let finalTgContact = tgContact;\n  let finalWaContact = waContact;\n  \n  if (l.isPublic) {\n    finalTgContact = `<a href=\"https://t.me/TuCuentaVIP\">🔐 Скрыт (Доступно в VIP)</a>`;\n    finalWaContact = `🔐 Скрыт (Доступно в VIP)`;\n  }\n\n  const tgText = `<b>${escapeHTML(l.title)}</b>\\n📍 <b>${categoryStr}</b>\\n🏢 <b>${escapeHTML(item.city || unkCity)}</b>\\n💰 <b>${escapeHTML(item.budget || unkBudget)}</b>\\n\\n${escapeHTML(l.text || noText)}\\n\\n📲 <b>${l.tag}:</b> ${finalTgContact}\\n🌐 <b>${sourceLabel}:</b> ${escapeHTML(item.platform || 'WhatsApp')}`;\n  const waText = `*🌟 ${l.title}*\\n📍 *${item.city || unkCity}* | 💰 *${item.budget || unkBudget}*\\n\\n${l.text || noText}\\n\\n📲 *${l.tag}:* ${finalWaContact}\\n🌐 *${sourceLabel}:* ${item.platform || 'WhatsApp'}`;\n  \n  results.push({\n    json: { ...item, route_lang: l.code, tg_chat: l.tg, tg_text: tgText, wa_chat: l.wa, wa_text: waText }\n  });\n}\nreturn results;"
      },
      "id": "a7dccef0-23ad-4271-9f5e-0e78a3304fb0",
      "name": "Message Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -304,
        160
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_chat }}",
        "text": "={{ $json.tg_text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "d032af63-5890-482e-bfd6-24699aa8c80d",
      "name": "Telegram Fanout",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "d8d68b16-0b29-41c1-8f44-550a3c8a2254",
      "credentials": {
        "telegramApi": {
          "id": "wNTTBS9Bhu4RrC6o",
          "name": "Telegram account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.156.186.149:3001/api/juana/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer shJOb5wskQMTyfoF20GLqmJOclA5if5j"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"to\": $json.wa_chat, \"body\": $json.wa_text || $json.tg_text } }}",
        "options": {}
      },
      "id": "3831a836-c9f5-4c05-ac41-2480f21332a2",
      "name": "WhatsApp Fanout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        160
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.156.186.149:3001/api/leads",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"isGroup\": true,\n  \"platform\": $json.platform,\n  \"contact\": $json.contact,\n  \"source_chat_id\": $json.source_chat_id,\n  \"city\": $json.city,\n  \"location\": $json.city,\n  \"budget\": $json.budget,\n  \"category\": $json.category,\n  \"text_es\": $json.text_es,\n  \"title_es\": $json.title_es,\n  \"text_en\": $json.text_en,\n  \"title_en\": $json.title_en,\n  \"text_ru\": $json.text_ru,\n  \"title_ru\": $json.title_ru,\n  \"text_pt\": $json.text_pt,\n  \"title_pt\": $json.title_pt\n} }}",
        "options": {}
      },
      "id": "84fbc714-3a7d-4df5-8851-91f11300dd5a",
      "name": "Post Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        320
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// DYNAMIC ROUTING ENGINE v7.1 (CLEAN CLIENTS ONLY)\nlet leadData = $input.first().json;\nconst category = String(leadData.category || 'evento').toLowerCase();\nconst cityDetected = String(leadData.city || 'global').toLowerCase();\nconst text = String(leadData.text_es || '').toLowerCase();\n\n// NORMALIZAMOS EL TEXTO PARA EVITAR PROBLEMAS CON TILDES\nfunction normalize(str) {\n  return str.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\");\n}\nconst textNorm = normalize(text);\nconst cityNorm = normalize(cityDetected);\n\nconst routingTable = {\n  \"costa_azul\": {\n    keywords: [\"monaco\", \"cannes\", \"niza\", \"nice\", \"monte carlo\", \"cote d'azur\"],\n    targets: [\n      { to: \"5511953600828@s.whatsapp.net\", label: \"COSTA AZUL\" },\n      { to: \"447471373828@s.whatsapp.net\", label: \"COSTA AZUL\" }\n    ]\n  }\n};\n\nlet matchedTargets = [];\n\nfor (const [key, config] of Object.entries(routingTable)) {\n    // Usamos expresión regular con fronteras de palabra (\\b) para evitar coincidencias parciales\n    const pattern = new RegExp(`\\\\b(${config.keywords.join('|')})\\\\b`, 'i');\n    if (pattern.test(textNorm) || pattern.test(cityNorm)) {\n         matchedTargets = [...matchedTargets, ...config.targets];\n    }\n}\n\n// 2. FALLBACK: Global feed (Cualquier ciudad que no coincida con cliente)\nif (matchedTargets.length === 0 && (category === 'evento' || category === 'plaza')) {\n  matchedTargets.push({ to: \"120363425790792660@g.us\", label: (cityDetected !== 'global' ? cityDetected.toUpperCase() : 'GLOBAL') });\n}\n\n// Ensure unique targets\nconst uniqueTargets = Array.from(new Set(matchedTargets.map(t => t.to)))\n  .map(to => matchedTargets.find(t => t.to === to));\n\nif (uniqueTargets.length === 0) return [];\n\nreturn uniqueTargets.map(t => ({\n  json: { \n    ...leadData, \n    target_wa: t.to, \n    city_label: t.label \n  }\n}));"
      },
      "id": "4948e649-2714-4179-af3e-7f9f6241900b",
      "name": "Dynamic Routing Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -304,
        480
      ],
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "0699e23c-501f-4ec9-a085-df3f95a945d0",
      "name": "Global Alert Waiter",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -112,
        480
      ],
      "webhookId": "7346090a-61ac-4f37-b4b1-e3bd8cca24c9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.156.186.149:3001/api/juana/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer shJOb5wskQMTyfoF20GLqmJOclA5if5j"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const target = $json.target_wa || '';\n  const label = ($json.city_label || '').toUpperCase();\n  \n  if (label === 'COSTA AZUL' || target === '5511953600828@s.whatsapp.net') {\n    return { \"to\": target, \"body\": \"*📢 ALERTA COSTA AZUL*\\n📍 *\" + ($json.city || \"Desconhecida\") + \"* | 💰 *\" + ($json.budget || \"Negociável\") + \"*\\n\\n\" + ($json.text_pt || $json.text_es || \"Sem descrição\") + \"\\n\\n👤 *Remetente:* \" + ($json.contact || \"Desconhecido\") + \"\\n🔌 *Fonte:* \" + ($json.platform || \"WhatsApp\") };\n  }\n  else {\n    return { \"to\": target, \"body\": \"*📢 ALERTA \" + (label || \"GLOBAL\") + \"*\\n📍 *\" + ($json.city || \"Desconocida\") + \"* | 💰 *\" + ($json.budget || \"Negociable\") + \"*\\n\\n\" + ($json.text_es || \"Sin descripción\") + \"\\n\\n👤 *Remitente:* \" + ($json.contact || \"Desconocido\") + \"\\n🔌 *Fuente:* \" + ($json.platform || \"WhatsApp\") };\n  }\n})() }}",
        "options": {}
      },
      "id": "c9036d44-4bab-4727-adfd-f28b73febb40",
      "name": "Dynamic WhatsApp Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        80,
        480
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst item = input.message || input.body || input;\nconst textBody = item.text || item.caption || item.message?.text || '';\n\nfunction findContact(obj) {\n  if (!obj || typeof obj !== 'object') return null;\n  const contact = obj.contact || obj.sender_contact || obj.from || obj.sender?.wa_id || '';\n  if (typeof contact === 'string') {\n    if (contact.includes('t.me/')) return contact.split('t.me/')[1];\n    if (contact.startsWith('tg_id_')) return contact;\n    if (contact.startsWith('@')) return contact;\n    if (/^\\d{7,15}$/.test(contact)) return 'tg_id_' + contact;\n  }\n  return null;\n}\n\nlet sc = findContact(item) || findContact(input);\nif (sc && !sc.startsWith('tg_id_')) {\n  sc = sc.trim();\n  if (!sc.startsWith('@')) sc = '@' + sc;\n}\n\nconst sourceChatId = item.chatId || item.chat?.id || input.source_chat_id || '';\n\nreturn [{ json: {\n  ...item,\n  platform: 'Telegram',\n  sender_contact: sc || 'No_Username',\n  final_contact: sc || 'No_Username',\n  source_chat_id: sourceChatId,\n  texto_limpio: textBody.trim(),\n  looksValuable: textBody.length > 5\n}}];"
      },
      "id": "b9101450-7975-4a31-861e-34d255f06d9a",
      "name": "Extract Metadata TG1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2848,
        736
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst item = input.message || (input.messages && input.messages[0]) || input.body || input;\nconst textBody = item.text?.body || item.text || item.caption || item.body || '';\n\nfunction getPhone(val) {\n  if (!val) return null;\n  let s = '';\n  if (typeof val === 'object') {\n    s = String(val.id || val.author || val.from || val.phone || val.number || val.wa_id || val.remoteJid || '');\n  } else {\n    s = String(val);\n  }\n  if (s.includes('@g.us') || s.includes('-')) return null;\n  const digits = s.replace(/\\D/g, '');\n  return (digits.length >= 7 && digits.length <= 15) ? digits : null;\n}\n\nconst sc = getPhone(item.author) || getPhone(item.from) || getPhone(item.sender) || getPhone(input.sender?.wa_id) || getPhone(input.contact) || \"No disponible\";\nconst sourceChatId = item.chat_id || item.chatId || input.source_chat_id || null;\n\nreturn [{ json: {\n  ...item,\n  platform: \"WhatsApp\",\n  sender_contact: sc,\n  final_contact: sc,\n  source_chat_id: sourceChatId,\n  texto_limpio: String(textBody).trim(),\n  looksValuable: String(textBody).length > 5\n}}];"
      },
      "id": "40d6fc1b-abca-45cb-8d1b-73dca44a6340",
      "name": "Extract Metadata WA1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2848,
        928
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst HARD_BLOCK = new Set([\"crypto\", \"binance\", \"casino\", \"usdt\", \"bitcoin\", \"wallet\", \"trading\", \"ganar dinero\", \"инди\", \"контент\", \"onlyfans\", \"вирт\", \"sugar baby\", \"sugar daddy\", \"anal\", \"masaje erotico\", \"ingles\", \"english\"]);\nconst BANNED_PREFIXES = [\"58\", \"57\", \"92\", \"91\", \"62\"];\n\nfunction norm(v) { return String(v || \"\").toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\"); }\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const text = norm(data.texto_limpio);\n  const sender = String(data.final_contact).replace(/\\D/g, \"\");\n\n  let rejectReason = null;\n  if (BANNED_PREFIXES.some(p => sender.startsWith(p))) rejectReason = \"prefix_banned\";\n  else if (HARD_BLOCK.has(text)) rejectReason = \"hard_block_match\";\n\n  results.push({ json: { ...data, looksValuable: !rejectReason, reject_reason: rejectReason } });\n}\nreturn results;"
      },
      "id": "10301e4a-86a0-4881-8c88-af30387385f2",
      "name": "Pre-Filter Unified1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2544,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst store = $getWorkflowStaticData('global');\nif (!store.history) store.history = [];\n\nconst now = Date.now();\nconst TTL = 86400000;\nstore.history = store.history.filter(h => now - h.time < TTL);\n\nfor (const item of $input.all()) {\n  const fp = String(item.json.texto_limpio).substring(0, 100);\n  if (!store.history.some(h => h.fp === fp)) {\n    store.history.push({ time: now, fp });\n    results.push(item);\n  }\n}\nreturn results;"
      },
      "id": "ee6c6546-b028-4442-b89a-a41f830bd326",
      "name": "Dedup Hash1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2144,
        832
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### WORLDMODELS QUALITY ENGINE v5.2 (ULTRA PRECISION) ###\nTEXT: \"{{ $json.texto_limpio }}\"\n\nCLASSIFICATION RULES:\n\n1. EVENTO (Client Requests / Immediate Leads) - HIGH PRIORITY:\n   - DIRECT REQUESTS: \"Busco chica para ahora\", \"Disponible en Madrid?\", \"Outcall 1h\", \"Dinner tonight\".\n   - REAL TIME: Messages mentioning \"Ahora\", \"Hoy\", \"Esta noche\", \"ASAP\", or specific times.\n   - TOURS & CASTINGS: \"Casting para marca\", \"Haciendo tour en Ibiza\".\n   - CONTEXT: A client or agency looking for someone for something SPECIFIC and immediate.\n\n2. PLAZA (Job Offers / Vacancies):\n   - FIXED POSITIONS: \"Buscamos chica fija para club\", \"Plaza libre en agencia\", \"Hiring for season\".\n   - AGENCY CASTINGS: \"Buscando caras nuevas\", \"Envíen disponibilidad para mayo\".\n   - ACCOMMODATION: \"Habitación para modelos\", \"Piso disponible para trabajar\".\n   - CONTEXT: An agency or organizer offering stable work, vacancies, or housing.\n\n3. TRASH (Discard):\n   - INDIVIDUAL SELF-PROMOTION: \"Hola soy Maria, disponible en Madrid\", \"Soy modelo, contratadme\". (Only if the model is offering HERSELF).\n   - CASUAL CHAT: Greetings, questions without an offer, or maintenance messages.\n   - SPAM: Crypto, random links, unrelated ads.\n\nCRITICAL: \n- If an AGENCY or CLUB asks \"Who is available?\", \"Seeking models\", or posts a job offer (even for the future), it is a PLAZA or EVENTO, NOT trash.\n- If a CLIENT asks to meet, it is an EVENTO, NOT trash.\n- If the city is NOT mentioned but the text mentions a club name (like Mansour, Lio, Pacha), try to infer the city or output \"Ibiza\" if it's a known Ibiza spot.\n\nCRITICAL: You MUST translate and provide both the Spanish (text_es, title_es) and English (text_en, title_en) versions of the text.\\n\\nOUTPUT JSON:\n{\n  \"city\": \"City Name (e.g. Ibiza, Madrid, Miami, Paris)\",\n  \"budget\": \"Value\",\n  \"category\": \"plaza|evento|trash\",\n  \"detected_lang\": \"ES|EN|RU|PT\",\n  \"title_es\": \"Short descriptive title in Spanish\",\n  \"text_es\": \"Clean and translated text in Spanish\",\n  \"title_en\": \"Short descriptive title in English\",\n  \"text_en\": \"Clean and translated text in English\",\n  \"trash\": false\n}"
      },
      "id": "4eee9fad-92ea-4b99-aa5f-e0b2e8629efb",
      "name": "IA Extract1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -1952,
        832
      ]
    },
    {
      "parameters": {
        "model": "deepseek-v4-flash",
        "options": {}
      },
      "id": "44be219a-52ac-4710-94e1-9b7a8be95eb1",
      "name": "DeepSeek Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -1952,
        1024
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "B7kPB7i2l2oQh9UM",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// PARSE JSON v5.8 (METADATA PRESERVE)\nconst input = $json;\nconst rawText = input.output || input.text || \"\";\nconst cleanText = rawText.replace(/```json|```/g, '').trim();\n\n// RECUPERAR METADATA PERDIDA (prioridad absoluta a los nodos de extracción)\nlet metadataWA = {};\ntry { metadataWA = $node[\"Extract Metadata WA1\"].json || {}; } catch (e) {}\nlet metadataTG = {};\ntry { metadataTG = $node[\"Extract Metadata TG1\"].json || {}; } catch (e) {}\n\nconst platform = metadataWA.platform || metadataTG.platform || input.platform || \"WhatsApp\";\nlet contact = metadataWA.final_contact || metadataTG.final_contact || input.sender_contact || input.final_contact || \"Desconocido\";\n\n// Si el contacto es un ID de grupo, lo marcamos como Desconocido\nif (String(contact).includes('@g.us') || String(contact).length > 20) { contact = \"Desconocido\"; } else if (/^\\d{7,15}$/.test(String(contact))) { contact = '+' + contact; } \n\nlet parsed = {};\ntry {\n  if (cleanText) parsed = JSON.parse(cleanText);\n} catch (e) {\n  const catMatch = cleanText.match(/\"category\"\\s*:\\s*\"(.*?)\"/i);\n  if (catMatch) parsed.category = catMatch[1];\n}\n\nconst lowerRaw = (input.texto_limpio || metadataWA.texto_limpio || metadataTG.texto_limpio || \"\").toLowerCase();\nconst isJobish = lowerRaw.includes(\"busco\") || lowerRaw.includes(\"disponible\") || lowerRaw.length > 20;\n\nconst finalData = {\n  platform,\n  contact,\n  source_chat_id: metadataWA.source_chat_id || metadataTG.source_chat_id || input.source_chat_id || \"0\",\n  city: parsed.city || \"Global\",\n  budget: parsed.budget || \"Negociable\",\n  category: (parsed.category || (isJobish ? \"evento\" : \"trash\")).toLowerCase(),\n  text_es: parsed.text_es || input.texto_limpio || lowerRaw || \"Sin descripción\",\n  text_en: parsed.text_en || \"\",\n  title_en: parsed.title_en || \"\",\n  title_es: parsed.title_es || (lowerRaw ? lowerRaw.substring(0, 40) : \"Nuevo Lead\"),\n  trash: parsed.trash === true || (parsed.category === 'trash' && !isJobish) || false\n};\n\nconst highValueKeywords = [\"mansour\", \"ibiza\", \"lio\", \"pacha\", \"monaco\", \"viena\", \"dubai\", \"manila\"];\nif (highValueKeywords.some(kw => lowerRaw.includes(kw))) {\n  finalData.trash = false;\n  if (finalData.category === 'trash') finalData.category = \"evento\";\n}\n\nreturn [{ json: finalData }];"
      },
      "id": "fa17aaee-afcd-4593-a1b8-bc2c36718f3e",
      "name": "Parse JSON1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1696,
        832
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.category }}",
              "operation": "notEqual",
              "value2": "trash"
            }
          ]
        }
      },
      "id": "ac08c30e-8743-4319-9f0c-e9abe45e52d9",
      "name": "Final Guard1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1104,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $json.texto_limpio || \"\";\nconst results = [];\n// Regex flexible para capturar chat.whatsapp.com con su ID\nconst linkRegex = /(?:https?:\\/\\/)?chat\\.whatsapp\\.com\\/[a-zA-Z0-9_-]{20,30}/g;\nconst matches = text.match(linkRegex);\n\nif (matches) {\n  for (let match of matches) {\n    if (!match.startsWith(\"http\")) {\n      match = \"https://\" + match;\n    }\n    results.push({ \n      json: { \n        link: match, \n        platform: $json.platform, \n        source: $json.source_chat_id \n      } \n    });\n  }\n}\nreturn results;"
      },
      "id": "9eed26ca-89cb-43f2-bd32-7b44a355cd95",
      "name": "Link Extractor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2496,
        1104
      ]
    },
    {
      "parameters": {
        "chatId": "-1003900864818",
        "text": "=🔗 *Nuevo Grupo Detectado*\nEnlace: {{ $json.link }}\nPlataforma: {{ $json.platform }}\nFuente: {{ $json.source }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "0220c806-b05b-430b-b1fe-f4eb66cbb758",
      "name": "Telegram Link Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -2304,
        1104
      ],
      "webhookId": "0de194dd-7569-453e-a685-57b13de90441",
      "credentials": {
        "telegramApi": {
          "id": "wNTTBS9Bhu4RrC6o",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Telegram": {
      "main": [
        [
          {
            "node": "Extract Metadata TG1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Extract Metadata WA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Metadata TG1": {
      "main": [
        [
          {
            "node": "Pre-Filter Unified1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Metadata WA1": {
      "main": [
        [
          {
            "node": "Pre-Filter Unified1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-Filter Unified1": {
      "main": [
        [
          {
            "node": "Dedup Hash1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Link Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Hash1": {
      "main": [
        [
          {
            "node": "IA Extract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Extract1": {
      "main": [
        [
          {
            "node": "Parse JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "IA Extract1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON1": {
      "main": [
        [
          {
            "node": "Final Guard1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Guard1": {
      "main": [
        [
          {
            "node": "Quality Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Score": {
      "main": [
        [
          {
            "node": "Message Router",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post Backend",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dynamic Routing Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Router": {
      "main": [
        [
          {
            "node": "Telegram Fanout",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp Fanout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dynamic Routing Engine": {
      "main": [
        [
          {
            "node": "Dynamic WhatsApp Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link Extractor": {
      "main": [
        [
          {
            "node": "Telegram Link Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "global": {
      "history": [
        {
          "time": 1780665702557,
          "fp": "Ницца Канны \nАктуально в ближайшие дни! \nНа 2-3 часа \nНатуральная, без лишнего веса, хорошая фигура,"
        },
        {
          "time": 1780665713989,
          "fp": "[object Object]"
        },
        {
          "time": 1780665744748,
          "fp": "Кипр \nЛимассол\nСегодня в 20:00 4ч 1500€-500€\nзавтра в 22:30 (на 2ч, бюджет решим) \nАмара"
        },
        {
          "time": 1780665755791,
          "fp": "Image trip 7-21 days. $1,000 per day net 👌🏻 No commission taken.\nYou are provided with flights, ac"
        },
        {
          "time": 1780665838644,
          "fp": "Молодая, сочная шалунья💋💋. Только личная встреча. Вирта  нет и в авто не выхожу. Зато есть место и"
        },
        {
          "time": 1780665845144,
          "fp": "⛓️Киев \n\nМне 18 \nСтудентка \nВыхожу в авто 💛 стройная \nПриеду на два часика 🤍\n\nВсе по факту, без ра"
        },
        {
          "time": 1780665897860,
          "fp": "TRIP TO MANSOUR‼️✨\n\nA friendly atmosphere, sports, relaxation on the beach, and volleyball 🏖️🏐\n\nCo"
        },
        {
          "time": 1780665949144,
          "fp": "🦋LOVELY LADIES COOPERATION IN DUBAI AND PHUKET🦋\n\n🥏I recruit the most diverse and beautiful girls "
        },
        {
          "time": 1780665976231,
          "fp": "✅ Apartments Available✅\n\nONE ROOM OPTION AVAILABLE FOR ALL FLATS\n\n❗️Darford - 2 bedroom \nflat❗️\n\n❗️c"
        },
        {
          "time": 1780665987724,
          "fp": "​​​​​​​☺️☺️☺️☺️☺️☺️☺️☺️\n\n**☺️****Апартаменты на восстания**\n☺️Чистые\n☺️Уютные\n☺️Есть парковка\n☺️Одно"
        },
        {
          "time": 1780666003698,
          "fp": "Секс, мбр,без резинки \nАнальный оргазм \n\nКиев днепр Одесса Харьков"
        },
        {
          "time": 1780666011422,
          "fp": "*LONDON* 🇬🇧🇬🇧🇬🇧\n    Work in *London is Legal*! 🇬🇧\n            *Work with an agency*\nfrom 2 w"
        },
        {
          "time": 1780666024810,
          "fp": "Barcelona 🇪🇸\nTonight or Sunday \n1-2h meeting \n\nLocal models, classic type\n\n💰2k-%\n\nMust apply full"
        },
        {
          "time": 1780666080103,
          "fp": "18летняя блондинка 💋\nАвто или выезд\nКиев, центр"
        },
        {
          "time": 1780666124052,
          "fp": "🫶 Всім Привіт Допоможу Хлопцем 💦💦\n\nє карточка paypal кошелёк \n\nє можна через Звезди 🌟\n\n🔞- Фотки"
        },
        {
          "time": 1780666148955,
          "fp": "Nyc\n1h incall\nRegular British \nVisiting \n800-300$\n500$ clean \nWho is available today and tomorrow \n3"
        },
        {
          "time": 1780666162445,
          "fp": "Hola Buenas ❤️ Quien me recomienda un lugar Top de Rusas  donde realizarme las pestañas please 🙏🙏\ud83d"
        },
        {
          "time": 1780666205820,
          "fp": "Выезд, Киев\nБориспольский район\n\n❤️ Инди ❤️\n\n🌸Часик \n🌸Ночь\n\nМодельная внешность. Адекватная и крас"
        },
        {
          "time": 1780666268270,
          "fp": "Меня зовут Протея 💕\n\nЯ молодой  цветок родом из Африки✨\n\nМне 🩷🩷 года \n\nЧас со мной 8️⃣0️⃣0️⃣0️⃣\n\n"
        },
        {
          "time": 1780666307833,
          "fp": "👋👋 реальные встречи \n\n🇺🇦Киев, Одесса,\nХарьков, Днепр, Николаев \n\nМинимум табу, не только за мп‼"
        },
        {
          "time": 1780666345242,
          "fp": "Alguém com agência confiável em londres? ou pro lado da europa ? 🙏🏻🙏🏻"
        },
        {
          "time": 1780666358293,
          "fp": "Киев ( Оболонь )\nКрасивая стройная молодая развратная брюнетка ( инди ) приглашу к себе за щедрый по"
        },
        {
          "time": 1780666421930,
          "fp": "Barcelona‍\nTonight \nMeeting for 2h\nFlexible budget \nPics info video in bikini​​"
        },
        {
          "time": 1780666434298,
          "fp": "🌿Hola chic@s\nBienvenid@s a\n 'Hope accommodations'🍀\nUn lugar seguro📍 para trabajar 24/7 (con discr"
        },
        {
          "time": 1780666453441,
          "fp": "Tem eu"
        },
        {
          "time": 1780666459673,
          "fp": "✨ Plazas disponibles para trabajar en Alemania – Solo chicas serias ✨\n\nHola 😊\nEn este momento tenem"
        },
        {
          "time": 1780666498716,
          "fp": "Se os valores dos quartos fossem juntos ,as meninas nao iria alugar Airbnb, e fora isso alugar quart"
        },
        {
          "time": 1780666525001,
          "fp": "🤍 Киев 🤍\nРеальная девушка 😻 \nЕсли ты ищешь встречу без длинных разговоров и посредников - пиши в "
        },
        {
          "time": 1780666535505,
          "fp": "*WARSAW* 🇵🇱\nOr who Can fly ✈️\novernight , today or tomorrow\nNeed short(up to 172cm), preferably bl"
        },
        {
          "time": 1780666584728,
          "fp": "*Habitación en MADRID*(PARLA CENTRO)con muy buena Ubicación, muchos clientes, ya que está en zona ce"
        },
        {
          "time": 1780666600194,
          "fp": "*WARSAW* 🇵🇱\nOr who Can fly ✈️\ntoday or tomorrow\nOvernight or possible 3/4h\nNeed short(up to 172cm)"
        },
        {
          "time": 1780666679857,
          "fp": "🇹🇭🇹🇭🇹🇭 **ПХУКЕТ / БАНГКОК** ✨👑\n\n💖💖💖*ИЩУ ЯРКИХ МОДЕЛЕЙ В ТАИЛАНДЕ* 💖💖💖\n🌷🌷🌷 *Рассматри"
        },
        {
          "time": 1780666704542,
          "fp": "🇦🇪 ОАЭ, Дубай 🇦🇪 девочки, кто на месте? Встреча сегодня в ближайшее время, на 3-4 часика 1000$🎁"
        },
        {
          "time": 1780666795302,
          "fp": "Barcelona​\nTonight \nMeeting for 2h\nFlexible budget \nPics info video in bikini​‍"
        },
        {
          "time": 1780666830132,
          "fp": "Киев \nСтудентка \nТоп малышка, молоденькая \n 💕\nПриеду на часик приятной встречи..\n\nТакси 🚖 \nМеста н"
        },
        {
          "time": 1780666900627,
          "fp": "Кто в Москве?\nТолько топ 🔝\n3000- 10 000 $ - % \nКлиент с Ближнего Востока.\nСрочно ищем 🫶🏼"
        },
        {
          "time": 1780666922221,
          "fp": "🌸Hey Girls🌸\n\n✨1 ROOM AVAILABLE✨\n\n📍 Dublin 1, Ireland ☘️\n\n🏡A safe location in the City Centre, cl"
        },
        {
          "time": 1780666943853,
          "fp": "Hola buenas tardes alguien que sepa de una plaza buena en Málaga le agradezco la información"
        },
        {
          "time": 1780667035843,
          "fp": "Ibiza\nNecesito 3 chicas para ahora mismo que hagan extra para una villa con futbolistas Son guapos y"
        },
        {
          "time": 1780667061951,
          "fp": "Hola amore, tudo bem? \nSomos uma agência 50/50 trabalhamos  em Portugal. ( Tem que ver disponibilida"
        },
        {
          "time": 1780667138554,
          "fp": "🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/CMV8fxRRe4HJKjTui18PMD"
        },
        {
          "time": 1780667149853,
          "fp": "🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/JZ0YizsrYkxIqOvEq9IIak"
        },
        {
          "time": 1780667153943,
          "fp": "__🔥 ГОТОВЫЕ ПРОФИЛИ ДЛЯ РАБОТЫ 🔥\n✅ Полностью подготовленные аккаунты \n✅ Пройденная верификация\n✅ П"
        },
        {
          "time": 1780667243122,
          "fp": "🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/KnTgv7bKoo0004LFm8e6HK"
        },
        {
          "time": 1780667363112,
          "fp": "Пленительная внешность Транс станет для тебя как глоток свежего воздуха. Мало табу. Приветствую все "
        },
        {
          "time": 1780667383194,
          "fp": "Obrigado"
        },
        {
          "time": 1780667425016,
          "fp": "Пышные формы 🔥\n\n🏙Печерский район \nНе против выйти в авто, пригласить к себе в гости или приехать. "
        },
        {
          "time": 1780667439994,
          "fp": "Em Londres vc faz de onde quiser"
        },
        {
          "time": 1780667452034,
          "fp": "Porém tem que ter número local pra ativar o SMS da confirmação"
        },
        {
          "time": 1780667470489,
          "fp": "Na Itália"
        },
        {
          "time": 1780667487580,
          "fp": "⁨Киев) кто хочет приятно провести время с пышной блондой? Есть тату на теле\nИщу встречу с приятным м"
        },
        {
          "time": 1780667561845,
          "fp": "Alguém\nSabe contato de quem faz passagem\nFake ?"
        },
        {
          "time": 1780667591906,
          "fp": "❗️#МСК❗️\nВыезд в отель к хорошему посту, где то к 18-19\n\n2 часа 20 чист( Может поднять❗️)\n\n**Типаж:*"
        },
        {
          "time": 1780667644641,
          "fp": "⚡️Очень горячая милфа ⚡️Киев⚡️\nПечерский район🏙️\n💙Ас \n💙Могу встретиться с компанией мужчин **\n💙В"
        },
        {
          "time": 1780667700663,
          "fp": "MMM donde esta esa chica"
        },
        {
          "time": 1780667738666,
          "fp": "Estaba en Cannes , y se a ido y es tan cobarde que mando a buscar sus pertenencias con otra persona"
        },
        {
          "time": 1780667742947,
          "fp": "Горяча блондинка і мила брюнетка запросять в гості до себе"
        },
        {
          "time": 1780667990178,
          "fp": "Bangkok tomorrow \nNeed 2 girls \n5-6 hours \nParty + quick extra\nRegular Indian clients\n700$ clean eac"
        },
        {
          "time": 1780668015956,
          "fp": "*DUBAI*. Tonight 7:30 pm . Only image dinner . 2500 Aed -30% need 3 girls. Dinner 3/4 hours"
        },
        {
          "time": 1780668030692,
          "fp": "Dubai.\n\nToday \n\nSuper easy party\n\nI need 4 models each model with your client..\n\nNo big tattoos\n3-4h"
        },
        {
          "time": 1780668044171,
          "fp": "Amiga tem uma moça q tem ap aq em caserta"
        },
        {
          "time": 1780668116613,
          "fp": "Красивая транси с сюрпризом приглашает тебя в край удовольствий! Со мной не заскучать. 🥰"
        },
        {
          "time": 1780668123657,
          "fp": "Lindo, Studio disponível em earls court \nSw59dy📍12/06"
        },
        {
          "time": 1780668184233,
          "fp": "🚨🚨 ¡GANA DINERO RÁPIDO EN TIRANA! 🇦🇱 🚨🚨  \n\n💸 INGRESOS ALTOS DESDE EL PRIMER DÍA  \n⚠️ SOLO 3 P"
        },
        {
          "time": 1780668265464,
          "fp": "Варшава\nКто на месте ?\nАктуально: сегодня вечером \nНа 2-3 часика \nОтель \nпостоянник, Украинец, не ме"
        },
        {
          "time": 1780668300791,
          "fp": "Киев 👑 21 год \n\nЦентр\n\n🔥Приглашу к себе, стройная, есть пол часика, часик, ночь.\n🔥Реал встреча \n\ud83d"
        },
        {
          "time": 1780668371001,
          "fp": "🇪🇸🇪🇸 IBIZA 🇪🇸🇪🇸\n\n*I need a beautiful model over 1,74 height with BIG NATURAL BREAST NOW, not"
        },
        {
          "time": 1780668412015,
          "fp": "Приветик. Я транследи. Пока в поиске интересного опыта с кем-то умелым. Новичкам тоже рада. 💙"
        },
        {
          "time": 1780668415923,
          "fp": "🇨🇳   🇨🇳   🇨🇳  C H I N A   🇨🇳   🇨🇳 🇨🇳\n\n\nАгентство с многолетним стажем работы приглашает "
        },
        {
          "time": 1780668454740,
          "fp": "*Paris* 🇫🇷\nTonight, overnight\nEasy foreign client\n2000€-30%"
        },
        {
          "time": 1780668469252,
          "fp": "Киев 🇺🇦 \n\nВстреча сейчас 💸\nНа часик 🍒, выезд 🚖\n\nМогу к тебе приехать на часик или ночьку\n\nВыхож"
        },
        {
          "time": 1780668533275,
          "fp": "🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/LPkBObOaX5o2YFfkrmg9xl"
        },
        {
          "time": 1780668549263,
          "fp": "Everset Chalet Химки!\nСторис от девушек, с отметкой everest.chalet.lounge\nИ на тг канал \nВремя прово"
        },
        {
          "time": 1780668568671,
          "fp": "Exatamente fora que os aptos de praça tudo podre sujo imundo n tem toalha n tem lenço"
        },
        {
          "time": 1780668581926,
          "fp": "Sabe q a gente trabalha precisa trocar aí tu chega tem 1 lençol"
        },
        {
          "time": 1780668589852,
          "fp": "🌹 *ПИТЕР* 🌹🌹 *ПИТЕР* 🌹🌹 *ПИТЕР* 🌹\n🌹 *ПИТЕР* 🌹🌹 *ПИТЕР* 🌹🌹 *ПИТЕР* 🌹\n🌹 *ПИТЕР* 🌹🌹 *ПИТ"
        },
        {
          "time": 1780668622428,
          "fp": "Киев 🔞\nПривет, я студентка, очень худенькая. \nВысокая, ухоженная\nБез места для встречи. \nГотова при"
        },
        {
          "time": 1780668634183,
          "fp": "1) Дубай\nСегодня, в 20:00 \nВстреча на 3-4 часа\nБюджет 1000$\nМужчина очень классный! \nТипаж: до 25 ле"
        },
        {
          "time": 1780668668392,
          "fp": "Ibiza Spain 🇪🇸  🇪🇸 🇪🇸 who is there from tomorrow outcall few hours to his villa , good open bu"
        },
        {
          "time": 1780668790884,
          "fp": "Em que país?"
        },
        {
          "time": 1780668812168,
          "fp": "Молоденькая и страстная брюнеточка, встречусь сейчас \nАвто/выезд"
        },
        {
          "time": 1780668839129,
          "fp": "Para quem está com dificuldades de arrumar trabalho no negro em Madrid, \n\n Uma ótima estratégia está"
        },
        {
          "time": 1780668847507,
          "fp": "PLAZA disponible en Bruselas 🇧🇪 50%/ VAGA Disponível em Bruxelas 50%"
        },
        {
          "time": 1780668875923,
          "fp": "Dubai 🇦🇪\n\nTonight\n\n4 hrs \nHotel meeting\n\nRegular customer\n\nBudget: 900/1000$ 🎁clean\n\nWho is avail"
        },
        {
          "time": 1780668889169,
          "fp": "📍 CASTING ABIERTO EN MADRID\n\n✨ ¿Buscas un entorno profesional, discreto y con excelentes condicione"
        },
        {
          "time": 1780669054714,
          "fp": "Малышка 19 лет, вкусная фигурка \nВыйду в машинку или приеду \nАктуально только сейчас!"
        },
        {
          "time": 1780669102936,
          "fp": "📍Киев\nСегодня и завтра \n22.00 на 2-3 часика \nОтель, 1/1 \nпостоянный\nБюджет чист 1000$+"
        },
        {
          "time": 1780669122034,
          "fp": "Dubai \n\nOutcall \nReg cust \n\n2-3h \n1000$ clean \nWho is available?"
        },
        {
          "time": 1780669142180,
          "fp": "New York \nWho’s avail now? \n1200$ clean 2h regular outcall manhattan , easy"
        },
        {
          "time": 1780669206355,
          "fp": "🇧🇷✨ Olá, meninas! Tudo bem? ✨🇬🇧\n\nMeu nome é Rebecca e, junto com meu marido Greg, ajudamos brasi"
        },
        {
          "time": 1780669228466,
          "fp": "Holaaa tengo apartamento libre para 1 o 2 personas este domingo en Lüdenscheid.\nMás inf al privado."
        },
        {
          "time": 1780669338868,
          "fp": "Algum perfil de loira disponível pra alugar"
        },
        {
          "time": 1780669419482,
          "fp": "Hola chicas tengo línea disponible para Francia solo personas serias por privado gracias"
        },
        {
          "time": 1780669527326,
          "fp": "Реальная девушка транссексуалка зовёт тебя в страну интима! Со мной не заскучать. ❤️‍🔥"
        },
        {
          "time": 1780669589710,
          "fp": "I 🇦🇪 ОАЭ, Дубай 🇦🇪 девочки, кто на месте? Встреча сегодня в ближайшее время, на 3-4 часика 1000$"
        },
        {
          "time": 1780669604904,
          "fp": "Barcelona​\nTonight \nMeeting for 2h\nFlexible budget \nPics info video in bikini​​"
        },
        {
          "time": 1780669624530,
          "fp": "DUBAI 🇦🇪\n8 PM\n1500$-%  (4 HOURS )\nVERIFIED YOUNG REGULAR\nCASH/CRYPTO"
        },
        {
          "time": 1780669639490,
          "fp": "Печерский район 🎀\n\n🩵 Есть место и выезд  \n🩵 За любой движ\n🩵 Выезда в сауну, за город, в другой г"
        },
        {
          "time": 1780669669957,
          "fp": "Estou *disponível* para *chamadas* e *conteúdos* meus amores!! *Interessados* me chamem 😈🥵"
        },
        {
          "time": 1780669720474,
          "fp": "Инди 😉\nВыезд, горячий Koнтент 🔥\nОчень приятный прайс 😊\nВстречи без предоплаты ✍"
        },
        {
          "time": 1780669781854,
          "fp": "𝖬олодая ✨\nСладкая 🤤 \nЕсть выезд 💯\nТaкж𝚎 еcть прivат ⲕanaл и vиpт услyги\nΠишите в ЛС"
        },
        {
          "time": 1780669793273,
          "fp": "Dubai.\n\nTomorrow \n\nSuper easy party\n\nI need 4 models each model with your client..\n\nNo big tattoos\n3"
        },
        {
          "time": 1780669803292,
          "fp": "Приветик. Я трансдевчонка. Сейчас ищу нового опыта с кем-то классным. Новичкам тоже рада. 😤"
        },
        {
          "time": 1780669834783,
          "fp": "🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/Jh5SvCj9KmP7ZxVqSa8RwF"
        },
        {
          "time": 1780669852189,
          "fp": "И.Ветеранов\nХОРОШО БЕРУ, ОБЖИМАЯ ГУБКАМИ ТВОЙ ЧЛЕН В СВОЙ ГОРЯЧИЙ РОТИК,\nВ ЛЮБОМ РИТМЕ НА ЛЮБУЮ ГЛУБ"
        },
        {
          "time": 1780669861195,
          "fp": "ИНДИ 💚. ОДЕССА💚💙\n💕ВСТРЕЧУСЬ СЕЙЧАС.\n💋ВЫСОКАЯ СТРОЙНАЯ \n💘БЛОНДИНКА\n💞ЗВОНИ   \n💯ВЫБИРАЙ ЛУЧШЕЕ "
        },
        {
          "time": 1780669868628,
          "fp": "Peguei aqui do grupo esses, mas não conheço."
        },
        {
          "time": 1780669889230,
          "fp": "Obrigada😘"
        },
        {
          "time": 1780669901954,
          "fp": "***_📋 Нужны анкеты для работы? Обращайтесь!_*\n\n*_✅ Актуальные анкеты_*\n*_✅ Быстрая отправка_*\n*_✅ П"
        },
        {
          "time": 1780669965490,
          "fp": "✨ МОСКВА - ПРЕМИУМ ВОЗМОЖНОСТИ ✨\n\n💎 Приглашаем девушек, готовых к новому уровню жизни\n\nЕсли ты цени"
        },
        {
          "time": 1780669986714,
          "fp": "Concordo com vocês nessa parte, dão ate toalhas rasgadas, ja presenciei Apartamento que o dono dava "
        },
        {
          "time": 1780670005598,
          "fp": "Phuket Bang Tao 📍\ntonight meeting for a couple of hours $700-800 clean 🥂🫶"
        },
        {
          "time": 1780670038752,
          "fp": "**__Киев \nПриеду сейчас 💸🖤 \nБез предоплат 🥂\nМеста нет, в авто не выхожу 📛**__"
        },
        {
          "time": 1780670059275,
          "fp": "Madrid 🇪🇸\n\nTonight at 20:00\n2/3h meeting \n1000$ 🎁\n\nI need 2 girls \nPayment crypto \n\nWHO is availa"
        },
        {
          "time": 1780670113028,
          "fp": "🤩\n  🌌🌌🌌🌌 🌌 🌌 🌌\n🌸🌸🌸🌸🌸🌸🌸🌸\n🌸🌸🌸🌸🌸🌸🌸🌸\n🌸🔵  🔵  🔵 🔵 🔵🌸\n\n\n🌸🌸🌸 ХОЧЕШ\n🌸🌸🌸М"
        },
        {
          "time": 1780670135887,
          "fp": "DUBAI| ДУБАЙ\nTonight \n\n⏳overnight \n💰3500aed clean \n\n-Videos , photos,info in English \n*I work only "
        },
        {
          "time": 1780670168817,
          "fp": "🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/LUJcoCQcnWqCOeh05nA1c5"
        },
        {
          "time": 1780670197548,
          "fp": "💋💋💋💋ОДЕССА💋💋💋💋\n\n💋Милая, нежная, страстная, очаровательная стройная ухоженная\nдевушка \n💋Уме"
        },
        {
          "time": 1780670216051,
          "fp": "Balneário hoje às 23:00 \nResenha beber pouco e finalizar\n1.500 \n\n2 meninas \nFotomontagem"
        },
        {
          "time": 1780670296595,
          "fp": "Alguma babá disponível para amanhã ?"
        },
        {
          "time": 1780670326828,
          "fp": "Booking & Airbnb\nCOM 50% DE DESCONTO \nPassagens aéreas nacionais & internacionais \nCOM 50% DE DESCON"
        },
        {
          "time": 1780670454158,
          "fp": "Москва \nСегодня, в 9-10 вечера\nМетро Домодедовская, отель, работаю не первый раз, зайка! Всё на лайт"
        },
        {
          "time": 1780670491867,
          "fp": "🔥🔥*VAGA 50% DISPONÍVEL🔥🔥\n\n📍LONDRES \n📍E6 \n📍E2\n     \n\n\n- Clientes regulares (de porta)🕺🏻\n- ⁠c"
        },
        {
          "time": 1780670555668,
          "fp": "Meninas"
        },
        {
          "time": 1780670623635,
          "fp": "Девочки, дубай срочно\nкто на месте????\nБюджет 20.000$\nВИП \nвстреча сегодня!!!!\n+ эрмес шоппинг\nСРОЧН"
        },
        {
          "time": 1780670637814,
          "fp": "Bom dia a todos e uma ótima sexta-feira pra todos nós"
        },
        {
          "time": 1780670728615,
          "fp": "🏙🏙🏙 Київ 🏙🏙🏙\n\n               Центр \n\nЗустріч зараз у мене в гостях. Знаходжусь одна. Приємна а"
        },
        {
          "time": 1780670782276,
          "fp": "👑 КИЕВ ✨ИНДИ 🕸️😈\nМИЛЫЙ , буду рада встречи🫂 Печерский район 👣🪐🖤\n\n\n🐲🐝🗽👁️‍🗨️🐾☄️💱💟🪶🌿🎩"
        },
        {
          "time": 1780670793757,
          "fp": "Hola busco habitacion en Granada"
        },
        {
          "time": 1780670804718,
          "fp": "Eu me chamo Tânia,  ,  fui imigrante durante 16 anos,  conheço a Inglaterra. Pretendo fica por um te"
        },
        {
          "time": 1780670845171,
          "fp": "Fin del aporte✨🍀"
        },
        {
          "time": 1780670905288,
          "fp": "*Dubai* ❤️\n*Tonight*\nVery nice man\n5000aed-30%\n1 hour"
        },
        {
          "time": 1780670945694,
          "fp": "Ficaria muito grata e prometo não decepcionar ninguém,  sei tudo como funciona e sei as regras."
        },
        {
          "time": 1780670981262,
          "fp": "Красивая транс девушка зовёт тебя в край интима! Со мной не заскучать. 💅"
        },
        {
          "time": 1780670990299,
          "fp": "Nice/Monaco \nSaturday \nImage only (dinner/club)\nLocal only\n\nI need still 2 more models for dinner wi"
        },
        {
          "time": 1780671028222,
          "fp": "Esse fatal tá cada vez mais difiicil"
        },
        {
          "time": 1780671083462,
          "fp": "Nyc outcall tonight \n1 hr 1000-400%\nWho can?"
        },
        {
          "time": 1780671202139,
          "fp": "Блондиночка 💕\nВстречусь сейчас, Юная\nАвто/выезд\nПечерск"
        },
        {
          "time": 1780671226194,
          "fp": "Paris \nMonday 2500 euro -30% commission classy Arab guys"
        },
        {
          "time": 1780671236083,
          "fp": "NYC 🇺🇸 tonight 11pm\nOutcall \n1.3 clean + client send driver \n2 hours, with possibility of extendin"
        },
        {
          "time": 1780671313595,
          "fp": "Necesito *chicas imagenes* para sala en Las Rozas (Embassy) de 1:00 a 5:00 los viernes y sabados.\nSe"
        },
        {
          "time": 1780671349217,
          "fp": "Olá grupo o meu outro WhatsApp foi banido por favor se a Giovana  das praças de 50% de tiver me vend"
        },
        {
          "time": 1780671360321,
          "fp": "Очаровательная внешность Транссексуалки будет для тебя как глоток свежего воздуха. Минимум табу. При"
        },
        {
          "time": 1780671417632,
          "fp": "FOR SALE Ready-made profiles for work\n\nEros/ Tryst link / Eurogirlsescort / Escortnews / private del"
        },
        {
          "time": 1780671431989,
          "fp": "hola"
        },
        {
          "time": 1780671446523,
          "fp": "saben de algun contacto ¿"
        },
        {
          "time": 1780671462093,
          "fp": "New faces \nOnly Apply if you haven’t applied before \nDubai 🇦🇪🇦🇪🇦🇪\nI need a classy lady \nElegan"
        },
        {
          "time": 1780671549320,
          "fp": "Alguém nessa cidade terça feira \nvotorantim\n\nMe chama"
        },
        {
          "time": 1780671620462,
          "fp": "Monaco 🇲🇨 \n\nRelevant all week. \n\nOvernight\n\nRegular client\n\nClassy style only. No cheap. No tattoo"
        },
        {
          "time": 1780671663613,
          "fp": "Habitacion disponible en Madrid para chica, infomacion y fotos al privado ,gracias"
        },
        {
          "time": 1780671683879,
          "fp": "Salut"
        },
        {
          "time": 1780671746237,
          "fp": "Питер встречусь ✅\n\n\n\nПринимаю у себя 🏚\nВыезд🚕\n\n\n\nⓂВасилеостровская"
        },
        {
          "time": 1780671807714,
          "fp": "Приглашу парня для встречи 😘\nМилфочка с хорошими формами приглашает на массаж с продолжением 🥰"
        },
        {
          "time": 1780671835817,
          "fp": "🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/BZcEvFowI3Q7uQIq955Ebp"
        },
        {
          "time": 1780671887021,
          "fp": "Встречусь за МП"
        },
        {
          "time": 1780671893336,
          "fp": "Tem que ver se è de confiança mesmo"
        },
        {
          "time": 1780671903590,
          "fp": "Vc já passou numero dele pra Camila"
        },
        {
          "time": 1780671907645,
          "fp": "🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/CtKGasRbzREHcRXP1AOpn6"
        },
        {
          "time": 1780671954375,
          "fp": "Бали 🌸\n\nРусский, 33 года \n\nНочь, 06.06-10.06 в один из дней, отель \n\nБюджет: 2000$\n-\nBali 🌸\n\nRussi"
        },
        {
          "time": 1780672077665,
          "fp": "✨ МОСКВА✨\n\n🔥 Закрытый формат для девушек, которые хотят большего\n\nЭто про стиль жизни, окружение и "
        },
        {
          "time": 1780672161371,
          "fp": "NEW YORK INCALL \nToday/ tomorrow relevant \n1h 1000$ clean \nOnly NEW 🆕 Tatar/Kazakh/Asian women TOP,"
        },
        {
          "time": 1780672247112,
          "fp": "🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑\n\nЕ#И КОСЫХ, Е#И ГОРБАТЫХ \nУВИДИТ БОГ - \nПОШЛЁТ П*ЗД@ТЫХ \n\n🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑\n"
        },
        {
          "time": 1780672324560,
          "fp": "🩷 **ПИТЕР ДЕВОЧКИ** 🩷\n\n**Мои девочки зарабатывают за месяц по 3.000.000 рублей !** 💸💸💸💸💸\n\n\n💖"
        },
        {
          "time": 1780672345653,
          "fp": "🇫🇷🇫🇷🇫🇷ST TROPEZ 🇫🇷🇫🇷🇫🇷\nOnly who is already there \nNO Near only ST Tropez \nEnglish handso"
        },
        {
          "time": 1780672378471,
          "fp": "Anyone willing to make between £200 - £350 daily as passive income  , should DM me !!"
        },
        {
          "time": 1780672393191,
          "fp": "Красивая транси с сюрпризом приглашает тебя в край страсти! Со мной не заскучать. 🤩"
        },
        {
          "time": 1780672398396,
          "fp": "Сделаю тебе очень приятно💋\nПрайс🔥 Киев"
        },
        {
          "time": 1780672407775,
          "fp": "Рeaльнocть дokaжy🔞Познаkомлюсь🍒Побалую🍒тебя🔞.\nЕсть встречи🇺🇦"
        },
        {
          "time": 1780672463841,
          "fp": "Киев, доминантная женщина пригласит к себе на встречу. \nОбсудить встречу можно в лс. \nЕсть экспресс "
        },
        {
          "time": 1780672484002,
          "fp": "🇦🇪*Дубай*\nПостоянный, иностранец\nВыезд\nНужна модель которая *умеет имитировать сквирт или реально "
        },
        {
          "time": 1780672516227,
          "fp": "Девочки, Москва! \nСегодня на 2-3 часа сегодня вечером \nНужна 18-21, грудь 1\nБюджет 40\nЛегкий бдсм"
        },
        {
          "time": 1780672557612,
          "fp": "Deve fazer verifica comigo"
        },
        {
          "time": 1780672618632,
          "fp": "🌹 **ПИТЕР** 🌹🌹 **ПИТЕР** 🌹🌹 **ПИТЕР** 🌹\n🌹 **ПИТЕР** 🌹🌹 **ПИТЕР** 🌹🌹 **ПИТЕР** 🌹\n🌹 **ПИТ"
        },
        {
          "time": 1780672633689,
          "fp": "Обеспечу классный отдых. КИЕВ 🍓☺️🍓🍑 с приятным массажиком и без выноса мозга 😂🔥🔥🔥🔥. ИНДИ!!!П"
        },
        {
          "time": 1780672659549,
          "fp": "Whoever done this advert literally stole it from me 😔"
        },
        {
          "time": 1780672705654,
          "fp": "Stole everything and then just put there name on it disgusting 🙄🙄🙄🙄🙄🙄🙄🙄🙄🙄🙄🙄🙄"
        },
        {
          "time": 1780672748045,
          "fp": "💎💎 **ПИТЕР 💎💎** **ПИТЕР 💎💎** **ПИТЕР 💎**💎\n\n❓Надоело работать на агентство?\n❓Ты до сих пор ищ"
        },
        {
          "time": 1780672795636,
          "fp": "So Nao pode chamar Ninguém no Privado ta amor \nE se vc tiver algo para oferecer para Alguem deve faz"
        },
        {
          "time": 1780672820509,
          "fp": "Ela perguntou no grupo"
        },
        {
          "time": 1780672832447,
          "fp": "Apenas isso"
        },
        {
          "time": 1780672849531,
          "fp": "**🔮🔮🔮 🔮 🔮🔮🔮**\n**🔮 НОВЫЙ ПИТЕР** **🔮**\n**🔮🔮🔮 🔮 🔮🔮🔮**\n\n\n💸 **Доход от 900.000₽+**\n💰 *"
        },
        {
          "time": 1780672862400,
          "fp": "Se quiser referências minha \nSua amiga mesmo me indicou pra vc \nJúlia lembra ???"
        },
        {
          "time": 1780672898835,
          "fp": "🔮 *МОСКВА* 🔮\n           🔮 *ТУР* 🔮\n                      🔮  *НОВАЯ ЖИЗНЬ* 🔮\n\n\n🏝 _Листаешь стор"
        },
        {
          "time": 1780672908962,
          "fp": "Киев, правый берег.\nОзабоченная развратная нимфоманка)\n💋Выйду в авто или приеду в гости"
        },
        {
          "time": 1780672922502,
          "fp": "Poderia me dar mais informação de como funciona?"
        },
        {
          "time": 1780672937614,
          "fp": "*TENHO ANÚNCIOS FAKES A VENDA!*\n🇧🇪🇫🇷🇱🇺🇨🇭🇵🇹🇬🇧🇪🇺🇩🇪🇮🇹🇳🇱🇪🇸🇵🇱🇬🇷🇭🇷\n\n*KINKY* 🇳"
        },
        {
          "time": 1780672988326,
          "fp": "NEW YORK 🎀\n\nRegular client \nOutcall now \n500 clean \nWho’s available?"
        },
        {
          "time": 1780673009385,
          "fp": "I bet they don’t even have a British telephonist"
        },
        {
          "time": 1780673025412,
          "fp": "**🤩 ПИТЕР 🤩**\n\nНадоело сидеть без работы даже в рабочие смены?\nУ меня есть решение! **Клиенты с пе"
        },
        {
          "time": 1780673042373,
          "fp": "Eles fazem isso pra ganhar dinheiro"
        },
        {
          "time": 1780673105827,
          "fp": "Мадрид сегодня в 21.00\n1000€ чист на 2-3 часа\nПост, отель\n\nMadrid today at 9 pm\n1000€ clean for 2-3 "
        },
        {
          "time": 1780673138279,
          "fp": "Москва \n\nВ 23:00 \n \n❗️ТЕ КТО С МЕСТОМ❗️\n\nНа 1ч — 20 000₽ \n\nМолодой Зак \n\nСтройные, молодые \n\n\nОтзывы"
        },
        {
          "time": 1780673176641,
          "fp": "FELIZ SEMANA A TODAS! 🌷 APARTAMENTO DISPONÍVEL EM NARBONNE A PARTIR DO DIA 7 DE JUNHO. ESPAÇO AMPLO"
        },
        {
          "time": 1780673204394,
          "fp": "Only British can speak English now? 🤣 crazy"
        },
        {
          "time": 1780673227270,
          "fp": "♥️♥️♥️Como Italy today and tomorrow 3/4 hours 1500-%€ very nice regular guy not local"
        },
        {
          "time": 1780673272359,
          "fp": "Miss that’s irrelevant we are talking about Plagiarism not who speaks what language"
        },
        {
          "time": 1780673298436,
          "fp": "📊 **Tabela de Serviços – Redes Sociais**\n\n👥 **Seguidores**\n• 1.000 — **R$ 15,00**\n• 2.000 — **R$ 3"
        },
        {
          "time": 1780673325156,
          "fp": "And the point was my advert states British telephonist …… not only she cans speak English"
        },
        {
          "time": 1780673336249,
          "fp": "Пленительная внешность Транссексуалки станет для тебя как глоток свежего воздуха. Мало табу. Приветс"
        },
        {
          "time": 1780673349711,
          "fp": "Dubai 🇦🇪 \nSunday and Monday \n\nWho can do Incall ? \nIf not client can book hotel but preferably Inc"
        },
        {
          "time": 1780673373383,
          "fp": "👄👨‍🔬👨‍🎨👰‍♀👮👩‍⚕👩‍🎤👨‍🎨👲👨‍🌾👄\n\n🐆💂‍♂👩‍⚕🙇‍♀🧑‍🎓👨‍🌾🧵🐆\n🩷🧌👩‍⚕👨‍🎨👩‍⚕🩷\n🩷👳👮👮"
        },
        {
          "time": 1780673419325,
          "fp": "@214860688302107 let me ask you if you was paying to advertise in a group and saw some one in the sa"
        },
        {
          "time": 1780673433286,
          "fp": "Why is it irrelevant now?"
        },
        {
          "time": 1780673453755,
          "fp": "18летняя блонда👱‍♀️ \n \nПриеду к тебе  или выйду в авто❤️‍🔥"
        },
        {
          "time": 1780673466085,
          "fp": "It was always irrelevant not just now …. The complaint raised was plagiarism"
        },
        {
          "time": 1780673577700,
          "fp": "Девочки, есть предложение на отношения. Русский мужчина. Строго не из темы , либо кто толком никуда "
        },
        {
          "time": 1780673606341,
          "fp": "Mínimo é ter toalha e lençol pra trocar"
        },
        {
          "time": 1780673613030,
          "fp": "*Москва* ТОП блондинка , желательно хороший тюнинг . 18-27 лет . Встреча завтра вечером , отель цент"
        },
        {
          "time": 1780673624122,
          "fp": "Boa tarde...uma habitação disponível em Aubange Bélgica fronteira com Luxemburgo e França. Para segu"
        },
        {
          "time": 1780673697103,
          "fp": "Алматы в завтра в 22.00 \n1000$ чист 2-3 часа\nПостоянник \n\nAlmaty завтра at 10 pm\n1000$ clean 2-3 h \n"
        },
        {
          "time": 1780673763508,
          "fp": "Москва, актуально до 9 го📍\n\nВстреча на 1-2 часа в Ritz-Carlton. \nТОЛЬКО ТОП💎\nДРУГИХ НЕ РАССМАТРИВА"
        },
        {
          "time": 1780673788652,
          "fp": "habitaciones disponible en roeselare 8 de junio"
        },
        {
          "time": 1780673798503,
          "fp": "Acabei de fazer verifica com joni ok Meninas ele è uma agencia in Londres tudo ok na minha verifica "
        },
        {
          "time": 1780673814338,
          "fp": "Roterdam zuid para 1 🛟"
        },
        {
          "time": 1780673821822,
          "fp": "**__🤩**__**__🤩**__**__ НЕ НАДОЕЛО РАБОТАТЬ ЗА \"СПАСИБО\" В ТУРЕ В БЕЗЛЮДНОМ ГОРОДЕ**__ 🤩🤩\n\n\n**Для"
        },
        {
          "time": 1780673846213,
          "fp": "**💱 Помощь с обменом криптовалюты через официальные сервисы. Индивидуальный подход к каждому клиент"
        },
        {
          "time": 1780673887272,
          "fp": "Muitas me pediu se tinha feito verifica Entao agora tudo ok agencia verificada"
        },
        {
          "time": 1780673923826,
          "fp": "Verificado"
        },
        {
          "time": 1780673974243,
          "fp": "Agradeço a senhorita \nPela sua dedicação em querer ver o bem estar das modelos do grupo \nComo falei "
        },
        {
          "time": 1780673995085,
          "fp": "Блондочка бейби фейс, юная 💗\nВстречусь в авто или приеду в гости\nПечерск)"
        },
        {
          "time": 1780674079039,
          "fp": "Meninas boa tarde por favor alguém pode me dar dicas de como trabalhar pelo Telegram"
        },
        {
          "time": 1780674085108,
          "fp": "💞🩷ІНДІ🩷💞\n💓КИЇВ💖НИВКИ💓\n \n💘ПРИЇДУ НА ГОДИНУ  \n💘АКТУАЛЬНО ЗАРАЗ \n💘БЕЗ ПЕРЕДПЛАТ\n💘ТІЛЬКИ ВИЇЗ"
        },
        {
          "time": 1780674131420,
          "fp": "Licença Adm\n\n*VAGA CLIPE SEGUNDA-FEIRA!!!*\n                 *08/06*\n\n*PRODUTORA NVI*\n\n💰 Cachê 200$\n"
        },
        {
          "time": 1780674216008,
          "fp": "Шаловливая красотка с аппетитными формами💕🌸 ищет мужчину для хорошего отдыха.😇 Исполняю практичес"
        },
        {
          "time": 1780674357480,
          "fp": "Брюссель\n\nНа несколько часов или на ночь\n\nНужны 2 девушки\n\nПостоянные клиенты с Украины\n\nБюджет дого"
        },
        {
          "time": 1780674374364,
          "fp": "*DESTRAVE O SEU INGLÊS*\nChega de ficar parado no tempo e não evoluir por falta do *Inglês!*\n📚*CONVE"
        },
        {
          "time": 1780674436166,
          "fp": "*Marbella*\nTonight & next days\nSeveral models needed\n2k€ clean can be raised if famous"
        },
        {
          "time": 1780674471291,
          "fp": "Vaga videoclipe/Mulheres \n\nSábado 06/06\n\nHorário: Das 13 às 17 \n\n\nValor:300 \n\nGravação em Igarata \n\n"
        },
        {
          "time": 1780674496934,
          "fp": "Meninas boa tarde"
        },
        {
          "time": 1780674514805,
          "fp": "Como voces fazem pra mandar dinheiro pro brasil sem ser ria ou western union?"
        },
        {
          "time": 1780674535973,
          "fp": "Niñas buenos días 💕💕\n\nQuienes disponibles para salir hoy de viaje al\nDomingo , *serían 2 días, pag"
        },
        {
          "time": 1780674564305,
          "fp": "Remity"
        },
        {
          "time": 1780674570691,
          "fp": "*atenção a vaga* ⚠️\n*Job pra hoje ⚠️*\n*5 vagas*\n*Local : Alphaville*\n*cache : 4,000* *(pix adiantado"
        },
        {
          "time": 1780674592814,
          "fp": "🚨vaga disponível \n\nVAGA Disponível \n📍Itália 🇮🇹\n✅REGIÃO BUSY \n✅CENTRO \n✅TELEOFNISTA \n✅ANÚNCIO TOD"
        },
        {
          "time": 1780674606337,
          "fp": "🎟🎟 🎟 🎟 **ПИТЕР** 🎟 🎟 🎟🎟\n🎟  **Чей  счастливый  билет ?**  🎟\n\n🥇 Отличные условия сотрудниче"
        },
        {
          "time": 1780674637014,
          "fp": "💋 **Привет, красотка** 💋\n**Для тебя новые условия** **в Питере**\n\n💸 **Доход от 900.000₽+**\n💰 **В"
        },
        {
          "time": 1780674675778,
          "fp": "🇫🇷🇫🇷CANNES🇫🇷🇫🇷\nWho’s available tonight for outcall \nONLY WHO’S ALREADY IN CANNES.\nOnly top t"
        },
        {
          "time": 1780674688846,
          "fp": "Две молодые,интересные,нежные и страстные девушки👠. Пригласим к себе или приедем к Вам в гости.💦То"
        },
        {
          "time": 1780674720426,
          "fp": "Indonesia 🇮🇩 \n( fly from Asia or Dubai) \n1 day job - 8th June \nLooking for few models\n\n💰 2500$ cl"
        },
        {
          "time": 1780674738941,
          "fp": "Nunca ouvi falar desse método, como funciona ?"
        },
        {
          "time": 1780674791675,
          "fp": "Amiga\nEle pega de uma conta sua \nE envia para o Brasil"
        },
        {
          "time": 1780674801154,
          "fp": "Девочки,кому интересно шприц 💉 Оземпик пишите 💋"
        },
        {
          "time": 1780674813372,
          "fp": "Mas a pessoa tem q ter dinheiro na conta"
        },
        {
          "time": 1780674871255,
          "fp": "👗  TRIP TO MILAN 👗\n\n✏️   END OF JUNE\n\n✔️MODEL TYPE \n✔️HEIGHT FROM 172( NO LESS) \n✔️WITHOUT BIG TAT"
        },
        {
          "time": 1780674891582,
          "fp": "Tem o bunq"
        },
        {
          "time": 1780674901740,
          "fp": "💋💋Чувственная, опытная и откровенная. Подарю тебе часик, несколько часов или ночь незабываемых ощу"
        },
        {
          "time": 1780674908858,
          "fp": "Telefonista disponível"
        },
        {
          "time": 1780674935390,
          "fp": "Mas é tipo Wise ?"
        },
        {
          "time": 1780674949002,
          "fp": "Não"
        },
        {
          "time": 1780674968726,
          "fp": "Gera um código e aparece as lojinhas q da para depositar peo paypoint"
        },
        {
          "time": 1780674997147,
          "fp": "Simm, já me ocorreu de pegar praça em uk chegar lá ter mulher fazendo job de 50 no quarto do lado e "
        },
        {
          "time": 1780675013126,
          "fp": "Pq se tem mulher cobrando barato no mesmo endereço que você já era acabou o seu trabalho"
        },
        {
          "time": 1780675038726,
          "fp": "Doleiro"
        },
        {
          "time": 1780675058153,
          "fp": "Só Milao e Roma aqui tem 😮‍💨"
        },
        {
          "time": 1780675079478,
          "fp": "Aqui na Italia tem tb Doleiro confianca minha ele manda valor que vc quiser"
        },
        {
          "time": 1780675088029,
          "fp": "Agora quando você aluga apartamento tipo studio com o pessoal que aluga pra garota é de boa"
        },
        {
          "time": 1780675097494,
          "fp": "Isso se chama oferta da demanda e da procura"
        },
        {
          "time": 1780675110397,
          "fp": "✅ **__ Работодатель ПРОВЕРЕН!\nРазмещение в MV с 2022г.\nПодтверждено живыми отзывами и публичным опро"
        },
        {
          "time": 1780675132179,
          "fp": "Mas explicando o pq de muitas garotas preferirem correr risco de trabalhar em airbnb"
        },
        {
          "time": 1780675139309,
          "fp": "Pois é"
        },
        {
          "time": 1780675142487,
          "fp": "Chicas, ¿alguna recomendación de habitación en Ibiza, Marbella o Cádiz? Por favor, ayúdenme. No sé a"
        },
        {
          "time": 1780675162275,
          "fp": "Pq o que atrapalha é alguém varejar no mesmo endereço que você \nSe q pessoa tá lá do outro lado da c"
        },
        {
          "time": 1780675187159,
          "fp": "🇨🇭 SWITZERLAND\n🇩🇰 DENMARK\n🇮🇪 IRELAND\n🇲🇹 MALTA\n🇷🇸 SERBIA\n🇨🇿 PRAGUE\n🇪🇪 ESTONIA\n🇭🇰 HONG"
        },
        {
          "time": 1780675218524,
          "fp": "Eu prefiro correr esse risco pq já me ferrei pegando apartamento de praça com garota varejeira e tam"
        },
        {
          "time": 1780675234657,
          "fp": "🚨🚨 vou mandar contato de casa para Alugar"
        },
        {
          "time": 1780675258532,
          "fp": "😈🔆🔆🔆🔆🔆🔆🔆🔆🔆😈\n\n🔞🔆🔆🔆🔆🔆🔆 🔆🔆🔆🔆🔞\n\n🩷🔆🔆🔆🔆🔆🔆🔆 🔆🔆🔆🔆🩷\n\n👠🔆🔆🔆🔆🔆 🔆🔆 🔆"
        },
        {
          "time": 1780675267742,
          "fp": "Em uk eu sempre aviso as meninas que é bom pegar studio sozinha do pessoal que aluga pra garota pq n"
        },
        {
          "time": 1780675281936,
          "fp": "E vc tb n vai correr perigo dobrado"
        },
        {
          "time": 1780675295890,
          "fp": "Muito lugar caindo \nPor conta das meninas que vai e zoa"
        },
        {
          "time": 1780675306531,
          "fp": "Acaba que queiram ligar"
        },
        {
          "time": 1780675310949,
          "fp": "Очаровательная внешность Транси будет для тебя как глоток свежего воздуха. Минимум табу. Приветствую"
        },
        {
          "time": 1780675371130,
          "fp": "Aqui na França no interior um aluguel de um quarto o povo quer 800/900/1000 euros \nNo airbnb você pa"
        },
        {
          "time": 1780675383668,
          "fp": "Aqui cai fácil airbnb/booking"
        },
        {
          "time": 1780675399265,
          "fp": "Eles esperam a gente alugar pra derrubar"
        },
        {
          "time": 1780675410519,
          "fp": "Eu em Milano no centro de Milano alugo quarto 600\nApt pra fica sozinha 800 \nTodos no centro Milano"
        },
        {
          "time": 1780675422293,
          "fp": "Nossa 800 de boa sozinha"
        },
        {
          "time": 1780675442780,
          "fp": "Achei um preço bem bacana"
        },
        {
          "time": 1780675454834,
          "fp": "Sai o valor de airbnb aí"
        },
        {
          "time": 1780675465515,
          "fp": "Nao tem Vizinhos meus Apt de familia"
        },
        {
          "time": 1780675481397,
          "fp": "ПХУКЕТ Бангтао \nНа сейчас к посту !!!\n\n2 часа 500 чист \n\nТипаж: Красивая, стройная ТОП"
        },
        {
          "time": 1780675528564,
          "fp": "1380653\n\n👗  TRIP TO MILAN 👗\n\n✏️   END OF JUNE\n\n✔️MODEL TYPE \n✔️HEIGHT FROM 172( NO LESS) \n✔️WITHOU"
        },
        {
          "time": 1780675546730,
          "fp": "*Paris*🇫🇷\nПариж\n\nNearest days\nFor *2h*\nMeeting with nice regular guy\nIn Hotel\n\nLooking for *young "
        },
        {
          "time": 1780675561955,
          "fp": "Pq os contatos que me mandaram tudo 1k500"
        },
        {
          "time": 1780675591551,
          "fp": "Os meus 800 pra fica so no Apt"
        },
        {
          "time": 1780675597020,
          "fp": "Hola amores alguien tiene info de plazas en Ibiza?"
        },
        {
          "time": 1780675629909,
          "fp": "Aonde ?"
        },
        {
          "time": 1780675656582,
          "fp": "Em paris"
        },
        {
          "time": 1780675667694,
          "fp": "Enfiam a faca aqui"
        },
        {
          "time": 1780675672248,
          "fp": "Hola a todos, trabajo en el sector de los permisos de conducir legales. Si ya saben conducir, tambié"
        },
        {
          "time": 1780675689938,
          "fp": "Aaah sim, carissimo aí ne 😓"
        },
        {
          "time": 1780675715289,
          "fp": "E tipo studio minúsculo ainda"
        },
        {
          "time": 1780675723001,
          "fp": "Oi meninas, alguém tem indicação de agência boa em Milão?"
        },
        {
          "time": 1780675841041,
          "fp": "Iper confianca e corretas e honesta"
        },
        {
          "time": 1780675882296,
          "fp": "**🌟⭐️МОСКВА⭐️🌟\n \nНужна красивая с нат. грудью \n\nот 2 размера\n\nВстреча на 3ч в отеле, зак \n\nрусский"
        },
        {
          "time": 1780675904141,
          "fp": "Você precisa se cadastrar. Eu me cadastrei na Espanha pelo aplicativo; ele rastreia tudo, sabe, você"
        },
        {
          "time": 1780675996901,
          "fp": "Muito obrigada, vou entrar em contato. 🫶🏻"
        },
        {
          "time": 1780676083156,
          "fp": "Белокурая красотка❤️ждёт тебя в гости ❤️ Жду тебя милый. 💋💋 Киев"
        },
        {
          "time": 1780676140342,
          "fp": "🇬🇧🇮🇪NEWRY 🇬🇧🇮🇪\n🇮🇪🍀APPOINTMENT 🍀🇮🇪\n🚨🚨🚨JUNE❤️❤️❤️\n- [x] 08/06…..Shared house\n- [x] 08"
        },
        {
          "time": 1780676161926,
          "fp": "🔮🔮🔮 🔮 🔮🔮🔮\n🔮 *НОВЫЙ ПИТЕР* 🔮\n🔮🔮🔮 🔮 🔮🔮🔮\n\n\n💸 Доход *от 900.000₽+*\n💰 Выплаты сразу пос"
        },
        {
          "time": 1780676175629,
          "fp": "Tú de novo mudor de perfil agora não é mas a Yasmim kkkkkk"
        },
        {
          "time": 1780676193935,
          "fp": "18 лет бейби фейс блондинка 👩🏼💋\nПриеду к тебе прямо сейчас👄\nПечерский"
        },
        {
          "time": 1780676215293,
          "fp": "Rapaz tem gente que pensa que todo mundo é besta"
        },
        {
          "time": 1780676233958,
          "fp": "Киев\nПрайс🔥🔥\nЖду именно тебя 💋💋"
        },
        {
          "time": 1780676316489,
          "fp": "🔥 МОСКВА ЖДЁТ ТЕБЯ. ХВАТИТ МЕДЛИТЬ.\n\nХочешь просыпаться без будильника на скучную работу?\nХочешь чу"
        },
        {
          "time": 1780676342795,
          "fp": "BARCELONA 🇪🇸 \n\nWho is available for tonight?\nAnd for tomorrow ?\nShort private meeting\n1hr - 1k cle"
        },
        {
          "time": 1780676365177,
          "fp": "Buenas tardes?"
        },
        {
          "time": 1780676401797,
          "fp": "Plaza en Agencia Sweet 💎\nValencia🇪🇦\n\nOfrecemos:\n📅 Estancia de 7 a 15 días( con posibilidad de ex"
        },
        {
          "time": 1780676442722,
          "fp": "Buenas tardes"
        },
        {
          "time": 1780676453746,
          "fp": "Alguna habitacion disponible en madrid"
        },
        {
          "time": 1780676522081,
          "fp": "Киев 🔥\n\n💕TOP - девушка \n\nМодельная внешность. Познакомлюсь с интересным мужчиной.\n\nПроведу ночь ил"
        },
        {
          "time": 1780676541880,
          "fp": "Ela faz grecia tb né?"
        },
        {
          "time": 1780676591413,
          "fp": "*DUBAI 🇦🇪*\n\n⚠️ _*only very skinny girls*_\n\n📅 TOMORROW\n⏰ 4:00pm ~2-3 hours\n\n💰*6,000AED - 30%*\n🔝 "
        },
        {
          "time": 1780676625523,
          "fp": "Удивительная транссексуалка зовёт тебя в край интима! Со мной не заскучать. 🤗"
        },
        {
          "time": 1780676637756,
          "fp": "London tonight around 00:00\nOutcall 1h\n600gbp-30%com"
        },
        {
          "time": 1780676906033,
          "fp": "Algum quarto disponível para alugar em neasden ?"
        },
        {
          "time": 1780676923935,
          "fp": "Como faz pra por dinheiro no remity?"
        },
        {
          "time": 1780676938550,
          "fp": "Você tem q ter dinheiro na conta"
        },
        {
          "time": 1780676965009,
          "fp": "Ai ela pega o dinheiro da sua conta/cartao e envia para o pix"
        },
        {
          "time": 1780677059011,
          "fp": "Москва \nСегодня, в 10-11 вечера\nМетро Домодедовская, отель, работаю не первый раз, зайка! Всё на лай"
        },
        {
          "time": 1780677101925,
          "fp": "Se alquila habitación en Tenerife  Santa Cruz ubicado en zona centro lugar cómodo y acogedor, ideal "
        },
        {
          "time": 1780677194517,
          "fp": "🇫🇷 paris 🇫🇷 \nneed two slim models who can do threesome 3-4k minus com 2-3 hours. American guy !"
        },
        {
          "time": 1780677202924,
          "fp": "Alguém indica local São José dos Campos?"
        },
        {
          "time": 1780677214314,
          "fp": "Россия 🇷🇺 \nСодержание\nМужчина ищет на отношения, город не важен \nВажно: не засвечены в сфере эскор"
        },
        {
          "time": 1780677286358,
          "fp": "Пленительная внешность Транс будет для тебя как глоток свежего воздуха. Минимум табу. Приветствую вс"
        },
        {
          "time": 1780677296735,
          "fp": "Coloquei"
        },
        {
          "time": 1780677343314,
          "fp": "🌸 ХОЧЕШЬ В МОСКВУ?\n\nНе в гости — а жить.\nВсё, что ты откладывала на «потом» — начинается сегодня.\n\n"
        },
        {
          "time": 1780677356675,
          "fp": "АЗИЯ ДЕВОЧКИ ❗❗❗\nКто на месте❓❓❓\nИли собирается путешествовать ❗\n\nЕсть несколько заказчиков в Азии.❗"
        },
        {
          "time": 1780677371239,
          "fp": "Киев! 🖤 Красивая брюнетка с нежными руками приглашает на реальную встречу. Котик, пиши в личку — ус"
        },
        {
          "time": 1780677481986,
          "fp": "__@Margo_Love69____ ❤️ ГОСПОЖА__\n**__\n\n\nЕСЛИ Я ПОЗВОВОЛЮ ТЕБЕ ПРИДТИ КО МНЕ В ГОСТИ И ТЫ  ЗАМЕТИШЬ Н"
        },
        {
          "time": 1780677492809,
          "fp": "*New York* 🇺🇸 Tonight ,2h meeting ,possibly with extension. regular client \nOpen budget \n\nWho’s up"
        },
        {
          "time": 1780677589432,
          "fp": "прuглашy к себе  сегодня потусuть  ,есть адекватные naрни не зож?😈"
        },
        {
          "time": 1780677614113,
          "fp": "Pasen video de porno amigos"
        },
        {
          "time": 1780677706992,
          "fp": "🇫🇷 Nice Request\n\n📅 Tomorrow\n⏰ 1:00 PM for 1 hour\n\n📍 Nice\n\n⚠️ Only models who are already in Nice"
        },
        {
          "time": 1780677742562,
          "fp": "Alguém sabe de alguma empresa de limpeza contratando aqui em Madrid?"
        },
        {
          "time": 1780677749772,
          "fp": "hola saludos"
        },
        {
          "time": 1780677759991,
          "fp": "❤️ КИЕВСКАЯ ОБЛАСТЬ💎\n\n‼️ИНДИ ПРИГЛАШУ В ГОСТИ🔞 \n\n\nМЕСТО ЕСТЬ ✅ \n\n\nАктуально сейчас 💎"
        },
        {
          "time": 1780677799818,
          "fp": "Onde posso enviar currículo"
        },
        {
          "time": 1780677815171,
          "fp": "Estou no Brasil queria oportunidade aí"
        },
        {
          "time": 1780677866226,
          "fp": "Entra no aplicativo Doméstica lá vc se cadastra"
        },
        {
          "time": 1780677886478,
          "fp": "🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/IcnQOZS2FhBKCXpkOOYpOH"
        },
        {
          "time": 1780677910006,
          "fp": "Hi girls, who’s in Vienna today and available to meet tonight? \nShort meeting!\n\nPlease send me your "
        },
        {
          "time": 1780677922744,
          "fp": "🍓🍓🍓🍓🍓🍓🍓🍓🍓\nВидеозвонок☎️\nФоточки🥰\nВuдеo🫦\nBuрт звoнok😍\nЗа прайсом в ЛС💌\nЕсть встречи💋\n🍓"
        },
        {
          "time": 1780677954543,
          "fp": "Meninas \nPerfil ruiva ou loiras \nAtendimento particular \nManda foto PV"
        },
        {
          "time": 1780678038006,
          "fp": "Женственная транси-девушка приглашает тебя в страну страсти! Со мной не заскучать. 🐱"
        },
        {
          "time": 1780678105172,
          "fp": "*PARIS* 🇫🇷\nTonight 20:30 h \n800 clean 1 hour (15 min extra) \nWho is available? Top girls ‼️"
        },
        {
          "time": 1780678120329,
          "fp": "🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/GW6uR26pgbFAScnfR0yc4V"
        },
        {
          "time": 1780678184325,
          "fp": "🇷🇺❤️ *Moscow never sleeps* ❤️🇷🇺\n*Москва не спит -  и лучшие клиенты тоже.*\n\n💎 *Работа без засве"
        },
        {
          "time": 1780678257247,
          "fp": "Paris Tonight 🇫🇷\nLooking for Slavic girl  skinny and young\nDinner + extra \n1000 clean 🎁"
        },
        {
          "time": 1780678309494,
          "fp": "Friockheim. Scotland\nWho is there or nearby?\n\n5-6 hours \ntext me for discuss\n\n-Videos , photos,info "
        },
        {
          "time": 1780678360638,
          "fp": "Tenho em Jardinópolis SP ao lado de ribeirão preto \nÉ duas em Inocência Ms ao lado de três Lagoas"
        },
        {
          "time": 1780678417733,
          "fp": "Habitación en Barcelona, ​​en la zona de la Sagrada Familia, con aire acondicionado y baño privado."
        },
        {
          "time": 1780678448951,
          "fp": "🔥 Киев 🔥\n\nСоф Борщаговка 💎 \nВыезд 🚖\nVIP принцесса знает как доставить удовольствие. \nНе посредни"
        },
        {
          "time": 1780678506768,
          "fp": "NYC \nIncall\n30mins\n800$-300$\nSend Incall address and photos\nNeed someone to east manhattan"
        },
        {
          "time": 1780678558331,
          "fp": "Москва \nСегодня вечером \nНа 1 час\nХороший, молодой пост\nНужна девушка \nБюджет 20к чистыми"
        },
        {
          "time": 1780678621806,
          "fp": "Moscow tonight I need two girls who are already there send pictures names and nationality budget up "
        },
        {
          "time": 1780678678343,
          "fp": "Hola plaza en republica dominicana"
        },
        {
          "time": 1780678715080,
          "fp": "algum flart em Leicester  ?"
        },
        {
          "time": 1780678746663,
          "fp": "Obrigada 🙌🏻🙌🏻"
        },
        {
          "time": 1780678753338,
          "fp": "Olá boa tarde , alguém poderia me enviar links de grupos no WhatsApp na Itália porfavor"
        },
        {
          "time": 1780678803677,
          "fp": "🇺🇸 Inglês na prática. Sem enrolação.\n\nTurmas online focadas em fala e conversação.\n\n🗓️ Segunda a "
        },
        {
          "time": 1780678864861,
          "fp": "Сразу пишите номер предложения !!!\nВсех показываю и вижу, отвечаю только тем кого выберут 🙏🏻❤️\n\n1️"
        },
        {
          "time": 1780678933404,
          "fp": "Испания!!! 🇪🇸\nМальорка!!! \nКто свободен!!!\n1.5-2 часа 🕑 !!!\nБюджет 1000€ чисты💰!!! \n\nSpain!!! 🇪"
        },
        {
          "time": 1780678969704,
          "fp": "Apartamentos, estudios o habitaciones privadas totalmente amueblados y equipados, disponibles para p"
        },
        {
          "time": 1780679120227,
          "fp": "✅VCA \n✅ Limosas\n✅ Certificado A1 – Rápido e sem complicações\n✅ FATURAS (Empresa Belga ou Portuguesa)"
        },
        {
          "time": 1780679153432,
          "fp": "no es fiable"
        },
        {
          "time": 1780679170287,
          "fp": "Киев, центр \nМолодая секс блондинка, 18 лет.\nДелаю классный слюнявый в авто 🍌 \nПриеду в гости на кл"
        },
        {
          "time": 1780679218599,
          "fp": "*ГОНКОНГ*💖\nВыезд на 1-2 часа \nВ ближайшее время \nИностранец \nПост отель\nIsland Shangri la\nБюджет об"
        },
        {
          "time": 1780679260478,
          "fp": "Удивительная внешность Транс станет для тебя как глоток свежего воздуха. Мало табу. Приветствую все "
        },
        {
          "time": 1780679304563,
          "fp": "No es a fiable"
        },
        {
          "time": 1780679309044,
          "fp": "🇬🇧🇬🇧 LONDON 🇬🇧🇬🇧\n\nI need a beautiful model for tomorrow night.\n\nYoung and regular client \n\n1"
        },
        {
          "time": 1780679422750,
          "fp": "🫶🏻"
        },
        {
          "time": 1780679448948,
          "fp": "Красивая транси с сюрпризом зовёт тебя в край удовольствий! Со мной не заскучать. 🫦"
        },
        {
          "time": 1780679465509,
          "fp": "🤍 Departure only from: DUBAI or ASIA! \n\nJakarta 8 June \nneed 3 Girls No tanned girls \n\nOvernight jo"
        },
        {
          "time": 1780679527279,
          "fp": "Дорого💸Дорого💸Дорого💸\n\n📍Kyiv | Липки📍\n  VIP формат 🩸\n\nВстреча только с обеспеченным мужчиной\nМ"
        },
        {
          "time": 1780679584662,
          "fp": "Питер \nВстреча завтра вечером на 2 часа - 40/50 чист\nОтель\n+79992379455"
        },
        {
          "time": 1780679623742,
          "fp": "Q Deus te abençoe com essa atitude 🙏"
        },
        {
          "time": 1780679647111,
          "fp": "Привет две молодые студентки познакомятся с парнем 🔥🔥!!)"
        },
        {
          "time": 1780679741541,
          "fp": "Москва \n\nСегодня вечер \nИщу топ 🔝 \nРост от 177 строго ,грудь от 2,5 (своя!) , до 25 лет ,выглядеть "
        },
        {
          "time": 1780679867632,
          "fp": "Gracias."
        },
        {
          "time": 1780679893227,
          "fp": "* Нью Йорк 🇺🇸\n*Сейчас   -1 час\n* Инкол\n*Бюджет  1000- 30% \n Пожелания:\n Хорошей и веселое настроен"
        },
        {
          "time": 1780680006909,
          "fp": "Any new girls in *Paris*\nTomorrow\nParty + extra\nBudget depends on model\nSend me infos"
        },
        {
          "time": 1780680031898,
          "fp": "Plaza disponible con incorporación inmediata!!\nBarcelona,Sabadell sud.\n🍭Requisitos:\nBuena presencia"
        },
        {
          "time": 1780680053741,
          "fp": "Esa plaza fue reportada hace tiempo pero no te sabría decir por qué, pues no lo recuerdo. El texto d"
        },
        {
          "time": 1780680093561,
          "fp": "READY-MADE PROFILES FOR SALE | ПРОДАЖА ГОТОВЫХ ПРОФИЛЕЙ ДЛЯ РАБОТЫ\n\nPlatforms / Площадки:\n• Eros\n• T"
        },
        {
          "time": 1780680131549,
          "fp": "Jakarta 8 June ( fly from Asia or Dubai) \nneed Girl No tanned girls \n3000$ clean \nClient \nindonesian"
        },
        {
          "time": 1780680152701,
          "fp": "1- Trip\n\nSolomon Island July 10 days\n\n2k dollars per day\n\nSuper easy trip\n\nI need 6 to 10 models\n\nNo"
        },
        {
          "time": 1780680210459,
          "fp": "Фітнес фігура 🔥\n\nДоглянута, висока, довге волосся ❤️ готова приїхати на декілька годин, або годину "
        },
        {
          "time": 1780680565960,
          "fp": "Fijate que dice que  tiene publicidades top y sólo encontraron UNA publicidad en destacamos \n."
        },
        {
          "time": 1780680584333,
          "fp": "📍Nice, Cannes, Monaco 🇫🇷🇲🇨\n\nRegular customer, Jewish \n6-7th June \n2-3 hour meeting\n\n✨ Luxury, l"
        },
        {
          "time": 1780680630926,
          "fp": "♥️♥️♥️ Tokyo- 6/6-6-10 June \nBudget depends on the model for 1-2h meeting \nGood regular client \nWho’"
        },
        {
          "time": 1780680763737,
          "fp": "Москва\nКто может принять у себя? \nВ районе м. Аэропорт\n1-2 часа, 10-20к чист \nСейчас\nМужчина ру"
        },
        {
          "time": 1780680777126,
          "fp": "Yo lo comento porque hace tiempo fue reportado en algún grupo pero ya te digo que no recuerdo el mot"
        },
        {
          "time": 1780680814879,
          "fp": "Hola chicas,\nPor cancelacion\n2 habitacion libre:\n📍SINT NIKLAAS\nPara chicas discretas y respetuosas."
        },
        {
          "time": 1780680828646,
          "fp": "Москва ❤️\nРусский пост 👍\n90т-30 т \n3 ч +- \nГрудь , попа своя \nНе худую , попа от 94 см \nДо 30 лет ,"
        },
        {
          "time": 1780680908789,
          "fp": "*NEW YORK*\nAfternoon\n1h meeting\n1000-%\nUber paid"
        },
        {
          "time": 1780681053501,
          "fp": "iPhone 16 for 128gb\niPad 16 128gb\n\nBrand new in box sealed. \n\n950 £ for both."
        },
        {
          "time": 1780681063706,
          "fp": "🇹🇷 Стамбул, Турция\n\nЗавтра (суббота), дневное время.\nВстреча в отеле, продолжительность 1–2 часа.\n"
        },
        {
          "time": 1780681110115,
          "fp": "Necesitamos plaza en españa para 2 chicas"
        },
        {
          "time": 1780681140526,
          "fp": "Necesito plaza para 2 chicas"
        },
        {
          "time": 1780681207823,
          "fp": "*NEW YORK*\nNearest\n1h meeting\n1000-%\nUber paid"
        },
        {
          "time": 1780681235002,
          "fp": "Пленительная внешность Транссексуалки будет для тебя как глоток свежего воздуха. Минимум табу. Приве"
        },
        {
          "time": 1780681291606,
          "fp": "Alguém pode pelo amor de Deus"
        },
        {
          "time": 1780681306944,
          "fp": "*ШАНХАЙ*🧡\nВыезд  2часа \n600$ чистыми \nИностранец \nОтель"
        },
        {
          "time": 1780681319523,
          "fp": "Proof ?"
        },
        {
          "time": 1780681330268,
          "fp": "Hola habitación en Ibiza disponible"
        },
        {
          "time": 1780681340102,
          "fp": "Acho que vc tá no grupo errado"
        },
        {
          "time": 1780681352528,
          "fp": "Nao entedi"
        },
        {
          "time": 1780681355940,
          "fp": "Cadê seu bolsa família"
        },
        {
          "time": 1780681371400,
          "fp": "💜💜💜\n❤️писать в день планируемой встречи❤️\nСанкт-Петербург\n\n🩵Минуэт(МБР) \n  \nв твоем Авто \n\n20-30"
        },
        {
          "time": 1780681385982,
          "fp": "Cuidado com a mão de Deus um dia vc precisar"
        },
        {
          "time": 1780681391151,
          "fp": "Ela não sabia tadinha"
        },
        {
          "time": 1780681398982,
          "fp": "Deus tbm não se agrada de mentiras não"
        },
        {
          "time": 1780681411403,
          "fp": "Boa noite.\nDisponível masticagem \n(Caixinha)\nInduizagem \nPintura"
        },
        {
          "time": 1780681444125,
          "fp": "🏡 Habitaciones en alquiler en Ciudad Real – Comodidad, discreción y excelente ubicación\n\nSe alquila"
        },
        {
          "time": 1780681459875,
          "fp": "Vende o celular uai"
        },
        {
          "time": 1780681484278,
          "fp": "Deus tambem nao se agrada do que vc faz"
        },
        {
          "time": 1780681491701,
          "fp": "Ai como vai ganhar fácil ?"
        },
        {
          "time": 1780681504398,
          "fp": "Hola buenas tardes una amiguita está buscando habitación en Torrijos depronto tienen algún número de"
        },
        {
          "time": 1780681522895,
          "fp": "Vaza"
        },
        {
          "time": 1780681527335,
          "fp": "Puta"
        },
        {
          "time": 1780681537459,
          "fp": "Vai vende teu cu"
        },
        {
          "time": 1780681548099,
          "fp": "INVITACIÓN UNIVERS HOY \n\nBACKSTAGE \nDAVID GUETTA \nENVIAR COLAGE"
        },
        {
          "time": 1780681562887,
          "fp": "Mulher q eu sou muito inocente juro"
        },
        {
          "time": 1780681575904,
          "fp": "Pelo amor de Deus"
        },
        {
          "time": 1780681634594,
          "fp": "Estou doando esse beliche"
        },
        {
          "time": 1780681640521,
          "fp": "Manda seu pix ai"
        },
        {
          "time": 1780681648106,
          "fp": "Ela saiu do grupo"
        },
        {
          "time": 1780681654365,
          "fp": "A tá kkkk"
        },
        {
          "time": 1780681662504,
          "fp": "Kkkkkkkkkkkk"
        },
        {
          "time": 1780681690529,
          "fp": "3$ e ainda quer falar mal dos outros"
        },
        {
          "time": 1780681697265,
          "fp": "HOJE TEMOS MATAHARI CABINES 🫦 \n\nJAJÁ PESSOAL...\n\nDAS 17H ÁS 00H"
        },
        {
          "time": 1780681717990,
          "fp": "Esmola virtual"
        },
        {
          "time": 1780681729772,
          "fp": "Ainda chama agente dd prostituta kkk melhor see uma que fica dando golpe"
        },
        {
          "time": 1780681734032,
          "fp": "Kkkkkkkkkkkkkkkkkkkkkkkkkkk"
        },
        {
          "time": 1780681800167,
          "fp": "Mds vem pedir dinheiro em grupo de puta"
        },
        {
          "time": 1780681813347,
          "fp": "Esse golpe ta bem em alta viu"
        },
        {
          "time": 1780681841853,
          "fp": "Испания!!! 🇪🇸\nМальорка\nСегодня кто свободен \n1.5-2 часа 🕑\nБюджет 800€ чистыми💰\n\nSpain!!! 🇪🇸\nMa"
        },
        {
          "time": 1780681897300,
          "fp": "Quien tiene un numero de habitación en Madrid Móstoles gracias"
        },
        {
          "time": 1780681921945,
          "fp": "Cara fazem vídeos das crianças"
        },
        {
          "time": 1780681929487,
          "fp": "Eu so ajudo mesmo quase eu vejo que a história e real mais conhecidos quando sei que estão passando "
        },
        {
          "time": 1780681955523,
          "fp": "Isso é antigo"
        },
        {
          "time": 1780681966130,
          "fp": "Se busca operador con experiencia en los Países Bajos. ¡Envíame un mensaje privado!"
        },
        {
          "time": 1780682000669,
          "fp": "**Пилорама не хватка рук\nрасчёт в конце смены\n5ООО+выроботка**"
        },
        {
          "time": 1780682172222,
          "fp": "Parabéns pelo trabalho, minha amiga fez as fotos com você e ficaram incríveis, vou chamar pra fazer "
        },
        {
          "time": 1780682202127,
          "fp": "👏"
        },
        {
          "time": 1780682271868,
          "fp": "Женственная транссексуалка зовёт тебя в страну интима! Со мной не заскучать. 😛"
        },
        {
          "time": 1780682280607,
          "fp": "Istanbul, Turkey 🇹🇷\n\nLooking for a girl for a 3-day trip next week.\n(Flights from any country will"
        },
        {
          "time": 1780682334587,
          "fp": "🇺🇸🇺🇸 *NYC* 🇺🇸🇺🇸\n*OUTCALL TO HOTEL*🏨\n\n*START 3:30-4:30PM BUT CAN BE LATER* 🕰️\n\n*1h* \n*800$-"
        },
        {
          "time": 1780682390037,
          "fp": "Dubai 🇦🇪\n\nTonight \n1h meeting \n700$🎁\n\n\nPayment crypto \nWho is available?"
        },
        {
          "time": 1780682399202,
          "fp": "O meu perdir assim"
        },
        {
          "time": 1780682414678,
          "fp": "E nunca consegui recuperar"
        },
        {
          "time": 1780682446595,
          "fp": "🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/LNreKeaezoc7VbLky3iIdy"
        },
        {
          "time": 1780682534723,
          "fp": "PISO RECOMENDADO!!! OVIEDO/ASTURIAS. ZONA LOS PRADOS PARA EL LUNES 8/6 AMBIENTE TRANQUILO Y FAMILIAR"
        },
        {
          "time": 1780682571984,
          "fp": "Plaza libre Bonos para dos chicas chalet privado en la línea de la concepción no perdáis la oportuni"
        },
        {
          "time": 1780682631559,
          "fp": "Algún apto para independiente en Niza?"
        },
        {
          "time": 1780682681034,
          "fp": "*💰AGÊNCIA CATANDUVAS - SP*/ 📞(19)99957-4533         ____________________________________ Que tal 4"
        },
        {
          "time": 1780682778320,
          "fp": "Quem é a menina que faz as Fotos de IA de confiança aqui?"
        },
        {
          "time": 1780683047228,
          "fp": "Warsaw\n\nToday, 22:00\n\n2 hours\n\nRegular client, not local\n\nBudget: $1000+\nHigher budget available for"
        },
        {
          "time": 1780683160102,
          "fp": "💋💋💋💋ОДЕСА💋💋💋💋\n\n 💋Мила, ніжна, пристрасна, чарівна струнка доглянута\n дівчина\n 💋Вмію достав"
        },
        {
          "time": 1780683209238,
          "fp": "Нежная внешность Транссексуалки станет для тебя как глоток свежего воздуха. Минимум запретов. Привет"
        },
        {
          "time": 1780683231734,
          "fp": "Trip to Jordan- Amman✈️\nFrom dubai / istanbul or moscow\n \n8th June\n3 days\n5 Star Hotel\n\nRegular clie"
        },
        {
          "time": 1780683252026,
          "fp": "*LONDON* 🇬🇧\nTonight \nNo Brazilian( sorry) all natural no Fake boobs\n3h\n1000$$-30%, not raising \nYo"
        },
        {
          "time": 1780683272127,
          "fp": "🇮🇨*ISLAS CANARIAS,*  \n\n*Plaza 60/40*\n \n*SE PRECISAN CHICAS, ENTRE LOS 18 Y 30 AÑOS*\n\n🔑*Habitacion"
        },
        {
          "time": 1780683310767,
          "fp": "*London, valid next couple days🇬🇧💷*\n\nBritish models only \nClient in 30’s\nCharming \n2.5hr meeting "
        },
        {
          "time": 1780683349733,
          "fp": "Paris 🇫🇷 \nI need top \nVery good budget"
        },
        {
          "time": 1780683371786,
          "fp": "*London*🇬🇧\nЛондон\n\nNearest days\nFor *2h*\nMeeting with nice regular guy\nIn Hotel\n\nLooking for *youn"
        },
        {
          "time": 1780683399115,
          "fp": "🇵🇱 Варшава 🇵🇱\n📅 На сегодня\n🌙 На ночь\n✨ Ищу 1 TOP-модель ✨\n🏨 Встреча 1:1 в отеле\n👤 О себе:\n🇺"
        },
        {
          "time": 1780683454225,
          "fp": "Agent Amelie misrepresented the terms of our agreement from the outset. She charged me 45% commissio"
        },
        {
          "time": 1780683462682,
          "fp": "🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/GLoy4d2ZHzI8DtR4uHCTYw"
        },
        {
          "time": 1780683491491,
          "fp": "Boa noite, \n\nEu estou disponível como ajudante para amanhã, sábado. \n\nPrecisando chama no privado 🚧"
        },
        {
          "time": 1780683547164,
          "fp": "🚧🚧🚧🚧🚧🚧🚧🚧🚧🚧🚧🚧🚧🚧🚧🚧\n\nSOU AJUDANTE E ESTOU  \n\nDISPONÍVEL AMANHÃ. !!!!!!\n\n🚧🚧🚧🚧🚧🚧🚧\ud83d"
        },
        {
          "time": 1780683587537,
          "fp": "BELLA’S LUX 🍀\n¿Quieres trabajar en una de las ciudades más exclusivas y hermosas de Lucerna y gener"
        },
        {
          "time": 1780683659656,
          "fp": "Just more lies, I am a yoga girl who don’t drink or do drugs. I understand you are angry you lost a "
        },
        {
          "time": 1780683682758,
          "fp": "Шикарная транси приглашает тебя в страну удовольствий! Со мной не заскучать. 🤠"
        },
        {
          "time": 1780683722836,
          "fp": "🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/LH5N2JCtfi60BhPtgKdoMD"
        },
        {
          "time": 1780683799161,
          "fp": "Одесса 📍\n\nРаботаю без посредников 🔺\nДорого и Эффектно 💎\n\nПриеду к тебе на часик или на ночь 🌙\n\nБ"
        },
        {
          "time": 1780683831416,
          "fp": "Можно сделать совсем коротко и дорого по стилю:\n\n📍 Алматы | На сейчас\n\nИщем 2 девушек TOP level ✨\n\n"
        },
        {
          "time": 1780683900886,
          "fp": "Vou te mandar"
        },
        {
          "time": 1780683910613,
          "fp": "Пати Болгары !\n\n❤️ДУБАЙ КТО НА МЕСТЕ ! С 10 по 20 июня \n❤️И кто может вылететь из любой страны ( оте"
        },
        {
          "time": 1780683928482,
          "fp": "👑 Cannes y Monaco 👑 💫 ❣️Plaza al 50%❣️💫\n🤵🏻‍♂️ Seguridad\n🏩 Apartamentos completos \n🚙 Chofer a"
        },
        {
          "time": 1780683972425,
          "fp": "**Ты красивая и эффектная, но бедная?!**\n\n__Заходишь в Инстаграм — а там девчонки твоего возраста уж"
        },
        {
          "time": 1780684011527,
          "fp": "Пати Болгары !\n\n❤️ДУБАЙ КТО НА МЕСТЕ ! С 10 по 22 июня \n❤️И кто может вылететь из любой страны ( оте"
        },
        {
          "time": 1780684100668,
          "fp": "✅ПХУКЕТ МОЛОДАЯ\nВ 01.00 СЕГОДНЯ\nРУССКОЯЗЫЧНЫЙ ЗАК\n\n1-2ч 800-300$"
        },
        {
          "time": 1780684112925,
          "fp": "Boa noite estou precisando de 3 profissionais q trabalham com Plafonagem com documentos portugueses "
        },
        {
          "time": 1780684154439,
          "fp": "Why you text yourself from a different number with lies. Its really unnecessary. You made 23k on me "
        },
        {
          "time": 1780684268175,
          "fp": "You lost me and lost him with the way how you run your business. Nobody likes to be blackmailed"
        },
        {
          "time": 1780684333333,
          "fp": "Rome  \nTonight \n2-3 hours \nRegular customer\nHotel\nBudget from 1000€\nCan raise, write yours, will con"
        },
        {
          "time": 1780684432532,
          "fp": "Питер \n \nКировский Район - Стачек / Ленинский / Московский \n \nТа самая молодая студентка из твоих фа"
        },
        {
          "time": 1780684446268,
          "fp": "Obrigada"
        },
        {
          "time": 1780684479313,
          "fp": "📍 Алматы | На сейчас\n\nИщем 2 девушек TOP level ✨\n\n• Babyface\n• Красивые фото\n• Высокий уровень\n\n💰 "
        },
        {
          "time": 1780684503979,
          "fp": "🇪🇸🇪🇸 IBIZA 🇪🇸🇪🇸\n\nWho’s available right now?\n\nAmerican, young, good looking and regular clien"
        },
        {
          "time": 1780684528007,
          "fp": "*Питер !!!*\n‼️‼️‼️‼️‼️‼️‼️‼️‼️‼️‼️\nСегодня и завтра актуально\n1500$ чистыми\nНужны молодые, милые, до"
        },
        {
          "time": 1780684589899,
          "fp": "Warsaw Варшава \nWho is free tonight \n3-4 hours \nBudget under girl\nCustomer not local"
        },
        {
          "time": 1780684666360,
          "fp": "Gente algemas sabe me ensinar como olhar report pelo kommons"
        },
        {
          "time": 1780684678808,
          "fp": "She is another agent. Maybe you're too high to understand it.\nYou have betrayed, broken and all the "
        },
        {
          "time": 1780684690660,
          "fp": "Mykonos ‌‍\nTonight \nMeeting for 2h\nFlexible budget \nPics info video in bikini​‌"
        },
        {
          "time": 1780684703814,
          "fp": "She Is another agent, can you understand it?"
        },
        {
          "time": 1780684742209,
          "fp": "Bucharest 🇷🇴\n\nThis week \n2/3h \n1000€ clean \nWho is available?"
        },
        {
          "time": 1780684767382,
          "fp": "Mykonos ‌‌\nTonight \nMeeting for 2h\nFlexible budget \nPics info video in bikini​‍"
        },
        {
          "time": 1780684804410,
          "fp": "Warsaw\nToday\nOvernight \nHotel \n1:1 \nUkrainian man 32yo , married \nNo local \nModel budget"
        },
        {
          "time": 1780684824753,
          "fp": "*💖 APARTAMENTO ACONCHEGO EM Goiânia-GO*\n*📍Bairro bem localizado, discreto e seguro.*\n\n*🪀 Whatsapp"
        },
        {
          "time": 1780684891480,
          "fp": "♥️♥️♥️ NY(NJ)- 4/5pm\nBudget depends on the model for 1-2h meeting \nGood regular client \nWho’s Availa"
        },
        {
          "time": 1780684973210,
          "fp": "Please stop. The same agent said “Im amelie’s assistant” when they texted me today. Please stop tryi"
        },
        {
          "time": 1780685050498,
          "fp": "Of course I will continue with you, I will put your face on Instagram and on all websites if you don"
        },
        {
          "time": 1780685056818,
          "fp": "На следующей неделе. \n✈️🇺🇸Вылет в Лас-Вегас только у кого есть виза или кто на месте!! \nДень вылет"
        },
        {
          "time": 1780685081301,
          "fp": "She’s another agent who usually work with me , you can check"
        },
        {
          "time": 1780685093660,
          "fp": "Шикарная транссексуалка зовёт тебя в край интима! Со мной не заскучать. 🔥"
        },
        {
          "time": 1780685163894,
          "fp": "🇺🇦 Київ 🇺🇦\n\nПриємний price 💋\nТільки реальні зустрічі! \n\n✨Годинка \n✨Пів годинки \n✨Експрес \n\nВ по"
        },
        {
          "time": 1780685176680,
          "fp": "Meninas, alguém sabe me dizer se lyca funciona em Roma?"
        },
        {
          "time": 1780685184065,
          "fp": "Пленительная внешность Транс станет для тебя как глоток свежего воздуха. Минимум запретов. Приветств"
        },
        {
          "time": 1780685192758,
          "fp": "Uber disponible Marbella"
        },
        {
          "time": 1780685197414,
          "fp": "Here you have the proof that she is still in contact with the client, she herself sent a screenshot "
        },
        {
          "time": 1780685211135,
          "fp": "Simm\nEstou aqui e funciona normal"
        },
        {
          "time": 1780685217928,
          "fp": "Ótimo"
        },
        {
          "time": 1780685221567,
          "fp": "Tem bastante lugar que vende se precisar de assistência tb"
        },
        {
          "time": 1780685232199,
          "fp": "Ai vou pousar em Roma"
        },
        {
          "time": 1780685248295,
          "fp": "Não vou precisar acionar o airalo então"
        },
        {
          "time": 1780685282380,
          "fp": "Vontade de namorar uma brasileira que vive em Paris"
        },
        {
          "time": 1780685356031,
          "fp": "⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️\n           *Aulas de inglês*\n🇬🇧🇬🇧🇬🇧🇬🇧🇬🇧🇬🇧🇬🇧🇬🇧🇬🇧\n🇺🇸🇺🇸🇺🇸🇺\ud83c"
        },
        {
          "time": 1780685446534,
          "fp": "Vamos falar no pv sobre o propósito do nosso grupo e oportunidades de parceria"
        },
        {
          "time": 1780685461572,
          "fp": "E Brasil"
        },
        {
          "time": 1780685477206,
          "fp": "💎 *ДУБАЙ*  💎\n\n✈️ *Организую тур на 14 дней*\n\n✔️ Перелет и проживание за мой счет\n✔️ Полное сопрово"
        },
        {
          "time": 1780685514092,
          "fp": "Esse grupo é cheio de mimi fds"
        },
        {
          "time": 1780685621480,
          "fp": "Москва \n\nВ ближайшее время \n \n\nНа 1ч — 15 000₽\n\n\nПышные формы,молодые \n\nТакси вызывает \n\n\nОтзывы пре"
        },
        {
          "time": 1780685702604,
          "fp": "Mañana Imagen + extra\n4h imagen + 1 extra\n350€\nCollage + video sin filtros"
        },
        {
          "time": 1780685727422,
          "fp": "Why do you keep in touch with the client?"
        },
        {
          "time": 1780685734813,
          "fp": "Vegas 💚\nAsap\nOn 3h\nClassic \nBudget 1500$ 🎁"
        },
        {
          "time": 1780685755313,
          "fp": "how fucking dare you try twist shit"
        },
        {
          "time": 1780685772242,
          "fp": "You fucking cunt you stole Amelia’s client"
        },
        {
          "time": 1780685786862,
          "fp": "He can send his stupid ass team 🤣🤣🤣🤣"
        },
        {
          "time": 1780685799157,
          "fp": "IRS AND ICE VS his gang bangers"
        },
        {
          "time": 1780685809527,
          "fp": "And we will expose you"
        },
        {
          "time": 1780685825417,
          "fp": "Don’t ever think you can play with us"
        },
        {
          "time": 1780685843006,
          "fp": "And in all groups people know when I speak it’s the facts"
        },
        {
          "time": 1780685893624,
          "fp": "We have proof that you Keep in touch and continue meeting with the client again\nWithout Amelia’s con"
        },
        {
          "time": 1780685909694,
          "fp": "Otra vez sopa.."
        },
        {
          "time": 1780685929036,
          "fp": "@109053850202297 you think you can play games and manipulate a man who will drop you faster than a s"
        },
        {
          "time": 1780685941601,
          "fp": "**Москва  апарты беговая ****💝****\n\n2 часа ****🌷****\n\n15.000-20.000****🩷****\n\nКлассика мбр ****❤️"
        },
        {
          "time": 1780685957837,
          "fp": "And I promise you now you will have problems"
        },
        {
          "time": 1780685965793,
          "fp": "Девочка созрела, МБР-чик с овр, в машине ждёт только тебя!\nмужчины вы где потерялись? Опытная милфа "
        },
        {
          "time": 1780686110338,
          "fp": "You will have serious problems, you are manipulating the customer and stealing commissions\n\nYou don’"
        },
        {
          "time": 1780686135780,
          "fp": "You already have the address of usdt, send it because I will do hell with you"
        },
        {
          "time": 1780686206719,
          "fp": "Meninas, quem precisar desse serviços abaixo me chama! 😘\n\nCrio anúncios:\nKmmos \nAdultwork \nViva str"
        },
        {
          "time": 1780686217329,
          "fp": "Hola voy a cambiar de número y no quiero perder este grupo podrían enviarme la solicitud a este nuev"
        },
        {
          "time": 1780686223928,
          "fp": "@109053850202297 You must solve this as soon as you can"
        },
        {
          "time": 1780686238109,
          "fp": "Local em  nova Friburgo ???????????"
        },
        {
          "time": 1780686254458,
          "fp": "Pare de bater cabeça com seguro.\nVem na fonte.\n\n✔️ Seguro Moto\n✔️ Seguro Carro\n✔️ Seguro Van\n\n⚠️ Tra"
        },
        {
          "time": 1780686262578,
          "fp": "🐬 Вызываю зависимость! \n\nТы захочешь меня еще и еще 👅\n\nКиев ( Печерский район) \nИнди 👑\n\n**Выезд в"
        },
        {
          "time": 1780686343291,
          "fp": "Sim na Italia inteira funciona Bem"
        },
        {
          "time": 1780686387371,
          "fp": "🍀PLAZA 50/50.  🇮🇪 IRLANDA 🇮🇪🍀\n \n💗▫️Apartamentos de lujo 100 % seguros y céntricos.\n \n💗▫️\n   "
        },
        {
          "time": 1780686400398,
          "fp": "Hola chicas sabéis de habitaciones para independientes en Marbella"
        },
        {
          "time": 1780686426341,
          "fp": "Hola chicas qué tal sabéis de habitaciones para independientes en Marbella"
        },
        {
          "time": 1780686458004,
          "fp": "ABU DHABI 🦋 \nСамая лайтовая тусовка у Мухи\n🗓️ На 7–14 дней\n\n🏝️ Вилла | Бассейн | Фитнес\n👧 15–20 "
        },
        {
          "time": 1780686509112,
          "fp": "🇪🇸BARCELONA🇪🇸🇪🇸today and closest days only young fresh girl!!!Babe type!!for 2-2,5 hours\nRevie"
        },
        {
          "time": 1780686653124,
          "fp": "🌟ГЕЛЯ-СПБ- Ленинский проспект!\nВпервые в Питере🪅🪅🪅🎊 Роскошная  и развратная\nС шикарной грудью и"
        },
        {
          "time": 1780686695391,
          "fp": "Casa em Ribeirão Preto?"
        },
        {
          "time": 1780686791172,
          "fp": "I will continue to add you to all the blacklists in the world until you decide to pay the commission"
        },
        {
          "time": 1780686804249,
          "fp": "Tulum 🇲🇽 \nAll JUNE and JULY ‼️\n2h - overnight \nText your rate \nRegular young client"
        },
        {
          "time": 1780686828605,
          "fp": "If you don’t, I’ll proceed to put your face on Instagram and websites, you don’t know what are you d"
        },
        {
          "time": 1780686835873,
          "fp": "Buenas tardes alguna habitacion disponible en madrid por favor o comunidad de madrid"
        },
        {
          "time": 1780686945950,
          "fp": "Кто гулять?"
        },
        {
          "time": 1780686963305,
          "fp": "**__ХОТИТЕ ГОСПОЖУ ?👠\n   (Встреч нет)\n\nТолько я выдаю приказы и указания -и никогда НЕ прошу !👩‍✈️"
        },
        {
          "time": 1780687031906,
          "fp": "🎀 ibiza cena de invitacion sábado \nMarina botafoc \n22:00\nRiggatoni \nDinner y show"
        },
        {
          "time": 1780687055292,
          "fp": "Último día para realizar pedido con la Promo de 90€ en chancletas y sandalias de Hermes.\nLuego, su p"
        },
        {
          "time": 1780687090985,
          "fp": "CASA EM PENÁPOLIS  -  SP\n\nOlá meninas !\nVenham conhecer o movimento da nossa cidade Penápolis-SP \n\nV"
        },
        {
          "time": 1780687194932,
          "fp": "Москва \n\nЗавтра к 18-19 \nОтель \nМужчина русский ,средних лет , хороший \nНа 1-2ч\n\nТипаж : грудь от 2,"
        },
        {
          "time": 1780687316837,
          "fp": "Mykonos ‌​\nTonight \nMeeting for 2h\nFlexible budget \nPics info video in bikini​‍"
        },
        {
          "time": 1780687342374,
          "fp": "Бесплатный телеграмм канал в шапке профиля"
        },
        {
          "time": 1780687416196,
          "fp": "Meninas está valendo a pena trabalhar independente em Milão?"
        },
        {
          "time": 1780687431600,
          "fp": "**🥰🥰🥰ОДЕССА\n                             ✅✅✅✅✅\n\n                 Таирова\n\n                  На НО"
        },
        {
          "time": 1780687502527,
          "fp": "🚨LICENÇA ADM🚨\n\n☘️ *4 TREVO NIGHT CLUB*☘️\nCasa localizada na Zona Leste está contratando meninas co"
        },
        {
          "time": 1780687585939,
          "fp": "*Saudades da programação do Brasil?*📺⚽️🇧🇷\n*Me chame no privado, libero todos os canais Brasileiro"
        },
        {
          "time": 1780687790223,
          "fp": "Москва Завтра встреча  на 1-2 часика!!\nсама работа быстро 20 мин +-\" русский хороший бизнесмен!\nесли"
        },
        {
          "time": 1780687852319,
          "fp": "🚨1 VAGA PARA PRÓXIMA SEGUNDA DIA 08/06🚨\n\nLONDRES \nBUSY & CLIENTES FIXOS\n\n⏰️  SEGUNDA A QUINTA DAS "
        },
        {
          "time": 1780687883737,
          "fp": "Luxury Life Agency\n\nDubai | Outcall\n⏰ 2–3 hours\n💵 $1000 clean\n✨ Premium, calm atmosphere\n\nDM to con"
        },
        {
          "time": 1780687915084,
          "fp": "Женственная транси зовёт тебя в край наслаждения! Со мной не заскучать. 🫣"
        },
        {
          "time": 1780688021302,
          "fp": "🚨Питер🚨\nСегодня через пару часов\nРест+ отель \nТипаж милой студентки, славянки \nСтрого без намека н"
        },
        {
          "time": 1780688095324,
          "fp": "Appartement prive disponible para chic@ independient lausanne"
        },
        {
          "time": 1780688129041,
          "fp": "*Espaço Saygu Massagens* –\nCargo: Massagista (com ou sem experiência)\n\n💆‍♀️ Treinamento básico grat"
        },
        {
          "time": 1780688152970,
          "fp": "Who’s in S Francisco 🇺🇸?\nTop natural model\nNo fake \n3/4 hrs your budget!! Very easy job\nApply with"
        },
        {
          "time": 1780688180707,
          "fp": "🏠 Beautiful 2-bed flat available. \n\n📍WEST KENSINGTON \n\n📝 Short or long term."
        },
        {
          "time": 1780688205668,
          "fp": "Appartement prive disponible lausanne"
        },
        {
          "time": 1780688260170,
          "fp": "🔖MENINAS INDEPENDENTES \n\nSERVIÇOS :Acessória com nomes de sites e melhores cidades para trabalhar.\n"
        },
        {
          "time": 1780688345980,
          "fp": "🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/H1RCF1BoKxvJR6NjpZhhNo"
        },
        {
          "time": 1780688380780,
          "fp": "Кто в Лондоне ? 1000$ чист , 2-3 часа , Зак Лайт джентельмен"
        },
        {
          "time": 1780688510903,
          "fp": "Vendas de passagens áreas no precinho\nChama no direct"
        },
        {
          "time": 1780688538564,
          "fp": "Hi girls, who is available in London, tonight or next Tuesday/Wednesday \nShort meeting, elegant, wes"
        },
        {
          "time": 1780688686846,
          "fp": "Quieres trabajar en León ? Este es tu piso ,disponible habitaciónes en piso en león centro , muy bue"
        },
        {
          "time": 1780688873567,
          "fp": "*Бали, Семиньяк*\n*Сейчас*\n*1 час 400-%*\n*Может поднять*\n*Иностранец*"
        },
        {
          "time": 1780688903135,
          "fp": "Alquilo cuenta de viva street y adulwork📥"
        },
        {
          "time": 1780689028033,
          "fp": "🇮🇱 *ISRAEL* 🇮🇱 \n\n🗒️COLOMBIANAS VISA ONLINE \nSE TE PREPARA PARA ENTRAR SIN PROBLEMAS \n💰PLAZA CO"
        },
        {
          "time": 1780689136218,
          "fp": "Очаровательная внешность Транссексуалки станет для тебя как глоток свежего воздуха. Мало запретов. П"
        },
        {
          "time": 1780689155816,
          "fp": "ONLY FANS\n✅ Empieza desde cero con una agencia con experiencia! \n✅ Agencia te ayuda en TODO \n✅ Para "
        },
        {
          "time": 1780689203366,
          "fp": "Appartement disponible para chica independiente en  lausanne"
        },
        {
          "time": 1780689214233,
          "fp": "French Riviera 🇫🇷🇲🇨 Tomorrow/After Tomorrow \n📍 Monaco, Saint Tropez, Cannes, Nice \n💃 Need 1 to"
        },
        {
          "time": 1780689324908,
          "fp": "Красивая транси-девушка приглашает тебя в страну наслаждения! Со мной не заскучать. 🫦"
        },
        {
          "time": 1780689333412,
          "fp": "🇬🇧*LONDRES*🇬🇧\n\n✅ APARTAMENTOS DE LUJO \n✅ CLIENTES DE HORAS \n🗒️ PASAPORTE ESPAÑOL CON VISA ONLIN"
        },
        {
          "time": 1780689349201,
          "fp": "Hola chicas buenas noches tengo información de plaza para dos chicas en torre del mar en marbella, e"
        },
        {
          "time": 1780689405849,
          "fp": "🅰️🅰️🅰️🅰️🅰️🅰️\n\n**__\n **__🍓**__Реальная**__ **__Инди . Стройная брюнетка  \n20 лет . 170 / 51 кг"
        },
        {
          "time": 1780689442016,
          "fp": "Busco plaza tengo pasaporte de turismo"
        },
        {
          "time": 1780689452926,
          "fp": "💙💙*🇬🇷 Temporada de Verão 🇬🇷💙💙*\n   \n   *🟣🤍SUPER MODELOS🤍🟣*\n     _🍥TOUR EM ATENAS🍥_ \n\n*\ud83e"
        },
        {
          "time": 1780689622300,
          "fp": "Hola buenas noches ¿Alguna tiene contacto de una habitación en IBIZA? que sea confiable , gracias"
        },
        {
          "time": 1780689641725,
          "fp": "*Hola chicas! 🌹* 🫶🏻 👠 \n\n🥰*PLAZAS 50% 🏠 disponible 🇬🇧* \n*Español inglés portugués*\n*Inglaterr"
        },
        {
          "time": 1780689674171,
          "fp": "🇺🇲 *NEW YORK* 🇺🇲\nLos Angeles\nIN CALL\nTwo hours $1000 clean \nRegular meeting Tonight Saturday and"
        },
        {
          "time": 1780689691897,
          "fp": "LOS ANGELES \n🌼🌼🌼🌼🌼🌼\nMEETING ALL JUNE \nHEIGHT FROM 172 ( NO LESS) \nMODEL TYPE \nMEETING 2 H \n1,5"
        },
        {
          "time": 1780689742360,
          "fp": "Se buscan chicas jovenes bonitas y delgadas para plazas en Suecia Belgica y Ibiza mi wassapp 0041779"
        },
        {
          "time": 1780689787913,
          "fp": "Buscando chica en Mónaco esta noche, outcall 1h, presupuesto 300 euros"
        },
        {
          "time": 1780689828620,
          "fp": "Local em Copacabana ?"
        },
        {
          "time": 1780689902822,
          "fp": "*Барселона*\nВыезд к постояннику\nНа ночь \n*1000€ чистые тебе*\nРассмотрит все типажи\n\n*Barcelona*\nRegu"
        },
        {
          "time": 1780690037067,
          "fp": "Los Angeles\nIN CALL\nTwo hours $1000 clean \nRegular  Tonight Saturday and Sunday . Chinese American."
        },
        {
          "time": 1780690052072,
          "fp": "Telefonista disponível ☘️\n\n📞Telefonista Confiável\n⏰Disponibilidade flexível \n📍Atendo em uk 🇬🇧 ( "
        },
        {
          "time": 1780690108089,
          "fp": "Boa noite modelos\nTodas batendo porta ???"
        },
        {
          "time": 1780690227811,
          "fp": "🇧🇪 INDEPENDENTES 🇧🇪BÉLGICA/BRUXELAS E INTERIOR QUARTOS DE TRABALHO\n\n▪️forneço toalhas lençóis,co"
        },
        {
          "time": 1780690456703,
          "fp": "A média está 2 no dia?"
        },
        {
          "time": 1780690473842,
          "fp": "МОСКВА\n\nЗавтра на 3-4 часа\nРесторан + 💘\nЗак 🔥\n\n*Тема постоянная* 🤗\n\nНужна молодая до 25 лет\nот 17"
        },
        {
          "time": 1780690561868,
          "fp": "Кто гуляет?"
        },
        {
          "time": 1780690567494,
          "fp": "Alguma menina que tenha interesse em trabalhar em boate em Cascavel no Paraná?\nOfereço moradia e ali"
        },
        {
          "time": 1780690610376,
          "fp": "Chama pv"
        },
        {
          "time": 1780690682869,
          "fp": "Warsaw , 🇵🇱 Poland\nTonight \n\n3h $800-900 clean\nНoТel\nBabyface 👼\nClient not local 40+👍"
        },
        {
          "time": 1780690701975,
          "fp": "Paris   \nTonight 2am\n3-4 hours \nHotel\nGood regular customer \nNeed a girl with as \nBudget from 1000€\n"
        },
        {
          "time": 1780690737085,
          "fp": "Красивая транси с сюрпризом зовёт тебя в страну интима! Со мной не заскучать. 😳"
        },
        {
          "time": 1780690755806,
          "fp": "Los Angeles\nIN CALL\nTwo hours $1000 clean \nRegular \nTonight Saturday and Sunday"
        },
        {
          "time": 1780690806611,
          "fp": "🇳🇿🇳🇿🇳🇿🇳🇿🇳🇿🇧🇷\nOlá meninas!! Sou RAFAELLA, trabalho pra uma agência aqui na NOVA ZELÂNDIA,"
        },
        {
          "time": 1780690891404,
          "fp": "🌴🇺🇸 *MIAMI* 🇺🇸🌴\n*OUTCALL TO HOTEL*🏨\n\n*START ASAP BUT CAN BE LATER* 🕰️\n\n*1h* \n*800$-1000$*💰\ud83d"
        },
        {
          "time": 1780690935530,
          "fp": "🌺Киев 🔥2 Инди🌹Приедем на ночь🌺"
        },
        {
          "time": 1780690950556,
          "fp": "É verdade que precisa ter perfis fake para trabalhar bem aqui?"
        },
        {
          "time": 1780691100778,
          "fp": "Come così?"
        },
        {
          "time": 1780691111739,
          "fp": "Удивительная внешность Транси будет для тебя как глоток свежего воздуха. Минимум табу. Приветствую в"
        },
        {
          "time": 1780691160765,
          "fp": "Sim me disseram 🤣"
        },
        {
          "time": 1780691171302,
          "fp": "To passada"
        },
        {
          "time": 1780691235015,
          "fp": "💎*EXQISITE AGENCY*💓\n       🇨🇭🇨🇭🇨🇭🇨🇭🇨🇭🇨🇭\n            🇨🇭SUIZA🇨🇭\n       🇭🇷🇭🇷🇭🇷\ud83c"
        },
        {
          "time": 1780691266838,
          "fp": "Também fiquei 🤣"
        },
        {
          "time": 1780691284093,
          "fp": "Alguém querendo consulta espiritual?"
        },
        {
          "time": 1780691302734,
          "fp": "Amiga\nFazendo dois no dia como q paga as contas?\nApto 800 a semana\nAnúncio 1200 mês no mínimo \n1200+"
        },
        {
          "time": 1780691321693,
          "fp": "Vamos botar q faz 2 de 200 \n400 por dia\n400x7=2.800"
        },
        {
          "time": 1780691340180,
          "fp": "Comida, material de trabalho e etc…\nJá vai essa grana"
        },
        {
          "time": 1780691362313,
          "fp": "🚨 ¡ENTRADA INMEDIATA! 🚨\n👯‍♀️ Solo 2 plazas disponibles\n\n🇮🇨 GRAN CANARIA (Zona Sur)\n\n☀️ Trabaja "
        },
        {
          "time": 1780691403970,
          "fp": "🌟 VAGA FEMININA – BRÁS/SP 🌟\n\n~ BOATE ~\n\nEstamos contratando mulheres maiores de 18 anos para integ"
        },
        {
          "time": 1780691474945,
          "fp": "Zurich 🇨🇭 \nAlways relevant can be flight also \n2/3 hrs 1800€\nModel type \nPrefer blonde Slavic type"
        },
        {
          "time": 1780691509306,
          "fp": "Mas é seguro?"
        },
        {
          "time": 1780691522074,
          "fp": "Pode colocar o anúncio semanal?"
        },
        {
          "time": 1780691531898,
          "fp": "Eu vejo poucos casos de roubo"
        },
        {
          "time": 1780691537724,
          "fp": "Barcelona 🇪🇸 \nСегодня/Завтра\nХороший, молодой парень\nЗанятость 3 + часа\nИщу молодую и красивую ухо"
        },
        {
          "time": 1780691565681,
          "fp": "Verdade. \nEu estou com agência, que está anunciando somente em um site. \nEstá pessimo, não compensa."
        },
        {
          "time": 1780691585576,
          "fp": "Como você disse cada experiência è única eu trabalho com foto falsa para a meninas e da más certo qu"
        },
        {
          "time": 1780691645400,
          "fp": "Se a diferença não for grande, não dá para saber"
        },
        {
          "time": 1780691656373,
          "fp": "Tem uma menina aqui do grupo linda girei com ela com fotos maravilhosas de ensaios até em paris ..fi"
        },
        {
          "time": 1780691676257,
          "fp": "A agência q eu trabalhei na Itália só usava foto fake"
        },
        {
          "time": 1780691689124,
          "fp": "Trip to Casablanca \n1 day \nFlight from Paris or Madrid \nNeed will be there 15.00 \n1500€ clean \nNeed "
        },
        {
          "time": 1780691705752,
          "fp": "Qual agência? Pode indicar?"
        },
        {
          "time": 1780691711497,
          "fp": "Warsaw \n\nTonight or tomorrow\n\n👱🏻‍♀️I like baby-faced girls, preferably blondes👱🏻‍♀️\n\n3-hour hote"
        },
        {
          "time": 1780691730157,
          "fp": "Vai com a Ingrid amg, a minha n rola indicar pq eles são mto chatos para pegar menina"
        },
        {
          "time": 1780691740219,
          "fp": "Eu tento na foto da menina mas quase nunca dá certo"
        },
        {
          "time": 1780691746777,
          "fp": "*Plaza en Alicante  Torrevieja  al 50*\n\n🚨Entrada inmediata 🚨 \nSe brinda hospedaje y anuncios pagos"
        },
        {
          "time": 1780691756552,
          "fp": "A agência dela é super Recomendada aqui no grupo\n@198418983084062"
        },
        {
          "time": 1780691766638,
          "fp": "Não sei quem é Ingrid"
        },
        {
          "time": 1780691792517,
          "fp": "Prazer sou eu"
        },
        {
          "time": 1780691798438,
          "fp": "Vou anotar aqui"
        },
        {
          "time": 1780691878602,
          "fp": "Comigo da super certo foto falsa"
        },
        {
          "time": 1780691913407,
          "fp": "Mykonos ‌​\nTonight \nMeeting for 2h\nFlexible budget \nPics info video in bikini​​"
        },
        {
          "time": 1780691976752,
          "fp": "Olha só. \nO jeito é testar mesmo"
        },
        {
          "time": 1780691981659,
          "fp": "Trabalhei com a ingrid 13 dias só com fotos fakes, de uns 50 homens uns 7 só foram embora"
        },
        {
          "time": 1780691991405,
          "fp": "Австрия 🇦🇹 \nВена\nКому не долго собраться ? \nНужны 4-5 красоток в компанию к мужчинам\nВсе русскогов"
        },
        {
          "time": 1780692051608,
          "fp": "Alguém querendo consulta espiritual? Sobre amor ,caminhos , financeiro, profissional,espiritual?"
        },
        {
          "time": 1780692067373,
          "fp": "Ixi a agência que eu trabalhei era só fake\nE ainda colocava umas meninas loiras babe face 😂"
        },
        {
          "time": 1780692085819,
          "fp": "Pois eh, mas uma colega falou que a média estava 1 a 2 no dia por causa do verão"
        },
        {
          "time": 1780692102211,
          "fp": "Juro tbm tô procurando agências"
        },
        {
          "time": 1780692112241,
          "fp": "É muito difícil acha viu…"
        },
        {
          "time": 1780692119861,
          "fp": "hola chicas buenas algun contacto en Italia"
        },
        {
          "time": 1780692126152,
          "fp": "Sempre foram 120€, se eles quiserem vim por 100€ eles ficam no max 10min e não exigem muita coisa"
        },
        {
          "time": 1780692147893,
          "fp": "Красивая транси зовёт тебя в край интима! Со мной не заскучать. 😍"
        },
        {
          "time": 1780692171169,
          "fp": "Alguém sabe de boate em Lucas do rio verde se alguém souber me chama no PV"
        },
        {
          "time": 1780692184872,
          "fp": "Muito obrigada viu …e bom as meninas saber que eu não sou mentirosa"
        },
        {
          "time": 1780692197050,
          "fp": "Jobs urgente \nPreciso de uma moça de 18 anos 3 vezes por semana \n3.500 reais por mês só para São Pau"
        },
        {
          "time": 1780692213220,
          "fp": "Alguém sabe o valor do adv mensal ?"
        },
        {
          "time": 1780692299816,
          "fp": "🇲🇨 🇲🇨 Monaco 🇲🇨 🇲🇨 \n\n\n1 hour outcall \n@ 01:00 or 02:00 am\nRegualr \nRate to be discussed \nTon"
        },
        {
          "time": 1780692331374,
          "fp": "esses 50 foi só um exemplo, pq foi bem uns 90 ao total kkkkkkk"
        },
        {
          "time": 1780692335609,
          "fp": "Não temos vaga na Itália"
        },
        {
          "time": 1780692340962,
          "fp": "Belgrade Serbia 🇷🇸\n\nTonight \n\n€1000 clean (more if top)\n\nSend photos and video"
        },
        {
          "time": 1780692407341,
          "fp": "rstafa"
        },
        {
          "time": 1780692420440,
          "fp": "la de gran canarias estafa"
        },
        {
          "time": 1780692438984,
          "fp": "O o así"
        },
        {
          "time": 1780692449174,
          "fp": "Estafa de que ?"
        },
        {
          "time": 1780692463044,
          "fp": "🎀 *APTO EM COPACABANA-RJ* 🎀\n\n*Apê fica à 1 quadra da Praia*🏖️ \n\n *Para fotos e mais informações*:"
        },
        {
          "time": 1780692491441,
          "fp": "Mañana recibo uno chica a primera hora que salió de estos grupo y dicen que estafa ??"
        },
        {
          "time": 1780692501543,
          "fp": "Respeto"
        },
        {
          "time": 1780692519303,
          "fp": "Москва\nВыезд \nЭнзо на кутузе\nна 2 часа \n20к чистыми\nНужна блондинка 💕\nрост 165-175, молодая\nКого по"
        },
        {
          "time": 1780692557499,
          "fp": "NEED GIRLS IN MONACO 🇲🇨 \nTONIGTH ASAP\nPARTY + EXTRA\nOPEN BUDGET\nSEND PICS VIDEO AND INFO\nWHO AVALI"
        },
        {
          "time": 1780692586177,
          "fp": "Vi errado a bandeira Sorry"
        },
        {
          "time": 1780692823798,
          "fp": "Verdade"
        },
        {
          "time": 1780692880440,
          "fp": "E nenhuma delas Sao 50"
        },
        {
          "time": 1780692891990,
          "fp": "Sao tudo minimo 100 e olhe la"
        },
        {
          "time": 1780692902526,
          "fp": "E estao trabalhando"
        },
        {
          "time": 1780692940408,
          "fp": "verificado"
        },
        {
          "time": 1780692963217,
          "fp": "Muchas gracias"
        },
        {
          "time": 1780692970351,
          "fp": "a ti"
        },
        {
          "time": 1780692999752,
          "fp": "estafa"
        },
        {
          "time": 1780693008909,
          "fp": "Qual os sites de Milano meninas  por favor"
        },
        {
          "time": 1780693029894,
          "fp": "‼️Sevilla ‼️\nEste tío llega mira muy raro cuando le pasas a la habitación y le preguntas cuánto tiem"
        },
        {
          "time": 1780693091695,
          "fp": "Se puder jogar 3 Melhor"
        },
        {
          "time": 1780693096184,
          "fp": "Arrazou"
        },
        {
          "time": 1780693118027,
          "fp": "Vim ora Milano e jogar um so nem venha pra Milano"
        },
        {
          "time": 1780693133805,
          "fp": "💃✨ ДЕВУШКИ, МОСКВА! ✨💃\n\nХочешь проводить вечера красиво, знакомиться с интересными людьми и отдыха"
        },
        {
          "time": 1780693216029,
          "fp": "SIM sim"
        },
        {
          "time": 1780693292597,
          "fp": "Realmente no veo anormal su pregunta ! Veo que te ofendes más tu nena y él te cortó no pasa nada adi"
        },
        {
          "time": 1780693311203,
          "fp": "Yo no lo conozco no estoy en Barcelona pero es lo veo"
        },
        {
          "time": 1780693323349,
          "fp": "📍 Дубай \nВстреча завтра днем .\nМужчина проездом , русский \nПо занятости часика на 3-4 \nТипаж: очень"
        },
        {
          "time": 1780693334087,
          "fp": "Ahora no me escribas ese poco de cosas que le escribiste a él 😂😁"
        },
        {
          "time": 1780693394050,
          "fp": "✅*VAGAS DISPONÍVEIS ✅*\n\n*📍 LOCAL PARA ACOMPANHANTES EM PATOS DE MINAS - MG* \n\n\n\n* Apartamento compl"
        },
        {
          "time": 1780693414512,
          "fp": "❤️ Хочешь подр🩵чить 💦 с сочной милфой ? Пиши🫶"
        },
        {
          "time": 1780693452918,
          "fp": "Todas las habitaciones están haciendo verificación ✅ \n\nMás que nada por qué luego llega una tarada l"
        },
        {
          "time": 1780693468908,
          "fp": "Pero puede pedir fotos de la habitación, algo normal porque si va quiere ver, y le sale por otro tem"
        },
        {
          "time": 1780693506098,
          "fp": "Meninas , vocês tem contato de agenciador em Buenos Aires ?"
        },
        {
          "time": 1780693529353,
          "fp": "🤩МОСКВА | ЦЕНТР 🤩\n\n⏰ К 01:00\n⏱️ На 2–3 часа\nКТО СОБРАН? 🔥\n\n\n👑 ТРЕБОВАНИЯ\n\nУхоженная внешность\n Г"
        },
        {
          "time": 1780693557490,
          "fp": "Шикарная транси зовёт тебя в страну удовольствий! Со мной не заскучать. 🍃"
        },
        {
          "time": 1780693688233,
          "fp": "Sí que sí que no está mal que pida fotos , obvio"
        },
        {
          "time": 1780693698498,
          "fp": "Vai na discoteca \nArmani \nJust cafe"
        },
        {
          "time": 1780693723771,
          "fp": "E nas discoteca e barzinho que tem na corso Como"
        },
        {
          "time": 1780693740535,
          "fp": "Fake"
        },
        {
          "time": 1780693759289,
          "fp": "Na corso Buenos Aires as Meninas caça num bar que se chama Tim Tim e outros"
        },
        {
          "time": 1780693783127,
          "fp": "Any girl in Los Cabos, Mexico? Text me 💌"
        },
        {
          "time": 1780693790471,
          "fp": "Lógico y no son formas de tratar a quien puede ir a tu habitación y te paga un dineral, qué se creen"
        },
        {
          "time": 1780693808309,
          "fp": "Дубай, сейчас\n\nВыезд к посту\nНа 1ч\n1000aed чистые, наличка \n\nDubai, now\nRegular customer \nOutcall\n1h"
        },
        {
          "time": 1780693887457,
          "fp": "Y está bien que se vea la forna de tratar de esa gente"
        },
        {
          "time": 1780693922126,
          "fp": "No es un reporte de otra chica, yo lo pasé para que se vea cómo es esa dueña"
        },
        {
          "time": 1780693947575,
          "fp": "Amiga acho que ela tá falando de outro país BUENOS AIRES"
        },
        {
          "time": 1780693965079,
          "fp": "🇨🇾СРОЧНО!!! \nИмидж-Поездка в Лимассол ☀️\nОриентировочно с 8 июня по 15 июня\nНужно 1 VIP- девочка \ud83d"
        },
        {
          "time": 1780693990945,
          "fp": "Acho que é na Argentina kkkk"
        },
        {
          "time": 1780694040576,
          "fp": "Monaco\nToday, tomorrow, and Sunday\nVarious models and profiles\n\nMeeting time: 2 hours\n\nOpen budget \n"
        },
        {
          "time": 1780694075964,
          "fp": "Hay que tener más empatia"
        },
        {
          "time": 1780694081875,
          "fp": "*Casa com 3 quartos em Araraquara Sp🧜🏼‍♀️*\n\n✅*Quarto simples com ar condicionado e tv*\n✅*Quarto si"
        },
        {
          "time": 1780694266696,
          "fp": "Блондинка без комплексов, люблю анал и слюнявый миньетик, сьем тебя мой тигрёнок🥰"
        },
        {
          "time": 1780694277901,
          "fp": "Питер встречусь ❤\n\n\n\nВыезд🚕\nАвто 🚘\n\n\n\nⓂ️Проспект Большевиков"
        },
        {
          "time": 1780694377073,
          "fp": "🇨🇿🇨🇿🇨🇿🇨🇿🇨🇿🇨🇿🇨🇿🇨🇿🇨🇿🇨🇿\n*Prague* \nWho’s available?\nSend me photos and info\nRegular "
        },
        {
          "time": 1780694457268,
          "fp": "******************************ATENÇÃO MENINAS MEGA PROMO*********************************"
        },
        {
          "time": 1780694464659,
          "fp": "Si encontraste ??"
        },
        {
          "time": 1780694550293,
          "fp": "Hola buenas noches busco plaz buena en Madrid"
        },
        {
          "time": 1780694576079,
          "fp": "DUBAI| ДУБАЙ\nNow \n\n⏳4-5 hours \n💰2500aed\n\n-Videos , photos,info in English \n*I work only with video "
        },
        {
          "time": 1780694616559,
          "fp": "Isso amigas"
        },
        {
          "time": 1780694641457,
          "fp": "Hola buenas noches  busco plaz buena en Madrid"
        },
        {
          "time": 1780694651440,
          "fp": "Mandei aqui para quem sabe alguma alma generosa me ajudar"
        },
        {
          "time": 1780694670046,
          "fp": "Can you recommend agencies that pay for flights?"
        },
        {
          "time": 1780694677526,
          "fp": "✨Monaco \nNow \n3-4 hours \nRegular customer with friends\nNeed 4 girls \n\nBudget 1000€✨"
        },
        {
          "time": 1780694734972,
          "fp": "Busco plaza en Madrid i"
        },
        {
          "time": 1780694759772,
          "fp": "**💫✨💫✨💫✨💫✨💫✨\n\n Киев 📍 Киев 📍 Киев 📍\n\n❗️ БЕЗ ПРЕДОПЛАТЫ ❗️\n\nИНДИ 💞\n\n✅ ТОЛЬКО ВЫЕЗД  ✅\n\nЧас -"
        },
        {
          "time": 1780694864302,
          "fp": "Buenas noches busco plaza en Madrid"
        },
        {
          "time": 1780694967645,
          "fp": "Женственная транссексуалка зовёт тебя в страну наслаждения! Со мной не заскучать. 🥃"
        },
        {
          "time": 1780695016520,
          "fp": "💷Vagas 50/50 💷\nVagas Interior UK 🇬🇧\n🏩 Oferecemos apartamento de luxo com quartos individuais.\n☎"
        },
        {
          "time": 1780695058704,
          "fp": "Пленительная внешность Транссексуалки станет для тебя как глоток свежего воздуха. Мало запретов. При"
        },
        {
          "time": 1780695153728,
          "fp": "Sigan mandando, no está cerrado aún"
        },
        {
          "time": 1780695286296,
          "fp": "🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/GVXZcsFmEHh5yhRrEzDqu3"
        },
        {
          "time": 1780695402281,
          "fp": "*que tal 4200,00 na semana livre de tudo somente atender ?* *inicio imediato*\nMe chama no número da "
        },
        {
          "time": 1780695429275,
          "fp": "Vai viajar, precisa de internet, tenho o vivo travel pega em qualquer país , chama 62999543939"
        },
        {
          "time": 1780695819954,
          "fp": "Paris NOW assap 🇫🇷🇫🇷🇫🇷\nNon silicone \nWho is available \nRegular customer"
        },
        {
          "time": 1780696041219,
          "fp": "90% vai e fica"
        },
        {
          "time": 1780696055978,
          "fp": "É 1% cria confusão"
        },
        {
          "time": 1780696069830,
          "fp": "Trip London 🇬🇧 \n1 days only \n\nOnly from Europe \nOr u can be in London \n\nNeed 1 model skinny type m"
        },
        {
          "time": 1780696106864,
          "fp": "Дубай ❤️\n \n07.06-08.06 на 2-3 часа в отеле, но сначала хочет поужинать в ресторане \n\nТипаж: большие "
        },
        {
          "time": 1780696139845,
          "fp": "Bom dia meninas..\n\nTelefonista com uma vaga disponível pra atendimento , 6 anos de frança, focada e "
        },
        {
          "time": 1780696189554,
          "fp": "Se vc aceita trabalhar no job \nTem que põe sua cara \nMesmo que seja pra mandar pros clientes \nO fake"
        },
        {
          "time": 1780696568407,
          "fp": "MALAGA PLAYA SACABA Necesito 3 chicas de imagen guapas y animadas para shira osea ya que lleguen  p "
        },
        {
          "time": 1780696652717,
          "fp": "🇦🇪*ДУБАЙ, НА ЗАВТРА*\n\nУ моего постоянника день рождения \nЯхта, 5 моделей\nКаждой по *6000aed* чисты"
        },
        {
          "time": 1780697005743,
          "fp": "Кто свободен Париж\n3ч пост 800"
        },
        {
          "time": 1780697233920,
          "fp": "📍Nice, Cannes, Monaco 🇫🇷🇲🇨\n\nRegular customer, European \nURGENT\nOvernight booking\n\n✨ Luxury, lig"
        },
        {
          "time": 1780697318785,
          "fp": "♋️AGENCIA DE MASAJES EROTICOS EN SEVILLA☯️ \nSe busca chica con experiencia en masajes eroticos, esta"
        },
        {
          "time": 1780697337599,
          "fp": "Hola quien tiene plaza"
        },
        {
          "time": 1780697349806,
          "fp": "*БАЛИ*🩵\nВыезд в Чангу \nНа 2 часа 500$ чистыми \nВ ближайшее время \nИностранец \nВилла"
        },
        {
          "time": 1780697438244,
          "fp": "Hola soy una chica trans 🏳️‍⚧️ necesito plaza al 50/50 urgente si puede ayudarme donde sea de Españ"
        },
        {
          "time": 1780697475973,
          "fp": "Al privando"
        },
        {
          "time": 1780697786783,
          "fp": "Женственная транссексуалка зовёт тебя в край наслаждения! Со мной не заскучать. 🍓"
        },
        {
          "time": 1780697803286,
          "fp": "Ele Aluga Apt em madri"
        },
        {
          "time": 1780697814773,
          "fp": "Fiz verifica com ele ok Meninas tudo ok ele"
        },
        {
          "time": 1780697833867,
          "fp": "Paris 🇫🇷 \nTuesday \nCustomer late 30s French \n2-3h ❄️ from 1k clean can raise for top \nTall 173+ sk"
        },
        {
          "time": 1780697843578,
          "fp": "Pode Alugar com ele em madri verifica tudo ok"
        },
        {
          "time": 1780697868222,
          "fp": "🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/FVNjTGFPxEIKL6GILwsFL5"
        },
        {
          "time": 1780697982272,
          "fp": "Todas batendo portas aí ?"
        },
        {
          "time": 1780697997515,
          "fp": "Que essa noite seja melhor noite de todas \nVamos nessa"
        },
        {
          "time": 1780698042410,
          "fp": "Отношения Франция ❤️\n\nБританец, 52 года\nНужна девушка для отношений в Saint Paul de Vence\nСначала от"
        },
        {
          "time": 1780698107981,
          "fp": "🌎 Lublin 🇵🇱\n\nMeeting\n2 hours\n\nHotel accommodation 🏨\n\nUkrainian client, 35 years old, handsome, a"
        },
        {
          "time": 1780698189749,
          "fp": "Paris 🇫🇷 \n\nTonight 2:00\n3hrs\n1000€ 🎁 \nDuo ( he and him girlfriend)\nNot local client"
        },
        {
          "time": 1780698338540,
          "fp": "**Киев 🇺🇦\n\n🛑 БЕЗ ПРЕДОПЛАТЫ 🛑\n\nУхоженная, молодая сексуальная индивидуалка с 3 размером груди 💞"
        },
        {
          "time": 1780698414025,
          "fp": "**Киев 💋\n💸Инди💸\n\nКрасивая, ухоженная блондинка🎀\n\nЧас | Два | Ночь❤️‍🔥\n\nДорого 💲\n\n🚕ТОЛЬКО ВЫЕЗ"
        },
        {
          "time": 1780698451016,
          "fp": "**__🔤**__**__🔤**__**__🔤**__🔤**__🔤**__**__   **__**__🔤**__**__🔤**__**__🔤**__**__🔤**__**__🔤*"
        },
        {
          "time": 1780698526725,
          "fp": "Deve fazer verifica primeiro comigo"
        },
        {
          "time": 1780698532064,
          "fp": "Австрия❗❗❗Вена❗❗❗\n\nДевочки кто на месте❓❓❓\n\nВстреча 9-11 июня, 2 часа, отель\n❗\nТипаж: рост от 173, м"
        },
        {
          "time": 1780698940108,
          "fp": "Monday, 8th of June \nCurrently in London only \nLooking for real models \nOnly top profiles pls ✅ \nPay"
        },
        {
          "time": 1780698955832,
          "fp": "LUGANO\nCELL 3337562602\n\nLOMBARDIA\nCELL 3510717382 MILANO (PORTA VENEZIA)\nCELL 3272427617 MILANO cors"
        },
        {
          "time": 1780698993484,
          "fp": "Essa lista é antiga tem que verificar . Eu salvei aqui a um tempo pra usar em algum momento"
        },
        {
          "time": 1780699009296,
          "fp": "Mas verificar antes endereço se ainda funciona etccc"
        },
        {
          "time": 1780699017867,
          "fp": "*Los Angeles* 🇺🇸 Tonight,tomorrow or Sunday. 2-3h meeting (Outcall) , regular client \nOpen budget "
        },
        {
          "time": 1780699054443,
          "fp": "Se vc Nao tem certeza dos seus contato Entao Melhor Nao postar \nPq so postamos aqueles que temos cer"
        },
        {
          "time": 1780699089168,
          "fp": "Esse foi enviado aqui mesmo no grupo a um tempo atrás"
        },
        {
          "time": 1780699103424,
          "fp": "Pq se Nao o Grupo cai em cima de mim"
        },
        {
          "time": 1780699107656,
          "fp": "Eu apensas não usei ainda"
        },
        {
          "time": 1780699137850,
          "fp": "Eu esses contatos nunca postei"
        },
        {
          "time": 1780699178200,
          "fp": "Então vou retirar se for melhor assim"
        },
        {
          "time": 1780699198517,
          "fp": "Шикарная девушка транссексуалка зовёт тебя в страну страсти! Со мной не заскучать. 🌟"
        },
        {
          "time": 1780699205814,
          "fp": "Sim amiga \nSe vc tivesse certeza ai era ok perfetto Mas sem certeza da problema para mim"
        },
        {
          "time": 1780699225326,
          "fp": "Elas me come viva 🤣🤣"
        },
        {
          "time": 1780699495402,
          "fp": "Done ✔️"
        },
        {
          "time": 1780699615844,
          "fp": "Já trabalhei com a Ingrid, foi minha primeira experiência, minha primeira vez trabalhando fora, e su"
        },
        {
          "time": 1780699656916,
          "fp": "Monaco \n\nOutcall \nFull night \nReg cust \n\n2000 clean \n\nWho is available?"
        },
        {
          "time": 1780699679841,
          "fp": "Recomendo meninas"
        },
        {
          "time": 1780699744900,
          "fp": "Muito obrigada Anne ❤️🙏😍 Deus te abençoe sempre"
        },
        {
          "time": 1780699763100,
          "fp": "Águem que faça atestado ?"
        },
        {
          "time": 1780699789773,
          "fp": "Eu já tive também experiência negativas com meninas ..de não trabalharmos..e não dá certo"
        },
        {
          "time": 1780699793577,
          "fp": "pv"
        },
        {
          "time": 1780699810143,
          "fp": "Hamptons \nAnyone avail tonight?\nEasy regular 1h"
        },
        {
          "time": 1780700012203,
          "fp": "✨ Liçença adm! \nBoa noite a todas!!!\n\nMeninas animadas que queiram fechar parceria para curtir festa"
        },
        {
          "time": 1780700231023,
          "fp": "Delicia gosto desse tipo 😋"
        },
        {
          "time": 1780700236337,
          "fp": "Pv chama"
        },
        {
          "time": 1780700243082,
          "fp": "♥️♥️♥️ CHICAGO \nBudget depends on the model for 1h 1,5h meeting \n\nGood regular client  \nWho’s Availa"
        },
        {
          "time": 1780700320802,
          "fp": "Познакомлюсь с симпатичной стройной девушкой до 27 лет, с меня обеспечение, с тебя приятная компания"
        },
        {
          "time": 1780700370412,
          "fp": "Open dates in June - trip to Mexico 🇲🇽 \n2-3 days \n1500-2k USD a day \nAll departures possible\n\nProf"
        },
        {
          "time": 1780700607160,
          "fp": "Верная транс девушка приглашает тебя в страну удовольствий! Со мной не заскучать. 😌"
        },
        {
          "time": 1780700952532,
          "fp": "I want to work in Spain with girls and I need some contacts."
        },
        {
          "time": 1780700978286,
          "fp": "Нежная внешность Транс станет для тебя как глоток свежего воздуха. Минимум запретов. Приветствую все"
        },
        {
          "time": 1780701013047,
          "fp": "**Приеду в гости к адекватному мужчине 💋\n\n❤️ КИЕВ ❤️ ИНДИ ❤️\n\nБЕЗ ПРЕДОПЛАТ\n\nВЫЕЗЖАЮ ОТ ЧАСА ✅\n\nОче"
        },
        {
          "time": 1780701047183,
          "fp": "Hola buenas noches alguien tiene un contacto de habitación en Algeciras, muchas gracias ❤️"
        },
        {
          "time": 1780701356598,
          "fp": "Buenas noches, alguien sabe de una telefonista en sardegna?"
        },
        {
          "time": 1780701569013,
          "fp": "603179656 porfavor la pueden meter"
        },
        {
          "time": 1780701728932,
          "fp": "♥️♥️♥️ NEW JERSEY ASAP \nBudget depends on the model for 1h meeting \nGood regular client  \nWho’s Avai"
        },
        {
          "time": 1780701752864,
          "fp": "Escort fórum tem q pagar o diamond q é 220 a semana"
        },
        {
          "time": 1780701769174,
          "fp": "Paga uma semana pra ver se der bom vc paga o mês ou 2 semana dependendo do tempo q vc vai ficar"
        },
        {
          "time": 1780701910306,
          "fp": "Será que é melhor que o advison"
        },
        {
          "time": 1780701955570,
          "fp": "Eu adoro o fórum vem os melhores clientes \nEu odeio o Advisor \nEu coloquei uma semana pra nunca mais"
        },
        {
          "time": 1780701976105,
          "fp": "Pq tem menina q adora o Advisor diz q pega mto cliente"
        },
        {
          "time": 1780702016139,
          "fp": "Удивительная транссексуалка зовёт тебя в страну страсти! Со мной не заскучать. 💅"
        },
        {
          "time": 1780702167138,
          "fp": "Buenas, alguien sabe de una telefonista en Italia que recomienden"
        },
        {
          "time": 1780702232904,
          "fp": "VENHAM MATAHARI CABINES 🫦"
        },
        {
          "time": 1780702306990,
          "fp": "Vaga 50/50 entrada Imediata 🇬🇧"
        },
        {
          "time": 1780702318898,
          "fp": "Presentador en Madrid?"
        },
        {
          "time": 1780702367306,
          "fp": "Barcelona o malaga alguna plaza buena?"
        },
        {
          "time": 1780702497103,
          "fp": "Quem vende Morunjo no Norte de uk ?"
        },
        {
          "time": 1780702584159,
          "fp": "♥️♥️♥️ NYC ASAP \nBudget depends on the model for 1h meeting \nONLY TOP \nGood regular client  \nWho’s A"
        },
        {
          "time": 1780702950280,
          "fp": "Пленительная внешность Транси будет для тебя как глоток свежего воздуха. Минимум запретов. Приветств"
        },
        {
          "time": 1780703044402,
          "fp": "Trans"
        },
        {
          "time": 1780703419933,
          "fp": "📍LONDON 🚨\n\nPRAÇA 50/50  LONDON 💷❄️💋\n\nVaga em duas área💷\n08/06💕\n\n15/06 uma vaga🥰\n\n\n          \ud83d"
        },
        {
          "time": 1780703701506,
          "fp": "🍀АЛЬТ-ДЕВОЧКА  ☘️\n\n 🌱Юная  \n🌱 Фото / Кружки / Голос  \n🌱 Звонок по запросу  \n 🌱Прайсик в лс солн"
        },
        {
          "time": 1780703804897,
          "fp": "🇲🇨*Monaco* 🇲🇨\n\nHotel! 🏨 \nMeeting with the regular client (not local, American).\n3h - $1500 clea"
        },
        {
          "time": 1780704148181,
          "fp": "Hám"
        },
        {
          "time": 1780704194728,
          "fp": "Aqui nesse grupo agente ver de tudo"
        },
        {
          "time": 1780704217355,
          "fp": "*MIAMI* 🇺🇸🇺🇸\nOutcall at 9pm\n$1500 clean for 2h \nWho’s available?"
        },
        {
          "time": 1780704412600,
          "fp": "PLAZA LUXURY*\n\n🍀 PLAZA LUXURY 💶  \nMás de 7 años de experiencia.\n\n## 📍 Ubicaciones\n🇫🇷 Francia 🇫"
        },
        {
          "time": 1780704582503,
          "fp": "Ola se buscan chicas para plaza en Vélez Málaga con todo equipado para que trabajes cómodamente vamo"
        },
        {
          "time": 1780704687693,
          "fp": "Ibiza \nExtra €300 \nCliente italiano \nAhora"
        },
        {
          "time": 1780704834997,
          "fp": "Реальная транси зовёт тебя в край интима! Со мной не заскучать. ⭐"
        },
        {
          "time": 1780704922522,
          "fp": "Удивительная внешность Транси станет для тебя как глоток свежего воздуха. Мало табу. Приветствую все"
        },
        {
          "time": 1780705031894,
          "fp": "(RU)\nhttps://nimble-pavlova-13d29b.netlify.app/\nPRIME-закрытое сообщество с ТОП моделями и ТОП агент"
        },
        {
          "time": 1780705276453,
          "fp": "♥️♥️♥️ TRIP to VEGAS - 8-11th or 9-12th June  \n6-7k clean for 3 days trip + flights ✈️ \nStaying in s"
        },
        {
          "time": 1780705302527,
          "fp": "🇬🇧 - London right now \n📍- twenty two hotel, guy from USA  \n💰 - $1200 clean 2 hour \nwho’s availab"
        },
        {
          "time": 1780705372745,
          "fp": "🎀 ibiza hoy 5 extras\nA las 4:00 \n250 e 1 h \nMás taxi \nMandarme collage ❤️"
        },
        {
          "time": 1780705457615,
          "fp": "@109053850202297 you stole Amelia’s client you think you can bully an agent turn the client against "
        },
        {
          "time": 1780705468281,
          "fp": "Let it me a lesson to anyone trying to play in the agents face"
        },
        {
          "time": 1780705488966,
          "fp": "She don’t deserve the SHIT you did"
        },
        {
          "time": 1780705518012,
          "fp": "They know you are one old ass bitch with limited options and no education"
        },
        {
          "time": 1780705538696,
          "fp": "LONDON now \n1h outcall/incall\n700gbp - 30%"
        },
        {
          "time": 1780705571201,
          "fp": "@109053850202297 we have all your pictures and face be so fucking for real. I’m glad you feel I humi"
        },
        {
          "time": 1780705584949,
          "fp": "You fucked with the wrong people"
        },
        {
          "time": 1780705611795,
          "fp": "And you can tell him to send his security. He have too much to loose to fuck with agents who have fr"
        },
        {
          "time": 1780706031845,
          "fp": "Пхукет 🏝️ Бангтао \nДва часика ,только русскоговорящие \nБюджет укажите свой пожалуйста\nПостоянник с "
        },
        {
          "time": 1780706245666,
          "fp": "Женственная девушка транссексуалка приглашает тебя в край страсти! Со мной не заскучать. 🍒"
        },
        {
          "time": 1780706290173,
          "fp": "Meninas qual melhor site pra trabalahr"
        },
        {
          "time": 1780706375969,
          "fp": "Viva comonos e adult"
        },
        {
          "time": 1780706382605,
          "fp": "🇺🇦 Киев/ Печерск 🇺🇦\n\nПриглашаю к себе в гости ухоженного, приятного парня/ мужчину для хорошего "
        },
        {
          "time": 1780706769206,
          "fp": "♥️♥️♥️ NY (New Jersey) - tonight anytime soon \n1000-% for quick 30 min meeting\n+ Ubers \nGood regular"
        },
        {
          "time": 1780706894497,
          "fp": "Удивительная внешность Транси будет для тебя как глоток свежего воздуха. Мало табу. Приветствую все "
        },
        {
          "time": 1780707203865,
          "fp": "Those who publish low budgets will be removed from all groups without exception! 600-% ??? What does"
        },
        {
          "time": 1780707251445,
          "fp": "Escort Forum \nÈ um dos annuncio mas top que existe mas para cidades grandes \nMilano \nRoma \nFirenze \n"
        },
        {
          "time": 1780707304983,
          "fp": "Mas realmente os clientes do Escort Forum são muitos melhores que os outros saites pois è qualidade "
        },
        {
          "time": 1780707395894,
          "fp": "Só que o problema è que são poucos clientes mas que pagam bem …o problema è que tem dia que você esp"
        },
        {
          "time": 1780707448129,
          "fp": "Eu mesmo quando colocava ele o mínimo que pedia 150 uma finalização meia hora e eles vinham e pagava"
        },
        {
          "time": 1780707474611,
          "fp": "Já o Scortavsor è mas fuleiro"
        },
        {
          "time": 1780707515461,
          "fp": "Дубай\n1000$ чистыми 2 часа\nОтель: Hilton in the Palm 🏝️\nУкраинец 35\nНужна девочка срочно 🚨 \nОсталь"
        },
        {
          "time": 1780707550929,
          "fp": "Se você tiver muito comentário bons você trabalha muito ..mas com pouco comentário para cidade grand"
        },
        {
          "time": 1780707572761,
          "fp": "Já o Moscarossa e bakeca em cidade grande è babado"
        },
        {
          "time": 1780707629129,
          "fp": "Tem que ter muita mas muita paciência porque de 100% \n80 são os estrangeiros pedindo 30 ..40 ..50"
        },
        {
          "time": 1780707655569,
          "fp": "Настоящая транси-девушка зовёт тебя в страну страсти! Со мной не заскучать. 🖤"
        },
        {
          "time": 1780707699517,
          "fp": "СОЛНЕЧНЫЙ \nГОРОД‼️\n👍Ярослава-люблю расслабится, ‼️\n🫦Хочу, жду, могу и проглачу- развратная  красот"
        },
        {
          "time": 1780708021043,
          "fp": "Eu quero dinheiro pra por pq sempre trabalhei com ele ...mariconas finas vem nele....não sei hj ,pq "
        },
        {
          "time": 1780708116395,
          "fp": "Paguei 200 15 dias bixa ,passada!"
        },
        {
          "time": 1780708209567,
          "fp": "😂"
        },
        {
          "time": 1780708214246,
          "fp": "*Criação de anúncios escort europa 🇪🇺🇬🇧*\n\nSERVIÇOS:\n\n📌*Criação de:\nAdultWork\nKommons\nVivastreet"
        },
        {
          "time": 1780708421425,
          "fp": "Пхукет \nНа сейчас \n2 часа 500 $\nВилла\nпост\nРускоговорящий\nКлассика, мбр"
        },
        {
          "time": 1780708582666,
          "fp": "En Houston"
        },
        {
          "time": 1780708842674,
          "fp": "♥️♥️♥️ NY - ASAP\n1500 clean for 3h + uber \nPossible raise fo real TOP\nGoof regular Asian client 🔥\nW"
        },
        {
          "time": 1780708867244,
          "fp": "Girls,\n\nA small reminder from my side.\n\nA manager may propose a budget, but the final decision is al"
        },
        {
          "time": 1780708931166,
          "fp": "*Toronto*\nSunday, Monday and Tuesday night\n*Outcall* for 2h \nOpen rate \nWho’s available?"
        },
        {
          "time": 1780709045145,
          "fp": "Tenho me chama"
        },
        {
          "time": 1780709063618,
          "fp": "Красивая транси приглашает тебя в край удовольствий! Со мной не заскучать. 😳"
        },
        {
          "time": 1780709161646,
          "fp": "Tenho quartos disponíveis a diária e semana qualquer mais detalhes chama no pv  apartamento em Braga"
        },
        {
          "time": 1780709273574,
          "fp": "Preciso de contatos para trabalhar na Europa, alguém aí pode me indicar?"
        },
        {
          "time": 1780709669194,
          "fp": "🇺🇸 Boston\nINCALL- regular ✔️ \n1-2hr / tomorrow Saturday \ntime TBD \n\nWho can?"
        },
        {
          "time": 1780709971521,
          "fp": "🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/F2exNXm7rdV2T1ozuRFOem"
        },
        {
          "time": 1780710055767,
          "fp": "Any work in Miami?"
        },
        {
          "time": 1780710066558,
          "fp": "$1,000 — please put this info on the group's name 🙏🏼"
        },
        {
          "time": 1780710080829,
          "fp": "*2 cupos para el lunes* 8\n*MARBELLA MALAGA*🇪🇸💰\n*EXCELENTE TEMPORADA Y EXCELENTES PRECIOS*💶💸\n\n*5"
        },
        {
          "time": 1780710137489,
          "fp": "Relax @9096774320267 \n\nIn Phuket it's diff"
        },
        {
          "time": 1780710472711,
          "fp": "Шикарная транссексуалка зовёт тебя в край удовольствий! Со мной не заскучать. 🔥"
        },
        {
          "time": 1780710495672,
          "fp": "Но ты прав. Я так и сделаю. 👌"
        },
        {
          "time": 1780710830818,
          "fp": "Habitación de trabajo en Marbella"
        },
        {
          "time": 1780710893909,
          "fp": "Quien renta habitacion en almeria? O chiclana"
        },
        {
          "time": 1780711006642,
          "fp": "*NYC 🇺🇸 New York City* \nOutcall tonight regular client \n1000$ clean 2h \nWho is available?"
        },
        {
          "time": 1780711180217,
          "fp": "SEXTOOOOUUUU"
        },
        {
          "time": 1780711404394,
          "fp": "*OPORTUNIDADE EM FOZ DO IGUAÇU – ESPAÇO VOLTADO TOTALMENTE PARA MASSAGENS*🌟\n\nEstamos selecionando m"
        },
        {
          "time": 1780711480303,
          "fp": "That's right 👌🏼"
        },
        {
          "time": 1780711580307,
          "fp": "@109053850202297 Why do you accuse Thea of this? Are you totally crazy? Or do you want me to call yo"
        },
        {
          "time": 1780711809177,
          "fp": "🇺🇸🇺🇸 *NYC* 🇺🇸🇺🇸\n*OUTCALL*🏨\n\n*START 11:30PM BUT CAN BE LATER* 🕰️\n\n*2h*\n*1200$ clean* 💰💵\n\n"
        },
        {
          "time": 1780711903527,
          "fp": "@109053850202297 Your friend Adriana recommended you with me, and you are insulting Thea who is an e"
        },
        {
          "time": 1780712012862,
          "fp": "Hola buenos días, podría. Darme plaza en Tenerife por favor"
        },
        {
          "time": 1780712109724,
          "fp": "🏡🛏️💰 𝗥𝗢𝗢𝗠𝗦, 𝗙𝗟𝗔𝗧𝗦 𝗔𝗡𝗗 𝗔𝗣𝗔𝗥𝗧𝗠𝗘𝗡𝗧𝗦 𝗧𝗢 𝗥𝗘𝗡𝗧 𝗙𝗢𝗥 𝗜𝗡𝗗𝗘𝗣𝗘𝗡𝗗𝗘𝗡"
        },
        {
          "time": 1780712214599,
          "fp": "🏡 Faltalzinha Hospedagens — Ituiutaba/MG\nQuartos e casas completas com conforto, segurança e privac"
        },
        {
          "time": 1780712309501,
          "fp": "Should I put Adriana’s face here so that she can explain to us why she recommended you?\nIf you don’t"
        },
        {
          "time": 1780712523226,
          "fp": "✅Publicidad para escort en los siguientes países, Italia, España, Francia y Londres, alemania,Escoci"
        },
        {
          "time": 1780712800496,
          "fp": "PORFAVOR  A LAS CASAS ANTES DE PUBLICAR VERIFICAR  LEER LA DESCRIPCIÓN  ‼️SI NO SE LE EXPULSA DEL GR"
        },
        {
          "time": 1780713487805,
          "fp": "Hermosas plaza disponible 💐 en Madrid \nPiso antiguo con clientes fijos \nPagos diarios \nDos horas li"
        },
        {
          "time": 1780713691431,
          "fp": "♥️♥️♥️ LAS VEGAS ASAP \nBudget depends on the model for  1h meeting \n\nGood regular client \nWho’s Avai"
        },
        {
          "time": 1780713812513,
          "fp": "*Automatic reply*\n*SEJA UM REVENDEDOR DE IPTV E TENHA LUCROS SEM SAIR DE CASA*\n\n✅ LICROS ATÉ 300%\n✅ "
        },
        {
          "time": 1780713832352,
          "fp": "Amelia, I understand you… honestly, I would probably feel the same in your position.\n\nThis is not a "
        },
        {
          "time": 1780714223733,
          "fp": "I have strong connections, this is not just an isolated case\nMy team is too big to miss the opportun"
        },
        {
          "time": 1780714233868,
          "fp": "Thanks 🙏🏼"
        },
        {
          "time": 1780714321067,
          "fp": "Amiga eu não tenho nenhum contato mas se eu puder dar um conselho , comeca por um Pais que você mais"
        },
        {
          "time": 1780714414862,
          "fp": "*WARSAW* 🇵🇱\nTonight \nshort girls, up to 172cm\nBudget around 2k$ -% +-\n3/4h\nEasy job \nSend profiles"
        },
        {
          "time": 1780714527895,
          "fp": "🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/BIQCtfofihM4V2UFn66rdX"
        },
        {
          "time": 1780714786241,
          "fp": "Удивительная внешность Транси будет для тебя как глоток свежего воздуха. Мало запретов. Приветствую "
        },
        {
          "time": 1780714917364,
          "fp": "Never girls need to understand stand you if steak now big problems can happen. Agent is not one weak"
        },
        {
          "time": 1780715101124,
          "fp": "This girl lower herself to steal a client she didn’t cultivate. Being a thief is very low. It’s clas"
        },
        {
          "time": 1780715410563,
          "fp": "*New York* 🇺🇸 Tonight around at 1am, 2h-meeting (outcall), regular client \nOpen budget \n\nWho’s up "
        },
        {
          "time": 1780715573700,
          "fp": "Algarve faro arrendo 08 06,2026 proibido varejo,bebidas alcoólicas,drogas,tabaco, mulheres calmas, r"
        },
        {
          "time": 1780716013524,
          "fp": "🔥CHICAGO Downtown🔥 incall for my regular 800-% 🌹🌹🌹🌹"
        },
        {
          "time": 1780716181342,
          "fp": "Кипр , ЛИМАССОЛ , \nСрочно , к 10 утра , Парк Лайн отель , на сутки , \n( яхта , потом ужин и продолже"
        },
        {
          "time": 1780716519657,
          "fp": "пишіть хто хоче подивитись як я граюсь з кіскою за 50 грн, не встидайтесь"
        },
        {
          "time": 1780716678633,
          "fp": "Hola buenas, necesito una chica  para un cliente joven  para varias horas en Madrid por favor mandar"
        },
        {
          "time": 1780717517491,
          "fp": "Marbella♦️♦️🔥🔥\nPrivate events throughout the whole session.\nVIP clients,smart parties🌹🌹 in amazi"
        },
        {
          "time": 1780717955343,
          "fp": "Ajudante disponível"
        },
        {
          "time": 1780718122749,
          "fp": "Hola"
        },
        {
          "time": 1780718182102,
          "fp": "Soy brasileña tengo 22 años tengo el perfil culo grande cintura fina pechos grandes deseo una discot"
        },
        {
          "time": 1780718215607,
          "fp": "Espanaaaa"
        },
        {
          "time": 1780718572468,
          "fp": "Nyc incall tonight\n1 hr 800-300%\nWho can? Possible to raise"
        },
        {
          "time": 1780719070418,
          "fp": "Nyc outcall now 2 hr 1500-500\nWho can?"
        },
        {
          "time": 1780719400460,
          "fp": "*New York*\nASAP\n*Outcall* for 2h \n1000$ clean + uber \nWho’s available?"
        },
        {
          "time": 1780719636462,
          "fp": "Conversação num tendi essa parte 😅😅😅"
        },
        {
          "time": 1780720665288,
          "fp": "NYC 🇺🇸 NOW\nOutcall \n1.3 clean + client send driver \n2 hours, with possibility of extending to 3 ho"
        },
        {
          "time": 1780721679792,
          "fp": "🚨 *GROUP RULES* 🚨\n**READ CAREFULLY TO AVOID REMOVAL!**\n\n🚫 No scams 🚫 No spam — maximum 1 post pe"
        },
        {
          "time": 1780721920666,
          "fp": "Alguna mujer para video llamada que me vea mi verga como me masturbándome le doy leche video llamada"
        },
        {
          "time": 1780721942048,
          "fp": "**__\"ИЩУ ПОКОРНОГО РАБА ДЛЯ\n\n  ВЫПОЛНЕНИЯ МОИХ\n\nЖЕЛАНИЙ И ПОДЧИНЕНИЯ\n\nМОЕМУ КОНТРОЛЮ\"__\n\n👠🧎‍♂**@Ma"
        },
        {
          "time": 1780722155000,
          "fp": "Fala pessoal \n\nTudo joia?"
        },
        {
          "time": 1780722170626,
          "fp": "@87815572439120, \nI sent you a private message. Please check it when you have a moment 🤍"
        },
        {
          "time": 1780722199121,
          "fp": "💮Check out our website💮\n\n\nwww.akeliteclub.com \n\n\n\n💮💮💮💮💮💮💮💮💮💮"
        },
        {
          "time": 1780722248551,
          "fp": "💎🔹*GOOD PARTIES AND AFTERS IN LONDON & MILAN* 🔹💎\n\n•  CONTACT +44 7877 768537 FOR MORE INFORMATIO"
        },
        {
          "time": 1780722260947,
          "fp": "💎💎💎💎💎💎💎💎💎💎\n\nFollow us on instagram:\n\nwww.instagram.com/akeliteclub\n\n💎💎💎💎💎💎💎💎💎💎"
        },
        {
          "time": 1780722582897,
          "fp": "📞✨ OI AMORES, SOU A AMANDA 🇬🇧💋\n\nFaço atendimento para meninas no Reino Unido 🇬🇧\n📲 Trabalho co"
        },
        {
          "time": 1780722846433,
          "fp": "LA meeting next Tuesday \nOutcall to OC\n2 hr 1500 clean\nUber is booked\nPossible to raise for super to"
        },
        {
          "time": 1780723242233,
          "fp": "**Мне всегда нужны новые лица на мои постоянные** **поездки ❤️ Сотрудничаю %**\n\n**КОРОЛЬ АБУ-ДАБИ**\n"
        },
        {
          "time": 1780723771978,
          "fp": "♥️♥️♥️ LA ASAP\nBudget depends on the model for 1h or 2h \nGood regular client \nWho’s Available?\n\nCoop"
        },
        {
          "time": 1780723900564,
          "fp": "ПРИГЛАШУ В ГОСТИ МУЖЧИНУ \n🥰хотелось бы с утра, но можно и позже \nдля хорошего секса, не против и АС"
        },
        {
          "time": 1780724262159,
          "fp": "🌎 Dubai 🇦🇪\n\nMeeting\n2 hours\n\nHotel meeting 🏨\n\nUkrainian client, very pleasant and respectful ✨\n\n"
        },
        {
          "time": 1780724543137,
          "fp": "Подкиньте на вкусняшки ❤️🥹 отблагодарю щедро💋😘"
        },
        {
          "time": 1780724966502,
          "fp": "🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/IxUNKhjTEf87jYXmRDpKU4"
        },
        {
          "time": 1780725132813,
          "fp": "♥️♥️♥️ NY-ASAP\nBudget depends on the model for othernight\nGood regular client \nWho’s Available?\n\nCoo"
        },
        {
          "time": 1780725661829,
          "fp": "**__ЕСЛИ Б Я БЫЛА ЦАРИЦА \n\nЯ Б САДИЛАСЬ ВСЕМ НА ЛИЦА 😈\n\n**__@Margo_Love69\n\nЗаглянуть не хочешь ?👅"
        }
      ]
    }
  },
  "meta": {
    "instanceId": "076f774a55a5ee35adb97b88c4f2827a760bc82be4a432b2b5434d7c166e8234"
  },
  "pinData": {},
  "versionId": "960ab4eb-cdd0-4b38-ac20-52ac2a3c27e2",
  "activeVersionId": "960ab4eb-cdd0-4b38-ac20-52ac2a3c27e2",
  "versionCounter": 27048,
  "triggerCount": 2,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-02T09:34:19.673Z",
      "createdAt": "2026-06-02T09:34:19.673Z",
      "role": "workflow:owner",
      "workflowId": "A0QpoDzX559wzRXQ",
      "projectId": "Pkvc1S9YteW378wM",
      "project": {
        "updatedAt": "2026-06-02T09:30:13.988Z",
        "createdAt": "2026-06-02T09:30:13.988Z",
        "id": "Pkvc1S9YteW378wM",
        "name": "Unnamed Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "724a333b-388e-41cf-ac85-549aeb320007"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 960ab4eb",
    "description": ""
  }
}