legacy_scripts/wf_export.json
[{"updatedAt":"2026-06-05T02:57:59.000Z","createdAt":"2026-06-02T09:34:19.668Z","id":"A0QpoDzX559wzRXQ","name":"WorldModels Enterprise Engine v5 (Fixed & Global)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"telegram-wm-2024","options":{}},"id":"ad3f4da0-5dc2-4c8e-be0a-ed76292c6b12","name":"Webhook Telegram","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-3200,160],"webhookId":"0636d1ec-a349-4eec-8e84-c913a1949e96"},{"parameters":{"httpMethod":"POST","path":"1fd718d6-49f8-43dc-a881-ff7ecf7b94ef","options":{}},"id":"a129cf17-ceef-4b56-92c0-43248fb6a4eb","name":"Webhook WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-3200,608],"webhookId":"307fea47-4b3a-4883-8af5-5a4a64b48b02"},{"parameters":{"jsCode":"const item = $json;\n\n// Solo bloqueamos si es TRASH absoluto o si ya fue rechazado por Guard\nif (item.category === 'trash' || item.trash === true) return [];\n\nlet score = 0;\n// Scoring dinámico para el feed\nif (item.category === 'evento') score += 50;\nif (item.category === 'plaza') score += 20;\nif (item.city && item.city !== 'Global') score += 15;\nif ((item.text_es || '').length > 200) score += 10;\n\nreturn [{ json: { ...item, final_score: score } }];"},"id":"fd8dc94d-b581-46e9-80b5-7900c7ce3a40","name":"Quality Score","type":"n8n-nodes-base.code","typeVersion":1,"position":[-496,160]},{"parameters":{"jsCode":""},"id":"a7dccef0-23ad-4271-9f5e-0e78a3304fb0","name":"Message Router","type":"n8n-nodes-base.code","typeVersion":1,"position":[-304,160]},{"parameters":{"chatId":"={{ $json.tg_chat }}","text":"={{ $json.tg_text }}","additionalFields":{"parse_mode":"HTML"}},"id":"d032af63-5890-482e-bfd6-24699aa8c80d","name":"Telegram Fanout","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[0,0],"webhookId":"d8d68b16-0b29-41c1-8f44-550a3c8a2254","credentials":{"telegramApi":{"id":"wNTTBS9Bhu4RrC6o","name":"Telegram account"}}},{"parameters":{"method":"POST","url":"http://178.156.186.149:3001/api/juana/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer shJOb5wskQMTyfoF20GLqmJOclA5if5j"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"to\": $json.wa_chat, \"body\": $json.wa_text || $json.tg_text } }}","options":{}},"id":"3831a836-c9f5-4c05-ac41-2480f21332a2","name":"WhatsApp Fanout","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,160],"continueOnFail":true},{"parameters":{"method":"POST","url":"http://178.156.186.149:3001/api/leads","sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"isGroup\": true,\n  \"platform\": $json.platform,\n  \"contact\": $json.contact,\n  \"source_chat_id\": $json.source_chat_id,\n  \"city\": $json.city,\n  \"location\": $json.city,\n  \"budget\": $json.budget,\n  \"category\": $json.category,\n  \"text_es\": $json.text_es,\n  \"title_es\": $json.title_es\n} }}","options":{}},"id":"84fbc714-3a7d-4df5-8851-91f11300dd5a","name":"Post Backend","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,320],"continueOnFail":true},{"parameters":{"jsCode":"// DYNAMIC ROUTING ENGINE v7.1 (CLEAN CLIENTS ONLY)\nlet leadData = $input.first().json;\nconst category = String(leadData.category || 'evento').toLowerCase();\nconst cityDetected = String(leadData.city || 'global').toLowerCase();\nconst text = String(leadData.text_es || '').toLowerCase();\n\n// NORMALIZAMOS EL TEXTO PARA EVITAR PROBLEMAS CON TILDES\nfunction normalize(str) {\n  return str.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\");\n}\nconst textNorm = normalize(text);\nconst cityNorm = normalize(cityDetected);\n\nconst routingTable = {\n  \"costa_azul\": {\n    keywords: [\"monaco\", \"cannes\", \"niza\", \"nice\", \"monte carlo\", \"cote d'azur\"],\n    targets: [\n      { to: \"5511953600828@s.whatsapp.net\", label: \"COSTA AZUL\" }\n    ]\n  }\n};\n\nlet matchedTargets = [];\n\nfor (const [key, config] of Object.entries(routingTable)) {\n    // Usamos expresión regular con fronteras de palabra (\\b) para evitar coincidencias parciales\n    const pattern = new RegExp(`\\\\b(${config.keywords.join('|')})\\\\b`, 'i');\n    if (pattern.test(textNorm) || pattern.test(cityNorm)) {\n         matchedTargets = [...matchedTargets, ...config.targets];\n    }\n}\n\n// 2. FALLBACK: Global feed (Cualquier ciudad que no coincida con cliente)\nif (matchedTargets.length === 0 && (category === 'evento' || category === 'plaza')) {\n  matchedTargets.push({ to: \"120363425790792660@g.us\", label: (cityDetected !== 'global' ? cityDetected.toUpperCase() : 'GLOBAL') });\n}\n\n// Ensure unique targets\nconst uniqueTargets = Array.from(new Set(matchedTargets.map(t => t.to)))\n  .map(to => matchedTargets.find(t => t.to === to));\n\nif (uniqueTargets.length === 0) return [];\n\nreturn uniqueTargets.map(t => ({\n  json: { \n    ...leadData, \n    target_wa: t.to, \n    city_label: t.label \n  }\n}));"},"id":"4948e649-2714-4179-af3e-7f9f6241900b","name":"Dynamic Routing Engine","type":"n8n-nodes-base.code","typeVersion":1,"position":[-304,480],"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"amount":2},"id":"0699e23c-501f-4ec9-a085-df3f95a945d0","name":"Global Alert Waiter","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-112,480],"webhookId":"7346090a-61ac-4f37-b4b1-e3bd8cca24c9"},{"parameters":{"method":"POST","url":"http://178.156.186.149:3001/api/juana/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer shJOb5wskQMTyfoF20GLqmJOclA5if5j"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => {\n  const target = $json.target_wa || '';\n  const label = ($json.city_label || '').toUpperCase();\n  \n  if (label === 'COSTA AZUL' || target === '5511953600828@s.whatsapp.net') {\n    return { \"to\": target, \"body\": \"*📢 ALERTA COSTA AZUL*\\n📍 *\" + ($json.city || \"Desconhecida\") + \"* | 💰 *\" + ($json.budget || \"Negociável\") + \"*\\n\\n\" + ($json.text_pt || $json.text_es || \"Sem descrição\") + \"\\n\\n👤 *Remetente:* \" + ($json.contact || \"Desconhecido\") + \"\\n🔌 *Fonte:* \" + ($json.platform || \"WhatsApp\") };\n  }\n  else {\n    return { \"to\": target, \"body\": \"*📢 ALERTA \" + (label || \"GLOBAL\") + \"*\\n📍 *\" + ($json.city || \"Desconocida\") + \"* | 💰 *\" + ($json.budget || \"Negociable\") + \"*\\n\\n\" + ($json.text_es || \"Sin descripción\") + \"\\n\\n👤 *Remitente:* \" + ($json.contact || \"Desconocido\") + \"\\n🔌 *Fuente:* \" + ($json.platform || \"WhatsApp\") };\n  }\n})() }}","options":{}},"id":"c9036d44-4bab-4727-adfd-f28b73febb40","name":"Dynamic WhatsApp Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[80,480],"continueOnFail":true},{"parameters":{"jsCode":"const input = $input.first().json;\nconst item = input.message || input.body || input;\nconst textBody = item.text || item.caption || item.message?.text || '';\n\nfunction findContact(obj) {\n  if (!obj || typeof obj !== 'object') return null;\n  const contact = obj.contact || obj.sender_contact || obj.from || obj.sender?.wa_id || '';\n  if (typeof contact === 'string') {\n    if (contact.includes('t.me/')) return contact.split('t.me/')[1];\n    if (contact.startsWith('tg_id_')) return contact;\n    if (contact.startsWith('@')) return contact;\n    if (/^\\d{7,15}$/.test(contact)) return 'tg_id_' + contact;\n  }\n  return null;\n}\n\nlet sc = findContact(item) || findContact(input);\nif (sc && !sc.startsWith('tg_id_')) {\n  sc = sc.trim();\n  if (!sc.startsWith('@')) sc = '@' + sc;\n}\n\nconst sourceChatId = item.chatId || item.chat?.id || input.source_chat_id || '';\n\nreturn [{ json: {\n  ...item,\n  platform: 'Telegram',\n  sender_contact: sc || 'No_Username',\n  final_contact: sc || 'No_Username',\n  source_chat_id: sourceChatId,\n  texto_limpio: textBody.trim(),\n  looksValuable: textBody.length > 5\n}}];"},"id":"b9101450-7975-4a31-861e-34d255f06d9a","name":"Extract Metadata TG1","type":"n8n-nodes-base.code","typeVersion":1,"position":[-2848,736]},{"parameters":{"jsCode":"const input = $input.first().json;\nconst item = input.message || (input.messages && input.messages[0]) || input.body || input;\nconst textBody = item.text?.body || item.text || item.caption || item.body || '';\n\nfunction getPhone(val) {\n  if (!val) return null;\n  let s = '';\n  if (typeof val === 'object') {\n    s = String(val.id || val.author || val.from || val.phone || val.number || val.wa_id || val.remoteJid || '');\n  } else {\n    s = String(val);\n  }\n  if (s.includes('@g.us') || s.includes('-')) return null;\n  const digits = s.replace(/\\D/g, '');\n  return (digits.length >= 7 && digits.length <= 15) ? digits : null;\n}\n\nconst sc = getPhone(item.author) || getPhone(item.from) || getPhone(item.sender) || getPhone(input.sender?.wa_id) || getPhone(input.contact) || \"No disponible\";\nconst sourceChatId = item.chat_id || item.chatId || input.source_chat_id || null;\n\nreturn [{ json: {\n  ...item,\n  platform: \"WhatsApp\",\n  sender_contact: sc,\n  final_contact: sc,\n  source_chat_id: sourceChatId,\n  texto_limpio: String(textBody).trim(),\n  looksValuable: String(textBody).length > 5\n}}];"},"id":"40d6fc1b-abca-45cb-8d1b-73dca44a6340","name":"Extract Metadata WA1","type":"n8n-nodes-base.code","typeVersion":1,"position":[-2848,928]},{"parameters":{"jsCode":"const results = [];\nconst HARD_BLOCK = new Set([\"crypto\", \"binance\", \"casino\", \"usdt\", \"bitcoin\", \"wallet\", \"trading\", \"ganar dinero\", \"инди\", \"контент\", \"onlyfans\", \"вирт\", \"sugar baby\", \"sugar daddy\", \"anal\", \"masaje erotico\", \"ingles\", \"english\"]);\nconst BANNED_PREFIXES = [\"58\", \"57\", \"92\", \"91\", \"62\"];\n\nfunction norm(v) { return String(v || \"\").toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\"); }\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const text = norm(data.texto_limpio);\n  const sender = String(data.final_contact).replace(/\\D/g, \"\");\n\n  let rejectReason = null;\n  if (BANNED_PREFIXES.some(p => sender.startsWith(p))) rejectReason = \"prefix_banned\";\n  else if (HARD_BLOCK.has(text)) rejectReason = \"hard_block_match\";\n\n  results.push({ json: { ...data, looksValuable: !rejectReason, reject_reason: rejectReason } });\n}\nreturn results;"},"id":"10301e4a-86a0-4881-8c88-af30387385f2","name":"Pre-Filter Unified1","type":"n8n-nodes-base.code","typeVersion":1,"position":[-2544,832]},{"parameters":{"jsCode":"const results = [];\nconst store = $getWorkflowStaticData('global');\nif (!store.history) store.history = [];\n\nconst now = Date.now();\nconst TTL = 86400000;\nstore.history = store.history.filter(h => now - h.time < TTL);\n\nfor (const item of $input.all()) {\n  const fp = String(item.json.texto_limpio).substring(0, 100);\n  if (!store.history.some(h => h.fp === fp)) {\n    store.history.push({ time: now, fp });\n    results.push(item);\n  }\n}\nreturn results;"},"id":"ee6c6546-b028-4442-b89a-a41f830bd326","name":"Dedup Hash1","type":"n8n-nodes-base.code","typeVersion":1,"position":[-2144,832]},{"parameters":{"promptType":"define","text":"=### WORLDMODELS QUALITY ENGINE v5.2 (ULTRA PRECISION) ###\nTEXT: \"{{ $json.texto_limpio }}\"\n\nCLASSIFICATION RULES:\n\n1. EVENTO (Client Requests / Immediate Leads) - HIGH PRIORITY:\n   - DIRECT REQUESTS: \"Busco chica para ahora\", \"Disponible en Madrid?\", \"Outcall 1h\", \"Dinner tonight\".\n   - REAL TIME: Messages mentioning \"Ahora\", \"Hoy\", \"Esta noche\", \"ASAP\", or specific times.\n   - TOURS & CASTINGS: \"Casting para marca\", \"Haciendo tour en Ibiza\".\n   - CONTEXT: A client or agency looking for someone for something SPECIFIC and immediate.\n\n2. PLAZA (Job Offers / Vacancies):\n   - FIXED POSITIONS: \"Buscamos chica fija para club\", \"Plaza libre en agencia\", \"Hiring for season\".\n   - AGENCY CASTINGS: \"Buscando caras nuevas\", \"Envíen disponibilidad para mayo\".\n   - ACCOMMODATION: \"Habitación para modelos\", \"Piso disponible para trabajar\".\n   - CONTEXT: An agency or organizer offering stable work, vacancies, or housing.\n\n3. TRASH (Discard):\n   - INDIVIDUAL SELF-PROMOTION: \"Hola soy Maria, disponible en Madrid\", \"Soy modelo, contratadme\". (Only if the model is offering HERSELF).\n   - CASUAL CHAT: Greetings, questions without an offer, or maintenance messages.\n   - SPAM: Crypto, random links, unrelated ads.\n\nCRITICAL: \n- If an AGENCY or CLUB asks \"Who is available?\", \"Seeking models\", or posts a job offer (even for the future), it is a PLAZA or EVENTO, NOT trash.\n- If a CLIENT asks to meet, it is an EVENTO, NOT trash.\n- If the city is NOT mentioned but the text mentions a club name (like Mansour, Lio, Pacha), try to infer the city or output \"Ibiza\" if it's a known Ibiza spot.\n\nCRITICAL: You MUST translate and provide both the Spanish (text_es, title_es) and English (text_en, title_en) versions of the text.\\n\\nOUTPUT JSON:\n{\n  \"city\": \"City Name (e.g. Ibiza, Madrid, Miami, Paris)\",\n  \"budget\": \"Value\",\n  \"category\": \"plaza|evento|trash\",\n  \"detected_lang\": \"ES|EN|RU|PT\",\n  \"title_es\": \"Short descriptive title in Spanish\",\n  \"text_es\": \"Clean and translated text in Spanish\",\n  \"title_en\": \"Short descriptive title in English\",\n  \"text_en\": \"Clean and translated text in English\",\n  \"trash\": false\n}"},"id":"4eee9fad-92ea-4b99-aa5f-e0b2e8629efb","name":"IA Extract1","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-1952,832]},{"parameters":{"model":"deepseek-v4-flash","options":{}},"id":"44be219a-52ac-4710-94e1-9b7a8be95eb1","name":"DeepSeek Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-1952,1024],"credentials":{"deepSeekApi":{"id":"B7kPB7i2l2oQh9UM","name":"DeepSeek account"}}},{"parameters":{"jsCode":"// PARSE JSON v5.8 (METADATA PRESERVE)\nconst input = $json;\nconst rawText = input.output || input.text || \"\";\nconst cleanText = rawText.replace(/```json|```/g, '').trim();\n\n// RECUPERAR METADATA PERDIDA (prioridad absoluta a los nodos de extracción)\nlet metadataWA = {};\ntry { metadataWA = $node[\"Extract Metadata WA1\"].json || {}; } catch (e) {}\nlet metadataTG = {};\ntry { metadataTG = $node[\"Extract Metadata TG1\"].json || {}; } catch (e) {}\n\nconst platform = metadataWA.platform || metadataTG.platform || input.platform || \"WhatsApp\";\nlet contact = metadataWA.final_contact || metadataTG.final_contact || input.sender_contact || input.final_contact || \"Desconocido\";\n\n// Si el contacto es un ID de grupo, lo marcamos como Desconocido\nif (String(contact).includes('@g.us') || String(contact).length > 20) { contact = \"Desconocido\"; } else if (/^\\d{7,15}$/.test(String(contact))) { contact = '+' + contact; } \n\nlet parsed = {};\ntry {\n  if (cleanText) parsed = JSON.parse(cleanText);\n} catch (e) {\n  const catMatch = cleanText.match(/\"category\"\\s*:\\s*\"(.*?)\"/i);\n  if (catMatch) parsed.category = catMatch[1];\n}\n\nconst lowerRaw = (input.texto_limpio || metadataWA.texto_limpio || metadataTG.texto_limpio || \"\").toLowerCase();\nconst isJobish = lowerRaw.includes(\"busco\") || lowerRaw.includes(\"disponible\") || lowerRaw.length > 20;\n\nconst finalData = {\n  platform,\n  contact,\n  source_chat_id: metadataWA.source_chat_id || metadataTG.source_chat_id || input.source_chat_id || \"0\",\n  city: parsed.city || \"Global\",\n  budget: parsed.budget || \"Negociable\",\n  category: (parsed.category || (isJobish ? \"evento\" : \"trash\")).toLowerCase(),\n  text_es: parsed.text_es || input.texto_limpio || lowerRaw || \"Sin descripción\",\n  text_en: parsed.text_en || \"\",\n  title_en: parsed.title_en || \"\",\n  title_es: parsed.title_es || (lowerRaw ? lowerRaw.substring(0, 40) : \"Nuevo Lead\"),\n  trash: parsed.trash === true || (parsed.category === 'trash' && !isJobish) || false\n};\n\nconst highValueKeywords = [\"mansour\", \"ibiza\", \"lio\", \"pacha\", \"monaco\", \"viena\", \"dubai\", \"manila\"];\nif (highValueKeywords.some(kw => lowerRaw.includes(kw))) {\n  finalData.trash = false;\n  if (finalData.category === 'trash') finalData.category = \"evento\";\n}\n\nreturn [{ json: finalData }];"},"id":"fa17aaee-afcd-4593-a1b8-bc2c36718f3e","name":"Parse JSON1","type":"n8n-nodes-base.code","typeVersion":1,"position":[-1696,832]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.category }}","operation":"notEqual","value2":"trash"}]}},"id":"ac08c30e-8743-4319-9f0c-e9abe45e52d9","name":"Final Guard1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1104,832]},{"parameters":{"jsCode":"const text = $json.texto_limpio || \"\";\nconst results = [];\n// Regex flexible para capturar chat.whatsapp.com con su ID\nconst linkRegex = /(?:https?:\\/\\/)?chat\\.whatsapp\\.com\\/[a-zA-Z0-9_-]{20,30}/g;\nconst matches = text.match(linkRegex);\n\nif (matches) {\n  for (let match of matches) {\n    if (!match.startsWith(\"http\")) {\n      match = \"https://\" + match;\n    }\n    results.push({ \n      json: { \n        link: match, \n        platform: $json.platform, \n        source: $json.source_chat_id \n      } \n    });\n  }\n}\nreturn results;"},"id":"9eed26ca-89cb-43f2-bd32-7b44a355cd95","name":"Link Extractor","type":"n8n-nodes-base.code","typeVersion":1,"position":[-2496,1104]},{"parameters":{"chatId":"-1003900864818","text":"=🔗 *Nuevo Grupo Detectado*\nEnlace: {{ $json.link }}\nPlataforma: {{ $json.platform }}\nFuente: {{ $json.source }}","additionalFields":{"parse_mode":"Markdown"}},"id":"0220c806-b05b-430b-b1fe-f4eb66cbb758","name":"Telegram Link Alert","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-2304,1104],"webhookId":"0de194dd-7569-453e-a685-57b13de90441","credentials":{"telegramApi":{"id":"wNTTBS9Bhu4RrC6o","name":"Telegram account"}}}],"connections":{"Webhook Telegram":{"main":[[{"node":"Extract Metadata TG1","type":"main","index":0}]]},"Webhook WhatsApp":{"main":[[{"node":"Extract Metadata WA1","type":"main","index":0}]]},"Extract Metadata TG1":{"main":[[{"node":"Pre-Filter Unified1","type":"main","index":0}]]},"Extract Metadata WA1":{"main":[[{"node":"Pre-Filter Unified1","type":"main","index":0}]]},"Pre-Filter Unified1":{"main":[[{"node":"Dedup Hash1","type":"main","index":0},{"node":"Link Extractor","type":"main","index":0}]]},"Dedup Hash1":{"main":[[{"node":"IA Extract1","type":"main","index":0}]]},"IA Extract1":{"main":[[{"node":"Parse JSON1","type":"main","index":0}]]},"DeepSeek Chat Model1":{"ai_languageModel":[[{"node":"IA Extract1","type":"ai_languageModel","index":0}]]},"Parse JSON1":{"main":[[{"node":"Final Guard1","type":"main","index":0}]]},"Final Guard1":{"main":[[{"node":"Quality Score","type":"main","index":0}]]},"Quality Score":{"main":[[{"node":"Message Router","type":"main","index":0},{"node":"Post Backend","type":"main","index":0},{"node":"Dynamic Routing Engine","type":"main","index":0}]]},"Message Router":{"main":[[{"node":"Telegram Fanout","type":"main","index":0}]]},"Dynamic Routing Engine":{"main":[[{"node":"Dynamic WhatsApp Alert","type":"main","index":0}]]},"Link Extractor":{"main":[[{"node":"Telegram Link Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"global":{"history":[{"time":1780547993669,"fp":"Busco Personas de España(Españoles) 🇪🇸\nPara Trabajar Desde Casa 🏡 \nVerificando Apps Faciles .\nGan"},{"time":1780548748906,"fp":"Miami   Tonight as soon as possible.  Budget start 3.5-30% upto 5k \nModel type  \nOnly Slavic or Euro"},{"time":1780549315573,"fp":"Gostosa"},{"time":1780549569130,"fp":"Miami.  ( only Slavic ) \n2h. 3.5-30% upto 5k -30 \n as soon as possible \nBrickel  only blond top 🔝 \n"},{"time":1780549662469,"fp":"Шикарная транси-девушка зовёт тебя в край удовольствий! Со мной не заскучать. 🫦"},{"time":1780550020034,"fp":"Los Angeles, New Yourk \nIncall/outcall, parties, extra work. \nregular guests. Details in ls\n There i"},{"time":1780550074603,"fp":"Eu tenho um amigo que tem ! Me chama no privado"},{"time":1780550148339,"fp":"🌴☀ Есть тема слетать на отдых люкс-класса к океану на пару недель \n\nНужна одна девушка, подробнее в"},{"time":1780550305519,"fp":"🍀PLAZA 50/50.  🇮🇪 IRLANDA 🇮🇪🍀\n \n💗▫️\n     30 minutos 100€ \n     45 minutos 150€\n     1 hora 20"},{"time":1780550671896,"fp":"Buenos días se alquila apartamento semanal en palma de Mallorca interesado al interno paso informaci"},{"time":1780550792884,"fp":"Питер \nСегодня в 00:00\nПост из мск, проверенный \nКлассика, мбр\nТипаж: студентки, без лишнего веса, и"},{"time":1780551072963,"fp":"Настоящая транссексуалка приглашает тебя в страну страсти! Со мной не заскучать. 🍬"},{"time":1780551547678,"fp":"Image trip 7-21 days. $1,000 per day net 👌🏻 No commission taken.\nYou are provided with flights, ac"},{"time":1780551983977,"fp":"Paris. Today -tomorrow. 3some with couple. Preferably young, skinny, natural. 1100€ clean . For top "},{"time":1780552470215,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/DRHzousBy9SLN3VE1UenJC"},{"time":1780552482978,"fp":"Красивая транси приглашает тебя в страну интима! Со мной не заскучать. 👅"},{"time":1780552562722,"fp":"🌴 🇺🇸*LOS ANGELES*🇺🇸🌴 \n*My so good regular* ✅ \n*INCALL*\n*ASAP*\n*1-2 h*\n*700-1300 clean* 💰 \n\nWh"},{"time":1780552570854,"fp":"Дубай💕\n\nЗак, француз, 39 лет\nВстреча 4.05-11.05 на 2-3 часа, днем, инкол \nТипаж: бэби фейс \nДолжен "},{"time":1780552862133,"fp":"**__ЕСЛИ Б Я БЫЛА ЦАРИЦА \n\nЯ Б САДИЛАСЬ ВСЕМ НА ЛИЦА 😈\n\n**__@Margo_Love69\n\nЗаглянуть не хочешь ?👅"},{"time":1780552934657,"fp":"Москва 💋 СЕЙЧАС\nГостиница Украина \n\nБейбик развратная)\nНа пару часов \n40.000 в ручки \nАлко"},{"time":1780552968210,"fp":"New York \nWhose avail now asap? Regular outcall 2h easy and nice"},{"time":1780553238478,"fp":"Париж💕\n\nЗак, турок, 33 года \nВстреча 4.05-11.05 на 1-2 часа в отеле \nТипаж: бэби фейс \n\nБюджет 1000"},{"time":1780553259615,"fp":"**МСК ХИМКИ **\nНа квартиру к хорошему посту 🩷 \n\n10к чист за 1ч + такси (поднимет если будет максима"},{"time":1780553322856,"fp":"Испания!!! 🇪🇸\nМальорка!!!\nСегодня!!! Пятница!!!\n1.5-2 часа 🕑 !!!\nБюджет 1000€ чисты💰!!! \n\nSpain!"},{"time":1780553354333,"fp":"Cade"},{"time":1780553626644,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/L3gd6LMIamoF2u7jnivrB4"},{"time":1780553669263,"fp":"ПРИГЛАШУ В ГОСТИ МУЖЧИНУ \n🥰хочу с утра \nдля хорошего секса, не против и АС\nя ухоженная и стройная  "},{"time":1780553685227,"fp":"✅VCA \n✅ Limosas\n✅ Certificado A1 – Rápido e sem complicações\n✅ FATURAS (Empresa Belga ou Portuguesa)"},{"time":1780553892423,"fp":"Женственная транссексуалка зовёт тебя в страну наслаждения! Со мной не заскучать. 🎀"},{"time":1780554396002,"fp":"Выезд Лондон\nНа следующую неделю, выезд в центральном районе (8 июня примерно)\nКлиент ру говорящий \n"},{"time":1780554656485,"fp":"АКТУАЛЬНО ВСЕГДА!!!!\nДевочки 18-22 года❤️\nМного предложений по заездам в ОАЭ! Девочки увозят от 15.0"},{"time":1780554677525,"fp":"FOR SALE Ready-made profiles for work\n\nEros/ Tryst link / Eurogirlsescort / Escortnews / private del"},{"time":1780554724128,"fp":"Cuando ocupen grupos o agencia en Tijuana o san Diego mándeme mensaje con gusto las ayudo 🫶🏻"},{"time":1780554970826,"fp":"Esse tabaco é bom"},{"time":1780555146815,"fp":"*MILAN* \nAsap\nRegular \nWho is available now??"},{"time":1780555304941,"fp":"🇮‌🇲‌🇵‌🇪‌🇷‌🇩‌🇮‌🇻‌🇪‌🇱‌\n\nESSA PROMOÇAO\n🇵🇹🚨👏😃IMPERDIVEL QUER VER A COPA DO MUNDO 2026\nCOM"},{"time":1780555867739,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/FtfHagvO3FLBk9ypLo3IKH"},{"time":1780556521751,"fp":"🤩\n  🌌🌌🌌🌌 🌌 🌌 🌌\n🌸🌸🌸🌸🌸🌸🌸🌸\n🌸🌸🌸🌸🌸🌸🌸🌸\n🌸🔵  🔵  🔵 🔵 🔵🌸\n\n\n🌸🌸🌸 ХОЧЕШ\n🌸🌸🌸М"},{"time":1780556585056,"fp":"Outcall Paphos \n23:00-23:30\nAquamare Beach Hotel & Spa\n2 hours 400-450 eur \nPrefer slim under 25 y.o"},{"time":1780556714082,"fp":"Реальная транси приглашает тебя в край интима! Со мной не заскучать. 🫰"},{"time":1780556766286,"fp":"En granado hay plaza chicas que estén interesadas"},{"time":1780556870818,"fp":"HELLO DEAR GIRLS, \n       🚗 VIP ESCORT🚗\n\n🤩BRINGH TO YOUR ATTENTION 2 JOB VACANCIES🤩\n🥳 WE OFFER "},{"time":1780557043633,"fp":"👍МСК 👍\n**В ближайшее время, выезд на квартиру !!**\n\n1 час + АС 20к чист\n\n**Типаж:** \nХудая или стр"},{"time":1780557097184,"fp":"**🔱Москва🔱\n\nСупер классные девочки на апартаментах ..\n\nГео:  Москва\nМетро: Новаторская\nПроспект Ве"},{"time":1780557132516,"fp":"Киев, Студентка, худенькая, длинные волосы.\nВыйду в авто на минетик/Приеду на часик.\nГолосеевский ра"},{"time":1780557203883,"fp":"🎀🎀🎀🎀🎀🎀\n🎀  МОСКВА 🎀\n🎀🎀🎀🎀🎀🎀\n👠Всегда мечтала носить бренды,\n🛍Дорого пахнуть,\n💄И исполь"},{"time":1780557263180,"fp":"ОДЕССА 🥰 💗😮\n\nВстречи в Одессе без предоплат 💲3500-4500\n\nРеальные фото девочек с местом и на выез"},{"time":1780557372196,"fp":"S"},{"time":1780557376708,"fp":"Switzerland 🇨🇭 Zurich \nToday evening \nFor 2 hours \nVery nice client \nNeed tall , from 170\n18-25\nBu"},{"time":1780557409082,"fp":"Alguien me puede mandar el link del grupo?"},{"time":1780557488209,"fp":"Olá!\n\nMeu nome é Matin. Trabalho para o site Sexemodel. Escrevo avaliações positivas e crio listas d"},{"time":1780557719685,"fp":"Chama PV meninos"},{"time":1780557788383,"fp":"Plazas en España ??"},{"time":1780557883171,"fp":"Дубай💕\n\nЗак, араб, 42 года \nВстреча сегодня 4.06 на 2-3 часа у него In Emaar beachfront \n\nБюджет 13"},{"time":1780557942509,"fp":"Alguien con habitación en Tenerife"},{"time":1780557950783,"fp":"Buscas piso para trabajar en Madrid ? Nueva apertura de piso , Parla muy céntrico , con todos los se"},{"time":1780557974545,"fp":"Imagenes para comida en Madrid.\n50€, enviar collage.\n637565952"},{"time":1780557987681,"fp":"Configurações de Anúncios ⭐️⭐️⭐️\n\nSite sexemodel\n\nTiro comentários ruins ✖️\n\nBloqueio comentários pr"},{"time":1780558124213,"fp":"Красивая транси с сюрпризом приглашает тебя в страну интима! Со мной не заскучать. 😝"},{"time":1780558129809,"fp":"728 Бали \nВстреча в отеле на 4 часа \nБюджет пишите свой \nИщу молоденьких моделей до 23х лет \nКлиент "},{"time":1780558158902,"fp":"#888 Trip to Jakarta 🇮🇩 today!!! \nFrom Dubai possible \nBudget: $8000 2 day \nRequirements:\n• Female"},{"time":1780558279001,"fp":"✨  PLAZAS LIMITADAS✨\n🚨 NECESITO 2 CHICAS 🚨\n📍 Alzira, Valencia 🇪🇸\n\n🏡 Espacio exclusivo, discret"},{"time":1780558557271,"fp":"Киев приглашу на квартиру жить одинокую девушку студентку или женщину, можно  переселенку с любого р"},{"time":1780558767787,"fp":"📍Prague 🇨🇿\n\nToday, asap\nFor couple hours\nMeeting at hotel\nRegular customer, 30 y.o, russian speak"},{"time":1780558932112,"fp":"Y solo la escuchas en su locura ai me duele ai papá Dios"},{"time":1780559078529,"fp":"Miami \nGirls for party \nSend  me collage"},{"time":1780559095498,"fp":"Monaco 🇲🇨 \n\nRelevant all week. \n\nOvernight\n\nRegular client\n\nClassy style only. No cheap. No tattoo"},{"time":1780559205494,"fp":"Oie alguém online pra 💦"},{"time":1780559226981,"fp":"Miami 🇺🇸 brickell \nGirls for party \n\nSend  me collage and info \nBudget private\nOnly party"},{"time":1780559321590,"fp":"BODRUM\n1h incall/outcall\n400$ -30%com\nRegular client"},{"time":1780559346477,"fp":"Москва \nПост\n1 час 20к чист \nС АС\nХудая/молодая"},{"time":1780559374705,"fp":"🦋🦋🦋🦋🦋\nМосква\nКак соберётесь сегодня \n1-2ч отель , лайт!!!\nКрасивую, молоденькую. \n100.000 на ру"},{"time":1780559497855,"fp":"Киев 🔞\nПривет, я студентка, очень худенькая. \nВысокая, ухоженная\nБез места для встречи. \nГотова при"},{"time":1780559506952,"fp":"tô buscando um quarto da casal em madri, qualquer informação me passem pfv"},{"time":1780559534792,"fp":"Настоящая транси с сюрпризом приглашает тебя в страну страсти! Со мной не заскучать. 😇"},{"time":1780559671131,"fp":"Tem sim . Meia noite volta ."},{"time":1780559754667,"fp":"Meninas bom dia . Gostaria de saber se alguém aqui tem contato ou link de Apt em Ravenna ?"},{"time":1780559860489,"fp":"Obs: quando acaba os limites, pode comprar coins ,  pode usar quando os limite disponíveis da numbus"},{"time":1780559889778,"fp":"Fica carissimo"},{"time":1780559901502,"fp":"Aí você consegue consultar 60"},{"time":1780559907143,"fp":"Hola bueno días como activo un sing targeta Lyca compré una paquete 15)€ nose como activar eso graci"},{"time":1780559935581,"fp":"🤍 TURKEY вылет на следующий недели\n\n🗓️ поездка на 7 дней\n\n—\n\n👑 ТРЕБОВАНИЯ\n\n🎂 18–25 лет (паспорт)"},{"time":1780559956422,"fp":"BRONCEADO BRUXELAS BÉLGICA"},{"time":1780560046188,"fp":"🇺🇲 Лос-Анджелес🇺🇲 \nСегодня или завтра \nВ 20:00\nНа 3 часа \nНа месте✅\n\n😍Нужна ТОП девушка.\n👨Зака"},{"time":1780560273275,"fp":"**МОСКВА.🇷🇺🇷🇺🇷🇺**\n\n❌Не буду писать, что осталось 2 места.\n❌Не буду писать, что заработок космо"},{"time":1780560308864,"fp":"Bom dia, pega apartamentos que empresas administra é mais certeiro."},{"time":1780560352433,"fp":"🔥 DUBAI 🔥🔥 DUBAI🔥🔥 DUBAI 🔥\n\n💎 Сейчас формируется новый состав девушек для работы в Дубае 💎\n\n"},{"time":1780560526079,"fp":"🤩 **ПИТЕР ДЕВОЧКИ** 🤩\n\n💖 От Тебя только твоё желание \n💸 От меня ЗАРАБОТОК с ПЕРВОГО ДНЯ 100% \n✅ "},{"time":1780560575381,"fp":"Mas a ideia é legal"},{"time":1780560579295,"fp":"Sim fica , mas quando acaba os seu limite o que vc irá fazer ? 🥹😅 \nO bom é que eles não expiram , "},{"time":1780560595929,"fp":"Oi bom dia Meninas. Alguém poderia me passar no privado contato de agência na Croácia por favor? Obr"},{"time":1780560607438,"fp":"Amiga eu tenho dois celulares ahah"},{"time":1780560618156,"fp":"Então tenho 4 números"},{"time":1780560715067,"fp":"💎 **ПИТЕР 💎**\n\n**Требования:**\n\n💗 Возраст 18+\n💅 Опрятный вид\n📍 Ответственность\n🤩 Пунктуальност"},{"time":1780560822259,"fp":"💎 DUBAI | PRIVATE FORMAT 🇦🇪\n\nЭто не массовая работа, а формат для девушек, которые ценят комфорт,"},{"time":1780560835413,"fp":"💗 **ПИТЕР** 💗\n\n**__Девочки, кто хочет:**__\n\n💖 Гибкий график\n💖 100% безопасность\n💖 Проверенных к"},{"time":1780560854057,"fp":"Москва \n\nсегодня в 13-14\nНа 2ч\nУ кого есть АС будет +! Без АС супер топ тоже рассмотрит \nХороший пос"},{"time":1780560921181,"fp":"Котик, могу тебя взять к себе🐈‍⬛\n\n**Предлагаю:**\n\n🏦 Доход **от 900к** \n📍 Расчёт по факту встречи "},{"time":1780560944592,"fp":"Удивительная транси с сюрпризом приглашает тебя в край удовольствий! Со мной не заскучать. ♥️"},{"time":1780560971153,"fp":"Maravilha 🙌🏼"},{"time":1780561018834,"fp":"🧸🧸🧸 **ПИТЕР** 🧸🧸🧸\n\n**Требования:**\n\n🍓 Возраст 18+\n🍓 Опрятный вид\n🍓 Ответственность\n🍓 Пункт"},{"time":1780561075037,"fp":"🥰Занимаюсь сексом за деньги🍓\nЯ точно знаю что ты хочешь получить от нашей встречи🫦\nВремя, проведе"},{"time":1780561138443,"fp":"⚜️ **VIP - escort ⚜️\n⚜️ VIP - escort ⚜️\n⚜️ VIP - escort** ⚜️\n\nДевочки, есть **1 место** в Элитное Аг"},{"time":1780561213906,"fp":"🇷🇺Казань🇷🇺 \nЗавтра в 20:00\nНа 3 часа \n\nКто давно не работал или работает недавно? \nИли проездом "},{"time":1780561262374,"fp":"**🤩 ПИТЕР 🤩**\n\nДевочки, есть много работы!\n**От 3-4 тем в сутки**\n\nЕсть возможность заработать мно"},{"time":1780561274182,"fp":"Киев🇺🇦\nВстреча на ночь \nПостоянное предложение\n\nВ отелях загородного типа\n( Osocor , Shelest , Equ"},{"time":1780561283002,"fp":"🦋🦋🦋🦋\nКлассика, лайт!!!\nМосква\nКак соберётесь сегодня \n1-2ч отель \nКрасивую, молоденькую. \n100.00"},{"time":1780561361705,"fp":"Афины💕\nЗак, итальянец, 68 лет \nВстреча 6.05-6.05 или 13.05-13.06 на ночь на вилле \nПРИЛЕТ СМОТРИТ!\n"},{"time":1780561499878,"fp":"💋 **Привет, красотка** 💋\n**Для тебя новые условия** **в Питере**\n\n💸 **Доход от 900.000₽+**\n💰 **В"},{"time":1780561632581,"fp":"#7283 🇷🇺 ПМЭФ \n- Бюджет высокий!\n- Дата: 3-6 июня \n- Место: в 5* на 4 часа \n- Заказчик: русские ба"},{"time":1780561731256,"fp":"🇬🇧🇬🇧🇬🇧\n\n *LONDON*📍 \n\nWho is there?\n\nPreference \nBig boobs \n\nAPLY ASAP"},{"time":1780561852549,"fp":"Москва \nПостоянное предложение\n\nНа 2ч\nУ кого есть АС будет +! Без АС супер топ тоже рассмотрит \nХоро"},{"time":1780561877112,"fp":"@167782998114466 é de confiança ?"},{"time":1780561885598,"fp":"✨ Bienvenidas al Casting Abierto de Models Top Agency ✨\n\nActualmente contamos con plazas disponibles"},{"time":1780561946628,"fp":"Bom dia,tá tendo pronta entrega"},{"time":1780561959571,"fp":"Só me chamar no pv,interessado"},{"time":1780561977543,"fp":"Bom dia e bom trabalho a todos"},{"time":1780562001139,"fp":"Молдова \nинкол/ауткол\nРабота на допах/или сотруд\nСмотрю все типажи!"},{"time":1780562016155,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/Kk0o0MAN0KgFWQo5dqS5XP"},{"time":1780562043123,"fp":"Hi Ladies\n\n🚨 *June 8th Availabilities* 🚨\n\n🏡 Safe & discreet accommodation in prime locations 🏡\n\n"},{"time":1780562113228,"fp":"Alguém já trabalhou com esse pessoal pra da um feedbacks?"},{"time":1780562238952,"fp":"Bendiciones hola chicas alguna sabe cómo está el trabajo en Alemania ?"},{"time":1780562309540,"fp":"✦🇦🇪 *DUBAI TOUR 🇦🇪✦*\n\n*Сейчас открываю набор на ближайший выезд в Дубай для нескольких девушек.*"},{"time":1780562340463,"fp":"🌴🌴🌴🌴🌴🌴🌴🌴🌴🌴🌴🌴🌴🌴\n🌴🌴🌴🌴  *ТУР В БАНГКОК*  🌴🌴🌴🌴\n_*Тур на 14–21 день (с возможностью"},{"time":1780562388245,"fp":"Bom dia alguém tem máquina de lavar pra vender"},{"time":1780562432305,"fp":"❤️For a relationship and starting a family❤️Looking for a woman who is ready to get married and star"},{"time":1780562440007,"fp":"*Dubai* ❤️\n*Tonight*\nVery nice man\n5000aed-30%\n1 hour"},{"time":1780562603176,"fp":"Zurich 🇨🇭\nFriday night\n\n3h meeting \n\nClassy model❗\n\n💰Open budget \n\nMust apply full info‼️\n.Your i"},{"time":1780562639472,"fp":"DUBAI| ДУБАЙ\nTonight \nPrefer curvy girl \n\n⏳1-2 hours\n💰2000aed clean \n\n-Videos , photos,info in Engl"},{"time":1780562767500,"fp":"Bom dia meninas, alguma indicação de esteticista brasileira em Milan ? Que faça preenchimento labial"},{"time":1780562836261,"fp":"Москва девочки ❗❗❗\n\nНужна очень худая модель до 170 см на тему в эту пятницу в Москве с семейной пар"},{"time":1780562900366,"fp":"❗❗❗Армения | Срочный вылет сегодня ❗❗❗\n\n👤 Клиент: 28 лет, иностранец\n\n✨ Ищет девушку: ▫️ 19–20 лет\n"},{"time":1780562917239,"fp":"🇷🇺Казань🇷🇺 \nСегодня в 20:00\nНа 3 часа \n\nКто давно не работал или работает недавно? \nИли проездом"},{"time":1780562969154,"fp":"¿Hay alguna agencia aquí en Madrid que tenga buenas habitaciones para huéspedes y una buena ubicació"},{"time":1780563050139,"fp":"Mais já fez com esses tem uma indicação de qual é o melhor ?"},{"time":1780563053446,"fp":"🇦🇲 Armenia | Urgent Trip Today ✈️\n\n👤 Client: 28 y.o., foreigner\n\n✨ Looking for: ▫️ 19–20 years ol"},{"time":1780563099234,"fp":"London \nJune 5th 900£ clean 90 min \nYoung and natural \nWho’s avail? Regular , not local"},{"time":1780563301170,"fp":"🇦🇲 Trip to Armenia\n\n✈️ Departure today\n📅 3 days\n\n💰 $2500-4000 per day clean \n\n🏨 Separate accomm"},{"time":1780563437934,"fp":"Enschede disponible para 1 o 2. Para todos los generos. Plaza sin dueño con acceso a camara de segur"},{"time":1780563496986,"fp":"Поездка в Амман, Иордания из любого города\n7 июня\nНа 1 день \nХороший пост\nБюджет 1500$\nМожет поднять"},{"time":1780563508273,"fp":"London\n\nToday during a day (any free time)\nMeeting 2 h\nRegular cl 40 yo Chinese \nHotel\n1/1\nLight eas"},{"time":1780563845184,"fp":"Alguém vindo do Brasil nos Próximos dias que possa trazer uma encomenda?"},{"time":1780563891255,"fp":"Quarto livre semana  08/06 athus fronteira Luxemburgo e França, perto cidades ,aubange messancy, arl"},{"time":1780563994513,"fp":"📍МСК 📍\nВремя встречи открытое 🔥\n**К посту на квартиру **\n\n❗️2 часа - 20т чистыми (может немного п"},{"time":1780564060130,"fp":"Spain!!! 🇪🇸\nMallorca!!!\nToday!!! Friday!!!\n1.5-2 hours 🕑 !!!\nThe budget is 1000€ clean!!!"},{"time":1780564149278,"fp":"Москва 💋\n\n2 часа 🩷\n\nКлассика мбр💝\n\n15.000-20.000❤️\n\nТакси в обе стороны 🩷"},{"time":1780564349460,"fp":"🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑\n\nЕ#И КОСЫХ, Е#И ГОРБАТЫХ \nУВИДИТ БОГ - \nПОШЛЁТ П*ЗД@ТЫХ \n\n🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑\n"},{"time":1780564464100,"fp":"Homens não postar Rola"},{"time":1780564467695,"fp":"Meninas bom dia ! \nAlguém já fez harmonizacao no gluteo na Itália ? \nPodem me indicar alguém bom"},{"time":1780564534030,"fp":"PLAZA Turín  Italia AL 50%🇮🇹\n\nTe ofrecemos :\n\nApartamento independiente\nAlojamiento \nAnuncios en l"},{"time":1780564592680,"fp":"ПРИГЛАШУ В ГОСТИ МУЖЧИНУ \n🥰 ищу на сейчас\nдля хорошего секса, не против и АС\nя ухоженная и стройная"},{"time":1780564681933,"fp":"Как вы тут🙂 Что делаете?"},{"time":1780564838996,"fp":"🎀Milan🎀\nWho is on a place?\nMeeting on 6th of June\nNeed beautiful girl with big breast!!!\n1000€, fo"},{"time":1780564903154,"fp":"Пышные формы 🔥\n\n🏙Печерский район \nНе против выйти в авто, пригласить к себе в гости или приехать. "},{"time":1780564934266,"fp":"Киев. \nДевушка встретится.\nМилая красивая \nПриглашаю."},{"time":1780564998299,"fp":"Нимфоманка ) \nАвто/место/выезд \nХочу прямо сейчас секса \nНе дорого \nЛевый берег"},{"time":1780565100101,"fp":"🇬🇧🇬🇧🇬🇧\n\n *LONDON*📍\n\nWho is there\n\nAply ASAP"},{"time":1780565132573,"fp":"Paris 🇫🇷 \n\nSaturday \nOnly model in Paris \n\nNeed 1 model \nSkinny type tall or curvy but not too muc"},{"time":1780565177839,"fp":"Верная транси с сюрпризом зовёт тебя в страну наслаждения! Со мной не заскучать. 🍭"},{"time":1780565182025,"fp":"Esse grupo salva demais"},{"time":1780565193814,"fp":"Caixa com 144"},{"time":1780565318391,"fp":"Hola chicas necesito de 5 a 7 chicas  (Hoy de  14:00 hasta las 18:00 para un barco en Fuengirola  Pu"},{"time":1780565337061,"fp":"Onde vc achou mana"},{"time":1780565345930,"fp":"**Самые лучшие заезды в ОАЭ🇦🇪**\n**К Королю в Абу даби ! **\n**До 21 года ! **\n**Бейбики! Тату можно"},{"time":1780565414426,"fp":"Красивая ИНДИ 🍓🍑♥️ жду ТЕБЯ в гости прямо сейчас!!! Пиши в личку, по цене договоримся!!! 💯❤️‍🔥❤️"},{"time":1780565461341,"fp":"Выезд, Киев\nБориспольский район\n\n❤️ Инди ❤️\n\n🌸Часик \n🌸Ночь\n\nМодельная внешность. Адекватная и крас"},{"time":1780565482566,"fp":"🔥 МОСКВА ЖДЁТ ТЕБЯ. ХВАТИТ МЕДЛИТЬ.\n\nХочешь просыпаться без будильника на скучную работу?\nХочешь чу"},{"time":1780565493625,"fp":"Buenos dias 🌤️\nBom dia 🌤️\nBonjour 🌥️\nApart 🏚️\nFenêtres 🪟 \nCentre ville 🛍️ \nGare à côté 🚉 \nTab"},{"time":1780565571844,"fp":"*🇦🇪 Dubai | Дубай*\n\n*Актуально на две недели до 19.06*\n*Новые лица приветствуются* 👑\n*Очень прият"},{"time":1780565594102,"fp":"Plaza paris 🇫🇷🇫🇷 \n\ndos cupones disponibles a partir del viernes  más información escribeme"},{"time":1780565774784,"fp":"*𝐁𝐫𝐢𝐥𝐥𝐢𝐚𝐧𝐭 𝐀𝐬𝐬𝐢𝐠𝐧𝐦𝐞𝐧𝐭 𝐒𝐞𝐫𝐯𝐢𝐜𝐞*\n\n*Contact us for any he+447365598090\n*GET 7"},{"time":1780565829264,"fp":"Plaza paris  50% 🇫🇷🇫🇷 \n\ndos cupones disponibles a partir del viernes  más información escribeme"},{"time":1780565842508,"fp":"⚡️Очень горячая милфа ⚡️Киев⚡️\nПечерский район🏙️\n💙Ас \n💙Могу встретиться с компанией мужчин **\n💙В"},{"time":1780565890991,"fp":"Infelizmente vc tem que sair e se ele chama a policia e Como ele Nao Sabia o que vc ta fazendo e ele"},{"time":1780565907923,"fp":"Печерский район 🎀\n\n🩵 Есть место и выезд  \n🩵 За любой движ\n🩵 Выезда в сауну, за город, в другой г"},{"time":1780566004229,"fp":"[object Object]"},{"time":1780566085579,"fp":"*DUBAI* \nToday party and extra \n2/3h \n4000aed 30% com \nNeed 6 girls\nRegular client arab young"},{"time":1780566126232,"fp":"Todos Apt de Booking etc…. Eles protege os dono dos Apt a lei dos site Apt tem regra Clara de Nao tr"},{"time":1780566174410,"fp":"Шукаю із ким можна кінчити за пару гривників покажусь і поможу кінчити♥️💋"},{"time":1780566239722,"fp":"Tem gente que me Fala a mais seu Apt è caro Mas no meus Apt Nao tem risco"},{"time":1780566347268,"fp":"Verificada e confianca total"},{"time":1780566374546,"fp":"???"},{"time":1780566385186,"fp":"🇮🇹 MILAN\n\n6 June\n\nMeeting — 1000 EUR\nCan increase for TOP model\n\nBig breast\n\nProfile submission\n∙ "},{"time":1780566507376,"fp":"Nao fez verifica comigo \nVou pedir para fazer verifica se fazer verifica te aviso"},{"time":1780566529851,"fp":"Obrigada 🙏🏽"},{"time":1780566546792,"fp":"Paris\nTomorrow evening \n3-4 hours\nDinner and hotel\nRegular client \nBudget from 1000 euro\nCan increas"},{"time":1780566589121,"fp":"Красивая транссексуалка приглашает тебя в страну наслаждения! Со мной не заскучать. 🔥"},{"time":1780566667179,"fp":"Iper de confianca meu irmao ele"},{"time":1780566679717,"fp":"Mencionou voce\n\n🇵🇹🚨👏😃IMPERDIVEL QUER VER A COPA DO MUNDO 2026\nCOM A SUA FAMILIA E AMIGOS EM 1 T"},{"time":1780566819346,"fp":"ПРИГЛАШУ В ГОСТИ МУЖЧИНУ \n🥰хочу в ближайшее время \nдля хорошего секса, не против и АС\nя ухоженная и"},{"time":1780566987701,"fp":"Киев. \nМилашка девчуля\nПриглашу к себе \nНа часик и более"},{"time":1780567114158,"fp":"De confianca Meninas"},{"time":1780567147009,"fp":"Tbilisi, Georgia 🇬🇪\nSaturday 19h\n3hrs, 1k$\nOutcall\nFor one of my friends, nice and young 🙏🏼"},{"time":1780567173999,"fp":"**__Киев \nПриеду сейчас 💸🖤 \nБез предоплат 🥂\nМеста нет, в авто не выхожу 📛**__"},{"time":1780567184742,"fp":"Alguien tiene una habitación disponible para 2 personas cerca de Porto Banús y que pueda hacer atend"},{"time":1780567312685,"fp":"🍭💫 *ДУБАЙ* 💫🍭\n                      🍭💫 *ДУБАЙ* 💫🍭      \n                                    "},{"time":1780567370592,"fp":"Gente, alguém que tá trabalhando em Verona?"},{"time":1780567413280,"fp":"✨ МОСКВА✨\n\n🔥 Закрытый формат для девушек, которые хотят большего\n\nЭто про стиль жизни, окружение и "},{"time":1780567431964,"fp":"**На погрузку фарша\n5 человек\nСмена 5ООО**"},{"time":1780567480593,"fp":"Antalya 🐚🐚🐚\nWho is there? \n1-2 h tonight \nHotel\nTurkish man \nSlim natural 18-25\nText me your budg"},{"time":1780567579784,"fp":"Hola buen día…\nBusco 3 ayundantes para trabajar en el sur.\nPara semana de trabajo.. \n\nCon transporte"},{"time":1780567700314,"fp":"пишіть хто хоче подивитись як я граюсь з кіскою за 50 грн, не встидайтесь"},{"time":1780567747533,"fp":"🇦🇲 Trip to Armenia‌\n\n✈️ Departure today\n📅 3 days\n\n💰 $2500-4000 per day clean \n\n🏨 Separate accom"},{"time":1780567764361,"fp":"◈🇦🇪 *DUBAI* 🇦🇪 ◈\n\n*Провожу отбор девушек для ближайшего тура в ОАЭ.*\n\n_*Предоставляем*_ 🤔:\n💖 _"},{"time":1780567793956,"fp":"Bom dia lindas"},{"time":1780567825063,"fp":"Alguem está em brindisi, como esta o movimento ? Mesmo com esse começo de mês ?"},{"time":1780567868060,"fp":"Bom dia. Vagas de emprego na área de limpeza, alguém sabe por favor? 🙏🏻 estou em Elche na Espanha."},{"time":1780567907869,"fp":"Умелая и юная. Выйду в авто на горловой или классику. \nМогу приехать в гости ✌️\nТеремки"},{"time":1780567949422,"fp":"🫶 Всім Привіт Допоможу Хлопцем 💦💦\n\nє карточка paypal кошелёк \n\nє можна через Звезди 🌟\n\n🔞- Фотки"},{"time":1780568000156,"fp":"Удивительная девушка транссексуалка зовёт тебя в край интима! Со мной не заскучать. 🖤"},{"time":1780568032821,"fp":"**🔱Москва🔱\n\nСупер классные девочки на апартаментах ..\n\nГео:  Москва\nМетро: Новаторская\nПроспект Ве"},{"time":1780568198579,"fp":"Quieres trabajar en León ? Este es tu piso ,disponible habitaciónes en piso en león centro , muy bue"},{"time":1780568281971,"fp":"Кто гулять?"},{"time":1780568342878,"fp":"РАБОТА ПО\nГОРОДАМ ФРАНЦИИ\n(НЕ ПАРИЖ / НЕ КАННЫ)\n$\nОТ 250€/ЧАС -\nВ ЗАВИСИМОСТИ ОТ ГОРОДА.\nРЕАЛЬНО 3-6"},{"time":1780568366757,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/JiQ5LiwLqz85rsNe3ENxgA"},{"time":1780568436352,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/Dx1o5Fm9EPJ9CKuQACUJZW"},{"time":1780568452416,"fp":"✨ МОСКВА - ПРЕМИУМ ВОЗМОЖНОСТИ ✨\n\n💎 Приглашаем девушек, готовых к новому уровню жизни\n\nЕсли ты цени"},{"time":1780568477206,"fp":"Quando isso acontece melhor evitar"},{"time":1780568483639,"fp":"Peptídeos em canetas prontos perfeitos pra quem viaja ! 📦🇬🇧❤️💓"},{"time":1780568673806,"fp":"Olá, bom dia a todos. Gostaria de saber se alguém tem algum contato de apartamento em Bufeira, Portu"},{"time":1780568718600,"fp":"🍀PLAZA 50/50.  🇮🇪 IRLANDA 🇮🇪🍀\n \n💗▫️Apartamentos de lujo 100 % seguros y céntricos.\n \n💗▫️\n   "},{"time":1780568808785,"fp":"🌟 **МОСКВА** 😀\n♥️**САНКТ-ПЕТЕРБУРГ**\n(Только выезд)♥️\n\nУ нас самые классные красавицы! 🍑❤️‍🔥\n\nДе"},{"time":1780568854526,"fp":"Quem precisar de chip da vivo pra viagens internacionais só chamar 62999543939"},{"time":1780568977747,"fp":"Санкт-Петербург/ Москва \n\nМолодые,красивые девушки на выбор.\n\nТолько Выезд к вам от 2-х часов.\n\nСанк"},{"time":1780569002640,"fp":"*ASSIGNMENT HELP*\n\n𝐆𝐞𝐭 𝐫𝐞𝐥𝐢𝐚𝐛𝐥𝐞 𝐚𝐜𝐚𝐝𝐞𝐦𝐢𝐜 𝐬𝐮𝐩𝐩𝐨𝐫𝐭 𝐟𝐨𝐫 𝐬𝐭𝐮𝐝𝐞𝐧𝐭𝐬 \ud835"},{"time":1780569062205,"fp":"Питер\nК 20.00\nВ баню \nНужно 4 девочки \nНе худые !\nС попой грудью формами\nОдну темнокожую ,мулатку\nОс"},{"time":1780569076171,"fp":"To Geneva  ( Switzerland 🇨🇭 )👀 since today and June \n\nWho near . Who can fly today ✈️ \n\n2 days mi"},{"time":1780569169046,"fp":"Hola buenas alguien me podría recomendar una plaza en oviedo o gijon en Asturias..gracias"},{"time":1780569302892,"fp":"Hola pueden agregar a mi amiga por favor 🙏🏻💕 ‪+31 6 85225986"},{"time":1780569341145,"fp":"Bom dia, alguém que crie site pra trabalhar na Dinamarca por gentileza..."},{"time":1780569361784,"fp":"🩷🩷  🩷🩷🩷🩷🩷🩷🩷🩷🩷🩷🩷🩷🩷🩷🩷🩷🩷🩷\n(если у вас есть виза и вы не украинка, тоже пишите!)\n\n**"},{"time":1780569409954,"fp":"🔵🌊🔵🌊🔵🌊🔵🌊🔵🌊🔵🌊🔵\n           *ПРЕДЛАГАЮ РАБОТУ В ТУРЕ*\n\n                         🌴 *ТАИЛАН"},{"time":1780569424685,"fp":"Саратов Срочно‼️\nСегодня вечером\nПост из мск, проверенный \nКлассика, мбр, АС(лайт, прод очень быстры"},{"time":1780569516627,"fp":"Switzerland 🇨🇭 Zurich \nTomorrow evening \nFor 2 hours \nVery nice client \nNeed tall , from 170\nSlim "},{"time":1780569557032,"fp":"Новосибирск. 💲💲💲💲💲Тот кто на Месте или рядом заказчик из Москвы будет проездом с 7 по 11 июня. "},{"time":1780569601967,"fp":"🇦🇲 Trip to Armenia​\n\n✈️ Departure today\n📅 3 days\n\n💰 $2500-4000 per day clean \n\n🏨 Separate accom"},{"time":1780569630684,"fp":"Appartement prive para chic@ independient en Lausanne"},{"time":1780569663179,"fp":"Милая, я работаю как частный менеджер и сотрудничаю с несколькими направлениями *ДУБАЙ, БАНГКОК и ПХ"},{"time":1780569683913,"fp":"Appartement prive para chic@ independient"},{"time":1780569742415,"fp":"МОСКВА\n\nСегодня на 3-4 часа\nРесторан + 💘\nЗак 🔥\n\nНужна молодая до 25 лет\nот 174 см БЕЗ КАБЛУКА❗\nСтр"},{"time":1780569808099,"fp":"👋👋 реальные встречи \n\n🇺🇦Киев, Одесса,\nХарьков, Днепр, Николаев \n\nМинимум табу, не только за мп‼"},{"time":1780569884545,"fp":"I have room amsterdsm"},{"time":1780569922263,"fp":"Appartement prive disponible para chic@ independient lausanne"},{"time":1780570013510,"fp":"Alguna plaza en Oviedo"},{"time":1780570026129,"fp":"Que me recomienden porfis"},{"time":1780570141703,"fp":"Hola alguien sabe de plaza en Torrevieja"},{"time":1780570241053,"fp":"*Trip to Como Lake* 🇮🇹\nJune 11th to 14th\nOwn room, swiss clients\nLooking for natural girls, maximu"},{"time":1780570320108,"fp":"Барселона.\nДля тех, кто на месте: встреча 6-го вечером.\nВстреча на 2–3 часа. Русский, 41 год.\nНужна "},{"time":1780570349381,"fp":"Милан, Италия \nКто на месте ?\nАктуально на завтра днем  \nНа 2-3 часика \nОтель \nПостоянник, украинец "},{"time":1780570426704,"fp":"Só acredito fake nessa porra"},{"time":1780570434199,"fp":"✨ Apartamento T2 em Dijon ✨\n✨Disponivel proxima semana 08/06 ✨\n🏡 Apartamento confortável e discreto"},{"time":1780570519813,"fp":"📍Париж 🇫🇷 \n\n🗓️ *Понедельник/ Вторник*\n\nОчень хороший клиент хочет встретиться на +-4ч. \n\nРестора"},{"time":1780570535248,"fp":"🇲🇨 Monaco \n\n✨ I'm looking for 1 girl for 2 hours in a hotel tonight at 10-11pm\n💃🏻 Type : NO tall"},{"time":1780570565441,"fp":"🇷🇺❤️ Moscow never sleeps ❤️🇷🇺\nМосква не спит -  и лучшие клиенты тоже.\n\n💎 Работа без засвета\n💸"},{"time":1780570632517,"fp":"*IBIZA*🇪🇸\n\nToday-Tomorrow\nFor *2-3h*\n\nMeeting with *couple*\nNice regulars, married, not locals\n\nLo"},{"time":1780570697156,"fp":"950 Дубай \nВстреча в отеле на 4 часа \nАктуально до 15 июня \nИщу девушек модельной внешности \nКлиент "},{"time":1780570770974,"fp":"‼️**Стань лучшей версией себя ! А мы поможем **❤️‍🔥😘\n‼️** СУПЕР УСЛОВИЯ МОСКВЫ **‼️\n\n        ☄️ ОЧ"},{"time":1780570813567,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/JZ0YizsrYkxIqOvEq9IIak"},{"time":1780570821554,"fp":"Удивительная транси-девушка зовёт тебя в страну интима! Со мной не заскучать. 🤩"},{"time":1780570931053,"fp":"❤️Київ, Солом'янський район❤️\n❗Реальна без передоплат \nСвоє місце, чекаю тебе 😘"},{"time":1780570937748,"fp":"Меня зовут Протея 💕\n\nЯ молодой  цветок родом из Африки✨\n\nМне 🩷🩷 года \n\nЧас со мной 8️⃣0️⃣0️⃣0️⃣\n\n"},{"time":1780571033719,"fp":"Москва \n\nСегодня вечер \nИщу топ 🔝 \nРост от 175 ,грудь от 3,5 (своя!) , до 25 лет ,выглядеть молодо "},{"time":1780571133655,"fp":"Primeiro deve fazer verifica Depois pubblicar"},{"time":1780571216696,"fp":"Me pueden pasar el link para meter a una amiga por favor"},{"time":1780571250046,"fp":"Горячая нимфоманка, хочу встретиться прямо сейчас 👅 \nКиев, левый берег."},{"time":1780571260422,"fp":"✨ для девушек, которые хотят выйти на новый уровень ✨\n\n📍МОСКВА / СПБ\n\nЕсли тебе близко:\n— красивые "},{"time":1780571276252,"fp":"🚨🚨 apartamento diaria para quem interessa em Milano me chama tenho alguns espaco no Meio da Semana"},{"time":1780571346260,"fp":"🚩🚩 Hoje Ate sabado \nZona maggiolini due / gioia / centro Milano \nVia privata belgirate 15 \n100 a d"},{"time":1780571412330,"fp":"E comparativamente aos países limítrofes mais caro"},{"time":1780571468096,"fp":"Conheci portuguêses que trabalhavam no Luxemburgo moravam na Bélgica"},{"time":1780571503697,"fp":"O Luxemburgo na sua dimensão e metade do DF"},{"time":1780571566174,"fp":"🍁 🐉*UREA 46%💥*. CΙҒ A░S░W░P░ \n🔹Price: 450/440$. \n💧🌿*Sulfur granules* . \n🔹Price: 350/340$. \n🔹"},{"time":1780571592249,"fp":"✨ Premium Massage Services – London ✨\nFor Women:\n💖 Cuddle therapy \n 💖 Sensual Relaxation Massage\n "},{"time":1780571607007,"fp":"Gente alguém sabe me falar sobre Reggio Calabria ? Se è bom ?"},{"time":1780571643567,"fp":"Москва\nБериот караоке\n\nМодельные столы с оплатой в караоке зал.\n\nНужно уметь петь.\nОплата 3000₽ в ко"},{"time":1780571678859,"fp":"⁨Киев) кто хочет приятно провести время с пышной блондой? Есть тату на теле\nИщу встречу с приятным м"},{"time":1780571729714,"fp":"Job hoje RIO DE JANEIRO \nHorário: 17h (a tarde)\n1k + 100 Uber \n2h \nRegião da lagoa\nCliente gato e su"},{"time":1780571824376,"fp":"Братислава 🇸🇰\nНужна с грудью силикон \nКто на месте ?или может приехать \nЗавтра вечером встреча \nНа"},{"time":1780571872285,"fp":"❗️ **️ ТОП ГОРОДА ДЛЯ РАБОТЫ  , МНОГО ТЕМ УЖЕ СЕЙЧАС** ❗️\n\n**🇷🇺 МОСКВА \n🇷🇺 СПБ**\nКаждый день даю"},{"time":1780571941490,"fp":"Hola amore, tudo bem? \nSomos uma agência 50/50 trabalhamos  em Portugal. ( Tem que ver disponibilida"},{"time":1780571956245,"fp":"Tenho tadala fila 20mg disponível 15€ a cartela"},{"time":1780571974912,"fp":"ПРИГЛАШУ В ГОСТИ МУЖЧИНУ \n🥰хочу сейчас\nдля хорошего секса, не против и АС\nя ухоженная и стройная  1"},{"time":1780571979588,"fp":"🖤 Ты не обязана делать всё сама.\n\nИменно это многие девушки понимают после начала работы со мной ✨\n"},{"time":1780572101340,"fp":"Buenos días alguna sabe de un contacto en Luxemburgo"},{"time":1780572144852,"fp":"Buenas tardes . Me podrían ayudar con contacto de habitación en Antequeras por favor"},{"time":1780572176980,"fp":"Pra mim E horrível, mas pra quem trabalha por 50€ 70€ e bom."},{"time":1780572206045,"fp":"Ahhh nemmmm"},{"time":1780572234028,"fp":"Настоящая транссексуалка зовёт тебя в страну удовольствий! Со мной не заскучать. 🍃"},{"time":1780572239935,"fp":"Cheia de meninas de agência cobrando este preço pela Itália toda! Ta fodaaaaaaa 😡🥹😭"},{"time":1780572255139,"fp":"Ta so o varejo"},{"time":1780572295480,"fp":"Milan\n7/8th of June\n3-4 hours\nHotel\nBudget from 1000 euro\nCan increase a little, write yours\n\nМилан\n"},{"time":1780572382477,"fp":"Рeaльнocть дokaжy🔞Познаkомлюсь🍒Побалую🍒тебя🔞.\nЕсть встречи🇺🇦"},{"time":1780572478612,"fp":"Обеспечу классный отдых. КИЕВ 🍓☺️🍓🍑 с приятным массажиком и без выноса мозга 😂🔥🔥🔥🔥. ИНДИ!!!П"},{"time":1780572612365,"fp":"gente que agência são essas pelo amor de Jesus, transar por 25€, pq agência é 50%."},{"time":1780572633228,"fp":"por isso as meninas duvidam dos valores da @65369754599512 😂"},{"time":1780572725878,"fp":"E Caserta meninas ?"},{"time":1780572753326,"fp":"Oi, pessoal!\nEstou procurando modelo para catálogo de uma nova marca de joias com estética minimalis"},{"time":1780572786108,"fp":"BOA TARDE 👷‍♂️\nEstou à procura de trabalho na área da construção civil.\nSou oficial especializado e"},{"time":1780572873035,"fp":"Модели плюс сайз \n+size ищу!🔍 \nПитер\nК 20.00\nВ баню \nНужно 4 девочки \nНе худые !\nС попой грудью фор"},{"time":1780572973608,"fp":"НАБОР ОТКРЫТ‼️ 🇦🇪\nИЩУ НОВЫЕ ЛИЦА \nКороль Абу-Даби 👑\n \nИдеально для первой поездки, очень классный"},{"time":1780573014447,"fp":"Quem está aqui todo santo dia trabalhando sabe doque estou falando, está só o varejo. Cada dia está "},{"time":1780573032368,"fp":"Simmmm, vdd"},{"time":1780573034963,"fp":"Секс, мбр,без резинки \nАнальный оргазм \n\nКиев днепр Одесса Харьков"},{"time":1780573044760,"fp":"é triste"},{"time":1780573049828,"fp":"Já trabalhei muito bem la moça, so não sei como está agora."},{"time":1780573065596,"fp":"Quando tá independente e cobra 50€ ainda é perdoável"},{"time":1780573096485,"fp":"__МОСКВА\n\nПост. АКТУАЛЬНО ВСЕГДА\n\n2 часа классика + мбр\n\nБюджет 25000 чистыми плюс чай\nЗа ТОП могу п"},{"time":1780573115679,"fp":"Meninas de agencia Nao cobra isso tu ta muito enganada ao respeito è mais facil independente cobra i"},{"time":1780573140636,"fp":"Croácia tb amg, tão fazendo 30min por €50 😭"},{"time":1780573146137,"fp":"Nao existe isso quem fala isso esta fora da casinha"},{"time":1780573166707,"fp":"SIM, so quem está do lado de ca sabe o horror que está a Italia, está pior que o Brasil para varejo,"},{"time":1780573175669,"fp":"Eu falei dessa marca exatamente hahaha"},{"time":1780573182313,"fp":"БЕРИОТ\n\nПриглашаем девушек участвовать в наших конкурсах.\n\nРОЗЫГРЫШ ПРИЗА ДО 100.000₽ каждую неделю\n"},{"time":1780573203303,"fp":"Principalmente em indiano. \nAs vezes fica escondido, então precisa perguntar."},{"time":1780573224546,"fp":"SIM EU JÁ VI TB, relatos de conhecidas que já falaram isso"},{"time":1780573240954,"fp":"​​​​​​​☺️☺️☺️☺️☺️☺️☺️☺️\n\n**☺️****Апартаменты на восстания**\n☺️Чистые\n☺️Уютные\n☺️Есть парковка\n☺️Одно"},{"time":1780573263458,"fp":"Vc duvida ne pq o que a Ingrid fala è Verdade infelizmente voceis Nao sabe trabalhar tudo ali nem vo"},{"time":1780573273093,"fp":"Para quem trabalha direitonho sofre, me cansam so no telefone 🫩"},{"time":1780573289457,"fp":"Eu não duvido, pq eu estou com a Ingrid. Estou falando das meninas que duvidaram dela aqui nesse gru"},{"time":1780573340475,"fp":"Antes de vc falar de Alguem procura ter certeza e Nao falar o que vc acha amiga"},{"time":1780573390024,"fp":"Socorroooooo \nEstá triste monas kkkkk"},{"time":1780573424368,"fp":"Meu Deus camilla"},{"time":1780573430494,"fp":"Amiga, ela tá defendendo hahaha"},{"time":1780573437402,"fp":"Kkkkkkkk"},{"time":1780573478493,"fp":"Новый бесплатный чат 💬 \n\n🇺🇦🇺🇦🇺🇦🇺🇦🇺🇦🇺🇦🇺🇦🇺🇦🇺🇦\nКиев ❤️ Одесса ❤️ Днепр ❤️ Харьков ❤️"},{"time":1780573509720,"fp":"Amiga, vc entendeu errado vida. \nEla está defendendo a Yngrid, vida."},{"time":1780573524475,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/CzqDv5KzyG4AoNWQqikdmZ"},{"time":1780573552588,"fp":"Ela deve estar ocupada, parece que está na rua. Aconteceu só a interpretação errada haha."},{"time":1780573568801,"fp":"𝖬олодая ✨\nСладкая 🤤 \nЕсть выезд 💯\nТaкж𝚎 еcть прivат ⲕanaл и vиpт услyги\nΠишите в ЛС"},{"time":1780573582030,"fp":"✨Istanbul \nTonight \n2-3 hours \nRegular customer not local \n\nOpen budget✨"},{"time":1780573601182,"fp":"Não tô falando de vc não minha vida"},{"time":1780573609397,"fp":"Eu sei amiga"},{"time":1780573613519,"fp":"Инди 😉\nВыезд, горячий Koнтент 🔥\nОчень приятный прайс 😊\nВстречи без предоплаты ✍"},{"time":1780573632729,"fp":"O que entendi foi que ela disse por isso que as Menina duvida valor da Ingrid"},{"time":1780573640728,"fp":"É que da maneira que você falou com ela, pareceu que vc estava criticando ela."},{"time":1780573645093,"fp":"Удивительная транси с сюрпризом приглашает тебя в страну интима! Со мной не заскучать. 🍀"},{"time":1780573653705,"fp":"Naooo Aluga"},{"time":1780573658066,"fp":"Sim! \nAs meninas criticam, mas como ela mesma disse, ela é prova que faz esse valor hahaha"},{"time":1780573668130,"fp":"tá tudo certo hahahah"},{"time":1780573671990,"fp":"A mí esa tía por no decir otra cosa me reporto falsamente y yo también tengo y pude demostrar todo i"},{"time":1780573678454,"fp":"Eu Nao soube me interpreta Hoje Nao e dia certo meu"},{"time":1780573682759,"fp":"Apoyo totalmente lo que dice esta dueña de plaza q es totalmente fiable"},{"time":1780573687453,"fp":"Tira um tempinho e se cuida, não fica se estressando não mulher."},{"time":1780573702084,"fp":"Se cuida, qualquer coisa me manda mensagem se quiser conversar."},{"time":1780573712754,"fp":"Esa loca reporta porque cree que todo el mundo quiere ser como ella o no se.. de mí llegó a decir qu"},{"time":1780573717616,"fp":"Eu já te respondo lá no pv sobre o apê. Só deixa eu acordar 100% hahahah"},{"time":1780573729015,"fp":"Tu não é de ferro, tá tudo certo."},{"time":1780573744010,"fp":"♥️♥️♥️Bangkok tomorrow 2 h very nice regular guy budget discuss"},{"time":1780573759484,"fp":"Obrigada pela compressao"},{"time":1780573789191,"fp":"Nossa quase um mês. Jesus de misericórdia"},{"time":1780573867274,"fp":"Mana é só estudar, falta de interpretaçao de texto 🫩🙄"},{"time":1780573935995,"fp":"Ela acabou colocando a data errada porque estava desesperada. Agora há pouco confirmaram que ele foi"},{"time":1780573949542,"fp":"London 🇬🇧 🇬🇧 🇬🇧   Next  week June 8th and 9 th who  is here ? outcall few hours to his hotel  "},{"time":1780573970752,"fp":"Plaza disponible \n🇱🇻letonia se manejan buenos precios \nSalidas € 250\nHora      €200\nMedia    €150\n"},{"time":1780574006232,"fp":"🚨🚨🚨🚨🚨🚨\n🚨 МОСКВА 🚨\n🚨🚨🚨🚨🚨🚨\n💎Стартуй в новую жизнь💎\n\n🔥Ты получишь:\n\n❗️Уникальный форма"},{"time":1780574029687,"fp":"*❣️Заработай на своей внешности❣️*\n*Ищу моделей на тур в Дубай*\n*14 дней*\n*✈️Перелет и проживание за"},{"time":1780574070104,"fp":"*Paris*\nToday\nParty + extra \nAround 8pm\nI need arab girls\nSend pictures asap"},{"time":1780574216052,"fp":"delicia"},{"time":1780574247876,"fp":"Dubai 🇦🇪\nNow\nWho is available\n1-2 hr\nRegular client\nBudget: 1000$-%30"},{"time":1780574336094,"fp":"🇦🇲 Trip to Armenia‍\n\n✈️ Departure today\n📅 3 days\n\n💰 $2500-4000 per day clean \n\n🏨 Separate accom"},{"time":1780574398226,"fp":"Verdade ne? 😡👏🏼👏🏼👏🏼"},{"time":1780574427309,"fp":"IBIZA who is available tonight and tomorrow please send video and photos . 🥰"},{"time":1780574469807,"fp":"A gente tem que valorizar pessoas assim…porque eu nem tô acostumada com ninguém me defendendo"},{"time":1780574527368,"fp":"Vdd"},{"time":1780574534049,"fp":"Então me desculpa 🫶🏻"},{"time":1780574553435,"fp":"obrigada @167782998114466  🙏"},{"time":1780574588137,"fp":"PARIS 🇫🇷 \n\nTonight or tomorrow \n3-4hrs\n1000€ 🎁 \nNot local client🩵"},{"time":1780574598540,"fp":"Молодая, стройная шалунья💋💋. Только личная встреча. Вирта  нет и в авто не выхожу. Зато есть место"},{"time":1780574610191,"fp":"Se vocês não sabem a @167782998114466  está com um problema grave de saúde"},{"time":1780574621320,"fp":"É mesmo aqui está ajudando vocês"},{"time":1780574636324,"fp":"Sendo que nem estresse ela podia estar passando"},{"time":1780574676095,"fp":"📍 Casting Call – London (Marylebone Area)\n\n🚗 Outcall Booking Available Today\n⏰ Start Time: 4:30 PM"},{"time":1780574746556,"fp":"*Дубай*\n\nСегодня ( Вечер ) \n\nНа 1-2 часа\nВечером \n\nОтель \nРусский \n\nБюджет: 1000$\n\nКого показать⁉️"},{"time":1780574762772,"fp":"*PRAGUE* \nFriday 3pm \nEasy hotel meeting \n3-4h\n1200$ clean\nSend Profiles🫶🏽 Can collab"},{"time":1780574783486,"fp":"Eu mando assim \nQuando vc vai comprar cocaina \nVc pede desconto?"},{"time":1780574795926,"fp":"London 🇬🇧 \nToday\nFor 1 hour \nNeed natural \n18-24\nBudget 1000£-%"},{"time":1780574816326,"fp":"DUBAI 🇦🇪🇦🇪\n\nJune 4, 10 30pm \n2hrs, $3000 budget(based on profile)\nAge 18 to 26 \nLooking for Athl"},{"time":1780574924113,"fp":"💋💋💋💋ОДЕССА💋💋💋💋\n\n💋Милая, нежная, страстная, очаровательная стройная ухоженная\nдевушка \n💋Уме"},{"time":1780574958812,"fp":"Sexo e última escolha kkkkk"},{"time":1780574969595,"fp":"Питер! На завтра и после завтра актуально! Встреча на 1-2 часа. Оч быстрая, Лайт. Мужчина не местный"},{"time":1780574984154,"fp":"Москва📍\n\nТАК ЖЕ РАССМОТРЮ С ВЫЛЕТОМ  ✈️ \n\nТОЛЬКО ТОП 💎 \nСегодня и ближайшие дни — актуально.\nСмотр"},{"time":1780575003014,"fp":"Sempre essa época e menso enredo só muda os personagem"},{"time":1780575011992,"fp":"Onde esse? 🙏🏻🥹"},{"time":1780575056418,"fp":"Шикарная транси-девушка зовёт тебя в страну страсти! Со мной не заскучать. ❤️‍🔥"},{"time":1780575139554,"fp":"🇧🇷Sao Paolo 🇧🇷 from tommorow to 20.06\n\nClient from Poland 40y\nLooking strictly for girls :\n\n18-1"},{"time":1780575159351,"fp":"minha xerecaaaaaaa"},{"time":1780575168917,"fp":"Y te reporta y te amenaza de muy malas maneras"},{"time":1780575223760,"fp":"Young good looking couple in Dubai \nSaturday 6th of June \nLooking for one more girl to enjoy \nThrees"},{"time":1780575247470,"fp":"Киев 🇺🇦 \n\nВстреча сейчас 💸\nНа часик 🍒, выезд 🚖\n\nМогу к тебе приехать на часик или ночьку\n\nВыхож"},{"time":1780575262662,"fp":"Oi, pessoal!\nEstou procurando modelo para criação de conteúdo hoje a tarde, quem tiver disponibilida"},{"time":1780575272370,"fp":"Eu sou 30 minutos 120 \nUma ora mínimo 200 ou 240"},{"time":1780575284275,"fp":"Sem anal e sem gozar em boca"},{"time":1780575326310,"fp":"Hoy desperté con mi numbuster lleno de cosas malas por esta señora con sus diferentes numeros. Y es "},{"time":1780575346501,"fp":"Justamente porque não é justo com a menina fazer 70 a 80 euro para dividir"},{"time":1780575367448,"fp":"O que puder a rancar dele eu ranco"},{"time":1780575379213,"fp":"Plaza Alemania 🇩🇪✨\n1 cupo disponible para ingreso inmediato \n\nIncluye \nMaterial de trabajo\nRenta \n"},{"time":1780575438818,"fp":"Eu ja falo se tem dinheiro pra comprar ❄️ tem dinheiro pra pagar o meu valor"},{"time":1780575447968,"fp":"Москва ❤️\nВстреча завтра на 1-2 часа\nЛайт встреча 🔥\nОтель , русский пост 👍\n30 т на руки \nДо 22 лет"},{"time":1780575569713,"fp":"Boa tarde, me mande o contato por favor"},{"time":1780575584062,"fp":"Сразу пишите номер предложения !!!\nВсех показываю и вижу, отвечаю только тем кого выберут 🙏🏻❤️\n\n1️"},{"time":1780575602145,"fp":"🇵🇱 🇵🇱  WARSAW 🇵🇱 🇵🇱\n\nI need a beautiful model for TONIGHT\n\nWho’s available? \n\nNo Local and r"},{"time":1780575655348,"fp":"Tô aqui cheguei segunda a tarde"},{"time":1780575661580,"fp":"Esa es una de las amenazas que a mí me hizo, para que veáis que es verdad lo que está contando esta "},{"time":1780575674860,"fp":"Y tengo mil más pero no saturaré el grupo"},{"time":1780575691812,"fp":"Pero para que os hagáis una idea, me amenaza de venir a donde vivo y todo."},{"time":1780575719920,"fp":"Só bakeka e mosca rossa"},{"time":1780575730454,"fp":"*ALEMANHA 🇩🇪 ITÁLIA 🇮🇹 Portugal 🇵🇹 50/50* \n\n🚨*Início: IMEDIATO!* \n\nPara meninas que querem le"},{"time":1780575769028,"fp":"Todo porque me dijo q tenía q pagar la publicidad yo una vez q ya estaba allí en el aeropuerto y le "},{"time":1780575809394,"fp":"Boa tarde meninas vocês sabem como está Amsterdã está bom pra trabalhar lá ?"},{"time":1780575819023,"fp":"As meninas querem o cool e querem raspado ainda"},{"time":1780575824439,"fp":"Pois é ..é só uma foto não estou com 3..ou 4 perfil diferente"},{"time":1780575849588,"fp":"ИРПЕНЬ БУЧА 😍\nИнди 💕 с большими формами\n\n3 размер 🍒\nБольшая попка🍑\n\n РЕЛАКС В АВТО🍌\n✅МЕСТО ЕСТЬ"},{"time":1780575862945,"fp":"Сант Тропе сегодня встреча вечером на 1 час к паре!!  молодые красивые русские ! бюджет от 1000 евро"},{"time":1780575900974,"fp":"Maravilha"},{"time":1780575977467,"fp":"🥂МОСКВА🥂\n                                              🥂МОСКВА🥂\n                                "},{"time":1780576029496,"fp":"@120079048036361 @260688056418338 @120079048036361  Manu Por favor elimina a esta persona del grupo."},{"time":1780576308263,"fp":"A forma Como vc responde tel Faz diferenca o principal e isso"},{"time":1780576332285,"fp":"Echo gracias Sophie !"},{"time":1780576361441,"fp":"BOM  DIA A @TODOS, EXCELENTE QUINTA-FEIRA DE FERIADO"},{"time":1780576442052,"fp":"Suissa tem que ter passaporte vermelho para trabalhar la sé vc Nao tiver e Alguem chama a policia vc"},{"time":1780576446467,"fp":"Gracias, Manu, por eliminarlo, para que otras personas no caigan en la estafa de ese maldito hijo de"},{"time":1780576467418,"fp":"Удивительная транси с сюрпризом приглашает тебя в страну удовольствий! Со мной не заскучать. 😙"},{"time":1780576483919,"fp":"Verdade as meninas próprias chama a polícia pras outras menina"},{"time":1780576499268,"fp":"Ajudante disponível \n🚨🚨🚨"},{"time":1780576515705,"fp":"As meninas da cidade que tem passaporte vermelho que denuncia"},{"time":1780576534937,"fp":"Eu tenho passaporte europeu e trabalhei por uma agência q era brasileira e várias n tinham\nEntão, ac"},{"time":1780576553780,"fp":"trabalhei independente em st gallen e me registrei"},{"time":1780576566108,"fp":"E tenho amiga q já foi pega um tempo atrás, e eles n deportam não"},{"time":1780576576378,"fp":"É multa e vc é convidada a se retirar do país"},{"time":1780576582144,"fp":"*TENHO ANÚNCIOS FAKES A VENDA!*\n🇧🇪🇫🇷🇱🇺🇨🇭🇵🇹🇬🇧🇪🇺🇩🇪🇮🇹🇳🇱🇪🇸🇵🇱🇬🇷🇭🇷\n\n*KINKY* 🇳"},{"time":1780576589310,"fp":"Mas a multa é salgada"},{"time":1780576599941,"fp":"Olá, meninas, bom dia🌹. *Escrevo comentários 5 ⭐️⭐️⭐️⭐️⭐️* em todos os sites na Itália e na Europa."},{"time":1780576605561,"fp":"Uma minha amiga foi deportada direto para Brasil isso a 2 meses atras"},{"time":1780576623111,"fp":"Então em relação a ser banida da conta do booking você consegue criar outra sim desde que seja com e"},{"time":1780576640443,"fp":"Pq ela Nao tinha dinheiro da multa e Nao era registrada e Nao tinha passaporte vermelho e estava ile"},{"time":1780576646295,"fp":"Talvez ela estava ilegal\nMas para quem n está ilegal, normalmente é só nota"},{"time":1780576657639,"fp":"Ah kkk, se a pessoa tá ilegal\nAté se for pega na Itália"},{"time":1780576700566,"fp":"A Italia Nao te deporta pq eles Nao paga a Passagem Mas te da carta de espulsao avisando que vc tem "},{"time":1780576704663,"fp":"Nossa tava toda fudida"},{"time":1780576713719,"fp":"👑 _Личный менеджер по встречам, с большим опытом и базой постоянных клиентов_ 👑\n🇦🇪 *Арабские Эми"},{"time":1780576726111,"fp":"📍Санкт-Петербург\n🟢 Метро Дыбенко\n\nИНДИ ‼️\n\nТел: +79669269069\n@Kseniyamassaje\nТг, ватсап.\n\nСТРОЙНАЯ"},{"time":1780576739475,"fp":"*TELEFONISTA DISPONÍVEL📞* \n\n✅ Atendimento personalizado \n✅ Respostas imediatas\n✅Segurança e verific"},{"time":1780576745421,"fp":"Eu falo isso mas fiquei mas de 8 anos ilegal na Itália"},{"time":1780576763075,"fp":"E girava para todo lugar do território italiano viu"},{"time":1780576770259,"fp":"Питер \nВстреча  сегодня  \n в 20:00 на 3 часа  - 40/60 чист\nБаня 812\nНужны 4 девушки\nТипажи разные. Ф"},{"time":1780576788264,"fp":"Nunca peguei carta de expulsão nada"},{"time":1780576840080,"fp":"🇩🇪🇩🇪 Alemania 🇩🇪 🇩🇪\n\n♥️ Soy tu operador telefónico las 24 horas\n♥️ Te ayudaré con 4 anuncios"},{"time":1780576865692,"fp":"Eu já trabalhei na suíça, só tenho residência de pt"},{"time":1780576878946,"fp":"Sim, tem que ir e ter sua própria experiência"},{"time":1780576902106,"fp":"Acho bom a gente saber dos riscos, mas não é pq aconteceu com uma q vai acontecer com outra"},{"time":1780576974012,"fp":"Eu fui independente lá na suíça, mas fiquei poucos dias pra não correr o risco de dar b.o"},{"time":1780576994311,"fp":"Então, quero ir conhecer"},{"time":1780576997142,"fp":"a minha nunca caiu tb"},{"time":1780577004919,"fp":"Eu vi que la tem muitos clubs também"},{"time":1780577010070,"fp":"ela colocou cartão clonado"},{"time":1780577012860,"fp":"Eu era Genius, até enviarem fotos da câmera para a Booking, que tinha na entrada do apartamento,aí p"},{"time":1780577026824,"fp":"Mas club só com doc mesmo"},{"time":1780577040818,"fp":"Era muito bom, dá muito desconto"},{"time":1780577179622,"fp":"🇷🇺Санкт Петербург🇷🇺\nСегодня или завтра \nВ 23:00\nНа 3 часа\n\n😍Нужна СУПЕР ТОП девушка\n👨Приятный."},{"time":1780577203301,"fp":"Tinha concierge e eu n sabia ele viu eu trabalhando"},{"time":1780577209413,"fp":"Київ, біля Південного вокзалу \nСолодка дівчинка зараз вільна 😽\n❗Без виїзду"},{"time":1780577219419,"fp":"Que viajem gente"},{"time":1780577238733,"fp":"Esta no es segura estafadora la blouee pero no se ppr que puede seguir mamdado"},{"time":1780577264967,"fp":"Hola buenas tardes, busco plazas verificadas en mallorca?"},{"time":1780577300165,"fp":".ya la borre y bloquue a esta telefonista"},{"time":1780577310434,"fp":"Киев🇺🇦\nНужна очень худая\nБез силикона \nПостоянная встреча на 1 час+- \nОтель \nКто на месте или може"},{"time":1780577330888,"fp":"Graças a Deus tenho mas de 4 anos essa conta é nunca caiu"},{"time":1780577340974,"fp":"ESTA SI ES SEGURA Y BUENA"},{"time":1780577348472,"fp":"*Поездка в турцию*\n 🇹🇷 зак турок \nдаты по согласованию \n‼️‼️‼️‼️‼️‼️‼️‼️‼️‼️\n\nПоездка в Стамбул, Т"},{"time":1780577365838,"fp":"Igualmente es en portugués"},{"time":1780577393362,"fp":"Aún sin confirmar"},{"time":1780577400384,"fp":"Esse apartamento que eu peguei em York já estava com furo na parede"},{"time":1780577416778,"fp":"Eu também não tiro a razão deles nesse caso não"},{"time":1780577433074,"fp":"Quando cheguei mas achava que o dono já sabia então nem filmei"},{"time":1780577441324,"fp":"Eu fui ver agr, minha primeira reserva no booking foi em 2018 🤣"},{"time":1780577452531,"fp":"Então se vocês verem algum dano no apartamento já filmem antes"},{"time":1780577465701,"fp":"Mas eu pego mais Airbnb q booking"},{"time":1780577471601,"fp":"caramba que uo amiga"},{"time":1780577474275,"fp":"Como vou saber que é uma empresa ?"},{"time":1780577483790,"fp":"Airbnb acho bem mais seguro em relação a desonestidade dos donos"},{"time":1780577494386,"fp":"Bom dia"},{"time":1780577511869,"fp":".\n\n\n❤️Plaza disponible en Malta🇲🇹 para chicas skinny chicas delgadas y de buena presencia \n\n DISPO"},{"time":1780577554682,"fp":"Estou indo eu e um amigo para Valência chegamos dia 17/06 em Valência, alguma indicação de locação?"},{"time":1780577569047,"fp":"Anyone willing to make between £200 - £350 daily as passive income  , should DM me !!"},{"time":1780577588947,"fp":"Сегодня\nИмидж сегодня в 22:00 \nВам чистыми 7000 thb тайских бат)\nНужно сидеть с клиентом и моей подр"},{"time":1780577616528,"fp":"Também acho, mas eu tenho um mecete"},{"time":1780577627415,"fp":"Camisinha n pode nem deixar no lixo dentro do apartamento"},{"time":1780577640725,"fp":"Eu separo as camisinhas tudo e jogo naquelas lixeiras de praça pública"},{"time":1780577657480,"fp":"Aqui na França os donos são tão fdp que eles abrem até k lixo"},{"time":1780577670861,"fp":"Simmm tem que filmar tudo"},{"time":1780577695388,"fp":"Eu vejo bastante os comentários"},{"time":1780577719870,"fp":"✨ Plazas disponibles para trabajar en Alemania – Solo chicas serias ✨\n\nHola 😊\nEn este momento tenem"},{"time":1780577727099,"fp":"Eu acho que airbnb é mais seguro mesmo"},{"time":1780577832619,"fp":"🔝🛑ПАРИЖ ДОП💲ПАРИЖ ДОП🔝🛑\n\n🔥СВОБОДНЫЙ ГРАФИК🔥\n🔥ДОСТОЙНЫЙ  ЗАРАБОТОК🔥\n🔥БОЛЬШАЯ БАЗА ПОСТОЯННЫ"},{"time":1780577981759,"fp":"London ‍\nToday at 16:00\nMeeting for 2h\nFlexible budget \nPics info video in bikini‌"},{"time":1780577992162,"fp":"Já trabalhei pra um agência em Portugal eu ficava com 40€ 20 minutos, que sofrimento. Nunca mais \nMa"},{"time":1780578037531,"fp":"London ​\nToday at 16:00\nMeeting for 2h\nFlexible budget \nPics info video in bikini‍"},{"time":1780578202570,"fp":"Смотрины на содержание\nБангкок, \nСегодня в 22:00 \nНужно будет составить кампанию клиенту\nЧокаться с "},{"time":1780578209604,"fp":"🇹🇭🇹🇭🇹🇭 **ПХУКЕТ / БАНГКОК** ✨👑\n\n💖💖💖*ИЩУ ЯРКИХ МОДЕЛЕЙ В ТАИЛАНДЕ* 💖💖💖\n🌷🌷🌷 *Рассматри"},{"time":1780578249601,"fp":"Dubai💕\nThreesome light play (guy is 23) \n1-2 hours tonight or any other day also possible \nPrefer c"},{"time":1780578263047,"fp":"🇹🇭🇹🇭🇹🇭 *ПХУКЕТ / БАНГКОК* ✨👑\n\n💖💖💖ИЩУ ЯРКИХ МОДЕЛЕЙ В ТАИЛАНДЕ 💖💖💖\n🌷🌷🌷 Рассматриваю в"},{"time":1780578288676,"fp":"**__🤩**__**__🤩**__**__ НЕ НАДОЕЛО РАБОТАТЬ ЗА \"СПАСИБО\" В ТУРЕ В БЕЗЛЮДНОМ ГОРОДЕ**__ 🤩🤩\n\n\n**Для"},{"time":1780578351353,"fp":"PLAZA DISPONIBLE EN 🇪🇸🇪🇸🎀*VALENCIA* 🌸\n\n*PLAZA 24 HORAS*\n       Tarifa al 50% 💶\nEXTRAS PARA LA"},{"time":1780578434468,"fp":"Bom dia meninas"},{"time":1780578444135,"fp":"Olá"},{"time":1780578483255,"fp":"Alguem em france🇨🇵???"},{"time":1780578508766,"fp":"🎀all Europe🎀\nTrip in Europe for 1-3 days, need beautiful natural girls under 27 y.o\n1500€ per day."},{"time":1780578540164,"fp":"@23773365416052 hola, este está verificado ?? 🙏🙏🙏"},{"time":1780578550272,"fp":"Малышка 19 лет, вкусная фигурка \nВыйду в машинку или приеду \nАктуально только сейчас!"},{"time":1780578556966,"fp":"MIRO"},{"time":1780578571564,"fp":"PARIS 🇫🇷🇫🇷\n\nJune 4, 4 30pm \n2hrs \n€2500-%, based on the profile can raise for 🔝🔝\nAge 18 to 27\n"},{"time":1780578580497,"fp":"Eu"},{"time":1780578592877,"fp":"Amiga o site daqui se vc n tiver comentário só chama lixo"},{"time":1780578614154,"fp":"Barletta algum posto meninas ?"},{"time":1780578627058,"fp":"Ele coloca comentários"},{"time":1780578646760,"fp":"Que legal vou salvar o numero dele"},{"time":1780578671719,"fp":"Питер. Кто может принять у себя сегодня в 18:00? На 1 час. 20 тыс на руки. Классика, мбр. Не поднима"},{"time":1780578770102,"fp":"📣📣📣📣📣📣📣\nМосква лайт тема! \n100.000\nВ 19 или 19:30\nОтель на филях пара часов. \nМолоденькую , х"},{"time":1780578780537,"fp":"Пошленькая чертовка, встречусь СЕЙЧАС\nАвто/выезд/место\nКиев, левый берег"},{"time":1780578805539,"fp":"💥АЛЁНА🎀СПБ- 👍💥Впервые в Питере🐎Солнечный город 👀\n💥 Сексопильная развратница  - девушка  модел"},{"time":1780578833751,"fp":"Que tudo. Vou mi organizar pra isso. Colocar comentarios"},{"time":1780578894950,"fp":"Plaza disponible en Málaga 60 % \nChicas delgadas y jóvenes"},{"time":1780578986269,"fp":"Москва \n\nСегодня вечер\nНатуральные модели ,минимум тату (совсем маленькие рассмотрит ) , грудь 2-5, "},{"time":1780579027361,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/L7vanjIeBTzBuHSC9Iw09v"},{"time":1780579055628,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/Ix76JVbPrVI4pqLChrOiWF"},{"time":1780579077245,"fp":"Faz o anúncio antes e coloca antes os comentários"},{"time":1780579093252,"fp":"*❗️МОСКВА❗️❗️МОСКВА❗️❗️МОСКВА❗* ️\n\n*Ищу моделей для сотрудничества!!!! Горят заказы!!!!*\n\n\n*Высокий "},{"time":1780579134746,"fp":"Sim vou fazer 🙂🙏"},{"time":1780579154289,"fp":"Стамбул \nНа сегодня на 22:00\nНа 6 часов !\nПостоянный клиент со своей девушкой нужна на ЖМЖ ! \nЖелате"},{"time":1780579174676,"fp":"💃🇦🇪*DUBAI*\n\nWho is available for meeting today? \n\n📆 4 JUNE\n⏰ 19:00\n\nKindly send me your photos a"},{"time":1780579287043,"fp":"🥰🥰🤑🤑🤑🥰🥰😍😍Gatas amores ola sou telefonista  alguem em interesting  na regiao London bridge q"},{"time":1780579437605,"fp":"TRIP TO MANSOUR‼️✨\n\nA friendly atmosphere, sports, relaxation on the beach, and volleyball 🏖️🏐\n\nCo"},{"time":1780579496638,"fp":"Trip to Ibiza (spain) 🇪🇸\n\n10-16 June 📅\n6 days \n8-10K$ 🎁 depends on model\nIf you don't have any r"},{"time":1780579604453,"fp":"Alguém tem contato de posto em Verona"},{"time":1780579631794,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/BIQCtfofihM4V2UFn66rdX"},{"time":1780579646892,"fp":"Dónde? Londres? Acabé por apagar, si tienes una foto ponte otra vez"},{"time":1780579698835,"fp":"Paris!!!!😍😍😍\n4-6 of June!!!! \nWho is there these dates? \n1500€ clean for you!!\nMeeting directly i"},{"time":1780579730355,"fp":"Вылет из Европы ,Дубай и России на Сардинию! \nСмотрит заранее !\nДаты: с 26 по 29 июня, 3 дня\nМужчина"},{"time":1780579755913,"fp":"🚨*RESPONDEME a este otro número de WhatsApp* ‼️‼️‼️‼️\n+34608998685\nhttps://wa.me/34608998685\n\n====="},{"time":1780579843740,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/GLoy4d2ZHzI8DtR4uHCTYw"},{"time":1780579958722,"fp":"Dubai incall \nAt 7.30 pm \nMake sure ready this time\nWrite location \nCircle video \nNot AI pls\n3000-30"},{"time":1780580009662,"fp":"Киев. \nБрюнетка с пышными формами. \nС удовольствием встречусь.\nВыйду в тонирование авто или приеду в"},{"time":1780580025783,"fp":"Hola chicas tengo línea disponible para Francia solo personas serias por privado gracias"},{"time":1780580042322,"fp":"♠️ __Ты знаешь, что такое\n\nнастоящая **ГОСПОЖА**?\n\n♦️ Тебе нравится\n\nподчиняться?\n\n  Ощути тут...__@"},{"time":1780580083661,"fp":"Киев\n18 лет \nВыйду в авто прямо сейчас 🔝😈\nСвободна на часик и пол часика\n\nСтудентка"},{"time":1780580108513,"fp":"‼️ DUBAI ‼️‼️ DUBAI‼️‼️ DUBAI ‼️\n\n💋 *Сейчас открыт набор девушек для работы в Дубае* 💋\n\n—Берем на "},{"time":1780580153888,"fp":"❤️💋❤️   КИЕВ    ❤️💋❤️\n\n💋❤️💋  ИНДИ   💋❤️💋\n\nТОЛЬКО РЕАЛЬНАЯ ВСТРЕЧА \n\n🥰     УСЛОВИЯ В ЛС    🥰"},{"time":1780580180447,"fp":"London 🇬🇧\n\nTonight at 23.00\n1 hours\n \nRegular good client\n\nBudget: 1000£-%30"},{"time":1780580202793,"fp":"Ibiza \nBarco mañana 12:00\nBusco 3 chicas \nImagen y extra 300€ \nClientes jóvenes \ncollage e info"},{"time":1780580251085,"fp":"🔥 Киев 🔥\n\nСоф Борщаговка 💎 \nВыезд 🚖\nVIP принцесса знает как доставить удовольствие. \nНе посредни"},{"time":1780580318749,"fp":"Киев🇺🇦\nВстреча на 1 часик \nС другого города тоже + , дорогу оплатит \nНужна ОЧЕНЬ худая девочка , с"},{"time":1780580358494,"fp":"Киев, солома\n💗💞Секси блонда, 20 лет\nПриеду на часик классику и сделаю тебе глубокий слюнявый минет"},{"time":1780580429478,"fp":"Budapest tomorrow night\n2h 1000 clean\nLooking for a girl who is:\nPetit. Enhanced. Gym toned. Elegant"},{"time":1780580460736,"fp":"🇪🇸 Ibiza 🇪🇸 \nNow! \nShort meeting \nPreferably indoor call \nPayment depends on model \nSend 5 pics "},{"time":1780580577594,"fp":"ISTANBUL \nTOMORROW\n2/3 hours \n1500-2000$ -30% \nOnly natural girls with good pics \n24 years old max\nB"},{"time":1780580599064,"fp":"Питер \nИщу мулатку 🔍 \nНа сегодня\nНа 3-4 часа\nВ баню \nБюджет пишите"},{"time":1780580648834,"fp":"💖 *Девочки, кто сейчас в Таиланде?*\n*Ищу девушек для сотрудничества* ✨\n\n💖В среднем 2–3 клиента в д"},{"time":1780580721449,"fp":"💎 *ДУБАЙ*  💎\n\n✈️ *Организую тур на 14 дней*\n\n✔️ Перелет и проживание за мой счет\n✔️ Полное сопрово"},{"time":1780580772560,"fp":"✨ Представь работу, где тебе не нужно:\n\n❌ искать гостей самой\n❌ переживать из-за рекламы\n❌ сталкиват"},{"time":1780580889361,"fp":"*Milan* 🇮🇹\nToday or tomorrow, time to set with the girl.\nDiscreet and young client.\nPreferably Arg"},{"time":1780580914328,"fp":"Dubai this week MAXIMUM 21Y\n1h outcall\n4000AED-35%com"},{"time":1780580949720,"fp":"Дубай! \nВстреча в отеле \nМужчина,русскоговорящий хороший. Пост.\nПо занятости 1-2 часа, \n*Бюджет 1000"},{"time":1780581055729,"fp":"NYC outcall \nRegular client \nHr 900-%\nWho can asap?"},{"time":1780581091218,"fp":"Hola buenas tardes necesito habitación en Benidorm urgente gracias para trabajar independiente"},{"time":1780581135045,"fp":"Mesa aberta espiritual venha saber o que os orixás tem a te dizer.💚\nLimpeza💚\nAbertura de caminhos "},{"time":1780581139185,"fp":"Trip to India 🇮🇳✈️ to my handsome billionaire client😎£2.000 clean per day ( from 9 till 12 of Jun"},{"time":1780581341388,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/ChH4AnhaQxWL3U8kxCGwtZ"},{"time":1780581398556,"fp":"Licença aos Adm \n\nPreciso de meninas. Região da Lapa SP\n\nTodos biótipos \n1 hora 200 livre\n\nJOB FR.\n\n"},{"time":1780581456685,"fp":"Abu Dhabi\nВилла для девушек, всё включено\n💸 Ставка от $500 в день в месяц выходит от 30.000$ \nПутеш"},{"time":1780581482809,"fp":"Oiê alguém para conversar"},{"time":1780581496599,"fp":"Еще одна полненькая и одна мулатка/метиска!\nПитер \nИщу 🔍 \nНа сегодня\nНа 3-4 часа\nВ баню \nБюджет пиш"},{"time":1780581545344,"fp":"*Paris*\n10th of June \nYoung with natural boobs\n1500$-500"},{"time":1780581566460,"fp":"🔖MENINAS INDEPENDENTES \n\nSERVIÇOS :Acessória com nomes de sites e melhores cidades para trabalhar.\n"},{"time":1780581633390,"fp":"Bom dia a todos desculpa pelo incomodo algum proprietário de casa tem contrato que possa em envia um"},{"time":1780581699131,"fp":"*PARIS*\n10th of June \nYoung with natural boobs\n1500$-500"},{"time":1780581836998,"fp":"Варшава\nКто на месте ?\nАктуально: сегодня вечером \nНа 213 часика \nОтель \nпостоянник, Украинец,30 лет"},{"time":1780581851920,"fp":"Поездка в Братиславу \nНа следующей неделе, даты согласуем как выберет \nНужна сексуальная фигуристая "},{"time":1780581957270,"fp":"Se buscan chicas para trabajar en Málaga\n\nBuscamos chicas responsables, con buena presencia y trato "},{"time":1780582048264,"fp":"🖤🖤🖤🖤🖤*TALL Models NEED*! 175 -185 santimetes only ! Millionaire looking for regular  Trawel par"},{"time":1780582065551,"fp":"Hola chicas,\n\n1 habitacion libre\nPara este lunes 08/06\n\n📍SINT NIKLAAS\nPara chicas discretas y respe"},{"time":1780582457410,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/Gc1YnDgcTVn4OjecdDDZT2"},{"time":1780582490868,"fp":"🎀 Москва 🎀\nВ эту пятницу \n💸 1500$ чистые \nК семейной паре ( взаимодействие возможно и с девушкой "},{"time":1780582562550,"fp":"Riga\nToday 10-11 pm\n1-2 hours\nRegular client \nBudget from 1000 euro\nCan increase a little, write you"},{"time":1780582628535,"fp":"🇺🇸NEW YORK, NYC🇺🇸\nTHIS MORNING/AFTERNOON\nINCALL\nMeeting 1-2h\nFor a regular trusted guy\nYour rate"},{"time":1780582637725,"fp":"Стамбул \nКто на месте \nФото видео данные \n3/4 с мбр \nСекси \nГр 2,5 + \nПопа орешек🔥\nЖду ❤️\n\n8905 209"},{"time":1780582674302,"fp":"Москва \nСрочно ‼️ выбирает сейчас \n\nСегодня вечер\nНатуральные модели ,минимум тату (совсем маленькие"},{"time":1780582728864,"fp":"Приветик. Я транследи. Пока в поиске нового опыта с кем-то пылким. Новеньким тоже рада. 💣"},{"time":1780582744383,"fp":"Москва \nИщу топ , высокая , подтянутая \nГрудь от 2 \nВстреча на 2 часа \nОтель \nПост"},{"time":1780582820143,"fp":"И.Ветеранов\nХОРОШО БЕРУ, ОБЖИМАЯ ГУБКАМИ ТВОЙ ЧЛЕН В СВОЙ ГОРЯЧИЙ РОТИК,\nВ ЛЮБОМ РИТМЕ НА ЛЮБУЮ ГЛУБ"},{"time":1780582834256,"fp":"*PRAÇA DISPONÍVEL 50/50* 🇬🇧\n✅ENTRADA IMEDIATA \n✅TELEFONISTAS RESPONSÁVEIS \n✅CASA BUSY \n✅AGENDA DE "},{"time":1780582870069,"fp":"🌸 ХОЧЕШЬ В МОСКВУ?\n\nНе в гости — а жить.\nВсё, что ты откладывала на «потом» — начинается сегодня.\n\n"},{"time":1780582897045,"fp":"Necesito dos chicas escort para hoy en Málaga , el hotel miradores malagueta beach , clientes extran"},{"time":1780583053627,"fp":"*BARCELONA* 🩷\nPara esta noche busco chica top para cliente Australiano guapo (Plus talla grande en "},{"time":1780583068213,"fp":"Блондинка 💖🎀\n20 лет, красивые формы\nПриеду в гости, актуально сейчас💕Соломенский район"},{"time":1780583101979,"fp":"✅Quartos disponível em charleroi.\n✅Chambre disponible à charleroi.\n✅Habitación disponible en charler"},{"time":1780583204356,"fp":"Trip to Italy🇮🇹🇮🇹🇮🇹\n\nOnly who talk RUSSIAN language ‼️\n\nDates is open\n1 or 2 days\nRegular cl 3"},{"time":1780583275001,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/FqSykRnC80MJAaTv9HXDh4"},{"time":1780583351587,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/GSU3AOwXLao0l6sb5MovHC"},{"time":1780583417729,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/JPHqVfPQX6B4yXzJp2tFH1"},{"time":1780583439263,"fp":"Венеция 🌸\n\nФранцуз, 55 лет \n09.06, 3 часа, отель \n\nТипаж: только 30+ лет \n\nБюджет: 1400€\n-\nVenice \ud83c"},{"time":1780583508546,"fp":"✅Quartos disponível em charleroi.🇧🇪\n✅Chambre disponible à charleroi.🇧🇪\n✅Habitación disponible en"},{"time":1780583533301,"fp":"🇩🇪🔥 ALEMANIA – TRABAJO ASEGURADO🔥🇩🇪\n\n💥 INCORPORACIÓN INMEDIATA MAÑANA💥 1 CUPO DISPONIBLE \n\n\ud83d"},{"time":1780583552481,"fp":"Варшава 🇵🇱\n\nНа сегодня на 22:00 на 2 часа \nОтель: Hilton \nБюджет: от 1000€, за топ повышает \nКлиен"},{"time":1780583565668,"fp":"*Ibiza* 🏝️ \n\nModelo de extra disponible *para hoy a la noche*, con buenos pechos en lo posible y bu"},{"time":1780583691023,"fp":"Essa agência aqui é verificada meninas alguém já foi ? \n\nse puderem me contar a experiência de traba"},{"time":1780583895339,"fp":"Киев, доминантная женщина пригласит к себе на встречу. \nОбсудить встречу можно в лс. \nЕсть экспресс "},{"time":1780583920422,"fp":"СПб, Парнас \n\nКЕКСИК,КУНЯ,АНИ,МИНЕТИК, МАССАЖИК, \n\nЕсть ВИРТ,ФОТО,ВИДЕО и ПРИВАТ КАНАЛ"},{"time":1780584047896,"fp":"Киев 🎀\nАкадемгородок 🏙️\nКрасивая девочка, приеду в гости к мужчине✅\nБрюнетка с сочными формами. \nВ"},{"time":1780584059490,"fp":"Turkey Bodrum for June 06.06 need 2 top models budget open 💵💵💵\nDeparture from any city ✈️\nOnly to"},{"time":1780584077976,"fp":"🇩🇪🔥 ALEMANIA – TRABAJO ASEGURADO🔥🇩🇪\n\n💥 INCORPORACIÓN INMEDIATA MAÑANA💥 1 CUPO DISPONIBLE \n\n\n"},{"time":1780584097121,"fp":"*_🇭🇷🇭🇷🇭🇷 ХОРВАТИЯ 🇭🇷🇭🇷🇭🇷_*\n_❗Супер - предложение❗_\n            \n*_😘ПРАЙС:_*\n*_🩷 1 час "},{"time":1780584129806,"fp":"LONDON THIS WEEKEND \n1-2h outcall/incall \n1000€-30% com"},{"time":1780584147855,"fp":"Фітнес фігура 🔥\n\nДоглянута, висока, довге волосся ❤️ готова приїхати на декілька годин, або годину "},{"time":1780584165708,"fp":"Lá não compensa pegar agência"},{"time":1780584171912,"fp":"🌟ЛЕРА-6000-СПБ- \nСолнечный город📣\n🎊  Я стройняшка, красотка -русые волосы и серые глаза❗️\n👀Класн"},{"time":1780584213259,"fp":"Os valores são 100 meia hora\n150/180 uma hora\nO custo de vida é bem baixo tb, vc consegue alugar por"},{"time":1780584227593,"fp":"É bom ter no mínimo uns 3 perfis"},{"time":1780584233462,"fp":"WHO IS IN MONACO🇲🇨🏁or can come✈️\nneed girls for tonight and upcoming days !🎁\napply to DM💞"},{"time":1780584255988,"fp":"Is there anything for Monaco for the weekend?"},{"time":1780584269432,"fp":"vcs acreditam mto em conto"},{"time":1780584283741,"fp":"Барселона \nСегодня вечер \nНа 2-3ч \nОтель \nЗак 40+ европеец\nБюджет пишите"},{"time":1780584298789,"fp":"E lá é crime"},{"time":1780584309085,"fp":"Vc ficou qto tempo lá mana"},{"time":1780584328210,"fp":"Cada vez q eu fui fiquei um mês"},{"time":1780584392799,"fp":"Plaza en Paris?"},{"time":1780584406565,"fp":"Bucta linda"},{"time":1780584422882,"fp":"NYC 🗽 \n\nToday afternoon / Incall \n\nSLIM MODELS \nnatural breast \n\n90min \n1k clean , can raise for to"},{"time":1780584446328,"fp":"Obrigada amiga tenho vontade de ir porém tenho medo dos ladrão"},{"time":1780584455966,"fp":"Встречусь за МП"},{"time":1780584462972,"fp":"Se puder compartilha os grupos amiga ?"},{"time":1780584478683,"fp":"Não rola, o grupo da Albânia é somente para quem está lá ou no leste europeu"},{"time":1780584488137,"fp":"Tem sim, porém dizem que lá é demais"},{"time":1780584505964,"fp":"Рига сегодня к 22;00\nНужны 3 \nГости с Казахстана и ваш бюджет"},{"time":1780584524464,"fp":"Подкиньте на шаурму💋🥹 щедро отблагодарю❤️😍"},{"time":1780584537515,"fp":"Vcs tem uma visão errada da Albânia pq albanês fora da Albânia é o cão"},{"time":1780584548102,"fp":"Mas, lá são tranquilos\nClaro que tem suas excessões"},{"time":1780584563913,"fp":"Привет. Я трансдевчонка. Пока ищу интересного опыта с кем-то знающим. Новеньким тоже рада. 💋"},{"time":1780584638687,"fp":"Sim eu só escuto falar mesmo pq nunca tive problema com albanês, agora com homens do egito sempre te"},{"time":1780584648161,"fp":"Como os africanos, na África eles são pianinhos"},{"time":1780584662623,"fp":"Уже почпокались?😅"},{"time":1780584680069,"fp":"Eu só trabalhei na África do Sul, não sei como são no resto da África"},{"time":1780584683715,"fp":"Eu atendo muitos pretos nunca tive problemas graças a Deus"},{"time":1780584703580,"fp":"Berlin🇩🇪\nFriday or Saturday \n1-2 nights \n\nSlim model, high profile. No fake face.\n169- 178cm max 5"},{"time":1780584779697,"fp":"Em Cape town foi colonizado pelos ingleses, talvez seja por isso"},{"time":1780584929180,"fp":"Olá, meu nome é Eduarda sou do Nordeste do Brasil e estou querendo imigrar para a Europa, sei que Lu"},{"time":1780584953494,"fp":"Pode enviar áudio?"},{"time":1780584961760,"fp":"Trip to Spain for 3 days ✈️ \n1500/2000$ per day for top budget can be high \nDeparture 7th of June\n*N"},{"time":1780585020264,"fp":"Los Angeles 🇺🇸\nTonight\n\n1-2h meeting \n\nLooking for top profiles.\nModels or bit curvy are welcome t"},{"time":1780585053524,"fp":"PARIS 🇫🇷 today or tomorrow \nWhos didnt apply yet\nTOP 🔝 young\n1500€ clear\nPosible pay train from M"},{"time":1780585117371,"fp":"Turkey 1 hr 🇹🇷 Chinese guy\ntonight 10.00 pm hotel \n1000 💲 -%\n\n‼️Apply with at least photo and 2-3"},{"time":1780585136904,"fp":"https://chat.whatsapp.com/EYE2G0aNlkz3W0xYXYEd6X?s=cl&p=i&mlu=4"},{"time":1780585180336,"fp":"Deve fazer verifica primeiro comigo"},{"time":1780585297526,"fp":"NYC 🗽 NYC 🇺🇸\n\n6pm INCALL \n\nSLIM MODELS \nnatural breast \n\n90min \n1k clean , can raise for top \n\nSe"},{"time":1780585371339,"fp":"Шикарная блондинка🫦 воплотит все твои желания💋💋Жду тебя милый💋 Киев"},{"time":1780585376939,"fp":"Meninas que queiram vir pra Londres"},{"time":1780585426999,"fp":"Busco plaza urgente en Tenerife surrrr✨🌊🏖️🏝️quien me puede facilitar contacto me escribe al priva"},{"time":1780585509634,"fp":"Meninas do UK \nEstou alugando minha conta do viva street \nE também aceito transferência - cobro uma "},{"time":1780585518226,"fp":"Москва встреча завтра  нужны новые лица кто недавно в теме или можно подругу показать.\n*Если понрави"},{"time":1780585639901,"fp":"🌴🌴🌴🌴🌴\n🌴*ДУБАЙ*🌴\n🌴🌴🌴🌴🌴\n\nБольшинство менеджеров ищут девушек.\n*Я ищу ту, с которой мы зара"},{"time":1780585748359,"fp":"Olá meninas, tudo bem ? \nSou telefonista en France, tenho experiência de 7 anos✅\nFaço anúncio e veri"},{"time":1780585833344,"fp":"Olá meninas me chamo Victória sou telefonista na França🇫🇷\nTenho 2 vagas disponíveis\ninício imediat"},{"time":1780585950630,"fp":"Привет. Я транследи. Сейчас ищу нового опыта с кем-то знающим. Новичкам тоже рада. 💜"},{"time":1780586075792,"fp":"💰💰ATENÇÃO💰💰\n💃🏻Busco por meninas ambiciosas, esforçadas…\n💵Que ganhar $5.000 ou mais em 1 seman"},{"time":1780586115815,"fp":"#9830 Лондон 🇬🇧\n\nВстреча: 2 - 4 часа Сегодня!\nБюджет: от £ 1,000 (чистыми), в зависимости от модел"},{"time":1780586169426,"fp":"Juliana como estas , soy Manu admin del grupo y llevo las plazas de Canada, USA y Australia! Si quie"},{"time":1780586195394,"fp":"🚨vaga disponível \n\nVAGA Disponível \n📍Itália 🇮🇹\n✅REGIÃO BUSY \n✅CENTRO \n✅TELEOFNISTA \n✅ANÚNCIO TOD"},{"time":1780586232800,"fp":"Ahora voy a conducir te paso la info por privado ahora y luego si lo necesitas te marco para explica"},{"time":1780586283498,"fp":"Dubai\nSaturday from 2pm 4/5 hours drinks in the pool of the hotel and after room\nNeed 2 girls for 2 "},{"time":1780586375245,"fp":"🍓🍓🍓🍓🍓🍓🍓🍓🍓\nВидеозвонок☎️\nФоточки🥰\nВuдеo🫦\nBuрт звoнok😍\nЗа прайсом в ЛС💌\nЕсть встречи💋\n🍓"},{"time":1780586394437,"fp":"ДЕВУШКАМ 10.000₽ ДЕПОЗИТ\n(На бар, кухню и кальян)\nВ Бериот модельные столы с 23:00 каждый день.\n\n• В"},{"time":1780586408684,"fp":"♥️♥️♥️Trip to Ibiza on 18/22 July for 2/3 days for very nice regular guys need gf type 1000€ per day"},{"time":1780586440748,"fp":"Vancouver 🇨🇦\nThis Friday afternoon 5 Th June \nMan not local European young \nFor 1,5 /2 hours\nBudge"},{"time":1780586457692,"fp":"Москва \nСегодня вечер, на 1 час \nОтель, русский Зак \nНужна красивая девушка \nПо минимуму тюнинга\nБюд"},{"time":1780586474808,"fp":"**OPORTUNIDADE PARA MENINAS FICHA ROSA INDEPENDENTES** 🩷\n\nSe você busca uma parceria de confiança, "},{"time":1780586494813,"fp":"Frankfurt 🇩🇪\nNow and all week\n2-3 hours\nHotel\nMale 40+\nRequired: Woman at least 172 -185 cm tall, "},{"time":1780586560165,"fp":"Londres"},{"time":1780586582564,"fp":"Albania n da dinheiro , foi se o tempo"},{"time":1780586609592,"fp":"Белокурая красотка❤️ждёт тебя в гости ❤️ Жду тебя милый. 💋💋 Киев"},{"time":1780586621248,"fp":"Фигуристая блонда, приеду в гости к щедрому"},{"time":1780586627925,"fp":"nenhum lugar tá dando dinheiro amiga"},{"time":1780586653345,"fp":"ROME 🇮🇹 \n\nTOMORROW LOOKING FOR BEAUTIFUL GIRL  1 HOUR BUDGET DEPENDS ON THE GIRL"},{"time":1780586680067,"fp":"Nenhum mesmo foi a época q prostituicao dava grana mesmo"},{"time":1780586700635,"fp":"❗️ ️ **ТОП ГОРОДА ДЛЯ РАБОТЫ  , МНОГО ТЕМ УЖЕ СЕЙЧАС** ❗️\n\n**🇷🇺 МОСКВА \n🇷🇺 СПБ**\nКаждый день даю"},{"time":1780586724461,"fp":"Париж💕\n\nТурок, 33 года\nВстреча сегодня 4.06 на 1-2 часа в отеле \nТипаж: бэби Фэйс \n\nБюджет 1000€\n-\n"},{"time":1780586736581,"fp":"2 anos \nZero incidente"},{"time":1780586744233,"fp":"Foco é sair mermo , n tem oq fazer mais"},{"time":1780586755618,"fp":"Tem dono de praça que dá a própria casa pra roubar as meninas"},{"time":1780586765760,"fp":"Cara já tive vários , é mt relativo né"},{"time":1780586787523,"fp":"Geralmente independente e mais roubada"},{"time":1780586798424,"fp":"Zero tbm"},{"time":1780586811624,"fp":"Mas de ter muitos reportados chamando e vai verificar no Numbuster é ladrão"},{"time":1780586820881,"fp":"Lógico"},{"time":1780586827540,"fp":"Eu faço uma coisa q dá mt certo"},{"time":1780586839258,"fp":"Chamada de vídeo com o cliente , se o cara n mostrar o rosto , ele simplesmente n vem"},{"time":1780586850518,"fp":"❗️ ** ТОП ГОРОДА ДЛЯ РАБОТЫ  , МНОГО ТЕМ УЖЕ СЕЙЧАС** ❗️\n\n**🇷🇺 МОСКВА \n🇷🇺 СПБ**\nКаждый день даю "},{"time":1780586864144,"fp":"Есть еще одно предложение на сегодня \n\nМосква \nВ 23:30 \nПост ,отель , 1:1\nИщу Кавказ девочек ,только"},{"time":1780586881941,"fp":"Москва. Кого ранее не показывала.\n\nВстреча завтра (пятница), к 20.00 на 2-3 часа. Отель, центр. Обще"},{"time":1780586903155,"fp":"🎀 *Персональный менеджер | Дубай* 🇦🇪\n\n_Ищу девушек, заинтересованных в эксклюзивных возможностях,"},{"time":1780586920476,"fp":"Quem trabalha com telefonista elas não tem essa mesma opção"},{"time":1780586930737,"fp":"Perguntas do tipo “vc vive sozinha ? “ mkkkkk mas oq q te interessa meu chapa ? Kkkkkkkk"},{"time":1780586943459,"fp":"Já teve um que queria 2"},{"time":1780586957782,"fp":"🌟 2 Vagas 🌟\n\nEstamos procurando meninas interessadas em trabalhar \n\n🏠 Estrutura organizada\n📱 Div"},{"time":1780586968279,"fp":"Essa situação de report é osso"},{"time":1780586990194,"fp":"Tb n da pra crer em tudo , por isso a vídeo chamada já mata todas"},{"time":1780586998345,"fp":"Pq já teve meninas que foram roubadas \nQue n tinha report"},{"time":1780587015447,"fp":"Já atendi vários reportados de ladrão por exemplo, fui abrir a câmera , era um velhinho bem querido"},{"time":1780587028402,"fp":"Muitas fazem isso"},{"time":1780587040039,"fp":"Só q né depois dessa n perdi mais trabalho"},{"time":1780587065107,"fp":"Eu olho bem no olho , corpo mostra muito , se o cara tiver mt ansioso , com cara de preocupado, eu n"},{"time":1780587101447,"fp":"Esses dias aconteceu isso mesmo, fiz chamada de vídeo com um cara , vários reports no Numbuster , ab"},{"time":1780587112584,"fp":"Barcelona\nTonight\n2-3 hours\nHotel\nMan 40+ European\nPlease your budget\nWho have crypto"},{"time":1780587154849,"fp":"Pois é só q n faz sentido nenhum fazer isso , a gente tem q se ajudar"},{"time":1780587189155,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/IRHOs5LhJYLJhWHCafD7mN"},{"time":1780587303761,"fp":"КИЕВ 💋\nХочу расслабиться с тобой прямо сейчас🔞\nВстреча без предоплат. Жду в лс, котик! 😘"},{"time":1780587414382,"fp":"🇪🇸🇪🇸🇪🇸MARBELLA🇪🇸🇪🇸🇪🇸\nOnly who is already there \nTonight I need 2 models \nTop top 🔝 \nCli"},{"time":1780587424584,"fp":"Есть еще одно предложение на сегодня ❗️\nТОЛЬКО АРМЯНКУ ИЛИ АЗЕРБАЙДЖАНКУ\n\nМосква \nВ 23:30 \nПост ,оте"},{"time":1780587486263,"fp":"Лондон‼️\nМне нужна сегодня модель \nС формами, в стиле порнозвезды \nБольшая грудь, попа \nНужна раскре"},{"time":1780587519144,"fp":"Paga meu dinheiro ainda dando golpe aqui"},{"time":1780587527695,"fp":"*ZURICH* \nThis week\n3/4h 1000chf 30% com \nOf extend till morning 2000chf 30% com \nMostly party and d"},{"time":1780587559610,"fp":"Boas"},{"time":1780587570855,"fp":"Esi lixo da o golpe e bloqueia"},{"time":1780587617786,"fp":"Boa tarde meninas ✨\nAlguém sabe me dizer se a primeira compra no EscortForum tem que ser o diamond \ud83d"},{"time":1780587689765,"fp":"❗️**САНКТ-ПЕТЕРБУРГ, ИМИДЖ СЕЙЧАС❗️\n**\n🗓️ЧЕРЕЗ ЧАС быть в ресторане.\n\n**Оплата: 20.000**💸\n\n**Типаж"},{"time":1780587767083,"fp":"Não dá pra verificar todos os caras que mandam msg né \nAté pq nem todos viram clientes\nEu verifico s"},{"time":1780587782185,"fp":"O q eu acho q é cliente mesmo\nPq tem os q manda msg só pra saber endereço ou só vem pedir foto"},{"time":1780587813127,"fp":"Ou verifico quando sinto q o papo tá estranho ou ele tá falando demais aí vou verificar pra n perder"},{"time":1780587843393,"fp":"Приветствую. Я транследи. Сейчас ищу интересного опыта с кем-то пылким. Новичкам тоже рада. 💙"},{"time":1780587853128,"fp":"Simm  \nTem uns q é só para encher o saco"},{"time":1780587856429,"fp":"Os ADM nem procura saber quem é esa pesoa que tá fazendo isso e outra ela tá usando o nome de outra "},{"time":1780587895834,"fp":"Justamente, o que mandam mensagem, e pode acreditar eu verifico todos , sem exceção 😅"},{"time":1780587949216,"fp":"hola buenas alguien me puede ayudar con contactos para grecia plaza gracias"},{"time":1780587968258,"fp":"Pq ficar verificando todos e foda 🤣🤣🤣\nAinda mais quando a gente é nova na cidade q é tipo 1000000"},{"time":1780587989153,"fp":"🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨\n   🕵️‍♂️🔎 *CONSULTA DE DADOS* 🔍🕵️‍♂️\n\n  SAIBA QUEM ESTÁ POR TRÁS DA TEL"},{"time":1780588017094,"fp":"🤩Одесса🤩\n💋Есть выбор девочек! 💓\n🎀Разнообразный выбор услуг.🩷\n🏠Апартаменты в центре!💋\n🚗Есть "},{"time":1780588104348,"fp":"Mas assim , seria desnecessário para quem exatamente? Pode ser para vc , mas para mim não 😅, mas em"},{"time":1780588171548,"fp":"💫💫💫💫💫💫💫💫💫💫💫💫💫💫💫\n💫💫💫*ДУБАЙ• ПХУКЕТ •БАНГКОК* 💫💫💫\n\n_*Девочки,кто еще в поиске дос"},{"time":1780588199973,"fp":"‎Open this link to join my WhatsApp Group: https://chat.whatsapp.com/DcOrpzKUykb49h2PadQVJv?s=sh&p=i"},{"time":1780588275742,"fp":"Só pelo papo tu vê quem é sério"},{"time":1780588289357,"fp":"Quando vem com , tu é de onde ? E n pergunta o preço , já sei q n vem"},{"time":1780588293453,"fp":"PLAZA AMSTERDAM: AGENCIA CON EXCELENTES REFERENCIAS NUMBUSTER ✅ ✅ ✅ ✅ \n\nEstancia mínima de 14 días. "},{"time":1780588303877,"fp":"TELEFONISTA na França☎️\nProcuro meninas séria e que tenha compromisso \nTenho 2 vaga disponíveis \nIni"},{"time":1780588314450,"fp":"Pelo papo \nSe vejo q tá estranho eu verifico"},{"time":1780588323494,"fp":"Quando o cara fala “que hrs tá disponível?”"},{"time":1780588329885,"fp":"Ai q ranço"},{"time":1780588342043,"fp":"Só falar a hora q tu quer vir"},{"time":1780588350563,"fp":"Eu nem verifico , se eu desconfiar eu só arquivo"},{"time":1780588354527,"fp":"Hi"},{"time":1780588367612,"fp":"Qualquer design virtual abaixo por *50 REAIS*:\n\n•Logotipo\n•Cartaz para post de Instagram\n•Cartaz par"},{"time":1780588379430,"fp":"Pois é isso q eu quis dizer aí nas msg eu acho q pessoa não entendeu mas enfim né🤣🤣🤣"},{"time":1780588385710,"fp":"Mas tudo eu calculo pra n sofrer"},{"time":1780588408711,"fp":"Mas eu tenho mais de um número"},{"time":1780588419800,"fp":"Verificar"},{"time":1780588430564,"fp":"Kkkkkkk 24/48"},{"time":1780588434273,"fp":"*ПХУКЕТ*\n\nДля моего русского постоянника нужна девочка на 1 час. Лайт работа, быстро отпускает. Опла"},{"time":1780588450716,"fp":"Q pessoa q n entendeu"},{"time":1780588466526,"fp":"A bonita aí q postou"},{"time":1780588489637,"fp":"Cara n sei se vcs tão vendo nos sites mas é q tem muita chinesa q da por 50"},{"time":1780588497323,"fp":"Cliente bom é"},{"time":1780588507542,"fp":"Tá disponível \nValor \nEndereço \nPosso ir ?"},{"time":1780588524351,"fp":"Agora pediu foto\nChamou de amor \nPediu mais foto \nJá sabe que não vai"},{"time":1780588529347,"fp":"Se a colega faz eles pensam, ahhhh ela deve fazer tb"},{"time":1780588535627,"fp":"Normal"},{"time":1780588570781,"fp":"Aqui onde eu trabalho \nTem taylandesa cobrando 80 1 hr tudo incluso \nInclusive baraback"},{"time":1780588622130,"fp":"Só q se for ler os comentários, eles arrasam com a cara delas , tipo os caras n tão contente só de c"},{"time":1780588636543,"fp":"Paga o preço quem quer"},{"time":1780588664089,"fp":"Além de comer por 50 saem reclamando"},{"time":1780588667156,"fp":"QUEM TEM CONTA NA FARMÁCIA ME CHAMA URGENTE PAGO BEM 🚨🚨🚨🚨🚨🚨🚨"},{"time":1780588672933,"fp":"Pobre é uma desgraça"},{"time":1780588679186,"fp":"Sim minha amiga foi e cuidado eles ameacam"},{"time":1780588683551,"fp":"Fica em forum queimando todo mundo"},{"time":1780588690058,"fp":"El teve que sair correndo da Albânia"},{"time":1780588694873,"fp":"Se eu tivesse dando por 50 , juro largava a profissão"},{"time":1780588704970,"fp":"Entendi sim linda, mas acredito que vc não que entendeu a parte do “EU “"},{"time":1780588720617,"fp":"Meu deus já vi q essa pessoa é uma pouco surtada"},{"time":1780588729957,"fp":"*LONDON* \nThiis week. Client will stay will Monday \n1h 1000£ 30% com \nWho can? \nTiming and day will "},{"time":1780588747705,"fp":"Puta é mto instável né qlq coisa vira briga a pessoa leva pro pessoal\nPovo n consegue entender conse"},{"time":1780588778914,"fp":"Ta gente comecem a ler e reler o que vcs escrevem pq as vezes fica mal entendido , ai uma começa a f"},{"time":1780588818737,"fp":"Nao é isso, as vezes tu lê rápido , pensa q foi pra ti , e na real n, na real só n se entenderam"},{"time":1780588858521,"fp":"Se tem algum bagulho q eu n entendo , eu pergunto pra depois se eu realmente entendi aquilo eu dar a"},{"time":1780588862935,"fp":"Ai mana ? Então tá"},{"time":1780588883918,"fp":"Bom eu vou sair , vou ali dar uma volta , fiquem na paz irmãs ❤️"},{"time":1780588914580,"fp":"**LONDON* \nThiis week. Client will stay will Monday \n1h 1000£ 30% com \nWho can? \nTiming and day will"},{"time":1780588931892,"fp":"N tem mistério"},{"time":1780588977509,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/ICsCPXvQEgGKkfTQUaomvV"},{"time":1780589042901,"fp":"Meninas alguém já saiu com chip já comprado ? \n\nE quem comprou lá ? É melhor comprar lá ou já saiu d"},{"time":1780589066136,"fp":"Então, o meu também só está aparecendo o dimond agora, aí vi a opção de crédito e pensei se poderia "},{"time":1780589077731,"fp":"Barbie 👛👛👛\n💯calidad CHICAS 🇨🇴\nACTIVA 24/7 🍓"},{"time":1780589094826,"fp":"Diamond  na real é só pra cidades grandes"},{"time":1780589110349,"fp":"⚜️ МОСКВА / ПИТЕР ⚜️\n\nНе люблю слово “агентство”.\n\nПотому что у меня всё строится совершенно иначе.\n"},{"time":1780589138778,"fp":"✨ OPORTUNIDADE ✨\n\nEstamos selecionando novas meninas para interiores \n\n💎 Oferecemos:\n• Apartamentos"},{"time":1780589181074,"fp":"Me rende muito diamond e elite"},{"time":1780589202121,"fp":"Kkkkkkkk cara"},{"time":1780589282704,"fp":"Дубай ❤️\n\nиндиец 24 года \nСегодня (4.06) \nНа 2-3 часа в отеле в 21:00-22:00\n\nНравятся девочки похожи"},{"time":1780589314096,"fp":"Привет. Я трансдевчонка. Пока в поиске интересного опыта с кем-то умелым. Новеньким тоже рада. 🔮"},{"time":1780589328915,"fp":"Does anyone create ads in Korea?"},{"time":1780589361629,"fp":"New York 🇺🇸 \nAll June \nNeed 10 image models \nPlease text your rate per hour \nRegular client has in"},{"time":1780589395692,"fp":"Looking plaza Escort in Mónaco 🇲🇨 o Dubai ✨✨👱🏻‍♀️"},{"time":1780589427924,"fp":"Alguém tem contato de posto em lago di Garda"},{"time":1780589438551,"fp":"Switzerland 🇨🇭 Zurich \nToday \nFor 2 hours \nVery nice client \nNeed tall , from 170\nSlim \n18-25\nBudg"},{"time":1780589450613,"fp":"Any suggestions for Crete Greece🇬🇷"},{"time":1780589462178,"fp":"Os créditos acho que é pra subir o perfil com Bump\nVocê manda msg pra seu agente \nEle vai liberar o "},{"time":1780589733981,"fp":"Mudando totalmente para um assunto realmente 😩 minha vida já n tem mais sentido sem ele 🤣"},{"time":1780589771841,"fp":"Prime video ta de graça primeira semana pra quem faz a conta , ou 19,90 e o filme é de graça . 🥰"},{"time":1780589784845,"fp":"Dubai \nWho is here ? For Saturday night \nClient is super nice and good, regular one!!! He’s American"},{"time":1780589809992,"fp":"Olha esse sorriso gente , MEEE"},{"time":1780589859060,"fp":"Amanhã teremos festa particular não estaremos cobrando a entrada estaremos com 20 mulheres do JB que"},{"time":1780589899522,"fp":"Sim por isso eu fiquei na dúvida se isso ia funcionar \nConsegui entrar em contato com a agente e res"},{"time":1780589959318,"fp":"Alguma indicação de advogado para obter NIE sem promessa de trabalho"},{"time":1780589989460,"fp":"Alguém pode pelo amor de Deus"},{"time":1780590001609,"fp":"💋 ~*PLAZA\n EN PALMA DE MALLORCA* 💋~ \n\nENTRADA INMEDIATA \nSi tienes entre  19  y 35 años, buena pre"},{"time":1780590067517,"fp":"Вылет в Токио оформляет визу, на 2-3 дня, мужчина местный, приятный хороший со знанием Английского \n"},{"time":1780590108512,"fp":"*Urgent 🚨 Need Long term Apt*🔎 couple Russia 🇷🇺 \n2 bedrooms \nNueva andalucia around \nVery Modern"},{"time":1780590154583,"fp":"*_🇸🇦🇸🇦 SAUDI ARABIA 🇸🇦 САУДОВСКАЯ АРАВИЯ 🇸🇦🇸🇦_*\n\n*_🫶🏻 Открыта запись в РИЯД & ДЖИДДА_*\n*"},{"time":1780590183779,"fp":"📍 Alicante 🇪🇸\n\nRegular customer, Russian\nTomorrow\n2-3 hour meeting\n\n✨ Luxury, light, relaxed atmo"},{"time":1780590195046,"fp":"💋 ~*PLAZA\n EN PALMA DE MALLORCA* 💋~ \n\nSi tienes entre  19  y 35 años, buena presencia,  educada ,c"},{"time":1780590207201,"fp":"?"},{"time":1780590217833,"fp":"*ИЩУ ТОП* 🔝 \nЧИСТЫМИ *15.000$-20.000$*\n\n170+ рост, шатенки/блондинки, светлая кожа ‼️ \n\n\n❗️ЗАРАБОТО"},{"time":1780590248871,"fp":"Vamos falar no pv"},{"time":1780590274446,"fp":"*San-Francisco incall*\nВремя встречи открытое \n\n*По услугам:* GFE, DFK,  желательно bbbj, 69, anal б"},{"time":1780590309544,"fp":"Gostaria de saber se há a possibilidade de legalizar em Luxemburgo"},{"time":1780590399416,"fp":"Paris\n\nToday\n\n2k € -30%\n\nVideo and photos\n\nNo tattoos"},{"time":1780590406234,"fp":"💋💋💋💋ОДЕСА💋💋💋💋\n\n 💋Мила, ніжна, пристрасна, чарівна струнка доглянута\n дівчина\n 💋Вмію достав"},{"time":1780590424449,"fp":"Миконос сегодня в 21.00\n1000€ чист на 2-3 часа\nПост, отель\n\nMykonos today at 9 pm\n1000€ clean for 2-"},{"time":1780590517020,"fp":"🌟ГЕЛЯ-СПБ- Ленинский проспект!\nВпервые в Питере🪅🪅🪅🎊 Роскошная  и развратная\nС шикарной грудью и"},{"time":1780590650206,"fp":"Бухарест 🇷🇴 \nСегодня \nНа пару часов нужны 2 девочки\nОтель \nКрасивые Постоянные клиенты - 36 лет\nБю"},{"time":1780590694421,"fp":"Até aonde EU sei, não precisa de promessa de trabalho para tirar NIE.."},{"time":1780590736876,"fp":"Quando não esta em Espanha, sim"},{"time":1780590827392,"fp":"СОЛНЕЧНЫЙ \nГОРОД‼️\n👍Ярослава-люблю расслабится, ‼️\n🫦Хочу, жду, могу и проглачу- развратная  красот"},{"time":1780590861242,"fp":"🌴TRIP TO DUBAI 🌴\n\n✔️TOP 🔝 GIRLS \n-ONE DAY TRIP\n\nOPEN BUDGET\n\n✔️DEPARTURE ANY PART OF THE WORLD\n✔️"},{"time":1780590970767,"fp":"Hola 😊 sabéis de habitaciones o apartamento en Amsterdam centro ? O cerca ? . Gracias 🙏🏼"},{"time":1780590994143,"fp":"**TELEFONISTA COM EXPERIÊNCIA DISPONÍVEL** 🔴🔴\n\n- Atendo telefonemas \n- ⁠Respondo WhatsApp e SMS\n- "},{"time":1780591084428,"fp":"Париж ( и кто рядом)\nЗак Турок, 31 год \nХочет встречу сегодня (4.06) в Париже \nВстреча в отеле на 3 "},{"time":1780591150591,"fp":"Cyprus \nWrite to this number \n+31 613846311\n👆👆👆👆👆\n\nWho is available?!\nMeeting on the weekend \n3"},{"time":1780591180477,"fp":"⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️\n           *Aulas de inglês*\n🇬🇧🇬🇧🇬🇧🇬🇧🇬🇧🇬🇧🇬🇧🇬🇧🇬🇧\n🇺🇸🇺🇸🇺🇸🇺\ud83c"},{"time":1780591193160,"fp":"Zwolle 1"},{"time":1780591241600,"fp":"Olá, *Mamães*\n Passando aqui para avisar que estou disponível em `Anderlecht` para cuidar das crianç"},{"time":1780591274680,"fp":"sé que hay chicas que están en la despedida de solteros de los italianos …. \nporfa q me escriban …  "},{"time":1780591299891,"fp":"Поездка в Марбелью из любого города\n7-8 июня\n4 дня\nОтель\nХороший пост иностранец\nСовместное проживан"},{"time":1780591315135,"fp":"ESTAS SON LAS HABITACIONES INDEPENDIENTES PARA LA PROXIMA SEMANA LUNES :\n08/07\n\n\nESCOCIA \n\n\nCANNING "},{"time":1780591401261,"fp":"🙄🙄🙄🙄"},{"time":1780591477358,"fp":"Hab en Marbella"},{"time":1780591560140,"fp":"Canes tonight \n3.5 -30% upto 5k \nOnly models in canne or near by, model type only \nAmazing attitude "},{"time":1780591739429,"fp":"ІРПІНЬ  🔥 ІНДІ❤️\n💋\nСОКОВИТІ ФОРМИ 🍒\n\n📍   Є МІСЦЕ  \n\n📍  ВИЙДУ в АВТО  📍"},{"time":1780591775150,"fp":"🇺🇦 Київ 🇺🇦\n\nПриємний price 💋\nТільки реальні зустрічі! \n\n✨Годинка \n✨Пів годинки \n✨Експрес \n\nВ по"},{"time":1780591819312,"fp":"🦋"},{"time":1780591956927,"fp":"Нежная внешность Транссексуалки будет для тебя как глоток свежего воздуха. Мало запретов. Приветству"},{"time":1780591963993,"fp":"Está informação é pra trabalhar em Espanha"},{"time":1780591987995,"fp":"Galera vou saí do grupo por que minha viagem e pra hoje às 19:00"},{"time":1780592009891,"fp":"Possivelmente"},{"time":1780592016142,"fp":"📍 Cyprus, Limassol\n\n⚠️ Актуально всегда\n\n$1000 чистыми 2-3 часа\n\nДля действительно TOP-уровня готов"},{"time":1780592030853,"fp":"Vamos falar no pv sobre o propósito do nosso grupo"},{"time":1780592093620,"fp":"♥️♥️♥️ Miami-8pm\nBudget depends on the model for 1-2h meeting \nGood regular client \nWho’s Available?"},{"time":1780592120704,"fp":"Приветствую. Я транс. Сейчас в поиске интересного опыта с кем-то пылким. Новичкам тоже рада. 🎈"},{"time":1780592181607,"fp":"*PARIS* 🇫🇷\nTonight 20:30 h \n800 clean💰1 hour (15 min extra) \nWho is available? Top girls ‼️"},{"time":1780592213474,"fp":"PARIS 🇫🇷\n\nToday \n\n3-hour or overnight meeting\n\nType: blonde, natural, slim, long-legged, blue-eyed"},{"time":1780592249939,"fp":"Tive problema com eles também ! Marquei de ir , mandei 100€ de calção , em seguida me enviaram o end"},{"time":1780592310054,"fp":"IMAGENES  hoy \n- Blue Marlin \n- desde 20:00 hasta 20:00  ( 3horas ) \n- transporte incluido \n- 100€ \n"},{"time":1780592327702,"fp":"Não tem coragem de responder, não devolve o dinheiro, vamos expor mesmo"},{"time":1780592389928,"fp":"Киев🇺🇦\n\nБольшие бюджеты, без силикона✅ строго \n\nПару часов встречи \nОтель \n1:1\nНе местный гость \nК"},{"time":1780592487747,"fp":"Tomem cuidado meninas, não tá fácil confiar nas pessoas ultimamente"},{"time":1780592504520,"fp":"🏡 Habitaciones en alquiler en Ciudad Real – Comodidad, discreción y excelente ubicación\n\nSe alquila"},{"time":1780592679033,"fp":"✨ *CRIAÇÃO DE ANÚNCIOS* ✨\n\nOlá 👋\nSou *Rayane*, especialista em *criação e gerenciamento de perfis e"},{"time":1780592694576,"fp":"♥️♥️♥️ NY-2-2:30pm\nBudget depends on the model for 30 INCALL\nGood regular client \nWho’s Available?\n\n"},{"time":1780592774163,"fp":"Passada, uma safada"},{"time":1780592791325,"fp":"🇲🇨Monaco 🇲🇨\nTonight model type only \nPreferly new faces private meeting \nYoung client not local "},{"time":1780592821050,"fp":"Sim mana."},{"time":1780592831314,"fp":"Van Iseghemlaan 107 Ostend\n\nEsse é o endereço de lá"},{"time":1780592857963,"fp":"Desde cedo que mando mensagem, e eles não me respondem também pra confirmar"},{"time":1780592868602,"fp":"E nem vai responder"},{"time":1780592881058,"fp":"São todos um bando de safado"},{"time":1780592893456,"fp":"E não é de se duvidar que estão agindo juntos."},{"time":1780592907642,"fp":"👀👀👀👀 y qué tal??"},{"time":1780592914018,"fp":"Pra mim foi muito desagradável até porque já tinha 5 semanas la,sempre pagando certo,mesmo ela tendo"},{"time":1780592941469,"fp":"@140772619866294  @43452939124736 \nSão dois dos números utilizados para os agendamentos de praça"},{"time":1780592951282,"fp":"Falta de consideração enorme"},{"time":1780593008750,"fp":"Então meninas tomem cuidado, porque se aconteceu com a gente também pode acontecer com outras"},{"time":1780593024224,"fp":"Madrid ‍\nOn Friday - Monday \nMeeting for 1-2h\nFlexible budget \nPics info video in bikini‍"},{"time":1780593045413,"fp":"Se aconteceu com a terceira, eles vão pegar o gostinho de fazer isso com todas"},{"time":1780593210253,"fp":"Divulga nos outros grupo da Bélgica tbm, quanto mais gente souber dessa safada melhor."},{"time":1780593296677,"fp":"Nós estamos fazendo isso"},{"time":1780593309642,"fp":"E ele tá nesse grupo, os números dele aqui"},{"time":1780593376335,"fp":"Oi meninas, alguém está na Itália independente?"},{"time":1780593428200,"fp":"*IBIZA*🇪🇸\nИбица\n\nTomorrow\nFor *2-3h*\n\nMeeting with *couple*\nNice regulars, married, not locals\n\nLo"},{"time":1780593451675,"fp":"Trip to Turkey 🇹🇷\n3-7 days\nStart end of next week. Exact days TBC\n\n💰 2000$ clean per day\n\nLooking"},{"time":1780593504405,"fp":"Привет. Я транследи. Сейчас ищу нового опыта с кем-то знающим. Новеньким тоже рада. 🪄"},{"time":1780593576285,"fp":"Hola nenas pueden pasarme algún número de habitación semanal en Barcelona"},{"time":1780593625871,"fp":"*📊 TABELA DE PREÇOS || promo até às 18h*\n\n⚠️Serviço de *melhor qualidade* para serviços do Instagra"},{"time":1780593661515,"fp":"💕**Киев** 💕р.**Гулливера** 💕\n\n**ВСТРЕЧУСЬ с АДЕКВАТНЫМ и ТРЕЗВЫМ**❣️\n\n**УХОЖЕННАЯ** **БЛОНДИНКА**"},{"time":1780593733311,"fp":"Amsterdam Амстердам who is here today \nNeed top level, budget under girl \nCustomer not local\nCoopera"},{"time":1780593748073,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/H4d6U3kcr3qFIc5zUMpVYd"},{"time":1780593762690,"fp":"Boa Viagem 🙏"},{"time":1780593926911,"fp":"Москва октябрьское поле 💋\n\n1 час (продлевает чаще всего !!)❤️‍🔥\n\n10.000☀️\n\nКлассика мбр 🌷\n\nТакси "},{"time":1780593949671,"fp":"Paris 🇫🇷 \n\n2 different job \nSaturday \nCustomer late 30s French \n2-3h ❄️ 1k clean can raise for top"},{"time":1780594085385,"fp":"GRAN CANARIA🇮🇨\n👯‍♀️PLAZAS DISPONIBLES \n📍Estamos ubicados en la zona sur de gran canaria donde es"},{"time":1780594189150,"fp":"🗓 Тур от 14 дней\n\n\nПриглашаем девушек\n        на работу в Ереван 🧳\n\n  \n\n⭐️️ Наши условия:\n\n Работа"},{"time":1780594204934,"fp":"Москва📍\n\nТАК ЖЕ РАССМОТРЮ С ВЫЛЕТОМ  ✈️ \n\nТОЛЬКО ТОП 💎 \nЗавтра и ближайшие дни — актуально.\nСмотрю"},{"time":1780594309315,"fp":"‼️ NEW YORK 🇺🇸\n\n✅TODAY EVENING  \n\n💰1000-1500$ clean ‼️\n\n🟩REVIEWS🟩"},{"time":1780594353100,"fp":"*NYC* 🇺🇸\nLooking for skinny girl no silicone maximum 23yo \nIncall at 2:30pm on East Side \n$900 cle"},{"time":1780594368464,"fp":"Está diciendo que NO ES SEGURA"},{"time":1780594388279,"fp":"Okey gracias"},{"time":1780594451429,"fp":"🏘️ *Kamila’s Rental* 💕\n✨ *FLATS PARA INDEPENDENTES* 💃🏽\n*Mulheres Cis e Trans*\n\n📆✨ *AGENDA/JUNHO"},{"time":1780594466343,"fp":"PARIS \n\nAt 9pm\n2h hotel meeting, \nLooking for top styled model \n€4000 Budget"},{"time":1780594496277,"fp":"Dá pá eu esse tabaco"},{"time":1780594654338,"fp":"*MIAMI* 🇺🇸\nOutcall Friday at 9pm\n$1500 clean for 2h \nWho’s available? \nSend pic video and infos"},{"time":1780594696277,"fp":"💰🏠 PLAZA • PRAÇA 🏠💰\n\nCROACIA 🇭🇷 ISRAEL 🇮🇱 GERMANY 🇩🇪\nUK 🇬🇧 \n\nAGENCY •50/50 • BUSY"},{"time":1780594742378,"fp":"__**Я -ЭТО ЛУЧШЕЕ,ЧТО МОГЛО ТЕБЕ ВСТРЕТИТСЯ В ЭТОМ УБОГОМ МИРЕ**\n\nГОСПОЖА👑\nП.с.-без дани в баню\n\n__"},{"time":1780594790996,"fp":"Юная, умелая) приеду в гости"},{"time":1780594809420,"fp":"Madrid ‍\nOn Friday - Monday \nMeeting for 1-2h\nFlexible budget \nPics info video in bikini​"},{"time":1780594854349,"fp":"2 girls Avaible now in dubai ?"},{"time":1780595102095,"fp":"Plaza disponible en pisa (Italia)\nVa al 50 no pagas casa ni publi \nTarifas 15 minutos 70 \nMedia hora"},{"time":1780595136292,"fp":"Baby, this scammer again here 😱"},{"time":1780595164097,"fp":"🚨 ¡ENTRADA INMEDIATA! 🚨\n👯‍♀️ Solo 2 plazas disponibles\n\n🇮🇨 GRAN CANARIA (Zona Sur)\n\n☀️ Trabaja "},{"time":1780595201563,"fp":"💎🇬🇧Criação de anúncios 🇬🇧💎\n\nSERVIÇOS:\n📱Criação de qualquer anúncio 📱Comentários (Feedback) e"},{"time":1780595224046,"fp":"Algun grupo de españa donde pueda publicar  ventas y productos ?"},{"time":1780595276362,"fp":"Хто кине на каву, щедро віддячу💋💦🇺🇦"},{"time":1780595297170,"fp":"Austin Texas \n9pm outcall \nAustin proper hotel \n1k clean + uber \nVIP CLIENT from NYC\nNo fake pics !!"},{"time":1780595319969,"fp":"🚨 *GROUP RULES* 🚨\n**READ CAREFULLY TO AVOID REMOVAL!**\n\n🚫 No scams 🚫 No spam — maximum 1 post pe"},{"time":1780595334847,"fp":"Приветик. Я транс. Сейчас ищу интересного опыта с кем-то знающим. Новеньким тоже рада. 🩶"},{"time":1780595487381,"fp":"Motorista de pesados C+E cm experiência de 5 anos frio e lona\nCm tda documentação procura trabalho p"},{"time":1780595555896,"fp":"Ola alguem com numbuster ativo? Nao to conseguindo nem pagar pf"},{"time":1780595592604,"fp":"Alguma empresa portuguesa a reclutar pra Luxemburgo pessoal? Tenho o número nacional"},{"time":1780595621727,"fp":"💎💎💎💎💎💎💎💎💎💎\n\nFollow us on instagram:\n\nwww.instagram.com/akeliteclub\n\n💎💎💎💎💎💎💎💎💎💎"},{"time":1780595629270,"fp":"Já tem cidadania europeia?"},{"time":1780595649797,"fp":"Quem tiver cidadania de qualquer país da União Europeia e relativamente fácil"},{"time":1780595664048,"fp":"Dubai 🇦🇪🇦🇪\nTomorrow \n11am-2 pm day time \nIncall\nType Asian and curvy \nAny girls have this criter"},{"time":1780595799218,"fp":"I'm looking for girls in Puerto Rico, or an agency or group.\n\nEstoy buscando chicas en Puerto Rico, "},{"time":1780595869079,"fp":"Comprei hoje tb, mas eu usei e n gostei 🤡"},{"time":1780595883468,"fp":"💮Check out our website💮\n\n\nwww.akeliteclub.com \n\n\n\n💮💮💮💮💮💮💮💮💮💮"},{"time":1780595887304,"fp":"Eu uso ela, gosto. Achei bem resistente"},{"time":1780595901662,"fp":"Vou até abrir uma agora kkk"},{"time":1780595906473,"fp":"Se for pauzudo tem que ser às maiores hehe"},{"time":1780595927433,"fp":"Mas eu compro umas grandes no mercado e deixo na gaveta pra quando precisar"},{"time":1780595937102,"fp":"Монако встреча 22.00 на 3 часа ресторан потом возможно отель (может просто ресторан но быть готовой "},{"time":1780595952508,"fp":"💎🔹*GOOD PARTIES AND AFTERS IN LONDON & MILAN* 🔹💎\n\n•  CONTACT +44 7877 768537 FOR MORE INFORMATIO"},{"time":1780595963359,"fp":"É difícil eu achar esses, Glória Deus 🤣"},{"time":1780595978009,"fp":"Amém"},{"time":1780595996738,"fp":"Vou mandar para aí amg kkkk"},{"time":1780596015863,"fp":"Saaai 🫣🥹🤣"},{"time":1780596041752,"fp":"Meninas quais os melhores sites para anunciar na Itália?"},{"time":1780596132361,"fp":"🎀ibiza extras\nHoy cena en roto \n130e 22:30 a 1:30\nPosibilidad extra"},{"time":1780596143531,"fp":"Alguém precisando de vaga pro final de semana?"},{"time":1780596152294,"fp":"Vou procurar uma empresa"},{"time":1780596176124,"fp":"Madrid ​\nOn Friday - Monday \nMeeting for 1-2h\nFlexible budget \nPics info video in bikini‌"},{"time":1780596234525,"fp":"Alguém tem contato de joenville"},{"time":1780596266073,"fp":"Миконос сегодня в 21.00\n1500€ чист на 2-3 часа\nПост, отель\n\nMykonos today at 9 pm\n1500€ clean for 2-"},{"time":1780596291388,"fp":"Milano \nRosa rossa \nEscort Adivision \nEscort forum"},{"time":1780596313087,"fp":"Fora de Milano \nMoscarosa \nEscort Adivision \nBakeca \nEscort forum"},{"time":1780596364507,"fp":"Alguém tem o link pra me passar por favor"},{"time":1780596417460,"fp":"Achei obrigada"},{"time":1780596445561,"fp":"O euro girls é bom?"},{"time":1780596481117,"fp":"Não se usa na Itália"},{"time":1780596487640,"fp":"Приветик, сладкий 😏\nЯ реальная вирт-модель… и, кажется, ты уже заинтересовался 👄\n\n🔥 Горячие видео"},{"time":1780596533075,"fp":"Obrigada"},{"time":1780596549723,"fp":"eu atendi 2 clientes pelo eurogirls"},{"time":1780596572911,"fp":"um pagou 360€ por 1 hora e meia"},{"time":1780596592230,"fp":"Alguem tem contato euro girl"},{"time":1780596606552,"fp":"Amiga o euro vc faz sozinha"},{"time":1780596622550,"fp":"eurogirlsescort.com"},{"time":1780596632708,"fp":"Tem um agente do euro girl que vem na casa"},{"time":1780596642756,"fp":"Ele demora de 24-48 horas para aprovar"},{"time":1780596725254,"fp":"Приветствую. Я транследи. Пока в поиске интересного опыта с кем-то умелым. Новеньким тоже рада. 💜"},{"time":1780596754940,"fp":"Ибица ☀️ \nКто на месте ?\nАктуально на сегодня \nС 1:00 до утра \nВилла \nНужны 2 девушки для 2 парней  "},{"time":1780596874375,"fp":"Cyprus \nWho is there ?\nTop\nBudget depends on girl"},{"time":1780596912897,"fp":"Киев, рыжая бестия в поиске жаркой ночи 🤪 ооочень большие бедра. \nЛюбители костей — проходим мимо🍬"},{"time":1780596926935,"fp":"Поездка из Москвы \n💫Иордания (Амман)💫\nВиза не нужна \nВылет 12 июня до 16 \nБилеты оплачивает в обе "},{"time":1780597052062,"fp":"cade as garotas que fazem real ?"},{"time":1780597090609,"fp":"Вена🇦🇹  На неделе\n2 часа — $1k (-30%)\nИщу молодую, стройную, без тату\nОтправляй: • фото и видео • "},{"time":1780597160038,"fp":"Питер \n \nКировский Район - Стачек / Ленинский / Московский \n \nТа самая молодая студентка из твоих фа"},{"time":1780597291649,"fp":"Нежная внешность Транси станет для тебя как глоток свежего воздуха. Мало запретов. Приветствую все т"},{"time":1780597356572,"fp":"*Who’s available Rio de Janeiro valid next couple days 🇧🇷*\n\nBlonde & busty model ideally \nClient i"},{"time":1780597405608,"fp":"🌟 Dubai 🇦🇪🇦🇪🇦🇪🇦🇪\n\n💄Top young models WITH BIG ass \n \n \nAny Budget \n Contact : 🏴󠁧󠁢󠁥󠁮󠁧\udb40"},{"time":1780597429588,"fp":"Sim o meu tá ativo"},{"time":1780597471958,"fp":"🚨 PUXO DADOS 🚨\n\n✅️ NÚMERO DE CELULAR \n✅️ CPF\n✅️CNPJ\n✅️PLACA DE VEÍCULOS \n✅️NOME COMPLETO"},{"time":1780597478060,"fp":"🇺🇸 *SAN DIEGO* 🇺🇸\nSunday, June 7 for 1hrs\n*$1000/clean*\n\nVery nice regular visiting. \nIf you hav"},{"time":1780597536659,"fp":"Ultimo aviso Ou faz verifica Ou sai do Meu Grupo ha avisei vc"},{"time":1780597595281,"fp":"London \n Today \n 4-5 hours \nMeeting in your house \n 1500€ -30%"},{"time":1780597617188,"fp":"🚨🚨🚨 Eu ha avisei milhoes de vezes quel procura alguem no privado sem autorizacao da pessoa sera r"},{"time":1780597699507,"fp":"==================\n\n🇪🇸*MADRID* 🇪🇸\n\n*Hoy jueves* 4 Junio\n*a la 9 / 9:30 / 10pm*\n\nUno de mis mejor"},{"time":1780597785376,"fp":"Hola chicas tengo  cupo disponible para plaza"},{"time":1780597844678,"fp":"🐬 Вызываю зависимость! \n\nТы захочешь меня еще и еще 👅\n\nКиев ( Печерский район) \nИнди 👑\n\n**Выезд в"},{"time":1780597892787,"fp":"Jobs \nPreciso de uma menina de 18 anos urgente \nCachê a combinar de preferência zona leste"},{"time":1780597956446,"fp":"Симпатичная блондинка с пышной красой 💋😍 ищет себе партнёра для эротических встреч... 🔥❤️Я сделаю"},{"time":1780598015226,"fp":"💜💜💜💜💜💜\n**на доросле спілкування****💜****\nПоринемо в таємний світ\n  фантазій разом?****💜****\n"},{"time":1780598052761,"fp":"Малышка ищет страстного мужчину для исполнения  пошлых фантазий. 💥 Люблю экспериментировать и пробо"},{"time":1780598064259,"fp":"Olá pessoal!!!\nQuer aprender a falar\n🇬🇧INGLÊS🇪🇸 ESPANHOL\n🇫🇷FRANCES🇳🇱HOLANDÊS \n🇮🇹ITALIANO \ud83d"},{"time":1780598115839,"fp":"Привлекательная девушка с офигенной фигурой ищет мужчину для эротических встреч, чтобы исполнить тво"},{"time":1780598123466,"fp":"SIM claro tá certa"},{"time":1780598158047,"fp":"Шаловливая красотка с аппетитными формами🌷❤️‍🔥 ищет мужчину для хорошего отдыха.☀️ Исполняю практи"},{"time":1780598249539,"fp":"Oi alguma guria de Londres no grupo afim de tomar um drink ou  sorvete ou os dois"},{"time":1780598333925,"fp":"Поездка в Гонконг  🇭🇰 \nДаты по согласованию, в ближайшие дни\n\n✨Очень нужны модели✨\n\nК посту, местн"},{"time":1780598351236,"fp":"To falando sério eu pago 100 por mês ..porque ganho muito mas que isso"},{"time":1780598399030,"fp":"Algún contacto de marihuana en Bilbao?"},{"time":1780598456713,"fp":"🇱🇻Рига🇱🇻\nСегодня или завтра\nНа 3ч. \nВ 23:00\nНа месте✅\n\n😍Нужна топ девушка \n👨Заказчик супер!\nНе"},{"time":1780598468274,"fp":"Eu sou da roça desculpa 🤣🤣🤣"},{"time":1780598474909,"fp":"Se ofrece plaza para chicas en Vélez Málaga entre 18-35 años con todo equipado para que trabajes cóm"},{"time":1780598517772,"fp":"Miami 🇺🇸 \nTonight \n1h open budget \nRenault young good looking client visiting"},{"time":1780598535122,"fp":"*Ibiza* 🏝️ *LEER TODO*❗️\n\nModelo para imagen con gran posibilidad de extra luego, con cliente ruso "},{"time":1780598546808,"fp":"**Хочешь незабываемый 💦ргазм ?! **🩵\n**Пиши ,п🍩др👄ч💦м вместе**‼️"},{"time":1780598555565,"fp":"Привет. Я транследи. Сейчас ищу нового опыта с кем-то знающим. Новеньким тоже рада. 💅"},{"time":1780598645178,"fp":"Mas isso è amiga se chama gratidão você nem queria ..eu te falei aceita pois você pode ter certeza q"},{"time":1780598678926,"fp":"Eu acho que a vida è feita de reciprocidade"},{"time":1780598698881,"fp":"Uma mão lava a outra 😍❤️"},{"time":1780598703285,"fp":"🎀 ibiza imagenes \nSabado 19 junio \nUshuaïa \n130e más taxi\n17:00 a 23:00\nMandarme collage ❤️"},{"time":1780598744128,"fp":"✨FAÇO REVIEWS POSITIVOS PARA SEU PERFIL NO FATAL ✨\n\nRecebeu um review negativo e isso está prejudica"},{"time":1780598764107,"fp":"Você sabe que muito antes de ter um grupo"},{"time":1780598786541,"fp":"Quantas vezes me indicou para as meninas"},{"time":1780598793764,"fp":"Gratidão e formação de caráter"},{"time":1780598809316,"fp":"Se a pessoa for mal caráter ela vai dizer \nAjudou pq queria \nNão te pedi porra nenhuma"},{"time":1780598831072,"fp":"O que mas tem hoje em dia"},{"time":1780598850602,"fp":"Vem pra cá vai trabalhar e vai me pagando"},{"time":1780598860076,"fp":"Eu também tenho a mesma dúvida, tenho título de residência português e falo inglês e espanhol, estou"},{"time":1780598873752,"fp":"Tem que da pele a por meses sem ver um euro"},{"time":1780598891383,"fp":"Meninas, como é a imigração em ROMA?"},{"time":1780598905875,"fp":"N cobrei nada \nApenas os gastos \n900 euros \nEla foi lá e me denunciou pra tentar pegar documento"},{"time":1780598951614,"fp":"Hola chicas,\n\n 1 habitacion libre:\nEste lunes\n\n📍SINT NIKLAAS\nPara chicas discretas y respetuosas. \n"},{"time":1780598964527,"fp":"Paris 🇫🇷🇫🇷\n2 girls \nWho is there?\n1000€ for each🎁 clean \n2h/3h\n\nSlim"},{"time":1780599012367,"fp":"[Off] Alguem que tenha feito lipo na Turquia? \nSe tiver me chama no privado, estou procurando recome"},{"time":1780599104700,"fp":"*PARIS* 🇫🇷\nTonight\n800 clean💰2 hour \nWho is available? Top girls ‼️"},{"time":1780599182270,"fp":"Кто на вечеринку?🤨"},{"time":1780599266212,"fp":"Пленительная внешность Транси станет для тебя как глоток свежего воздуха. Мало запретов. Приветствую"},{"time":1780599397554,"fp":"Vc ainda ajuda neh nossa me deu várias dicas"},{"time":1780599417852,"fp":"Eu uso essa mto boa\nCompra a tuti fruti pq a normal fede mto mesmo hahaha"},{"time":1780599447181,"fp":"Any girls in Paris?"},{"time":1780599467287,"fp":"Na próxima vou comprar\nObrigada ☺️ ♥️"},{"time":1780599545019,"fp":"Para fazer publicidade deve fazer verifica 😵‍💫😵‍💫😵‍💫😵‍💫"},{"time":1780599604641,"fp":"**СЕГОДНЯ **😈\n\nМодельный стол ❤️ Будут классные гости (мужчины)\n\n В караоке - клуб 🎤, в центре Мос"},{"time":1780599701185,"fp":"Eu quero ir também"},{"time":1780599715484,"fp":"Pois quer fazer tudo"},{"time":1780599727610,"fp":"🧿🌸*HOSTEL DA KAMILA* 🌸🧿\n📍 *RONDONÓPOLIS - MT*\n\n🟣 Diária Quarto: R$ 150\n🟣 Diaria Suíte: R$ 170"},{"time":1780599863308,"fp":"Москва завтра встреча  на 1-2 часика!!\nсама работа быстро 20 мин +-\" русский хороший бизнесмен!\nесли"},{"time":1780599897000,"fp":"PARIS TONIGHT OR TOMORROW 🇫🇷🇫🇷🇫🇷\nOnly natural not siliconé \nWho is available \nNew faces please"},{"time":1780599946183,"fp":"Приветствую. Я трансдевчонка. Сейчас ищу нового опыта с кем-то умелым. Новеньким тоже рада. 🎼"},{"time":1780599959353,"fp":"*PRAÇA DISPONÍVEL 50/50* 🇬🇧\n\n✅TELEFONISTAS RESPONSÁVEIS \n✅CASA BUSY \n✅AGENDA DE CLIENTES REGULARES"},{"time":1780599976319,"fp":"Брюссель🇧🇪 \nСегодня   \nНа пару часов нужны 2 девочки \nОтель \nпостоянные клиенты - 37 лет\nБюджет по"},{"time":1780600039994,"fp":"*PROCURO MENINAS FICHA ROSA  INDEPENDENTE* 🩷 \n\nMeu nome é Roberta, trabalho como telefonista e eu e"},{"time":1780600209901,"fp":"PLAZA DISPONIBLE SUBE Y BAJA 60% CHICAS 40% CASA \n\nHUELVA CAPITAL!! \n•MUY BUEN FLUJO DE TRABAJO \n•LA"},{"time":1780600272147,"fp":"Esta noche \nHora 2:30 am\nImagen + extra \n300€ \nChicos jóvenes y guapos\nTomar algo en la villa y extr"},{"time":1780600292948,"fp":"Eu quero muito"},{"time":1780600305374,"fp":"Quero colocar silicone, compensa fazer la e bom sera ? 🫠"},{"time":1780600409444,"fp":"Имидж-Поездка в Лимассол ☀️\nОриентировочно с 6 июня по 11 июня\nНужно 4 VIP- девочек 💃\nПожелания! ВА"},{"time":1780600479510,"fp":"Eles no silicone è Otimo se Eu Nao me engano. Silicone la costa 2.500 a 3.000 mil euro"},{"time":1780600518641,"fp":"Menina barato \nPassada"},{"time":1780600523778,"fp":"🤣🤣🤣"},{"time":1780600542359,"fp":"Ibiza\nEsta noche \nHora 2:30 am\nImagen + extra \n300€ \nChicos jóvenes y guapos\nTomar algo en la villa "},{"time":1780600555966,"fp":"Ha incluso hotel 5 estrela por 1 Semana e Cafe da manha"},{"time":1780600630551,"fp":"Passa o contato do acompanhante tb que voce falou que faz acompanhamento"},{"time":1780600644834,"fp":"fico imaginando voltar de avião depois de uma cirurgia"},{"time":1780600665836,"fp":"Киев милфа 37 лет\nМесто -выезд 🥵\nХорошие цены"},{"time":1780600678996,"fp":"sim 😰"},{"time":1780600688108,"fp":"Preciso 2 meninas segunda atarde\n\nSem mega / procedimento exagerado \n\n3.000 \nItaim /.  20:00"},{"time":1780600710607,"fp":"*APTO HOLY GIRLS*  \n*ENTRADA inmediata DISPONIBLE*\n*🇨🇭Suiza ~ Zúrich 🇨🇭* 💶💶💶\n*SOLO PASAPORTE "},{"time":1780600737011,"fp":"Pode logico"},{"time":1780600743146,"fp":"Quando fui fazer os meus dentes lá, foi 400€ ida e volta, de lisboa a turquia"},{"time":1780600753630,"fp":"Cada um pode levar acompanhante"},{"time":1780600762273,"fp":"Eu queria ir com vc 😞😞"},{"time":1780600784310,"fp":"e babado né a gente nunca sabe 🫩 qnd for a nossa hora Deus vai levar n tem oq fazer kkkk até atrave"},{"time":1780600794386,"fp":"Bonaccerà algum grupo da França e Espanha"},{"time":1780600801037,"fp":"Te verificaste ?"},{"time":1780600808363,"fp":"New Jersey \nWho available today ?\nRegular costumer"},{"time":1780600815321,"fp":"se for nosso dia até se a gente tropeçar a gente pode morrer"},{"time":1780600818450,"fp":"Te verificaste?"},{"time":1780600830411,"fp":"Como me verificó ?"},{"time":1780600864295,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/Gw8W49n6xLM2m3O44Tc8ji"},{"time":1780600870623,"fp":"Mykonos\nWrite to this number\n+31 613846311\n👆👆👆👆👆\n\nWho is available?!\nMeeting tomorrow \n2-3 hour"},{"time":1780600882641,"fp":"Grazie 🙏"},{"time":1780600897343,"fp":"Vou procura da espanha"},{"time":1780600911300,"fp":"Tem indicação de quem faz sculptra ou radiesse em Milão?"},{"time":1780600951531,"fp":"eu lembro desse caso"},{"time":1780600965215,"fp":"La informaciones que se proporcionan y emos dado avisos constantes serán eliminados y bloqueados de "},{"time":1780600977948,"fp":"Para las verificaciones necesitamos si eres telefonista \nFotos y pruebas de que lo eres \nSi eres arr"},{"time":1780601087726,"fp":"Братислава , Словакия \nМожно выезд с ближайших мест \nИли кто на месте ?\nАктуально до конца недели (3"},{"time":1780601128337,"fp":"Nao entendi amiga me explica Melhor assim Eu vejo se tenho contato"},{"time":1780601175427,"fp":"🇺🇸 *Quer aprender inglês do zero? Estou formando novas turmas para iniciantes.*\n\nAs aulas são onli"},{"time":1780601189759,"fp":"Ok ok Eu Nao tenho amiga"},{"time":1780601205328,"fp":"Se Alguem tiver passa para mim tb"},{"time":1780601222680,"fp":"Radiesse é maravilhoso"},{"time":1780601240498,"fp":"Нежная внешность Транс будет для тебя как глоток свежего воздуха. Минимум табу. Приветствую все твои"},{"time":1780601263147,"fp":"Quem quiser contato de dentista Brasileiro em Milano vou passar"},{"time":1780601267680,"fp":"eu to mesmo"},{"time":1780601275063,"fp":"Ele è Otimo"},{"time":1780601282072,"fp":"Киев \n\nБрюнетка, в поиске встречи на несколько часов или ночь. \n\nТроещина \n\nКрасивая ❤️🔥"},{"time":1780601343085,"fp":"Mas isso è para quem tem mancha na Pelé ou marca Nao è ?"},{"time":1780601365634,"fp":"🚨🚨*50/50* 🚨🚨\n\nUK 🇬🇧 • GERMANY 🇩🇪  ISRAEL 🇮🇱 • CROATIA 🇭🇷 \n\n🚨*AGENCY 50/50*🚨"},{"time":1780601387741,"fp":"Aqui em Londres não pode fumar no meio da rua não"},{"time":1780601392424,"fp":"Sem verifica Nao pode fazer publicidade"},{"time":1780601413069,"fp":"🇸🇰 Bratislava\n📅 Today\n🌙 Night\n🏨 Hotel 1:1 \n🇺🇦 Ukrainian, PC\n🔝 Looking for top\n💎 Your  budge"},{"time":1780601497560,"fp":"No meu caso para tirar marcaçao da testa quando do risada aparece kkkk"},{"time":1780601514503,"fp":"Макарска Хорватия 🇭🇷\nАктуально завтра/послезавтра \nКто на месте или рядом \nВстреча на пару часиков"},{"time":1780601551619,"fp":"Botox"},{"time":1780601560921,"fp":"Alguém tem ap de confiança em Roma ?"},{"time":1780601571835,"fp":"Que possa indicar ? 🥹🙏🏼\nTroco info"},{"time":1780601581819,"fp":"Eu te passo amor"},{"time":1780601596009,"fp":"Макарска 🇭🇷 \nКто на месте или рядом \nВстреча на пару часиков завтра/послезавтра \nНужна строго до 2"},{"time":1780601608976,"fp":"Okeyy cami obg 💖💖"},{"time":1780601665812,"fp":"Минет в резинке\nОчень сочно, очень громко, очень мокро до дрожи в твоих коленках\nМинет без резинки\nП"},{"time":1780601711255,"fp":"Olá buenas tardes me gustaría saber se hay alguien que alquila habitaciones en Marbelha o en puerto "},{"time":1780601774961,"fp":"Привет. Я транследи. Сейчас ищу интересного опыта с кем-то пылким. Новичкам тоже рада. 🌠"},{"time":1780601801049,"fp":"Привіт котику🐱\nХочеш гарно провести час?❤️\nХочеш побачити кращі форми які тобі й не снилися🤤\nПо на"},{"time":1780601873495,"fp":"CZECH 🇨🇿 \nPRAGUE \nTONIGHT 4-5h job \n2000€ - 30% \nRegular guy handsome and young \nInfo video pic"},{"time":1780602041734,"fp":"🌴🌴🌴\nMiami Beach\nAvailable \n1 bedroom apt \nRent apt per week or month u can work here elevator, wa"},{"time":1780602178855,"fp":"Trip MARBELLA 🇪🇸💰\n Budget: 3000 - % 💰 \n\n\n❓Who is available? DM Photos, Profile, Name, Age, Heigh"},{"time":1780602193673,"fp":"Дубай\nЗавтра\n\nНужна одна топ, натуральная, молодая до 25 лет;\nК одному посту;\n\nКлассика, мбр;\n1-2 ча"},{"time":1780602218565,"fp":"🇫🇷Le Havre 📍\ndisponible \npara \no \ndia \n02/06"},{"time":1780602303685,"fp":"Dubai\nSeeking two Latina women with large breasts, full butts, and small waists. FFM, no lesbians. 3"},{"time":1780602318883,"fp":"❣️VIP❣️Индивидуалка❣️\n\n🇺🇦Киев🇺🇦\n🇺🇦Печерский район🇺🇦\n\n⏳Час/Два/Ночь⏳\n\n❤️Красивая, худая, ухож"},{"time":1780602370034,"fp":"```Воплотить мечты в реальность ❓✈️```\n\n💰 *ТУР В БОГАТЫЙ 🇦🇪DUBAI🇦🇪* \n\n🌹Легко, а главное быстро"},{"time":1780602414074,"fp":"NICE/NIZZA Saturday morning starting at 11h for 1-2 hours who can offer incall for a super nice clie"},{"time":1780602444380,"fp":"Лиговский пр.\nМужчины, кому хорошо отсосать в авто? \nОтзывы в профиле! \nЕсть ВИРТ и ПРИВАТ КАНАЛ!"},{"time":1780602485721,"fp":"Se buscan chicas jovenes bonitas y delgadas para plazas en Suecia Belgica y Ibiza mi wassapp 0041779"},{"time":1780602573554,"fp":"🇺🇸🇺🇸 *NYC* 🇺🇸🇺🇸\n*INCALL*🏨\n\n*START 8PM-9PM BUT CAN BE FLEXIBLE* 🕰️\n\n*1h* \n*700$-1000$*💰💴\n"},{"time":1780602589197,"fp":"*PARIS* \nToday \n11pm \n1h 30 min\n1000€ 30% com regular American"},{"time":1780602604472,"fp":"hola alguien puede ayudarme con contacto en grecia gracias"},{"time":1780602614502,"fp":"🇺🇸 - miami tonight 9pm\n📍 - 1 hotel south beach     \n👸🏻 - top girls only, real models \n💰 - $400"},{"time":1780602681489,"fp":"М.Ветеранов\nАзиатка 25.167.56.2\nГЛУБОКИЙ МИНЕТИК С ОКОНЧАНИЕМ В РОТИК В ЛЮБОМ РИТМЕ, НА ВСЮ ДЛИНУ, Е"},{"time":1780602820172,"fp":"Onde fica em qual cidade"},{"time":1780602892211,"fp":"📍 Vienna or Bratislava 🇸🇰\n\nRegular customer, Ukrainian\nURGENT\nOvernight booking\n\n✨ Luxury, light,"},{"time":1780602924941,"fp":"💙💙*🇬🇷 Temporada de Verão 🇬🇷💙💙*\n   \n   *🟣🤍SUPER MODELOS🤍🟣*\n     _🍥TOUR EM ATENAS🍥_ \n\n*\ud83e"},{"time":1780602953692,"fp":"#875 🇷🇴Bucharest (Romania)🇷🇴\n\nMeeting: 2-4 hours 20th of June!!\nBudget: From $1,000 (clean) depe"},{"time":1780603144374,"fp":"*SOUTH OF FRANCE* \nHave few different jobs. Actual all week. Regular clients. \n1. Saint tropez 1-2h "},{"time":1780603165179,"fp":"Привет. Я трансдевчонка. Сейчас в поиске интересного опыта с кем-то знающим. Новеньким тоже рада. 🎀"},{"time":1780603173451,"fp":"Les dejo sus diferentes numeros. \nSolo en sus grupos es que ella hace las denuncias y en el momento "},{"time":1780603181149,"fp":"NYC 🇺🇸 Tonight\nIncall: 1.3 clean\n2 hours, with possibility of extending to 3 hours for 2k\nSkinny t"},{"time":1780603215175,"fp":"Удивительная внешность Транссексуалки будет для тебя как глоток свежего воздуха. Минимум запретов. П"},{"time":1780603242907,"fp":"YO SI TENGO PRUEBAS y como demostrar que es ella y que son sus numeros. A quien interese le envio TO"},{"time":1780603291714,"fp":"Ищу нормального парня для секса без обязательств. Мне 21, 167/59. Под словом нормальный, я имела в в"},{"time":1780603325037,"fp":"Gracias ❤️"},{"time":1780603447807,"fp":"*ZURICH* \nEasy job mostly drinks and fun short extra. \n3/4h drinks and extra 1000chf 30% com \nif ext"},{"time":1780603523563,"fp":"*UNA IMAGEN*\n\n🕢sábado 22:30 a 0:30 h \n📍Ramsés \ncliente top 250€ Posibilidad de 200€ + por salir de"},{"time":1780603642749,"fp":"🤩**ВІДЕО ТА ФОТО ****😊****\n\n****🤩****ВІП КАНАЛ І ФЕТИШІ ****😊****\n\n****🤩****СПІЛКУВАННЯ НА БУДЬ"},{"time":1780603736025,"fp":"Tenho a 20 anos"},{"time":1780603837743,"fp":"Contact us for your fast online registered documents or apply directly from our website on my profil"},{"time":1780603956620,"fp":"🇺🇸 - Vegas right now or in next hour\n📍- encore hotel    \n💰 - $1000 clean 1 hour job \nwho’s avail"},{"time":1780603994724,"fp":"*ШАНХАЙ*🧡\nВыезд на 1ч или 2часа \nИностранец \nПост\nБюджет пишите \nВ ближайшее время \nОтель"},{"time":1780604053035,"fp":"Los Angeles  \nJune 18\n3-4 hours    \nNeed 3 girls for 3 friends\nGood regular customers \nBudget from 1"},{"time":1780604079110,"fp":"Дубай\n\nРЕМАРКА \nЗавтра\n\n\nНужна одна топ, натуральная, молодая до 25 лет,СВОЯгрудь 3+ \nК одному посту"},{"time":1780604088699,"fp":"Париж!\nЗавтра вечером\nДоговоримся во сколько после выбора 👌🏻\nНужна раскрепощенная Би или кто может"},{"time":1780604221983,"fp":"**ОНЛАЙН ✅ Встреч нет__\n\n     🦋     ДОМИНИРУЙ.   🦋\n\n      🦋     ВЛАСТВУЙ.         🦋 \n\n      🦋  "},{"time":1780604227231,"fp":"Me falta 1 se paga taxi"},{"time":1780604247286,"fp":"❤️ Хочешь подр🩵чить 💦 с сочной милфой ? Пиши🫶"},{"time":1780604314025,"fp":"♥️♥️♥️ NY- 8:30-9pm\nBudget depends on the model for 2-3h meeting \nJoin 3some\nGood regular client \nWh"},{"time":1780604345743,"fp":"Habitación para alquilar en Marbelha ?"},{"time":1780604470045,"fp":"Urgenteeee ‼️‼️ meninas surgiu uma vaga a menina menina que trabalhe com COLOCADO por favor, a casa "},{"time":1780604923954,"fp":"Galera boa noite tudo bem ? Quem tiver o contato de alguem que faca dedetização me envia por favor !"},{"time":1780604954592,"fp":"*Automatic reply*\n*SEJA UM REVENDEDOR DE IPTV E TENHA LUCROS SEM SAIR DE CASA*\n\n✅ LICROS ATÉ 300%\n✅ "},{"time":1780604995258,"fp":"Приветик. Я транс. Пока в поиске нового опыта с кем-то умелым. Новеньким тоже рада. 🤲"},{"time":1780605188790,"fp":"Удивительная внешность Транссексуалки станет для тебя как глоток свежего воздуха. Минимум запретов. "},{"time":1780605238817,"fp":"Alguna habitación para badajos ?"},{"time":1780605277695,"fp":"Now Cannes 🇫🇷🇫🇷🇫🇷\nHotel the beach\nWho is available ?"},{"time":1780605321457,"fp":"Verificate"},{"time":1780605406335,"fp":"**PROCURO MENINAS FICHA ROSA INDEPENDENTES** 🩷\n\nOlá! Meu nome é **Roberta**, sou telefonista e, jun"},{"time":1780605459677,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/CNFm92jT1iHLtKRyx3syZe"},{"time":1780605492779,"fp":"🇷🇺 Питер 🇷🇺 \nНа 27 июня , нужна супер красотка умеющая танцевать стрип ВАЖНО, нужно будет приеха"},{"time":1780605527353,"fp":"Buenas noches, chicas. 🌷 ¿Alguien conoce la ciudad de Sartrouville y podría contarme un poco sobre "},{"time":1780605543269,"fp":"Pessoal, um colega meu Ruan, me falou de uma empresa limpeza nos arrredores de Madrid, só que ele nã"},{"time":1780605581250,"fp":"Quien con publicista con precios accesibles para publicidad!!!"},{"time":1780605646739,"fp":"Olá, estou em Luxemburgo, mas preciso encontrar um lugar para vender cobre. Se alguém tiver essa inf"},{"time":1780605722684,"fp":"Gracias ya m enviaste bella"},{"time":1780605731187,"fp":"Hola buenas noches ,será que pueden agregarme  al grupo por favor  +34600500898 gracias"},{"time":1780605747676,"fp":"Hola chicas alguna villa en España arte sea buena?"},{"time":1780605796086,"fp":"*MUMBAI*\nAnyone there\nBudget $ can be discussed \nToday and tomorrow actual"},{"time":1780605815465,"fp":"LA\nLos Angeles \nRegular \n1k clean 1h\n\nPictures info"},{"time":1780605832410,"fp":"Caralho tenho vontade de chupa um pau e esprementa da meu cozinho mas um desse é de mas"},{"time":1780605840476,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/BAVOOzWO673ArK7DeRpQNo"},{"time":1780605898650,"fp":"Oi"},{"time":1780605913243,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/G1bKMhVfuEPFkzYDmJCqMg"},{"time":1780605927825,"fp":"Que buceta linda"},{"time":1780605945815,"fp":"Adorei"},{"time":1780605980227,"fp":"Y que sucedera con el grupo?"},{"time":1780606023837,"fp":"Dubai \n\nOutcall \nReg cust \n2-3h \nWith ❄️ \n\n1000$-%"},{"time":1780606033699,"fp":"no sé pero ya no puedo tener el nombre que siempre uso para mis grupos,la última vez que un desquisi"},{"time":1780606042092,"fp":"Miami 🇺🇸 \n\nTonight or tomorrow \n1-2h\n1000$ 🎁 \nWho is there?"},{"time":1780606061260,"fp":"y los demás vieron el nombre y descripción que siempre uso en mis grupos de enlaces y pensaron que h"},{"time":1780606078644,"fp":"supongo que tranformare este"},{"time":1780606084730,"fp":"Aaah, entiendo"},{"time":1780606092502,"fp":"no sé cuál nombre poner"},{"time":1780606104616,"fp":"Pera, tu eles el dueño del grupo??"},{"time":1780606128625,"fp":"Ando confundido"},{"time":1780606138196,"fp":"Mandaram no outro grupo"},{"time":1780606152819,"fp":"Anyone in Shanghai 5-7 of June ? \n\n- Looking for natural model, no plastic surgeries on face , fake "},{"time":1780606176361,"fp":".\n\n➡️ALUGUEL DE ANÚNCIOS \n\n✔️Viva street\n✔️QuartierRouge \n✔️Redlights   \n✔️Sexemodel \n✔️ Eurogirls\n✔"},{"time":1780606257523,"fp":"*Istanbul* 🇹🇷\nNext week, open date\nForeign, young client\nLooking for 25 yo maximum, fit body prefe"},{"time":1780606384200,"fp":"Привет. Я транс. Сейчас в поиске нового опыта с кем-то классным. Новичкам тоже рада. 🎵"},{"time":1780606413240,"fp":"Botella de invitación en LULA CLUB (6 chicas) \n\nA la 1:30 máximo \n\n🍾🍾🍾🍾\n\n\nCollage por privado."},{"time":1780606487073,"fp":"*Invitación*\nIBIZA \n\nEsta noche mesa *VIP* \n\n*SWAG IBIZA* 🥂🪩\n📅 jueves 4 de junio\n📍 playa den bos"},{"time":1780606568152,"fp":"Eita valmira você tem uma buceta gostoza"},{"time":1780606620335,"fp":"*🇬🇧 VAGAS DISPONÍVEIS NO REINO UNIDO 🇬🇧*\n\n💎 OPORTUNIDADE PARA INDEPENDENTES 💎\n✅ Região Central"},{"time":1780606728060,"fp":"Tambem Acho estranhos este tipo de roubo🤔,as meninas tem que ter seguridad do que dizem,porque fica"},{"time":1780606926594,"fp":"🇺🇸 *NEW YORK* 🇺🇸\n*3,000 $ - %* 💵\n\nTomorrow and/or Saturday, few hours, regular very kind americ"},{"time":1780606947553,"fp":"Paris 🇫🇷🇫🇷 \nWho is there?\n1000€ for each🎁 clean 2h/3h\nSlim\nBaby face"},{"time":1780607014555,"fp":"*que tal 4200,00 na semana livre de tudo somente atender ?* *inicio imediato*\nMe chama no número da "},{"time":1780607038171,"fp":"Conozco uno muy muy bueno y la vd con él no vas a perder el dinero"},{"time":1780607104111,"fp":"Gracias"},{"time":1780607145247,"fp":"NEW YORK \n\nTonight \n10 pm \n1 hour \nWho can ?\nAny type \nBudget open"},{"time":1780607163175,"fp":"Очаровательная внешность Транси станет для тебя как глоток свежего воздуха. Минимум табу. Приветству"},{"time":1780607172885,"fp":"**__💎 ПРЕМИАЛЬНЫЙ СЕРВИС ПО ОБМЕНУ КРИПТОВАЛЮТ 💎\n🔹 Быстрый и безопасный обмен через проверенные с"},{"time":1780607334318,"fp":"Мне нужны топ модели ‼️\nОчень высокий уровень \nКто работает от 5к и выше \nКлиент молодой, очень клас"},{"time":1780607378801,"fp":"🎱 Santiago 🎱 need model for 2-3 hours 1500 dollars minus com. Any day 🎱🎱🎱"},{"time":1780607455105,"fp":"age?"},{"time":1780607527576,"fp":"Boa tarde tudo bem"},{"time":1780607546084,"fp":"*HOSTEL DE ATENDIMENTO EM RIBEIRÃO PRETO – SP*\n\n*📍 Centro de Ribeirão Preto – Vila Seixas*\n\n*📲 Res"},{"time":1780607557510,"fp":"Estou a procura de uma oportunidade"},{"time":1780607567653,"fp":"San Francisco 🇺🇸\n\nTonight and this week \n1h meeting \n1000$🎁\n\n\n\nWho is available?"},{"time":1780607605351,"fp":"Mykonos ‌\nTonight \nMeeting for 2h\nFlexible budget \nPics info video in bikini​"},{"time":1780607663876,"fp":"Trabalho com esses tipos de veículo"},{"time":1780607671198,"fp":"Olá, meninas me chamo Luana✨\n\n*Sou telefonista com experiência no Brasil e no Exterior.*\n \nO meu com"},{"time":1780607704504,"fp":"@88180426580111"},{"time":1780607740688,"fp":"Hola alguien sabe de habitaciones independientes en Pamplona por favor"},{"time":1780607861558,"fp":"Tem cidadania europeia?"},{"time":1780607883151,"fp":"Москва \n\nВстреча в течении часа \n\n❗️МОДЕЛЬ С МЕСТОМ ❗️\n\nМолодой Зак \n\nНа 1ч — 20 000₽ \n\nОтзывы предо"},{"time":1780607905991,"fp":"Tem facilidade em adquirir cidadania de algum dos 27  estados da União Europeia?"},{"time":1780607922012,"fp":"МОСКВА \n\nТЕ, КТО С МЕСТОМ ❗️\n\nВстреча в ближайший час\nМолодой Зак, 21 год\n\nНа 1 час — 20 000\n\nРассмо"},{"time":1780607959867,"fp":"Moço sou apenas um Brasileiro tentando conseguir algo melhor no fim da vida"},{"time":1780607983122,"fp":"Estou com 43 anos"},{"time":1780608036908,"fp":"Seria meu sonho uma cidadania só quero uma oportunidade"},{"time":1780608050412,"fp":"Gente acabei de sair da turkia \nEu não estava ilegal realmente é assim \nQuando fui fazer checkin pra"},{"time":1780608071976,"fp":"❕**ПОСТОЯННЫЕ ТЕМЫ НА ЛЮБОЕ ВРЕМЯ СУТОК**\n\n◼️  **Я не новичок — давно в этой сфере и отлично знаю, к"},{"time":1780608135782,"fp":"Настоящая транси с сюрпризом приглашает тебя в страну интима! Со мной не заскучать. 🫣"},{"time":1780608214110,"fp":"Привет. Я транследи. Сейчас в поиске интересного опыта с кем-то классным. Новичкам тоже рада. 🥵"},{"time":1780608281377,"fp":"Gente que barato"},{"time":1780608293948,"fp":"**💫✨💫✨💫✨💫✨💫✨\n\n Киев 📍 Киев 📍 Киев 📍\n\n❗️ БЕЗ ПРЕДОПЛАТЫ ❗️\n\nИНДИ 💞\n\n✅ ТОЛЬКО ВЫЕЗД  ✅\n\nЧас -"},{"time":1780608373934,"fp":"Tem mais um monte trabalho com esses tipos de veículo a mais de 15 anos"},{"time":1780608389233,"fp":"Se alguém tiver uma oportunidade aí me chama aqui ok"},{"time":1780608413355,"fp":"**Киев 💋\n💸Инди💸\n\nКрасивая, ухоженная блондинка🎀\n\nЧас | Два | Ночь❤️‍🔥\n\nДорого 💲\n\n🚕ТОЛЬКО ВЫЕЗ"},{"time":1780608449433,"fp":"Só brincadeira kkkk"},{"time":1780608475783,"fp":"Mykonos ‍\nTonight \nMeeting for 2h\nFlexible budget \nPics info video in bikini​"},{"time":1780608512260,"fp":"Tem muita falta de profissionais de caminhão e de Ônibus"},{"time":1780608536029,"fp":"O problema é a autorização de residência"},{"time":1780608610405,"fp":"Air tictets to Amman _9000 dollars _ 40%_3 days"},{"time":1780608647902,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/JJ113CY4mcF8unnwM58t1b"},{"time":1780608779204,"fp":"Amsterdam Center\n2 girls \nVandervalk hotel\nRegular cliënt\n2hours+ \n\nSend original pics/video and hei"},{"time":1780608841428,"fp":"Aonde?"},{"time":1780608864631,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/IDKnkeHrwS4ARBmXAP2SFy"},{"time":1780609110857,"fp":"Nyc \nASAP \nRegular client \nClose to Manhattan \nSend me info and pictures"},{"time":1780609136341,"fp":"Очаровательная внешность Транс станет для тебя как глоток свежего воздуха. Минимум запретов. Приветс"},{"time":1780609162623,"fp":"*Tem alguém vendendo um iPhone bom aí no preço bom?*"},{"time":1780609178961,"fp":"Plazas disponibles al 50%\nEspaña 🇪🇸 \nSuiza 🇨🇭 \nHolanda 🇳🇱 \nAlbania \nAlemania 🇩🇪 \nCroacia \nDu"},{"time":1780609204970,"fp":"Rotterdam"},{"time":1780609394855,"fp":"Pois e José uma vez fui chamado pra ir pra Portugal antes da pandemia fiz entrevista e tudo mais mas"},{"time":1780609461891,"fp":"*БАНГКОК*💖\nВыезд на 2часа\n500$ чистыми \nИностранец \nПост\nСЕЙЧАС"},{"time":1780609545688,"fp":"Шикарная транссексуалка приглашает тебя в край удовольствий! Со мной не заскучать. 🤩"},{"time":1780609603908,"fp":"Привет. Я транс. Пока в поиске нового опыта с кем-то классным. Новичкам тоже рада. ♥️"},{"time":1780609625666,"fp":"Se busca chica para plaza en Vélez Málaga con todo equipado para que trabajes cómodamente vamos al 5"},{"time":1780609733369,"fp":"Hola extra con chico jueven y guapito en cerca de playa d’en bossa 200 e + taxi\nPara esta noche o ma"},{"time":1780609779989,"fp":"Alguem me arruma 3$ mando 4 vídeos e pra completar no remédio"},{"time":1780609823984,"fp":"LONDON\nTomorrow Friday 5th\n9pm\n2 hours £2000 clean \nGirl to meet with couple \nInteraction with both "},{"time":1780609933393,"fp":"Boa noite! Algum quarto ou apartamento para uma pessoa disponível para prox semana no centro de Lond"},{"time":1780609955923,"fp":"Monaco \nOutcall in Hotel de Paris\nOvernight \n3000€-%\nParty❄️ \nGirl with silicone boobs \nASAP \n\nWho c"},{"time":1780609975484,"fp":"#993 Dubai 🇦🇪🇦🇪🇦🇪\nNeed 3 models.\nHeight 170- below \nSend profile to number below \nDate 📅  : t"},{"time":1780609992230,"fp":"**Приеду в гости к адекватному мужчине 💋\n\n❤️ КИЕВ ❤️ ИНДИ ❤️\n\nБЕЗ ПРЕДОПЛАТ\n\nВЫЕЗЖАЮ ОТ ЧАСА ✅\n\nОче"},{"time":1780610011918,"fp":"Мальчики пишите, я нежная студентка с 3-тим размером)"},{"time":1780610024954,"fp":"@35000057630962"},{"time":1780610243861,"fp":"*NYC* 🇺🇸\nOutcall at 8pm \n$1200 clean for 2h \nWho’s available?"},{"time":1780610259546,"fp":"Mykonos ‌\nTonight \nMeeting for 2h\nFlexible budget \nPics info video in bikini‍"},{"time":1780610338388,"fp":"Alguém tem o contato de alguém que vende cigarro brasileiro"},{"time":1780610521871,"fp":"🇫🇷🇫🇷🇫🇷ST TROPEZ 🇫🇷🇫🇷🇫🇷\nOnly who is already there \n1am tons \nEnglish handsome and gentlem"},{"time":1780610644956,"fp":"Necesito de una chica super joven (max 25 años)para 4 horas el dia 12 junio,servicio de extra al Des"},{"time":1780610796257,"fp":"АЛЕНКА-Инди-СПБ\n🍒Встречи не на поток а в уютной квартирке❗️\n🥰xoчу быть твoeй нe пocлушнoй шaлуньeй"},{"time":1780610885409,"fp":"Paris tonight \n800 clean 2h \nPerfil: model type, \nbaby face \n3pic/1 video and info"},{"time":1780610953720,"fp":"Женственная транс девушка зовёт тебя в страну страсти! Со мной не заскучать. 🎶"},{"time":1780610989080,"fp":"Trusted partnership opportunity.\nSeeking verified USDT (ERC-20) Receiver / Mandate or Broker.\n10% co"},{"time":1780611109701,"fp":"Удивительная внешность Транси станет для тебя как глоток свежего воздуха. Мало табу. Приветствую все"},{"time":1780611128976,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/BwGaNP6OaR84dhjaiQJ75X"},{"time":1780611143552,"fp":"Познакомлюсь с симпатичной стройной девушкой до 27 лет, с меня обеспечение, с тебя приятная компания"},{"time":1780611164857,"fp":"Estafador"},{"time":1780611351009,"fp":"IBIZA🍒\nDía 12 de junio \nNecesito una chica super joven (max 25 años)\n4 horas \nEn Destino \nCliente i"},{"time":1780611413082,"fp":"Monday nyc who is available"},{"time":1780611436758,"fp":"Москва \n\nКто быстро соберется или кто собран?\nВстреча в Азимут сити Олимпик парк\n\nНа 1ч — 20 000₽ \nС"},{"time":1780611504531,"fp":"Oi meninas 🇧🇷\nMeu nome é Rebecca e, junto com meu marido Greg, trabalhamos com brasileiras indepen"},{"time":1780611643890,"fp":"СПБ ! \nМужчины! Я горячая Идивидуалочка!  Уже хочу сосать твой твёрдый член … представляю как ты тра"},{"time":1780611754958,"fp":"Buenas noches chicas, alguien sabe quien crea perfil por primera vez?"},{"time":1780611856957,"fp":"**Киев 🇺🇦\n\n🛑 БЕЗ ПРЕДОПЛАТЫ 🛑\n\nУхоженная, молодая сексуальная индивидуалка с 3 размером груди 💞"},{"time":1780611876752,"fp":"**__✨ Для тех, кто в теме ✨\nИмеются Подготовленные рабочие профили на популярных сайтах ( отзывы пре"},{"time":1780611961953,"fp":"Поездка, Россия. 1000$, оч Крутая тусовка 1 день с выскокопоставлеными люди, ориентир числа 15-17 ию"},{"time":1780612112907,"fp":"Trip\n\nEgypt or Marrakech\n\n1k image\n\nExtra 1k  if you want\n\n4 to 6 days\n\nIt starts on June 15th\nSuper"},{"time":1780612262931,"fp":"Hi love, I’m available in LA🤗"},{"time":1780612363465,"fp":"Шикарная девушка транссексуалка приглашает тебя в край страсти! Со мной не заскучать. 😙"},{"time":1780612620806,"fp":"Grupo tá muito quieto"},{"time":1780612667050,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/DWoMbjTE5jDGhVpAmYDSKj"},{"time":1780612855519,"fp":"Hola qué tal ? Alguna chica que Porfavor me de información de alguna plaza aquí en europa . Gracias "},{"time":1780612917746,"fp":"🇪🇸 *IBIZA*  🏖️  *IBIZA*   🏖️  *IBIZA*   🏖️  *IBIZA*   🇪🇸\n\n❗❗❗❗🤑*AMPLIAMOS UN DÍA MÁSSSSSS*🤑"},{"time":1780613011152,"fp":"Lkkk"},{"time":1780613057662,"fp":"*NEW YORK*\nTomorrow AFTERNOON \n1h meeting\n1000-%\nUber paid"},{"time":1780613081593,"fp":"Пленительная внешность Транси станет для тебя как глоток свежего воздуха. Минимум запретов. Приветст"},{"time":1780613190018,"fp":"*📊 TABELA OFICIAL || INSTAGRAM*\n\n⏰CHEGAM EM 12 MINUTOS NO MÁXIMO \n\n*Seguidores brasileiros*\n* 500 s"},{"time":1780613704053,"fp":"1)*BOSTON* 🇺🇸 \n2)*CHICAGO* 🇺🇸 \n\nDuring 15-19 of June \nMeeting for 1h\n$ depends of profile"},{"time":1780613787521,"fp":"New York 🇺🇸 \nJune  9th\n\nDinner + hotel\nOvernight\n\nBudget: 4k clean \n\nRegular client, European\nVery"},{"time":1780613846288,"fp":"🇺🇲 *NEW YORK* 🇺🇲\n\nRegular meeting on Sunday or Monday. Not local American.\n\nFor 1 hours\n\nOnly sk"},{"time":1780614110111,"fp":"🏠 Cozy 2-bed flat available. \n\n📍WEST KENSINGTON \n\n📝 Short or long term."},{"time":1780614122450,"fp":"🏠 Beautiful 2-bed flat available. \n\n📍PADDINGTON\n\n📝 Short or long term."},{"time":1780614135663,"fp":"🏠 Beautiful 2-bed flat available for rent. \n\n📍MARYLEBONE \n\n📝 Short or long term."},{"time":1780614145833,"fp":"🏠 Beautiful 3-bed flat available for rent. \n\n📍PADDINGTON. \n\n📝 Short or long term."},{"time":1780614285789,"fp":"*MIAMI* 🇺🇸 TOMORROW \n\n1500 clean \nOutcall \nRegular \n\nWho is there ?\n\n*SLIM TOP NATURAL GIRLS*\n\n*If"},{"time":1780614380748,"fp":"Job amanhã 11 da manhã Barra 2 horas mil reais mais uber. Perfil Morena Clara  corpo em dia."},{"time":1780614480770,"fp":"NEW YORK INCALL \nToday/ tomorrow relevant \n1h 1000$ clean \nOnly Tatar/Kazakh/Asian women TOP, up to "},{"time":1780614504915,"fp":"ДУБАЙ ❗DUBAI\nТолько те у кого получится отправить℅ на ру карту. \nЗаказчик мой друг,  молодой спортив"},{"time":1780614775331,"fp":"Mykonos ‌\nTonight \nMeeting for 2h\nFlexible budget \nPics info video in bikini‌"},{"time":1780614799478,"fp":"Mykonos ​\nTonight \nMeeting for 2h\nFlexible budget \nPics info video in bikini​"},{"time":1780615053778,"fp":"Нежная внешность Транси станет для тебя как глоток свежего воздуха. Минимум табу. Приветствую все тв"},{"time":1780615072966,"fp":"Cannes. Who is ready now? 45yo not local. 1-2h 1000-500."},{"time":1780615169228,"fp":"🍀АЛЬТ-ДЕВОЧКА  ☘️\n\n 🌱Юная  \n🌱 Фото / Кружки / Голос  \n🌱 Звонок по запросу  \n 🌱Прайсик в лс солн"},{"time":1780615532295,"fp":"Yeah, I saw that 😳 kinda funny but at the same time why at first place she’s sending those kind of "},{"time":1780615706853,"fp":"Los Angeles 🇺🇲\n1 hour .outcall\nBudget is discussed \n*please only girls that didnt apply before*"},{"time":1780615721296,"fp":"I think that it was by accident"},{"time":1780615729479,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/FM8W11COnz431qMBsGFGOZ"},{"time":1780615797666,"fp":"Madrid \nPara ahora \n1 hora más info privado"},{"time":1780615866369,"fp":"I will send a message to the model; perhaps she doesn't even know."},{"time":1780615926890,"fp":"Москва\nВыезд в сауну\nВстреча в ближайшее время\nНужны 3 девочки, на 1 час, 10к чистыми каждой + такси"},{"time":1780616170819,"fp":"🇺🇸🇺🇸 *NYC* 🇺🇸🇺🇸\n*OUTCALL TO HOTEL*🏨\n\n*START 8PM-9PM BUT CAN BE LATER* 🕰️\n\n*1h* \n*800$-1000"},{"time":1780616250963,"fp":"New York 🇺🇸 \nJune 9th\n\nDinner + hotel\nOvernight\n\nBudget: 4k clean \n\nRegular client, European\nVery "},{"time":1780616345641,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/JjPScAP2xoVDzWEXwVAnhV"},{"time":1780616440964,"fp":"Peito lindo da porra"},{"time":1780616519139,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/IjHsO5r2PuU6LC8dPBmQHd"},{"time":1780616525028,"fp":"Não é"},{"time":1780616613014,"fp":"82 qual ddd"},{"time":1780616825550,"fp":"Se buscan 2 chicas mayores de edad y motivadas para una misión de 7 a 12 días en Bretaña (Francia), "},{"time":1780616862949,"fp":"✨ FAÇO REVIEWS POSITIVOS no seu perfil Fatal\nLevou review ruim e não sabe o que fazer?  Eu posso te "},{"time":1780617024969,"fp":"Нежная внешность Транс будет для тебя как глоток свежего воздуха. Минимум запретов. Приветствую все "},{"time":1780617029899,"fp":"*New York*\nTomorrow or Sunday 10pm\n*Outcall* for 1-2h\nNeed girl for threesome (client+girl+girl)\nOpe"},{"time":1780617101607,"fp":"Vendo conteúdo PV 🥰"},{"time":1780617164907,"fp":"NYC 🇺🇸 NOW ‼️ or 12am \nIncall: 1.3 clean\n2 hours, with possibility of extending to 3 hours for 2k\n"},{"time":1780617210208,"fp":"Ballons ? Marbella"},{"time":1780617400883,"fp":"♥️♥️♥️ NYC ASAP \nBudget depends on the model for 1h meeting \n\nGood regular client  \nWho’s Available?"},{"time":1780617454835,"fp":"Meninas por gentileza, teriam contatto de posto em foggia ?"},{"time":1780617618984,"fp":"Onde isso? Meu Deus"},{"time":1780617736107,"fp":"I remember that @68977174827115⁩ gave a positive review, that is, a thumbs up, and said she was a go"},{"time":1780617864064,"fp":"só sábado"},{"time":1780617874126,"fp":"não pq eu queria, pq fui obrigada"},{"time":1780617950879,"fp":"QUEM TEM CONTA IFOOD CHAMA URGENTE AI 🚨🚨🚨🚨🚨🚨🚨🚨"},{"time":1780617994654,"fp":"eu tenho um receio muito grande fazer peito lá 🫠"},{"time":1780618361952,"fp":"@95623823015986\n\nEnglish, please. So that everyone can understand."},{"time":1780618448412,"fp":"I also speak Spanish and it takes me five seconds to translate.\n\nBesides, they are talking about you"},{"time":1780618859274,"fp":"Plaza disponible en🥰 📍LOGROÑO 💶💶💶🍓solo pa chicas jóvenes serias con ganas de trabajar, 🌹solo "},{"time":1780618882795,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/CcX2mkr6BWZGmmyiGpSxB9"},{"time":1780618996383,"fp":"💕NYC💕\nTomorrow OUT \n800 clean 1h\nRegular"},{"time":1780619096471,"fp":"Miami 🇺🇸 \nOutcall \nWho’s free ? \nRegular client \nFlexible budget \nSend me your pictures and info."},{"time":1780619137865,"fp":"🚨LICENÇA ADM🚨\n\nCasa localizada na Zona Leste está contratando meninas com ou sem experiência para "},{"time":1780619174749,"fp":"🔴 HÁ VAGAS – CARAGUATATUBA/SP 🔴\nAluguel de suítes por diária para profissionais que buscam discriç"},{"time":1780619412884,"fp":"Algum contato de local na Alemanha e na Bélgica"},{"time":1780619865363,"fp":"⚜️💒 Women Luxury💒⚜️\n      PLAZA disponible en \n        alicante Elche alcoy \n             hablar p"},{"time":1780619879611,"fp":"Buenas noches grupo, una chica está necesitando de contacto de habitaciónes en FUENGIROLA,  ESTEPONA"},{"time":1780619897710,"fp":"Eiita"},{"time":1780620033779,"fp":"✨ TW Concierge Model Referral Program ✨\n\nDo you know a beautiful, reliable, and well-presented model"},{"time":1780620070019,"fp":"Yo y una amiga estamos disponibles este finde para cualquier sala o fiesta privada (imágenes)"},{"time":1780620634453,"fp":"Hello , who have available one apartment with one bedroom in LIVERPOOL ? \n\nThanks 🙏"},{"time":1780620740407,"fp":"Buenas tardes niñas 💕\n*CANCUN*\nMañana 2 horas  8 de la noche 8 libres quienes disponibles ? \nEnviar"},{"time":1780620880664,"fp":"Boa Noite"},{"time":1780620933411,"fp":"Amsterdam 1 \nSin dueño"},{"time":1780620960749,"fp":"*QUE CHICA DISPONIBLE EN PALMA DE MALLORCA???*"},{"time":1780620969279,"fp":"Удивительная внешность Транс будет для тебя как глоток свежего воздуха. Минимум табу. Приветствую вс"},{"time":1780621268615,"fp":"Me chama na dm e te envio as informações"},{"time":1780621279819,"fp":"🌴 Seu lote em Jijoca de Jericoacoara super acessível! 🤑\n\nNo Loteamento Villa Jeri, você encontra a"},{"time":1780621571931,"fp":"🏡🛏️💰 𝗥𝗢𝗢𝗠𝗦, 𝗙𝗟𝗔𝗧𝗦 𝗔𝗡𝗗 𝗔𝗣𝗔𝗥𝗧𝗠𝗘𝗡𝗧𝗦 𝗧𝗢 𝗥𝗘𝗡𝗧 𝗙𝗢𝗥 𝗜𝗡𝗗𝗘𝗣𝗘𝗡𝗗𝗘𝗡"},{"time":1780621600969,"fp":"Chicas disponibles ahora para imagen y extra en hotel con globos y alcohol, chicos jóvenes \n💵Imagen"},{"time":1780621615467,"fp":"Verificada ✅"},{"time":1780621930431,"fp":"*Miami*\nTomorrow or Sunday 10pm\n*Outcall* for 1-2h\nNeed girl for threesome (client+girl+girl)\nOpen r"},{"time":1780622172545,"fp":"@all estadía en el grupo 🪷\n❌*Recuerden que nada relacionado con xxx*🤢\n❌*Nada de gore*🤢\n*pueden pa"},{"time":1780622208959,"fp":"Ciao scusami se ti disturbo ma ti può interessare monolocale a settimana o al mese zona Milano Lambr"},{"time":1780622532023,"fp":"ok"},{"time":1780622545780,"fp":"👄PLAZA EN ALICANTE👄\n\n💸Plaza con movimiento y buena clientela \n\n🏠Casa en una villa espaciosa con "},{"time":1780622795641,"fp":"*🚨 NÃO É APENAS UMA TELEFONISTA, É UMA ESTRUTURA COMPLETA PARA VOCÊ TRABALHAR COM MAIS RESULTADO.*\n"},{"time":1780622831668,"fp":"*Washington, DC 🇺🇸* next week, meeting for 1-2h, open rate, regular client \n\nWho’s up?"},{"time":1780622879990,"fp":"Isso Nao è na Italia 🇮🇹"},{"time":1780622918755,"fp":"oki"},{"time":1780622940966,"fp":"Нежная внешность Транси будет для тебя как глоток свежего воздуха. Минимум запретов. Приветствую все"},{"time":1780623110351,"fp":"Alguna mujer para video llamada que me vea mi verga como me masturbándome le doy leche video llamada"},{"time":1780623251386,"fp":"♥️♥️♥️ Miami ASAP\nBudget depends on the model for 1h or 2h\nGood regular client \nWho’s Available?\n\nCo"},{"time":1780623269004,"fp":"Piden salida y luego bloquea el número"},{"time":1780623293463,"fp":"🇺🇸WASHINGTON DC🇺🇸\nTONIGHT and this week\nRegular nice client there\nMeeting 1h\nQuick and easy \nSen"},{"time":1780623395307,"fp":"🇺🇸LA, LOS ANGELES 🇺🇸\nTHIS WEEK\nMeeting 2h or overnight \nRegular Asian guy visiting \nYour rate💰\n"},{"time":1780623416646,"fp":"Podrías dejar el núm porfa"},{"time":1780623483662,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/LPc4eDtdgFdAkPegNQkR3S"},{"time":1780623511650,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/ERRwuB6zwmME0FDHOPQSCw"},{"time":1780623821547,"fp":"Alguma agência em Goiânia ??"},{"time":1780624266568,"fp":"*Chicago* 🇺🇸 all week available \n2h - meeting, regular client \nOpen budget \n\nWho’s up ?"},{"time":1780624722304,"fp":"Москва\nКто может принять у себя\nЗеленоград, Химки на сейчас\nПост, русский \nКлассика, мбр\n\n\nПроверяю "},{"time":1780624914169,"fp":"Нежная внешность Транси будет для тебя как глоток свежего воздуха. Минимум табу. Приветствую все тво"},{"time":1780625299965,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/JNLeyTN2hc40QWNtcnhali"},{"time":1780625623804,"fp":"Sliedrecht 3 girls\nRotterdam 1\nNijmegen 1"},{"time":1780626081851,"fp":"Gente acabei de passar uma situação constrangedora aqui. O dono do booking passou o dia no apartamen"},{"time":1780626150614,"fp":"Cruzes"},{"time":1780626263689,"fp":"*ei! que tal R$4.200,00 na semana livre de tudo somente atender ?* *inicio imediato*\nMe chama no núm"},{"time":1780626293791,"fp":"Boa noite!  💸💸💸💸\n\n*Licença adm se não puder eu apago*\n\n*Cachê 300,00* \n*MENINAS DISPONÍVEIS e PO"},{"time":1780626402248,"fp":"NYC 🇺🇸 12am \nIncall  \n1.3 clean 2 hours, with possibility of extending to 3 hours for 2k\nSkinny ty"},{"time":1780626884117,"fp":"Milão?"},{"time":1780626887848,"fp":"Очаровательная внешность Транс будет для тебя как глоток свежего воздуха. Мало табу. Приветствую все"},{"time":1780626932670,"fp":"Nápoles"},{"time":1780626952555,"fp":"De como o ser humano pode ser tão mal"},{"time":1780627525478,"fp":"♥️♥️♥️ LA ASAP\nBudget depends on the model for 1h outcall\nGood regular client \nWho’s Available?\n\nCoo"},{"time":1780627578105,"fp":"Alguna esposa que quiera verga que vea mi leche por video llamada le doy verga vidoe llamada"},{"time":1780628154161,"fp":"*Hampton* 🇺🇸 tomorrow \n1h - meeting, regular client \nOpen budget \n\nWho’s up ?"},{"time":1780628299832,"fp":"Dubai.\n\nTomorrow\n\nSuper easy party\n\nI need 4 models each model with your client..\n\nNo big tattoos\n3-"},{"time":1780628306976,"fp":"Madrid,\nGreat budget for tonight.\nPrivate party.\n3k.\nA lot of fun.\nIf you are interested, just let m"},{"time":1780628396603,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/IfPQvGznCdYB1jvpen0zOO"},{"time":1780628611009,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/LQXtHMcBUbW9LkO0TXIHRy"},{"time":1780628978957,"fp":"🤓"},{"time":1780629587060,"fp":"🇩🇪☀️ **OPORTUNIDAD DE TRABAJO EN ALEMANIA – TEMPORADA DE VERANO**\n\nEstamos buscando chicas entre *"},{"time":1780629619151,"fp":"♥️♥️♥️ Miami tomorrow evening \nBudget depends on the model for 1h outcall\n\nmodel  is not tall\n\nGood "},{"time":1780629990607,"fp":"E aí Natália o que deu aquela confusão. Da garota ???"},{"time":1780630010643,"fp":"Meu Deus \nComo as pessoas são ruins, eles não precisavam fazer dessa forma. Mas você vai dormir aí h"},{"time":1780630035261,"fp":"Você não percebeu nada de estranho antes ?"},{"time":1780630117946,"fp":"💰 **Información sobre tarifas**\n\nLas tarifas habituales que manejamos son:\n\n• 15 minutos: 60€\n• 30 "},{"time":1780630125362,"fp":"✨LA✨\nTomorrow \n✅Outcall \n2 h 1500-500%💰\nLooking for slim model💅🏻\n\nFor apply:✅\nPhoto,📸info, recen"},{"time":1780630135554,"fp":"Mas ele não fizeram nada com você né ? Não tocaram em você ?"},{"time":1780630304170,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/LstEY1VkR2402lUDuk65ow"},{"time":1780630315588,"fp":"🔗 Grupo: Grupo\nhttps://chat.whatsapp.com/JoGh5XCLeJ245IECXcv7yq"},{"time":1780630832048,"fp":"Удивительная внешность Транссексуалки станет для тебя как глоток свежего воздуха. Мало табу. Приветс"},{"time":1780631179572,"fp":"Nyc incall tonight \n1 hr 800-300% who can ?"},{"time":1780631394638,"fp":"Vem gozar estou disponível pra vídeo chamada (vendas )\n\nmulher trans 🏳️‍⚧️"},{"time":1780631597945,"fp":"Нячанг Вьетнам 🇻🇳 \nКто там?\n\nКлассика | МБР \n2ч | Бюджет Ваш \n\nОтзывы о себе предоставлю"},{"time":1780631683015,"fp":"Who can come to Singapore this Sunday? \nFew hours meeting \nOpen budget \nOnly from Asian countries pl"},{"time":1780631818545,"fp":"Cadê os solteiros pra me chama no privado"},{"time":1780632346172,"fp":"Бангкок \nКто на месте? \n\nПерелёт в город Дананг (Вьетнам) \n\nПерелет оплачивается. Лететь 1,5-2ч\n\nНуж"},{"time":1780633195960,"fp":"Nápoles tudo que dá tão se aproveitando"},{"time":1780633212455,"fp":"♥️ Hong Kong ♥️ need model for two hours 1500-2000 usd minus com 🧿🧿🧿"},{"time":1780633459845,"fp":"🇺🇸🇺🇸 *NYC* 🇺🇸🇺🇸\n*OUTCALL TO HOTEL*🏨\n\n*START ASAP BUT CAN BE LATER* 🕰️\n\n*1h* \n*800$-1000$*\ud83d"},{"time":1780633478815,"fp":"Napole favela da Itália o que esperar neh?"},{"time":1780633491751,"fp":"Uma personalidade uiiii"},{"time":1780633544402,"fp":"Td truck comprei uma dog eu e minha amiga duas fêmeas demos sinal  depois descobrimos que uma era fê"},{"time":1780633564827,"fp":"Querendo enrolar tá boa…"},{"time":1780633576021,"fp":"Eles querem tirar vantagem em cima de tudo"},{"time":1780633580499,"fp":"Sim eles são piores que qualquer golpista as do Brasil"},{"time":1780633595025,"fp":"Pessimo"},{"time":1780633609415,"fp":"Agora até taxista lá"},{"time":1780633621533,"fp":"Eles cobram mais caro ainda pede gorjeta exorbitante"},{"time":1780633626723,"fp":"Povo mal educado Entrao"},{"time":1780633634112,"fp":"Sim assédio também"},{"time":1780633657858,"fp":"Entendo pq muitos italianos não gostam de lá"},{"time":1780633670472,"fp":"As cidades perto tb terrível"},{"time":1780633681047,"fp":"Depois desse relato aí achei absurdo"},{"time":1780633700053,"fp":"Humilhação"},{"time":1780633731981,"fp":"Hola busco chica disponible esta noche en Madrid, outcall 1h, presupuesto 300 euros"},{"time":1780633739334,"fp":"Nunca vi"},{"time":1780633775946,"fp":"Amiga vai pra um hotel descansa sabe"},{"time":1780633825887,"fp":"Nesse trabalho nosso sempre haverá desafios … eu tb já passei cada uma. Por isso a importância de tr"},{"time":1780633850400,"fp":"Sim"},{"time":1780633892609,"fp":"Fecha muitas portas \nColoca em muitas situações \nA mentalidade sempre tem que ser trabalhar pra muda"},{"time":1780633919298,"fp":"E quando se vê o tempo passou voou já tá pra mais de 50’anos"},{"time":1780633930332,"fp":"Num país que não é o nosso \nAinda mais em Nápoles \nAinda bem que ela ya bem"},{"time":1780633943166,"fp":"Espero que não"},{"time":1780634014492,"fp":"Yo voy dejar claro,  muchos aquí  me coneci no voy de broma y las personas que quieren hacer daño a "},{"time":1780634073876,"fp":"Aquí es trabajo 100% foco"},{"time":1780634116962,"fp":"NYC 🇺🇸 NOW ‼️ \nOutcall \n1.3 clean \n2 hours, with possibility of extending to 3 hours for 2k\nSkinny"},{"time":1780634220820,"fp":"Si pilla de chisme que viene de grupo en grupo hablando de adm fuera y fueran tirada unas cuantas y "},{"time":1780634334369,"fp":"Bom dia \nVende geladeira e bike"}]}},"meta":{"instanceId":"076f774a55a5ee35adb97b88c4f2827a760bc82be4a432b2b5434d7c166e8234"},"pinData":{},"versionId":"d5194550-2106-42b4-8a10-6d32ccc62198","activeVersionId":"d5194550-2106-42b4-8a10-6d32ccc62198","versionCounter":22300,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-06-02T09:34:19.673Z","createdAt":"2026-06-02T09:34:19.673Z","role":"workflow:owner","workflowId":"A0QpoDzX559wzRXQ","projectId":"Pkvc1S9YteW378wM","project":{"updatedAt":"2026-06-02T09:30:13.988Z","createdAt":"2026-06-02T09:30:13.988Z","id":"Pkvc1S9YteW378wM","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"724a333b-388e-41cf-ac85-549aeb320007"}}],"versionMetadata":{"name":null,"description":null}}]