n8n/active/vps_buggy_safe.json
[

  {

    "updatedAt": "2026-05-09T18:10:14.000Z",

    "createdAt": "2026-05-09T17:58:32.706Z",

    "id": "02LsrfWwWgjXUnA6",

    "name": "WorldModels Enterprise Engine v5 (Redis Ready)",

    "description": null,

    "active": true,

    "isArchived": false,

    "nodes": [

      {

        "parameters": {

          "httpMethod": "POST",

          "path": "telegram-wm-2024",

          "options": {}

        },

        "id": "3c815bb7-95d5-44ac-bc95-deee520e3910",

        "name": "Webhook Telegram",

        "type": "n8n-nodes-base.webhook",

        "typeVersion": 1,

        "position": [

          -3200,

          160

        ],

        "webhookId": "0636d1ec-a349-4eec-8e84-c913a1949e96"

      },

      {

        "parameters": {

          "httpMethod": "POST",

          "path": "1fd718d6-49f8-43dc-a881-ff7ecf7b94ef",

          "options": {}

        },

        "id": "4f19a34b-8c59-4db7-8b88-717bbf351714",

        "name": "Webhook WhatsApp",

        "type": "n8n-nodes-base.webhook",

        "typeVersion": 1,

        "position": [

          -3200,

          608

        ],

        "webhookId": "307fea47-4b3a-4883-8af5-5a4a64b48b02"

      },

      {

        "parameters": {

          "jsCode": "const item = $json;\n\n// Solo bloqueamos si es TRASH absoluto o si ya fue rechazado por Guard\nif (item.category === 'trash' || item.trash === true) return [];\n\nlet score = 0;\n// Scoring din\u00e1mico para el feed\nif (item.category === 'evento') score += 50;\nif (item.category === 'plaza') score += 20;\nif (item.city && item.city !== 'Global') score += 15;\nif ((item.text_es || '').length > 200) score += 10;\n\nreturn [{ json: { ...item, final_score: score } }];"

        },

        "id": "e7adddaa-94ba-421a-9904-c6cf038c4eee",

        "name": "Quality Score",

        "type": "n8n-nodes-base.code",

        "typeVersion": 1,

        "position": [

          -496,

          160

        ]

      },

      {

        "parameters": {

          "jsCode": "const item = $input.first()?.json || {};\nfunction escapeHTML(text) { return String(text||'').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'); }\n\nconst langs = [\n  { code: 'ES', tg: '-5283488138', title: item.title_es || 'Nuevo Lead', text: item.text_es || item.texto_limpio, tag: 'Remitente' }\n];\n\nconst results = [];\nfor (const l of langs) {\n  function formatOutputContact(val, mode) {\n    if (!val || val === 'Desconocido' || val === 'No disponible') return 'No disponible';\n    if (String(val).startsWith('tg_id_')) {\n      const id = val.replace('tg_id_', '');\n      return mode === 'html' ? `<a href=\"tg://user?id=${id}\">Chat Directo</a>` : `ID: ${id}`;\n    }\n    if (/[a-zA-Z]/.test(val) && !/\\d/.test(val)) {\n       const user = String(val).replace('@', '');\n       return mode === 'html' ? `<a href=\"https://t.me/${user}\">@${user}</a>` : `@${user}`;\n    }\n    const s = String(val).replace(/[^0-9]/g, '');\n    return s.length >= 7 ? `+${s}` : val;\n  }\n\n  const tgContact = formatOutputContact(item.contact || item.final_contact, 'html');\n\n  const categoryStr = (item.category === 'plaza') ? 'Plazas' : 'Eventos';\n\n  const tgText = `<b>${escapeHTML(l.title)}</b>\\n\ud83c\udff7\ufe0f <b>${categoryStr}</b>\\n\ud83d\udccd <b>${escapeHTML(item.city || 'Desconocida')}</b>\\n\ud83d\udcb0 <b>${escapeHTML(item.budget || 'Negociable')}</b>\\n\\n${escapeHTML(l.text || 'Sin texto')}\\n\\n\ud83d\udc64 <b>${l.tag}:</b> ${tgContact}\\n\ud83d\udd0c <b>Fuente:</b> ${escapeHTML(item.platform || 'WhatsApp')}`;\n  \n  results.push({\n    json: { ...item, route_lang: l.code, tg_chat: l.tg, tg_text: tgText }\n  });\n}\nreturn results;"

        },

        "id": "9bf8a151-0eee-40f9-abf9-415e52abf897",

        "name": "Message Router",

        "type": "n8n-nodes-base.code",

        "typeVersion": 1,

        "position": [

          -304,

          160

        ]

      },

      {

        "parameters": {

          "chatId": "={{ $json.tg_chat }}",

          "text": "={{ $json.tg_text }}",

          "additionalFields": {

            "parse_mode": "HTML"

          }

        },

        "id": "e7d42049-0163-4172-b7a5-79886f44f1be",

        "name": "Telegram Fanout",

        "type": "n8n-nodes-base.telegram",

        "typeVersion": 1,

        "position": [

          0,

          0

        ],

        "webhookId": "d8d68b16-0b29-41c1-8f44-550a3c8a2254",

        "credentials": {

          "telegramApi": {

            "id": "wNTTBS9Bhu4RrC6o",

            "name": "Telegram account"

          }

        }

      },

      {

        "parameters": {

          "method": "POST",

          "url": "http://178.156.186.149:3001/api/juana/send",

          "sendHeaders": true,

          "headerParameters": {

            "parameters": [

              {

                "name": "Authorization",

                "value": "Bearer shJOb5wskQMTyfoF20GLqmJOclA5if5j"

              }

            ]

          },

          "sendBody": true,

          "specifyBody": "json",

          "jsonBody": "={{ { \"to\": $json.wa_chat, \"body\": $json.wa_text || $json.tg_text } }}",

          "options": {}

        },

        "id": "2da22635-294f-44f5-b401-983ee65288a3",

        "name": "WhatsApp Fanout",

        "type": "n8n-nodes-base.httpRequest",

        "typeVersion": 4.1,

        "position": [

          0,

          160

        ],

        "continueOnFail": true

      },

      {

        "parameters": {

          "method": "POST",

          "url": "http://178.156.186.149:3001/api/leads",

          "sendBody": true,

          "specifyBody": "json",

          "jsonBody": "={{ {\n  \"isGroup\": true,\n  \"platform\": $json.platform,\n  \"contact\": $json.contact,\n  \"source_chat_id\": $json.source_chat_id,\n  \"city\": $json.city,\n  \"location\": $json.city,\n  \"budget\": $json.budget,\n  \"category\": $json.category,\n  \"text_es\": $json.text_es,\n  \"title_es\": $json.title_es\n} }}",

          "options": {}

        },

        "id": "89b2434c-ae0c-4b95-9a92-e16a924fc75e",

        "name": "Post Backend",

        "type": "n8n-nodes-base.httpRequest",

        "typeVersion": 4.1,

        "position": [

          0,

          320

        ],

        "continueOnFail": true

      },

      {

        "parameters": {

          "jsCode": "// DYNAMIC ROUTING ENGINE v5.7 (STRICT MATCHING)\nlet leadData = {};\ntry { leadData = $node[\"Parse JSON1\"].json; } catch(e) { return []; }\nconst category = String(leadData.category || 'evento').toLowerCase();\nconst cityDetected = String(leadData.city || 'global').toLowerCase();\nconst text = String(leadData.text_es || '').toLowerCase();\n\nconst routingTable = {\n  \"madrid\": {\n    keywords: [\"madrid\", \"barajas\", \"serrano\", \"pozuelo\"],\n    targets: [\n      { to: \"34664266926@s.whatsapp.net\", label: \"MADRID\" },\n      { to: \"34603346859@s.whatsapp.net\", label: \"MADRID\" }\n    ]\n  },\n  \"ibiza\": {\n    keywords: [\"ibiza\", \"eivissa\", \"mansour\", \"pacha\", \"lio\", \"ushuaia\", \"sant antoni\"],\n    targets: [\n      { to: \"34662058447@s.whatsapp.net\", label: \"IBIZA\" },\n      { to: \"34642107796@s.whatsapp.net\", label: \"IBIZA\" }\n    ]\n  },\n  \"london\": {\n    keywords: [\"london\", \"londres\", \"mayfair\", \"soho\", \"chelsea\"],\n    targets: [\n      { to: \"120363425790792660@g.us\", label: \"LONDON\" }\n    ]\n  },\n  \"miami\": {\n    keywords: [\"miami\", \"south beach\", \"brickell\", \"miami beach\"],\n    targets: [\n      { to: \"17862812324@s.whatsapp.net\", label: \"MIAMI\" },\n      { to: \"525532110621@s.whatsapp.net\", label: \"MIAMI\" }\n    ]\n  },\n  \"paris\": {\n    keywords: [\"paris\", \"francia\", \"france\", \"champs\"],\n    targets: [\n      { to: \"33744156314@s.whatsapp.net\", label: \"PARIS\" }\n    ]\n  },\n  \"monaco\": {\n    keywords: [\"monaco\", \"viena\", \"vienna\", \"monte carlo\"],\n    targets: [\n      { to: \"120363425790792660@g.us\", label: \"GLOBAL\" }\n    ]\n  }\n};\n\nlet matchedTargets = [];\n\n// 1. PRIORITY: Explicit City Match (from IA detection)\nif (routingTable[cityDetected]) {\n    matchedTargets = [...routingTable[cityDetected].targets];\n}\n\n// 2. SECONDARY: Keyword Match (only if no explicit city match)\nif (matchedTargets.length === 0) {\n    for (const [key, config] of Object.entries(routingTable)) {\n        if (config.keywords.some(kw => text.includes(kw))) {\n             matchedTargets = [...matchedTargets, ...config.targets];\n        }\n    }\n}\n\n// 3. FALLBACK: Global feed\nif (matchedTargets.length === 0 && (category === 'evento' || category === 'plaza')) {\n  matchedTargets.push({ to: \"120363425790792660@g.us\", label: \"GLOBAL\" });\n}\n\n// Ensure unique targets\nconst uniqueTargets = Array.from(new Set(matchedTargets.map(t => t.to)))\n  .map(to => matchedTargets.find(t => t.to === to));\n\nif (uniqueTargets.length === 0) return [];\n\nreturn uniqueTargets.map(t => ({\n  json: { \n    ...leadData, \n    target_wa: t.to, \n    city_label: t.label \n  }\n}));"

        },

        "id": "713e7bf9-44f9-496c-ab31-0116e3756938",

        "name": "Dynamic Routing Engine",

        "type": "n8n-nodes-base.code",

        "typeVersion": 1,

        "position": [

          -304,

          480

        ]

      },

      {

        "parameters": {

          "amount": 2

        },

        "id": "8ba7511b-d8e9-4572-a15f-708ee58eec7d",

        "name": "Global Alert Waiter",

        "type": "n8n-nodes-base.wait",

        "typeVersion": 1.1,

        "position": [

          -112,

          480

        ],

        "webhookId": "7346090a-61ac-4f37-b4b1-e3bd8cca24c9"

      },

      {

        "parameters": {

          "method": "POST",

          "url": "http://178.156.186.149:3001/api/juana/send",

          "sendHeaders": true,

          "headerParameters": {

            "parameters": [

              {

                "name": "Authorization",

                "value": "Bearer shJOb5wskQMTyfoF20GLqmJOclA5if5j"

              }

            ]

          },

          "sendBody": true,

          "specifyBody": "json",

          "jsonBody": "={{ { \"to\": $json.target_wa, \"body\": \"*\ud83d\udce2 \" + ($json.title_es || \"Nuevo Lead\") + \"*\\n\ud83d\udccd *\" + ($json.city || \"Desconocida\") + \"* | \ud83d\udcb0 *\" + ($json.budget || \"Negociable\") + \"*\\n\\n\" + ($json.text_es || \"Sin descripci\u00f3n\") + \"\\n\\n\ud83d\udc64 *Remitente:* \" + ($json.contact || \"Desconocido\") + \"\\n\ud83d\udd0c *Fuente:* \" + ($json.platform || \"WhatsApp\") } }}",

          "options": {}

        },

        "id": "6d6af962-ecff-4a39-8012-9d8e4242f1e8",

        "name": "Dynamic WhatsApp Alert",

        "type": "n8n-nodes-base.httpRequest",

        "typeVersion": 4.1,

        "position": [

          80,

          480

        ],

        "continueOnFail": true

      },

      {

        "parameters": {

          "jsCode": "const input = $input.first().json;\nconst item = input.message || input.body || input;\nconst textBody = item.text || item.caption || item.message?.text || '';\n\nfunction findContact(obj) {\n  if (!obj || typeof obj !== 'object') return null;\n  const contact = obj.contact || obj.sender_contact || obj.from || obj.sender?.wa_id || '';\n  if (typeof contact === 'string') {\n    if (contact.includes('t.me/')) return contact.split('t.me/')[1];\n    if (contact.startsWith('tg_id_')) return contact;\n    if (contact.startsWith('@')) return contact;\n    if (/^\\d{7,15}$/.test(contact)) return 'tg_id_' + contact;\n  }\n  return null;\n}\n\nlet sc = findContact(item) || findContact(input);\nif (sc && !sc.startsWith('tg_id_')) {\n  sc = sc.trim();\n  if (!sc.startsWith('@')) sc = '@' + sc;\n}\n\nconst sourceChatId = item.chatId || item.chat?.id || input.source_chat_id || '';\n\nreturn [{ json: {\n  ...item,\n  platform: 'Telegram',\n  sender_contact: sc || 'No_Username',\n  final_contact: sc || 'No_Username',\n  source_chat_id: sourceChatId,\n  texto_limpio: textBody.trim(),\n  looksValuable: textBody.length > 5\n}}];"

        },

        "id": "65bba95f-5623-4c6a-b57e-23a2308f5034",

        "name": "Extract Metadata TG1",

        "type": "n8n-nodes-base.code",

        "typeVersion": 1,

        "position": [

          -2848,

          736

        ]

      },

      {

        "parameters": {

          "jsCode": "const input = $input.first().json;\nconst item = input.message || (input.messages && input.messages[0]) || input.body || input;\nconst textBody = item.text?.body || item.text || item.caption || item.body || '';\n\nfunction getPhone(val) {\n  if (!val) return null;\n  let s = '';\n  if (typeof val === 'object') {\n    s = String(val.id || val.author || val.from || val.phone || val.number || val.wa_id || val.remoteJid || '');\n  } else {\n    s = String(val);\n  }\n  if (s.includes('@g.us') || s.includes('-')) return null;\n  const digits = s.replace(/\\D/g, '');\n  return (digits.length >= 7 && digits.length <= 15) ? digits : null;\n}\n\nconst sc = getPhone(item.author) || getPhone(item.from) || getPhone(item.sender) || getPhone(input.sender?.wa_id) || getPhone(input.contact) || \"No disponible\";\nconst sourceChatId = item.chat_id || item.chatId || input.source_chat_id || null;\n\nreturn [{ json: {\n  ...item,\n  platform: \"WhatsApp\",\n  sender_contact: sc,\n  final_contact: sc,\n  source_chat_id: sourceChatId,\n  texto_limpio: String(textBody).trim(),\n  looksValuable: String(textBody).length > 5\n}}];"

        },

        "id": "fc58ed3c-e4bb-4d4c-bfe7-5ba33c75ec0d",

        "name": "Extract Metadata WA1",

        "type": "n8n-nodes-base.code",

        "typeVersion": 1,

        "position": [

          -2848,

          928

        ]

      },

      {

        "parameters": {

          "jsCode": "const results = [];\nconst HARD_BLOCK = new Set([\"crypto\", \"binance\", \"casino\", \"usdt\", \"bitcoin\", \"wallet\", \"trading\", \"ganar dinero\", \"\u0438\u043d\u0434\u0438\", \"\u043a\u043e\u043d\u0442\u0435\u043d\u0442\", \"onlyfans\", \"\u0432\u0438\u0440\u0442\", \"sugar baby\", \"sugar daddy\", \"anal\", \"masaje erotico\", \"ingles\", \"english\"]);\nconst BANNED_PREFIXES = [\"58\", \"57\", \"92\", \"91\", \"62\"];\n\nfunction norm(v) { return String(v || \"\").toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\"); }\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const text = norm(data.texto_limpio);\n  const sender = String(data.final_contact).replace(/\\D/g, \"\");\n\n  let rejectReason = null;\n  if (BANNED_PREFIXES.some(p => sender.startsWith(p))) rejectReason = \"prefix_banned\";\n  else if (HARD_BLOCK.has(text)) rejectReason = \"hard_block_match\";\n\n  results.push({ json: { ...data, looksValuable: !rejectReason, reject_reason: rejectReason } });\n}\nreturn results;"

        },

        "id": "11fd4a02-4e94-4d47-8ad9-d007b7c484d1",

        "name": "Pre-Filter Unified1",

        "type": "n8n-nodes-base.code",

        "typeVersion": 1,

        "position": [

          -2544,

          832

        ]

      },

      {

        "parameters": {

          "jsCode": "const results = [];\nconst store = $getWorkflowStaticData('global');\nif (!store.history) store.history = [];\n\nconst now = Date.now();\nconst TTL = 86400000;\nstore.history = store.history.filter(h => now - h.time < TTL);\n\nfor (const item of $input.all()) {\n  const fp = String(item.json.texto_limpio).substring(0, 100);\n  if (!store.history.some(h => h.fp === fp)) {\n    store.history.push({ time: now, fp });\n    results.push(item);\n  }\n}\nreturn results;"

        },

        "id": "541f29c3-4339-44cb-8888-849e6b806813",

        "name": "Dedup Hash1",

        "type": "n8n-nodes-base.code",

        "typeVersion": 1,

        "position": [

          -2144,

          832

        ]

      },

      {

        "parameters": {

          "promptType": "define",

          "text": "=### WORLDMODELS QUALITY ENGINE v5.2 (ULTRA PRECISION) ###\nTEXT: \"{{ $json.texto_limpio }}\"\n\nCLASSIFICATION RULES:\n\n1. EVENTO (Client Requests / Immediate Leads) - HIGH PRIORITY:\n   - DIRECT REQUESTS: \"Busco chica para ahora\", \"Disponible en Madrid?\", \"Outcall 1h\", \"Dinner tonight\".\n   - REAL TIME: Messages mentioning \"Ahora\", \"Hoy\", \"Esta noche\", \"ASAP\", or specific times.\n   - TOURS & CASTINGS: \"Casting para marca\", \"Haciendo tour en Ibiza\".\n   - CONTEXT: A client or agency looking for someone for something SPECIFIC and immediate.\n\n2. PLAZA (Job Offers / Vacancies):\n   - FIXED POSITIONS: \"Buscamos chica fija para club\", \"Plaza libre en agencia\", \"Hiring for season\".\n   - AGENCY CASTINGS: \"Buscando caras nuevas\", \"Env\u00eden disponibilidad para mayo\".\n   - ACCOMMODATION: \"Habitaci\u00f3n para modelos\", \"Piso disponible para trabajar\".\n   - CONTEXT: An agency or organizer offering stable work, vacancies, or housing.\n\n3. TRASH (Discard):\n   - INDIVIDUAL SELF-PROMOTION: \"Hola soy Maria, disponible en Madrid\", \"Soy modelo, contratadme\". (Only if the model is offering HERSELF).\n   - CASUAL CHAT: Greetings, questions without an offer, or maintenance messages.\n   - SPAM: Crypto, random links, unrelated ads.\n\nCRITICAL: \n- If an AGENCY or CLUB asks \"Who is available?\", \"Seeking models\", or posts a job offer (even for the future), it is a PLAZA or EVENTO, NOT trash.\n- If a CLIENT asks to meet, it is an EVENTO, NOT trash.\n- If the city is NOT mentioned but the text mentions a club name (like Mansour, Lio, Pacha), try to infer the city or output \"Ibiza\" if it's a known Ibiza spot.\n\nOUTPUT JSON:\n{\n  \"city\": \"City Name (e.g. Ibiza, Madrid, Miami, Paris)\",\n  \"budget\": \"Value\",\n  \"category\": \"plaza|evento|trash\",\n  \"detected_lang\": \"ES|EN|RU|PT\",\n  \"title_es\": \"Short descriptive title\",\n  \"text_es\": \"Clean and translated text\",\n  \"trash\": false\n}"

        },

        "id": "6e0c7541-5e98-45a8-b19e-4e2fbd18d6dc",

        "name": "IA Extract1",

        "type": "@n8n/n8n-nodes-langchain.chainLlm",

        "typeVersion": 1.4,

        "position": [

          -1952,

          832

        ]

      },

      {

        "parameters": {

          "model": "deepseek-v4-flash",

          "options": {}

        },

        "id": "24d38073-3601-423d-a437-09e28432f0b1",

        "name": "DeepSeek Chat Model1",

        "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",

        "typeVersion": 1,

        "position": [

          -1952,

          1024

        ],

        "credentials": {

          "deepSeekApi": {

            "id": "B7kPB7i2l2oQh9UM",

            "name": "DeepSeek account"

          }

        }

      },

      {

        "parameters": {

          "jsCode": "// PARSE JSON v5.8 (METADATA PRESERVE)\nconst input = $json;\nconst rawText = input.output || input.text || \"\";\nconst cleanText = rawText.replace(/```json|```/g, '').trim();\n\n// RECUPERAR METADATA PERDIDA (prioridad absoluta a los nodos de extracci\u00f3n)\nlet metadataWA = {};\ntry { metadataWA = $node[\"Extract Metadata WA1\"].json || {}; } catch (e) {}\nlet metadataTG = {};\ntry { metadataTG = $node[\"Extract Metadata TG1\"].json || {}; } catch (e) {}\n\nconst platform = metadataWA.platform || metadataTG.platform || input.platform || \"WhatsApp\";\nlet contact = metadataWA.final_contact || metadataTG.final_contact || input.sender_contact || input.final_contact || \"Desconocido\";\n\n// Si el contacto es un ID de grupo, lo marcamos como Desconocido\nif (String(contact).includes('@g.us') || String(contact).length > 20) { contact = \"Desconocido\"; } else if (/^\\d{7,15}$/.test(String(contact))) { contact = '+' + contact; } \n\nlet parsed = {};\ntry {\n  if (cleanText) parsed = JSON.parse(cleanText);\n} catch (e) {\n  const catMatch = cleanText.match(/\"category\"\\s*:\\s*\"(.*?)\"/i);\n  if (catMatch) parsed.category = catMatch[1];\n}\n\nconst lowerRaw = (input.texto_limpio || metadataWA.texto_limpio || metadataTG.texto_limpio || \"\").toLowerCase();\nconst isJobish = lowerRaw.includes(\"busco\") || lowerRaw.includes(\"disponible\") || lowerRaw.length > 20;\n\nconst finalData = {\n  platform,\n  contact,\n  source_chat_id: metadataWA.source_chat_id || metadataTG.source_chat_id || input.source_chat_id || \"0\",\n  city: parsed.city || \"Global\",\n  budget: parsed.budget || \"Negociable\",\n  category: (parsed.category || (isJobish ? \"evento\" : \"trash\")).toLowerCase(),\n  text_es: parsed.text_es || input.texto_limpio || lowerRaw || \"Sin descripci\u00f3n\",\n  title_es: parsed.title_es || (lowerRaw ? lowerRaw.substring(0, 40) : \"Nuevo Lead\"),\n  trash: parsed.trash === true || (parsed.category === 'trash' && !isJobish) || false\n};\n\nconst highValueKeywords = [\"mansour\", \"ibiza\", \"lio\", \"pacha\", \"monaco\", \"viena\", \"dubai\", \"manila\"];\nif (highValueKeywords.some(kw => lowerRaw.includes(kw))) {\n  finalData.trash = false;\n  if (finalData.category === 'trash') finalData.category = \"evento\";\n}\n\nreturn [{ json: finalData }];"

        },

        "id": "ae30a518-904f-4758-b590-886dfd748bd4",

        "name": "Parse JSON1",

        "type": "n8n-nodes-base.code",

        "typeVersion": 1,

        "position": [

          -1696,

          832

        ]

      },

      {

        "parameters": {

          "conditions": {

            "string": [

              {

                "value1": "={{ $json.category }}",

                "operation": "notEqual",

                "value2": "trash"

              }

            ]

          }

        },

        "id": "02fee95b-a98f-4e7e-a04d-0d872c16190f",

        "name": "Final Guard1",

        "type": "n8n-nodes-base.if",

        "typeVersion": 1,

        "position": [

          -1104,

          832

        ]

      },

      {

        "parameters": {

          "jsCode": "const results = [];\nconst text = $json.texto_limpio || '';\nconst linkRegex = /chat\\.whatsapp\\.com\\/[a-zA-Z0-9]{20,26}/g;\nconst matches = text.match(linkRegex);\n\nif (matches) {\n  for (const match of matches) {\n    results.push({ json: { link: 'https://' + match, platform: $json.platform, source: $json.source_chat_id } });\n  }\n}\nreturn results;"

        },

        "id": "link-extractor-node-id",

        "name": "Link Extractor",

        "type": "n8n-nodes-base.code",

        "typeVersion": 1,

        "position": [

          -2300,

          1100

        ]

      },

      {

        "parameters": {

          "chatId": "-1003900864818",

          "text": "=???? *Nuevo Grupo Detectado*\nEnlace: {{ $json.link }}\nPlataforma: {{ $json.platform }}\nFuente: {{ $json.source }}",

          "additionalFields": {

            "parse_mode": "Markdown"

          }

        },

        "id": "link-poster-node-id",

        "name": "Telegram Link Alert",

        "type": "n8n-nodes-base.telegram",

        "typeVersion": 1,

        "position": [

          -2100,

          1100

        ],

        "credentials": {

          "telegramApi": {

            "id": "wNTTBS9Bhu4RrC6o",

            "name": "Telegram account"

          }

        }

      }

    ],

    "connections": {

      "Webhook Telegram": {

        "main": [

          [

            {

              "node": "Extract Metadata TG1",

              "type": "main",

              "index": 0

            }

          ]

        ]

      },

      "Webhook WhatsApp": {

        "main": [

          [

            {

              "node": "Extract Metadata WA1",

              "type": "main",

              "index": 0

            }

          ]

        ]

      },

      "Extract Metadata TG1": {

        "main": [

          [

            {

              "node": "Pre-Filter Unified1",

              "type": "main",

              "index": 0

            }

          ]

        ]

      },

      "Extract Metadata WA1": {

        "main": [

          [

            {

              "node": "Pre-Filter Unified1",

              "type": "main",

              "index": 0

            }

          ]

        ]

      },

      "Pre-Filter Unified1": {

        "main": [

          [

            {

              "node": "Dedup Hash1",

              "type": "main",

              "index": 0

            },

            {

              "node": "Link Extractor",

              "type": "main",

              "index": 0

            }

          ]

        ]

      },

      "Link Extractor": {

        "main": [

          [

            {

              "node": "Post Link",

              "type": "main",

              "index": 0

            }

          ]

        ]

      },

      "Dedup Hash1": {

        "main": [

          [

            {

              "node": "IA Extract1",

              "type": "main",

              "index": 0

            }

          ]

        ]

      },

      "IA Extract1": {

        "main": [

          [

            {

              "node": "Parse JSON1",

              "type": "main",

              "index": 0

            }

          ]

        ]

      },

      "DeepSeek Chat Model1": {

        "ai_languageModel": [

          [

            {

              "node": "IA Extract1",

              "type": "ai_languageModel",

              "index": 0

            }

          ]

        ]

      },

      "Parse JSON1": {

        "main": [

          [

            {

              "node": "Final Guard1",

              "type": "main",

              "index": 0

            }

          ]

        ]

      },

      "Final Guard1": {

        "main": [

          [

            {

              "node": "Quality Score",

              "type": "main",

              "index": 0

            }

          ]

        ]

      },

      "Quality Score": {

        "main": [

          [

            {

              "node": "Message Router",

              "type": "main",

              "index": 0

            },

            {

              "node": "Post Backend",

              "type": "main",

              "index": 0

            },

            {

              "node": "Dynamic Routing Engine",

              "type": "main",

              "index": 0

            }

          ]

        ]

      },

      "Message Router": {

        "main": [

          [

            {

              "node": "Telegram Fanout",

              "type": "main",

              "index": 0

            }

          ]

        ]

      },

      "Dynamic Routing Engine": {

        "main": [

          [

            {

              "node": "Global Alert Waiter",

              "type": "main",

              "index": 0

            }

          ]

        ]

      },

      "Global Alert Waiter": {

        "main": [

          [

            {

              "node": "Dynamic WhatsApp Alert",

              "type": "main",

              "index": 0

            }

          ]

        ]

      }

    },

    "settings": {

      "executionOrder": "v1",

      "binaryMode": "separate",

      "availableInMCP": false

    },

    "staticData": {

      "global": {

        "history": [

          {

            "time": 1778349567273,

            "fp": "*Dubai* \u2764\ufe0f\n*Tonight*\nVery nice man\n5000aed-30%\n1 hour"

          },

          {

            "time": 1778349588469,

            "fp": "[object Object]"

          },

          {

            "time": 1778349683270,

            "fp": "\ud83d\udccdS\u00e3o Paulo JW Marriot \n\u23f01 Full Night  \n\ud83d\udcc6 10 May , Sunday \n\ud83d\udcb8 $1500usd - 30%\n\nLooking , Young Prett"

          },

          {

            "time": 1778349697761,

            "fp": "\u041c\u0430\u043b\u044c\u0447\u0438\u043a\u0438 \u043f\u0438\u0448\u0438\u0442\u0435, \u044f \u043d\u0435\u0436\u043d\u0430\u044f \u0441\u0442\u0443\u0434\u0435\u043d\u0442\u043a\u0430 \u0441 3-\u0442\u0438\u043c \u0440\u0430\u0437\u043c\u0435\u0440\u043e\u043c)"

          },

          {

            "time": 1778349808718,

            "fp": "*DUBAI* \ud83c\udde6\ud83c\uddea\ud83c\udde6\ud83c\uddea\ud83c\udde6\ud83c\uddea\nTuesday or Wednesday \n1-2 hours meeting \n2200 aed clean \nYoung models 18-22 y.o"

          },

          {

            "time": 1778349874690,

            "fp": "\u041f\u043e\u0435\u0437\u0434\u043a\u0430 \u043a\u0430\u043a \u0432\u044b\u0431\u0435\u0440\u0435\u0442 \u041c\u043e\u043d\u0430\u043a\u043e \u0438\u043b\u0438 \u0412\u0435\u043d\u0430 \u043d\u0443\u0436\u043d\u0430 \u043c\u043e\u043b\u043e\u0434\u0430\u044f \u0434\u043e 21 \u0433\u043e\u0434\u0430 \u043f\u043e \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0443 \n \u0431\u0435\u0437 \u0441\u0438\u043b\u0438\u043a\u043e\u043d\u0430 \u0431\u0435\u0431\u0438 \u0444\u0435\u0439\u0441 \n\u041f"

          },

          {

            "time": 1778349896954,

            "fp": "\u0423\u0434\u0438\u0432\u0438\u0442\u0435\u043b\u044c\u043d\u0430\u044f \u0442\u0440\u0430\u043d\u0441\u0441\u0435\u043a\u0441\u0443\u0430\u043b\u043a\u0430 \u0437\u043e\u0432\u0451\u0442 \u0442\u0435\u0431\u044f \u0432 \u0441\u0442\u0440\u0430\u043d\u0443 \u0441\u0442\u0440\u0430\u0441\u0442\u0438! \u0421\u043e \u043c\u043d\u043e\u0439 \u043d\u0435 \u0437\u0430\u0441\u043a\u0443\u0447\u0430\u0442\u044c. \ud83c\udf77"

          },

          {

            "time": 1778349948771,

            "fp": "IBIZA \ud83c\udf52\nChicas disponibles para esta noche ? \nextra 1h 300 \nCliente de confianza \nEnviar collage \ud83c\udff9"

          },

          {

            "time": 1778349975190,

            "fp": "\u041c\u043e\u043b\u043e\u0434\u0435\u043d\u044c\u043a\u0430\u044f \u0441\u0442\u0443\u0434\u0435\u043d\u0442\u043e\u0447\u043a\u0430 \ud83e\udd0d\ud83d\udc8b\n \n\u041f\u043e\u0440\u0430\u0434\u0443\u044e \u0442\u0435\u0431\u044f \u043c\u0438\u043d\u0435\u0442\u0438\u043a\u043e\u043c \u0438 \u043a\u043b\u0430\u0441\u0441\u043d\u044b\u043c \u0441\u0435\u043a\u0441\u043e\u043c\n\u041f\u0440\u0438\u0435\u0434\u0443 \u043d\u0430 \u0447\u0430\u0441\u0438\u043a/\u0432\u044b\u0439\u0434\u0443 \u0432 \u0430\u0432\u0442\u043e"

          },

          {

            "time": 1778350006526,

            "fp": "\u041a\u0438\u0435\u0432, \u0446\u0435\u043d\u0442\u0440.\n\ud83c\udf80\u042e\u043d\u0430\u044f \u0411\u0430\u0440\u0431\u0438 \u0431\u043b\u043e\u043d\u0434\u0438\u043d\u043e\u0447\u043a\u0430.\n\u0412\u044b\u0439\u0434\u0443 \u0432 \u0430\u0432\u0442\u043e \u043d\u0430 \u043c\u0431\u0440 \u0438\u043b\u0438 \u043f\u0440\u0438\u0435\u0434\u0443 \u0432 \u0433\u043e\u0441\u0442\u0438)\n\u043b\u044e\u0431\u043b\u044e \u0449\u0435\u0434\u0440\u044b\u0445 \u043c\u0443\u0436\u0447\u0438\u043d.\n"

          },

          {

            "time": 1778350040842,

            "fp": "\ud83c\udde7\ud83c\uddea INDEPENDENTES \ud83c\udde7\ud83c\uddeaB\u00c9LGICA/BRUXELAS E INTERIOR QUARTOS DE TRABALHO\n\n\u25aa\ufe0fforne\u00e7o toalhas len\u00e7\u00f3is,co"

          },

          {

            "time": 1778350068558,

            "fp": "Nyc \ud83d\udc9a\nTonight at 9 pm\nOn 2-3 hours\nNot local client \nBudget from \n1500-2000$ \ud83c\udf81"

          },

          {

            "time": 1778350083848,

            "fp": "\u041a\u0438\u0435\u0432\ud83d\udc95\n25 \u043b\u0435\u0442\u043d\u044f\u044f \u043a\u0440\u0430\u0441\u043e\u0442\u043a\u0430 \ud83d\ude0d \n\u0411\u043b\u043e\u043d\u0434\u0438\u043d\u043a\u0430 \ud83d\udc8b \n\u0412 \u043f\u043e\u0438\u0441\u043a\u0435 \u0432\u0441\u0442\u0440\u0435\u0447\u0438 (\u0432\u044b\u0435\u0437\u0434)\n\u0421\u0435\u0439\u0447\u0430\u0441 \u0441\u0432\u043e\u0431\u043e\u0434\u043d\u0430 \u2705\n\u041f\u043e\u0434\u0442\u044f\u043d\u0443\u0442\u0430\u044f \u0444\u0438"

          },

          {

            "time": 1778350095970,

            "fp": "\u0418\u043d\u0434\u0438 \ud83d\ude09\n\u0412\u044b\u0435\u0437\u0434, \u0433\u043e\u0440\u044f\u0447\u0438\u0439 Ko\u043d\u0442\u0435\u043d\u0442 \ud83d\udd25\n\u041e\u0447\u0435\u043d\u044c \u043f\u0440\u0438\u044f\u0442\u043d\u044b\u0439 \u043f\u0440\u0430\u0439\u0441 \ud83d\ude0a\n\u0412\u0441\u0442\u0440\u0435\u0447\u0438 \u0431\u0435\u0437 \u043f\u0440\u0435\u0434\u043e\u043f\u043b\u0430\u0442\u044b \u270d"

          },

          {

            "time": 1778350143507,

            "fp": "Ol\u00e1, boa noite .\nTrabalho con limpeza de Airbnb de alto padr\u00e3o, flats e deep cleaning profissional.\n"

          },

          {

            "time": 1778350163150,

            "fp": "\ud835\uddac\u043e\u043b\u043e\u0434\u0430\u044f \u2728\n\u0421\u043b\u0430\u0434\u043a\u0430\u044f \ud83e\udd24 \n\u0415\u0441\u0442\u044c \u0432\u044b\u0435\u0437\u0434 \ud83d\udcaf\n\u0422a\u043a\u0436\ud835\ude8e \u0435c\u0442\u044c \u043f\u0440iv\u0430\u0442 \u2c95ana\u043b \u0438 v\u0438p\u0442 \u0443\u0441\u043by\u0433\u0438\n\u03a0\u0438\u0448\u0438\u0442\u0435 \u0432 \u041b\u0421"

          },

          {

            "time": 1778350207466,

            "fp": "\u0410\u041b\u0415\u041d\u041a\u0410-\u0421\u041f\u0411\n\ud83c\udf52\u0421\u043ba\u0434\u043aa\u044f \u043aa\u043a \u043ce\u0434, \u043de\u0436\u043da\u044f \u043aa\u043a \u043f\u0443x! \u0412ce \u0443\u043ce\u044e \u0438 \u043co\u0433\u0443.\n\n\ud83c\udf52xo\u0447\u0443 \u0431\u044b\u0442\u044c \u0442\u0432oe\u0439 \u043de \u043foc\u043b\u0443\u0448\u043do\u0439 \u0448a\u043b\u0443\u043d"

          }

        ]

      }

    },

    "meta": {

      "templateCredsSetupCompleted": true

    },

    "pinData": {},

    "versionId": "33d124a1-da64-4932-bab0-037bc1039432",

    "activeVersionId": null,

    "versionCounter": 42,

    "triggerCount": 2,

    "tags": [],

    "shared": [

      {

        "updatedAt": "2026-05-09T17:58:32.711Z",

        "createdAt": "2026-05-09T17:58:32.711Z",

        "role": "workflow:owner",

        "workflowId": "02LsrfWwWgjXUnA6",

        "projectId": "DXltbMFT8mAIhaey",

        "project": {

          "updatedAt": "2026-04-30T02:58:19.276Z",

          "createdAt": "2026-04-30T02:57:40.054Z",

          "id": "DXltbMFT8mAIhaey",

          "name": "CESAR Herrera <cesar.herrera.rojo@gmail.com>",

          "type": "personal",

          "icon": null,

          "description": null,

          "creatorId": "724a333b-388e-41cf-ac85-549aeb320007"

        }

      }

    ],

    "versionMetadata": {

      "name": "Version 33d124a1",

      "description": ""

    }

  }

]

